[2021-02-18 20:13] csantanapr commented on #469
I saw it from falco I think in Twitter was awarded to @n3wscott 🎉

[2021-02-18 20:14] csantanapr commented on #469
I would like to nominate a few knative heros

[2021-02-18 20:37] omerbensaadon commented on #466
Done!

[2021-02-18 21:25] n3wscott commented on #469
it felt good.

[2021-02-18 21:54] csantanapr commented on #470
/assign

[2021-02-18 22:28] csantanapr commented on #466
Submitted PR to update WORKING-GROUPS.md
https://github.com/knative/community/pull/472

[2021-02-18 22:28] csantanapr commented on #466
@omerbensaadon I don't see the calendar entry for the wg meeting here https://calendar.google.com/calendar/u/0/embed?src=knative.team_9q83bg07qs5b9rrslp5jor4l6s@group.calendar.google.com

[2021-02-18 22:59] csantanapr commented on #466
PR to update Peribolos here https://github.com/knative/community/pull/473

[2021-02-18 23:01] devguyio opened #474 "PROCESS CHANGE: Adopting lazy consensus"
### Background
Transparent decision making and effective communication are key for the success of any FOSS. While the project contributors, approvers and WG leads do their best to ensure we have a healthy and inclusive community, there's still big room for improvement. This is a proposal that came after [a long discussion](https://groups.google.com/g/knative-dev/c/O4gbnJ8pZ5Y) on the Knative Devel

[2021-02-18 23:56] lionelvillard commented on #474
I really like it! Thanks for putting this together.

In addition to the changes you are proposing, what about:

4. Use GitHub as the single point of entry. One issue per FT, **for indexing and tracking purpose only**. No discussions allowed in the issue, just links to various artifacts, such as ML, design document, Slack channel (if needed), PR, etc..

[2021-02-19 00:13] csantanapr opened #475 "New Repo: ux"
## Repo information

Org: knative

Repo: ux

Purpose (Description): This repos will allow us to create issues to project management and discussions. It also could be use to store files we might want to share such as draw.io, pdfs, prototypes, etc..

Sponsoring WG: UX

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDBOX-REPO.md).
The _requesto

[2021-02-19 00:21] csantanapr commented on #466
PR to add ux repo https://github.com/knative/community/pull/476

[2021-02-19 00:25] julz commented on #474
I like everything about this other than the mailing list requirement (but it’s possible I just haven’t understood it fully yet).

While it's possible to get searchable and linkable discussions from mailing lists, it's not easy, especially for new contributors. I think it risks turning new contributors off. I think it might have turned me off. Adding more email to my inbox is among the last things

[2021-02-19 00:34] csantanapr commented on #474
I just subscribed to this github issue
![image](https://user-images.githubusercontent.com/1094878/108439892-275f2980-7220-11eb-89ee-53e29c4986cb.png)

Now I get emails, I think this git issue is important to me, I'm going to add it to my "VIP" on my iPhone I will get a notification anytime there is a comment.

I believe folks can reply back to this git issue via email.

[2021-02-19 00:36] csantanapr commented on #474
I really fixing my typos on github issues, unlike Twitter where I continue with typo shame 😢

[2021-02-19 00:37] csantanapr commented on #474
If you want to see what I edited in my comment you can see it in "edited"
![image](https://user-images.githubusercontent.com/1094878/108440261-c7b54e00-7220-11eb-900a-231e72bf7612.png)

[2021-02-19 04:31] csantanapr commented on #474
I agree with this proposal on
1.  less sync technical comments on FT proposals on meetings or slack
2. Lazy consensus is a good thing
3. Less discussions around a google doc and instead the doc on github so the comments can be done on github

I think using github or email are good medium, but I think github is better

I have not heard what are the arguments that email list is better to discuss a d

[2021-02-19 07:29] slinkydeveloper commented on #474
The arguments on why mailing lists are better, and the answers to your points in favour to github, are on this thread https://groups.google.com/u/0/g/knative-dev/c/O4gbnJ8pZ5Y

[2021-02-19 07:38] slinkydeveloper commented on #462
@grantr here is the redirects pr https://github.com/knative/website/pull/254

[2021-02-19 07:56] slinkydeveloper commented on #462
knobots pr https://github.com/knative-sandbox/knobots/pull/46

[2021-02-19 08:54] julz commented on #474
It's maybe relevant to the problems with the searchability of email threads (at least, by those of us like me not adept at using them) that I've spent about 15 minutes now going through that thread trying to identify the bit where this is addressed and I'm not sure I found it.

As far as I can tell k8s mostly uses GitHub issues to discuss KEPs and certainly doesn't mandate all discussion happen in

[2021-02-19 10:05] slinkydeveloper commented on #474
I don't see how this is a problem. Complex discussions takes time and a lot of back and forth, so for me this is absolutely normal. It would be the exact same with github.

Well, internet and the web were built on mailing lists, basically 99% of open source projects we use was built on mail, isn't that a good precedent?

[2021-02-19 10:31] julz commented on #474
We'll have to disagree here. I think it's an enormous problem for the goals of this proposal. Reading back through a KEP on a GitHub issue, e.g. https://github.com/kubernetes/enhancements/pull/2176, is a much more pleasant and fruitful experience than trying to divine original intent from a back and forth mailing list thread. This is triply true for new contributors used to the GitHub model for wh

[2021-02-19 10:41] devguyio commented on #474
@julz @csantanapr Maybe it'll help to differentiate between two things

1. Encouraging the contributors (not the end users, but us members of Knative) towards more async communications and discussions.
    - I thinks that's where most folks have different opinions.
    - I lean towards leaving this for the community to find their sweet spot over a number of "encouraged" async mediums.
    - I beli

[2021-02-19 10:46] julz commented on #474
@devguyio Im totally fine with something that says "communicate the GitHub issue to the mailing list to ensure folks have time to object as part of lazy consensus". This feels quite different from the original proposal, but I'd personally be entirely on board with "there should be a KEP-style markdown in a GitHub PR, it should be commented on via the PR (a la Kubernetes KEP process), the issue is

[2021-02-19 11:43] devguyio commented on #474
@julz
1. When it's time for formulating the process in a markdown, I wanna refrain from presenting the ML as a necessary evil paperwork. Instead, I wanna show that is that for healthy lazy consensus:
    1. Recommended: Start the large scope discussions on ML (possibly with a GH issue).
    2. Required: Communicate the proposal and give required time for lazy consensus.
1. Bottom-line, about the r

[2021-02-19 11:45] julz commented on #474
FWIW I think it's worth saying these lines may be a key reason we don't see this the same way.

I don't see contributors as a fixed, closed community. New contributors may come wishing to propose or participate in only a couple specific issues or areas that are important to them. They will not have a pre-filtered, nicely tagged inbox, they will have the google groups UI 😬. Even those who _do_ beco

[2021-02-19 12:07] julz commented on #474
Instead of making three large changes at once as a single experiment, could we not start the experiment with just the core change here - the one in the title of the issue :) - lazy consensus, without bundling in an attempt to fairly dramatically change the workflow of some contributors (I open email twice a day...).

What Would Be Bad If the proposal was "lazy consensus, feature docs + correspondi

[2021-02-19 12:38] devguyio commented on #474
I'm game for you to add to the description "Proposal 2" . But can we agree on for proposal 2 to be "announce on slack AND mailing list" ?.

I'm sorry if this came off as a way to dramatically disturb your workflow (or other folks with similar workflows).

 Honestly I was hoping it'll only shift the discussion to the middle, where MLs and GitHub issues are BOTH live, some groups prefer one, others

[2021-02-19 14:04] julz opened #478 "PROCESS CHANGE: Adopting lazy consensus via Github PRs"
# Background

_Note: This is a modification of the Proposal in https://github.com/knative/community/issues/474. The vast bulk remains the same (it's an excellent proposal), but this issue modifies it slightly to propose a model based on Kubernetes-style markdown-based "KNEPs", primarily discussed in github and with the repo as the source of truth, rather than a focus on mailing list discussion._

[2021-02-19 14:11] julz commented on #474
Thanks @devguyio, I took a crack at it in https://github.com/knative/community/issues/478. Hopefully it reflects your concerns above.

No, I understand, I'd like to find a way that achieves as many of the entirely valid goals in this issue as possible. Ideally we can minimise disruption for those of us who prefer a GitHub-based life while also giving folks who actually like their email client a wa

[2021-02-19 14:42] csantanapr commented on #474
I would like to clarify a few things I love lazy consensus I have worked in ASF projects for years where we practice lazy consensus

One example is Apache Cordova when I used to be very active on the project we were one of the first projects to move to github and slack, but followed lazy consensus

A new feature was proposed on a github repo and most comments were made on github on the doc

When i

[2021-02-19 15:04] csantanapr commented on #474
On the point on that as new github repo get created people are not opt in automatically

in Apache Cordova and Apache OpenWhisk we had two many repos and had this problem about consuming github activity from email clients two problems

1. People that wanted to be aware of everything that happens on github ( people could choose to get one email per activity or get a digest email once a day or once

[2021-02-19 20:02] csantanapr opened #481 "PROCESS CHANGE: Every file on Knative.team Google Drive to be public viewer with link"
Is my understanding that since they moved from google owned Google Drive, to Knative.team Google Drive
now is possible to share a file with a link and change the permissions that anyone with the link is able to view/read-only the file

My proposal is that every file by default created on Google drive that the document creator makes file shareable by clicking share, Get link, and change permissions

[2021-02-19 20:22] csantanapr commented on #466
bi-weekly, 30 or 60 minutes) on the
shared calendar
and call the meeting "$GROUP_NAME WG". Attach the meeting notes document to
the calendar event. Generally schedule these meetings between 9:00AM to 2:59PM
Pacific Time. Invite knative-dev@googlegroups.com Google group to the
meeting, as well as necessary individual participants.

The meeting is located on Knative.team calendar now Thursdays 8AM P

[2021-02-19 20:23] csantanapr commented on #466
peribolos/knative.md, add your working
group name under teams, and members. Grant access to relevant repositories for the working group.

Github team created @knative/ux-wg-leads @knative/ux-writers

[2021-02-19 20:27] csantanapr commented on #466
New git repo here https://github.com/knative/ux

[2021-02-19 20:29] csantanapr commented on #466
Top-level Project at org level located here  https://github.com/orgs/knative/projects/20

[2021-02-19 20:51] #467 closed

[2021-02-19 20:51] #468 closed

[2021-02-19 20:51] #470 closed

[2021-02-20 16:26] rhuss commented on #469
👍 , like the idea, too.

[2021-02-20 16:29] rhuss commented on #481
👍

I support this idea, as I already had the situation where I wanted to share e.g. a Feature Track or Proposal document to someone who is not in the knative-dev google group. Asking to join the google group only for having access to the document felt like overkill (and also probably prevented for some engagement to happen).

[2021-02-20 16:52] rhuss commented on #474
fwiw, catching up substantial discussion like *this* is much more enjoyable for me (but still work) in a GitHub issue, because:

* Linear navigation by just scrolling down
* Easy in-page search supported by your browser
* No quoting by default  for new comments
* No top-postings
* Limited and uniform formatting
* A single thread
* Chronological order

I'm fine with having email pointers to GitHub

[2021-02-22 20:20] csantanapr commented on #466
WORKING-GROUPS.md and add your working
group name, the names of the leads, the working group charter, and a link to
the meeting you created.

WG info located here https://github.com/knative/community/blob/master/working-groups/WORKING-GROUPS.md#user-experience

[2021-02-23 00:13] n3wscott opened #487 "Knative Hoodie Distribution Signup - Spring 2021"
Howdy folks! If you are interested in getting a custom ducktagon hoodie, please act fast, the following people assigned are qualified to request a hoodie, please respond by *Feb 26 2021* for us to get the order together.

The bar to be included in this list is be in an owners file in a Knative project. Even as a reviewer! We are rewarding folks that step up and are volunteering for code reviews or

[2021-02-23 00:14] n3wscott commented on #487
Ping  @Cynocracy @Fredy-Z @JRBANCEL @ZhiminXiang @aavarghese @adrcunha @ahevenor @albertomilan @andrew-su @averikitsch @beemarie @benjamintf1 @carieshmarie @cdeppisch @cdlliuy  @coryrc @csantanapr @daisy-ycguo @davidor @davyodom @devguyio @dtimm @dushyanthsc @efiturri @houshengbo @imjasonh @jcrossley3 @jmprusi @jonatasbaldin @josephburnett @julz @macruzbar @mbehrendt @mdemirhan @mpetason @nbarthwa

[2021-02-23 00:34] n3wscott commented on #487
This is an honor system, please don't submit if you are not on the list or have not talked to me personally. I am required to filter based on who has not received a hoodie in the past and who meets the `in an OWNERS file` bar. Thank you so much!!

[2021-02-23 00:36] n3wscott commented on #487
Odd rendering bug or there is a limit (retry trying the un-highlighted folks)

@trshafer @tzununbekov @wfernandes @whaught @yanweiguo @yt3liu @yu2003w @yuvalif @zhanggbj @zhangtbj @zhongduo

[2021-02-23 14:15] zhongduo commented on #487
You are a hero! Thanks @n3wscott !

[2021-02-23 16:32] n3wscott commented on #487
😊 _na_, I am just lucky enough to be able to thank those that have stepped up to help the project! So, thank YOU!! Let's get this thing to 1.0!! 🎉 🎉 🎉 🎉

[2021-02-23 19:21] csantanapr commented on #475
/close
#476

[2021-02-23 19:21] #475 closed

[2021-02-23 19:37] csantanapr commented on #466
it "GROUP_NAME Group Roadmap". Put your initial roadmap in the document.

UX Working group is going unconventional 😄

Document created in drive [Slide UX WG Roadmap](https://docs.google.com/presentation/d/1e-8yG9O35QV7HQoCAG0d_a4tx-AH6-okSjlBgJQ5fs8/edit?usp=sharing), but it is s a snapshot of the live Roadmap being done in [Github Project UX WG Roadmap](https://github.com/orgs/knative/projects/20

[2021-02-23 19:49] csantanapr opened #490 "PROCESS CHANGE: All working groups should have a visible link to their roadmap"
Background:
While starting to a new UX WG roadmap document like stated in the process document https://github.com/knative/community/blob/master/mechanics/WORKING-GROUP-PROCESSES.md#setting-up-a-working-group

I noticed that would be very convenient to document for every working group where is their respective roadmap "document"

For UX WG we are going to a Github Project board [UX WG Roadmap](http

[2021-02-23 20:35] csantanapr commented on #490
cc @omerbensaadon

[2021-02-23 21:41] n3wscott commented on #487
Adding @dsimansk and @christophd

cc @rhuss

[2021-02-24 15:07] #86 closed

[2021-02-24 18:29] evankanderson commented on #469
This is awesome, 👍

[2021-02-24 18:59] csantanapr commented on #466
knative-dev@,
knative-tech-oversight@, and
steering@ to
announce your new working group. Include your charter in the email and provide
links to the meeting invitation.

The announcement message was sent to all emails and slack

[2021-02-24 19:00] csantanapr commented on #466
Marking this issue close.
Thank you @evankanderson @rhuss @mattmoor for reviewing and merging PRs
Thank you @omerbensaadon for assistance on tasks

/close

[2021-02-24 19:00] #466 closed

[2021-02-24 19:01] csantanapr commented on #466
All the information for the new UX WG can be found on the site https://knative.dev/community/contributing/working-groups/working-groups/#user-experience

[2021-02-24 19:06] omerbensaadon commented on #466
@csantanapr legend!!! Thank you for taking care of this 🥳

[2021-02-24 19:11] RichieEscarez commented on #15
I think all the info is now available somewhere across these pages (it definitely was not when I opened this issue - i had contact the TOC for instructions).

But if im being picking, that page nor elsewhere do we explicitly says "do steps X, Y, and Z to join".

From the top level (just looking at the Left Navigation Menu), the only topic that might indicate to a user about how to join is "Join wo

[2021-02-24 19:25] pmorie commented on #469
Any suggestions on mechanics? Once a month? Once a release? WDYT?

[2021-02-24 22:58] csantanapr commented on #469
Once a release sounds like a good idea

[2021-02-24 23:48] vaikas commented on #469
One additional question that came up while we were discussing was, should we just have one per Knative, given the visibility for some of the folks is not necessarily seen throughout the project (for example, serving/eventing). Do we feel it's enough to have one?

[2021-02-25 01:15] csantanapr commented on #469
Maybe start small and expand?

Start with 1 person every 6 weeks.

As you get feedback and see how things go increase people and and shorten the period.

Maybe you end up with 3 persons per month.

[2021-02-25 08:28] julz commented on #469
How much swag money do you and @pmorie have? ;)

[2021-02-25 16:07] mattmoor commented on #222
I think this is rotten, so I'm inclined to close.  Moving to needs discussion.

[2021-02-25 16:07] mattmoor commented on #233
Going to close this, I'm fairly sure it's done.

/close

[2021-02-25 16:07] #233 closed

[2021-02-25 16:09] mattmoor commented on #392
/unassign
/assign @rhuss

Roland has super powers now, so I'm going to bow out of this one.  What's left?

[2021-02-25 16:36] vaikas opened #496 "Ensure documentation for becoming a contributor are up to date."
One of the conversations on slack seemed to bring up the issue that peribolos setup is not necessarily documented properly. We should make sure that the steps for new contributors are clear and easy to follow.

[2021-02-25 17:01] vaikas commented on #96
@grantr @chizhg @peterfeifanchen could we please get an update on this?

[2021-02-25 17:01] pmorie commented on #469
I like:

- Once per release
- Start with one person and see if we need to do more

[2021-02-25 17:02] #420 closed

[2021-02-25 17:03] evankanderson commented on #474
It would be good to track how often we need to "back out" Lazy Consenus and/or times that this people were upset by a change that they missed.

[2021-02-25 17:36] vaikas commented on #309
Should be good to go, let's compare the cauldron with the metrics we are expecting to track. @bsnchan @mbehrendt to check it out.

[2021-02-25 17:38] vaikas commented on #295
@bsnchan will document and summarize the discussion we had on slack.

[2021-02-25 17:41] rhuss commented on #392
@christophd is about to initialize the repo, we then setup Prow and I will care about the branch protection.

[2021-02-25 19:53] tayarani opened #499 "New Repo: specs"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative

Repo: specs

Purpose (Description): This repo will act as the unified repo which will contain all the specs and conformance tests. Details of the proposal: https://docs.google.com/document/d/1TGtzYZjukEm1657XEQgTF-FUwoLGrVmLErRcCYaeLjw/edit#hea

[2021-02-25 20:07] pmorie commented on #469
Should we do one now that the release is out?

[2021-02-25 22:11] csantanapr commented on #469
@pmorie  Let me know if you want to do it for this new release 0.21 I can include in the release v0.21 blog post that I’m currently working  on

[2021-02-25 22:19] csantanapr commented on #469
Now that I think doing a new and separate blogpost for hero of the moth is better then it can linked from a tweet and Slack.

In the release notes we can do a mentioned with the link to the post of the hero of the moth post with all the details of the program and the individual contributions listed.

[2021-02-26 17:36] n3wscott commented on #499
it is a bit of overhead now to have the docs samples outside of the repo that implement the sampled feature. I worry it will be the same problem with this. And then does the spec repo have code or tests? if it does you end up in a fun versioning dep issue as it becomes a star point.

What is the downside of having the specs next to the code that implements the spec?

[2021-02-26 17:38] n3wscott commented on #487
/close

OK, looks like new signups have stopped over the last couple days and we are at the end date. I am going to get this batch to the makers.

Until next time!

[2021-02-26 17:38] #487 closed

[2021-02-26 18:29] vaikas commented on #469
@pmorie @csantanapr let's do it for this release for sure!

[2021-02-26 18:56] csantanapr commented on #469
How do we get consensus and move forward ?

lazzy consensus? 😂

[2021-02-26 19:15] vaikas commented on #469
I think we just need to figure how to do this. Set up voting? How do we nominate, etc. I figure it's just logistics.

[2021-02-26 22:38] tayarani commented on #499
The objective @n3wscott is to separate the specs from the reference implementation. The repo structure is proposed [here](https://docs.google.com/document/d/1TGtzYZjukEm1657XEQgTF-FUwoLGrVmLErRcCYaeLjw/edit#).

[2021-02-27 02:50] csantanapr commented on #469
I think you can start as simple as a private slack DM/email thread between TOC and Steering to pick a person, maybe do this ad hoc for this release v0.21 and then you have 6 weeks to plan a more formal voting among the committees to pick the second hero.

[2021-02-27 03:45] n3wscott commented on #499
I understand the objective. I question the value of separation.

[2021-02-27 04:02] duglin commented on #499
At its core "knative" is a set of spec. The code is just a reference implementation of those specs. We need a clean separation so that there will be no confusion as to which bits of data (spec, code, tests, ...) are acting as statement related to the specs (and conformance) and which are related to the choices of the ref impl.

[2021-02-27 04:10] vagababov commented on #469
<pedantic-mode> 😁
If it's per-release, it's not the contributor of the month :)

[2021-02-27 11:17] csantanapr commented on #469
That’s true “contributor of the month” has a better marketing ring than “contributor of the release”  the later might indicate the person did something specific for the specific release

maybe 1 person a month to start with to be able to say “contributor of the month” makes more sense

[2021-02-27 11:25] csantanapr commented on #469
So let’s pick “contributor of the month” for March 2021.  And the announcement we can say something like For the month of March we want to recognize such person for all her/his contributions to Knative ....

[2021-02-27 11:51] csantanapr commented on #383
As a ✏️ item I have seeing a lot of mini virtual conferences lately IstioCon, CDCon, ZertoCon, etc

one idea is when we declare 1.0 we can make some more noise 🎉  by having a KnativeCon align with the milestone.

[2021-03-01 15:20] bsnchan commented on #381
Based off our last Trademark Committee Meeting on February 25, 2021 (meeting minutes [here](https://docs.google.com/document/d/1ghGQl0O7TM8N_YQ33w6xKyQ2yUnOX0ACsOnlqoV_XgY/edit)), I believe the trademark committee is all in favour of this WG. This will be a WG that is the "technical arm" of the Knative Trademark Committee.

/lgtm

@duglin @ronavn can one of you approve please?

[2021-03-01 16:23] duglin commented on #381
/approve

[2021-03-01 18:16] grantr commented on #96
Looks like we just got internal approval for the new release locations. Estimate about 2 weeks remaining to get it all moved. @peterfeifanchen will update this issue when ready.

[2021-03-01 20:35] vaikas commented on #89
@RichieEscarez as per the discussion here https://github.com/knative/website/pull/252 (Thanks!)
This looks like something that you know how to and can do, is that correct? If so, would you mind doing the necessary changes?

[2021-03-01 20:53] vaikas commented on #88
Since things have changed a little bit since the last time this was looked at (github actions for one), I'm going to start the list of tools that I'm aware of so that we can evaluate options. @duglin @mattmoor @n3wscott what others are missing from here? Also @bbrowning were you able to find anything out?

- [ ] testgrid
- [ ] mako
- [ ] prow

[2021-03-01 21:10] n3wscott commented on #499
It will be very messy to add conformance impl to a single repo for all of Knative, you will have to be very careful about imports and how the modules work if that is the plan.

[2021-03-02 17:03] pmorie commented on #102
I think we are close to having this closed by #151

[2021-03-02 19:34] vaikas commented on #88
@n3wscott where should I look for that list of jobs? Thanks :)

[2021-03-02 20:56] pmorie commented on #469
I sent out a message to the -dev and -users list with the ad-hoc way we'll do it looking backward for February

[2021-03-02 22:15] n3wscott commented on #88
I think here @vaikas https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/knative

[2021-03-02 23:18] evankanderson commented on #88
Looking through that list and the generated config, I see:

* Test log storage and viewing. (https://github.com/kubernetes/test-infra/tree/master/prow/plank, https://github.com/kubernetes/test-infra/tree/master/prow/spyglass + Google Cloud Storage)
* Slack reporting
* Automatic merging with testing. (https://github.com/kubernetes/test-infra/tree/master/prow/tide)
* Label management for non-writers

[2021-03-03 11:40] csantanapr commented on #469
@pmorie 's saw the message on the mailing list kudos for taking action

[2021-03-03 23:28] tayarani commented on #499
I'm having trouble with this step "Have a lead from the sponsoring WG bootstrap the Git repository by pushing an
appropriate "template" repository". Everything I've tried results in:

[code]

Can someone grant me permissions?
cc @vaikas @grantr

[2021-03-03 23:28] tayarani commented on #499
I'm trying to use the sample-source template.

[2021-03-04 16:25] bsnchan commented on #295
For reference, [this](https://knative.slack.com/archives/CU9DGL4FM/p1614194892008400) is the discussion that was had in Slack.

To summarize: All repos in the `knative-sandbox` GitHub org are the reflection of WG leads. These leads are free to use their judgement to take set what bar is used to assign reviewers, approvers, owners for the knative-sandbox repos they are responsible for. Similarly, w

[2021-03-04 16:35] markusthoemmes commented on #293
Sandbox repos have all been renamed.

[2021-03-04 16:55] evankanderson commented on #222
/close

[2021-03-04 16:55] #222 closed

[2021-03-04 16:57] grantr commented on #462
@slinkydeveloper is Prow set up for this repo yet?

[2021-03-04 16:57] evankanderson commented on #389
/close

[2021-03-04 16:57] #389 closed

[2021-03-04 17:01] evankanderson commented on #490
+1 from most of the TOC.

Evan has a suspicion that there may be WGs that don't have a separate roadmap document at this point.

[2021-03-04 17:21] slinkydeveloper commented on #462
I didn't set up prow jobs, i just setup gh actions (like reconciler-test). Is there something else i need to do?

[2021-03-04 17:39] vaikas commented on #309
Dashboard is done, access issues still being worked on.
Still verifying the numbers, they seem to be off. @mbehrendt is working on verifying the contributor stats, there are many many unknown orgs/sources that seems odd. Checking on this to make sure numbers are right before starting to rely on that.

[2021-03-04 17:47] vaikas commented on #469
Next step:
@pmorie to add to general with voting options

[2021-03-04 19:22] evankanderson commented on #490
/assign @csantanapr

[2021-03-04 22:49] #447 closed

[2021-03-05 18:35] #295 closed

[2021-03-05 19:34] dprotaso opened #517 "Can we switch to SPDX-License-Identifiers?"
ie. instead of the full license we use

[code]

/assign @thisisnotapril

[2021-03-05 19:35] dprotaso commented on #517
April said she'll consult the lawyercats

/meow

[2021-03-05 19:35] dprotaso commented on #517
wow that's a creepy cat

[2021-03-08 18:13] markusthoemmes commented on #293
Knative repos have all been renamed, this is done!

[2021-03-08 18:13] #293 closed

[2021-03-08 18:30] grantr opened #520 "Peribolos seems to have silently failed to update a team"
#518 added @tayarani to the Conformance WG Leads team in peribolos, but in reality that team has no members. Is peribolos failing to update the teams configuration?

[2021-03-08 18:32] grantr commented on #520
Optimistically assigning to @evankanderson :D

[2021-03-08 23:31] thisisnotapril commented on #517
lol when did Prow decide to add cat pictures?? this is amazing.

[2021-03-08 23:37] thisisnotapril commented on #517
From legal - we can use SPDX in addition to the standard license template, but can't just use SPDX. There is no real authority backing up the idea that SPDX notifiers are an effective instrument for communicating the licensing of a given file; hence best practice is to use the full license header so nothing is ambiguous.

[2021-03-09 07:35] rhuss commented on #517
@thisisnotapril thanks for clarifying ! As I think the intention was to reduce the noise in source files, we should not add SPDX in addition, right ? (so maybe we can close this issue for now @dprotaso ).

[2021-03-09 10:47] rhuss opened #523 "New Repo: client-pkg (in org "knative")"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative

Repo: client-pkg

Purpose (Description):  Repository for holding shared client code, like between `kn` and its plugins

This repo will also hold the reusable CLI API which can be leveraged by other projects for simplified access to Knative (add

[2021-03-09 10:50] rhuss commented on #523
An altnerative option would be to add a 'client' subdirectory to the `knative/pkg` repository, but this would increase the dependency surface for `knative/pkg` considerably (e.g. adding client-specific libraries like cobra etc)

[2021-03-09 15:23] tayarani commented on #499
Was blocked on permissions due to https://github.com/knative/community/issues/520 which has now been resolved

[2021-03-09 20:39] MohamedElhawaty commented on #96
A PR https://github.com/knative/test-infra/pull/2696 to move google release artifacts outside knative-releases/nightly has been merged.

Now we will be using knative-gcp and knative-gcp-nightly, so I guess this could me closed now. Thanks!

[2021-03-10 08:08] rhuss commented on #441
all done.

[2021-03-10 08:08] #441 closed

[2021-03-10 09:45] rhuss commented on #282
In the client group, we decided to move all the shared code (not only for plugins) to a `client-pkg` repository. See #523  for the followup repo.

I think we can close this issue here and followup on #523 .

[2021-03-10 09:45] #282 closed

[2021-03-10 10:13] rhuss commented on #296
Should work all now.

[2021-03-10 10:13] #296 closed

[2021-03-10 16:08] maximilien opened #527 "New Repo: homebrew-kn-plugins"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: homebrew-kn-plugins

Purpose (Description):

Collect homebrew formulas for the different `kn` plugins. This makes it easy for end users to install plugins and update them.

Sponsoring WG: client

## Actions to fulfill

This area i

[2021-03-10 16:23] dprotaso commented on #517
Chatted with April - this is still ongoing.

What's notable is that the apache 2 license guidance says using SPDX is fine: http://www.apache.org/foundation/license-faq.html#Apply-My-Software

K8s is figuring out their story: https://github.com/cncf/foundation/issues/143

[2021-03-10 19:18] rhuss commented on #435
all done

[2021-03-10 19:18] #435 closed

[2021-03-10 19:18] rhuss commented on #433
all done

[2021-03-10 19:18] #433 closed

[2021-03-10 19:18] rhuss commented on #392
all done

[2021-03-10 19:20] rhuss commented on #520
@evankanderson looks like that we can close the issue with the fix #521 resolving it ? Feel reopen it, if I'm wrong.

[2021-03-10 19:20] #520 closed

[2021-03-10 19:22] tayarani commented on #520
Yes this did fix the issue I was experiencing.

[2021-03-10 19:23] rhuss commented on #314
@vaikas Do you track the issue in the SC board so that we can remove it from the TOC board, or should we keep it here as well? I don't think it makes sense track this issue in two boards (just doing some TOC backlog hygienic gymnastics ;-)

[2021-03-10 19:27] rhuss commented on #410
Any idea about some recommendations for the WG ? E.g. "2-3 sentences that we will be put between headline and artifact table"

If so I can go out to slack and collect the teasers.

[2021-03-10 19:30] rhuss commented on #412
@julz any updates on the document ? Curious myself as it could be useful for the client project, too.

[2021-03-11 17:00] evankanderson commented on #523
Having a `pkg` or `infra` subdirectory in `client` doesn't work because it sometimes introduces circular dependencies if `kn` wants to include certain plugins as part of the baseline.

[2021-03-11 17:01] evankanderson commented on #523
Markus thinks we should start in `pkg`, since `go mod` won't pick up transitive dependencies on e.g. `cobra` if the `client`  module isn't used by some other import.

[2021-03-11 17:02] evankanderson commented on #523
Scott wonders about submodules in `go`...

[2021-03-11 17:03] evankanderson commented on #523
Markus/Grant suggest using `pkg` for now and seeing how it feels...

[2021-03-11 17:05] evankanderson commented on #527
+1 from Grant
+1 from Evan
+1 from Roland
+1 from Markus

[2021-03-11 17:08] evankanderson commented on #523
/close

[2021-03-11 17:09] evankanderson commented on #381
This got sponsored through trademark rather than TOC.

[2021-03-11 17:50] rhuss commented on #523
@knative/technical-oversight-committee one thing that I oversaw and forgot to mention in the call: In order to allow plugins to reuse the client API (e.g. the part that does a sync call), we want to add this to this shared code, too. But these APIs also need serving and eventing clients, so we will add a dependency from pkg -> serving and pkg -> eventing, which will lead to a cycle.

I don't think

[2021-03-11 17:50] rhuss commented on #523
cc @maximilien ^^

[2021-03-11 19:22] evankanderson commented on #523
@markusthoemmes

[2021-03-11 20:58] maximilien commented on #527
Thanks all 🍻

[2021-03-12 00:10] thisisnotapril commented on #517
Update: best practice is still going to be to use the standard license header. K8s is doing the same; preference is for the full license header. As the SPDX benefit is minor; removing about 8 lines of code; it's better to spell things out fully. Our legal has already seen examples where the top-level license doesn't match up with the SPDX, or copyright bits removed; etc - their stance is it's best

[2021-03-12 00:10] #517 closed

[2021-03-12 14:00] dprotaso commented on #410
I think for me the main goal of the charters for me was the communicate the scope of the working group.

ie. is productivity there to keep CI and automation running or are they building tooling to enhance the contributor experience.

[2021-03-12 20:58] evankanderson commented on #410
I think we have these (though they may be outdated) for most of the WGs except the ones that started before the TOC was meeting regularly (roughly, pre-reveal near Google I/O 2018).

I can dig those out and markdownify them and put them in working-groups/$GROUP/charter.md for ongoing maintenance to happen there, alongside an OWNERS file to let the WG leads manage them themselves.

[2021-03-15 00:49] 06chaynes opened #533 "Hello World - Rust(community/samples/serving/helloworld-rust/index.md) Updated hello world example"
The example provided uses an older version of hyper (0.12), I thought I'd provide a version built against the latest version at this time (0.14). I also received an error from cargo install about needing to specify a path so I also updated the example Dockerfile.

Cargo.toml

[code]

main.src

[code]

Dockerfile

[code]

[2021-03-16 00:35] maximilien commented on #527
OK so shall I expect a comment here when the repo is created to continue to next steps? Thanks.

[2021-03-16 07:43] rhuss commented on #527
Yep, I will ping you when we can push the initial code. If everything works correctly, you should be able to do this initialisation step on your own (because we don't have any branch protection enabled yet).

[2021-03-16 08:18] rhuss commented on #527
@maximilien https://github.com/knative/community/pull/528 has been merged and you can push now your work directly to the new repository`knative-sandbox/homebrew-kn-plugins`. Let me know when you are done because then I will setup prow (no ci jobs yet, but enabling tide) and enable branch protection on that repo.

[2021-03-18 16:36] vaikas commented on #102
/close

[2021-03-18 16:36] #102 closed

[2021-03-18 16:38] vaikas commented on #448
@n3wscott @thisisnotapril any updates on this?

[2021-03-18 16:38] vaikas commented on #469
Done, we can tweak the process as we learn more.
/close

[2021-03-18 16:38] #469 closed

[2021-03-18 16:39] vaikas commented on #89
@csantanapr @omerbensaadon

I'm closing this, if there's something else that still needs to be done, please reopen and explain.

[2021-03-18 16:39] #89 closed

[2021-03-18 16:41] vaikas commented on #90
@thisisnotapril do you happen to have any updates on this issue?

[2021-03-18 16:46] vaikas commented on #92
There are couple of questions:
* If we're (as I understand) moving away from Prow for tasks as much as we can
* Therefore, do we need to have the /milestone capability or a group that can address these labels. In that case, the concern is that there's no way with the current github acls to restrict only to milestones. Is this acceptable?

[2021-03-18 16:48] vaikas commented on #383
This was raised 2021-03-18 in TOC and we've been discussing this in the WGs, Trademark committee and Steering. Notes for the TOC mentions a possibility of TPM helping coordinate this across various repos.

[2021-03-18 17:02] RichieEscarez commented on #89
Fixed by https://github.com/knative/website/pull/262

[2021-03-18 21:13] vaikas commented on #89
Thanks @RichieEscarez

[2021-03-19 21:28] grantr commented on #381
The proposal above is obsolete. The charter proposal approved by the Trademark Committee is https://docs.google.com/document/d/11QhP-EjL3_rmYiIzkNAYe-Sn-zR2D1zCzftLXhhASFI/edit.

[2021-03-23 16:09] evankanderson opened #541 "Define a threat model for Knative"

[2021-03-23 16:23] evankanderson commented on #541
/assign @julz

[2021-03-23 16:27] evankanderson opened #542 "Have the VMT sign up for the disclosure lists for upstream dependencies"
At a minimum:

* Kubernetes
* Envoy
* Istio / Contour / Gloo / Ambassador (?)
* CloudEvents
* Kafka (?)
* RabbitMQ (?)

At a minimum, we shoud be tracking the CVE reports, but we may want to get onto the early access list.

[2021-03-23 16:28] evankanderson commented on #542
Dr Max also suggests Redis

[2021-03-23 18:47] vaikas commented on #481
Ok, selected an option that I think should fix this. The option that seemed to fit was:
ON - Primary target audience with the link.

Let me know if that solves it, @csantanapr @rhuss

[2021-03-25 11:44] rhuss commented on #410
@evankanderson that sounds good to me, to populate the `working-groups/` directory wg-specific directories and add the charter in there. Maybe we then could include those charters directly in the overview WORKING-GROUPS.md document ?

We could go even one step further and also add all WG specific information into the subdirs, like the lead list and the communications channels, and then concatenate

[2021-03-25 12:04] rhuss commented on #523
I think we can close this for now as we haven't made much progress yet, but want to try to use either a submodule in the `knativel/client` or really leverage the standard golang semantics which putting internal stuff all into `internal` (as described in https://github.com/golang-standards/project-layout) and the public part to `pkg`.

In order to reduce noise here, let me close this issue and only

[2021-03-25 12:04] #523 closed

[2021-03-25 16:46] vaikas commented on #309
Can we throw some money at this problem? Currently this is way too hard and hosted cauldron strips out the PII which we actually need to gather stats. Bitergia (sp?).
Linux Foundation has hosted devstats like system, perhaps we can utilize this:
https://insights.lfx.linuxfoundation.org/projects/korg/dashboard
@thisisnotapril will set up a test config to see if this solves it for us.

[2021-03-29 14:38] maximilien commented on #527
Thanks @rhuss I’ll get to it this week. Thanks for the quick turn around. Cheers all 🍻

[2021-03-30 12:18] omerbensaadon opened #549 "PROCESS CHANGE: Add Slack Bot for Slack Threads which exceed 25 messages"
### Expected benefits. Who gains the benefits? Why will they benefit?
If #548 ends up being merged, it would be great to find a way to nudge people in the right direction to discontinue a Slack Thread before it gets unwieldy.

The bot would say something like "Looks like this thread has hit more than 25 comments, is there a Github issue or Google doc to be written? Should we meet to discuss this?"

[2021-03-30 12:55] markusthoemmes commented on #549
I'm personally okay experimenting with this as long as it doesn't get annoying or too prescribtive. As long as it just acts as a friendly reminder to take stuff of Slack, this might be a step in the right direction.

[2021-03-30 15:35] omerbensaadon opened #550 "PROCESS CHANGE: Create a Read-Only #mailing-list Channel"
### Expected benefits. Who gains the benefits? Why will they benefit?
There has been a lot of talk about lazy consensus recently, and we keep coming back to the mailing list being a place to solicit this sort of consensus + feedback.

Most of us contributors live and work in Slack as do many of the folks in our Slack community. If we simply copy over all newly created Mailing List posts into a rea

[2021-03-30 15:42] julz commented on #549
Yeah +1 to what @markusthoemmes said. Im ok with a slack bot to nag us to _consider_ if a conversation would be best as an issue, that seems fine and good. OTOH I'd be a bit uncomfortable with anything that feels like we're starting to police the best way for people to communicate iyswim. Assuming this is done in a constructive way (I'm sure it will be but just wanted to call that out!) it seems g

[2021-03-30 15:48] julz commented on #549
Im more concerned that we say something like `"Hi! this is a long thread isnt it! Id like to check that you've considered whether it may be better as an issue or a discussion (Is it something people will want to refer to later? Is it something more people may want to chime in on, etc?) If not, carry on, thanks!"` rather than anything close to `"Hello you've exceeded your thread limit. Please move

[2021-03-30 15:49] julz commented on #549
😂 😂 very unintentional typo, which Im going to leave in. Let's call the bot robert.

[2021-03-30 15:56] omerbensaadon commented on #549
bahahah I there is something hilarious about `"Hello you've exceeded your thread limit. Please move this to an issue or discussion"`

[2021-03-30 15:56] omerbensaadon commented on #549
but yes, that's exactly the sentiment I am going for :)

[2021-03-30 16:11] evankanderson commented on #541
Maybe fixed by #524

[2021-03-30 16:16] evankanderson opened #551 "Security WG: Engage with Eventing"

[2021-03-31 23:30] thisisnotapril commented on #309
I signed up for the LF Insights; haven't heard back yet but will ping them!

[2021-03-31 23:37] thisisnotapril commented on #90
Current ETA for the new bot is end of Q2

[2021-03-31 23:37] thisisnotapril commented on #448
@n3wscott could we take the [Knative prow infra](https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/knative) and move it from the current GCP-owned repo to a Knative repo? Then our permissions would apply. We'd need to update where Prow looks for our config; I am assuming (hopefully not too radically) that would be an easy change.

[2021-04-01 00:53] dprotaso commented on #90
What's fixed in the new CLA bot?

[2021-04-01 15:15] n3wscott opened #553 "New Repo: linter"
## Repo information

Org: knative-sandbox

Repo: `linter`

Purpose (Description): A CLI to tie all our linters together for Knative golang based projects to be used in CI and locally.

Sponsoring WG: Productivity

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDBOX-REPO.md).
The _requestor_ and _sponsoring WG lead_ should perform the steps li

[2021-04-01 15:15] n3wscott commented on #553
/cc @markusthoemmes

[2021-04-01 15:35] n3wscott commented on #553
Alternatively we can put this in hack and close these PRs like https://github.com/knative/hack/tree/main/schema, note it has a go.mod and will be easy if we don't expect to release versions of the tool.

[2021-04-01 15:37] markusthoemmes commented on #553
I'd prefer `hack`

[2021-04-01 16:12] evankanderson commented on #550
This notification that mailing list posts happen, but just for awareness.

Approve

[2021-04-01 16:22] evankanderson commented on #383
/help

[2021-04-01 16:22] #410 closed

[2021-04-01 16:30] julz commented on #550
I guess my only hesitation here, personally, is this seems like its going to end up with a lot of the same problems as a mailing list (lot of content that may not be relevant which is hard to sort through for the actually important stuff, poor threading etc) except with even _less_ ability to filter effectively. Still it obviously wouldnt hurt (I personally probably wouldnt open the channel much)

[2021-04-01 16:35] grantr commented on #550
/assign @omerbensaadon

[2021-04-01 16:40] vaikas commented on #448
Let's try to make this move on 2021-04-12 and see what all breaks and then decide if we should continue or revert.
@n3wscott @thisisnotapril

[2021-04-02 13:56] omerbensaadon commented on #550
Maybe the bot can just echo "[PROPOSAL]" Subject lines? And we can standardize around that for achieving consensus?

[2021-04-02 13:57] omerbensaadon commented on #550
We can implement this as-is and check back on it in ~ 1 month?

The important thing here is we have to standardize on proposals going to the Mailing List.

CC: @evankanderson @grantr

[2021-04-02 17:38] evankanderson commented on #550
Given that this is a new slack channel, I think whomever is driving the change gets to define the initial filter on messages. If we discover we need a different filter, we can work that out subsequently.

I know that @pmorie and @vaikas are driving a document around lazy consensus that will spell out in some more detail how to announce a lazy consensus decision point, which might help.

[2021-04-05 19:20] omerbensaadon commented on #550
Done! Ended up not being Read-Only since we don't have the Slack plan for that

[2021-04-05 19:20] #550 closed

[2021-04-08 13:01] markusthoemmes commented on #462
tide is setup. I think we're done here.

[2021-04-08 13:01] #462 closed

[2021-04-08 13:02] markusthoemmes commented on #324
Anything left here? Seems like the repo exists.

[2021-04-08 13:04] markusthoemmes commented on #438
I think this is done. tide is active and knobots should pass. At least nothing left to do for the TOC I think.

[2021-04-08 13:04] #438 closed

[2021-04-08 13:05] markusthoemmes commented on #527
Tide seems setup fine and this repo won't have any golang code etc. I think we're done here?

[2021-04-08 13:05] #527 closed

[2021-04-08 14:42] rhuss commented on #553
+1 to group tools in a single repo, if possible, using sub-go.mods. We are doing something like this in the client, too, for `knb` (the kn builder). And we try this for the shared client code, too, to avoid a `knative/client-pkg`.

[2021-04-08 16:12] evankanderson commented on #383
Work to do:

* [ ] Someone to own the process

For each governing group:
* [ ] Collect a set of requirements from KTC
* [ ] Collect a set of requirements from SC
* [ ] Collect a set of requirements from TOC

We'll crowdsource the requirements as well and track which group has approved the addition of items to the requirements.

Spreadsheet incoming later today.

[2021-04-08 16:38] bsnchan commented on #309
Update: We're still waiting to hear back from the Linux Foundation. @thisisnotapril will send an email to the Linux Foundation to get an update on this

[2021-04-08 16:49] evankanderson commented on #481
@csantanapr

If you want to write a tool to automate this, the code that Nghia wrote for copying all the gdocs is here:

https://github.com/knative/community/tree/main/mechanics/tools/gdocs-migrate

[2021-04-08 17:02] evankanderson commented on #92
It sounds like Eventing is still using the `/milestone` command. It sounds like we should figure out who needs access to the command, or open up access to `/milestone` to all org members until we have a problem. (Seems reasonable to me.)

[2021-04-08 22:43] jberkus commented on #309
I'm also going to meet with the cauldron folks; while Paul is on vacation, is there someone who can give me a rundown of how Cauldron was not working?  Is it just the PII, or are there other elements?

[2021-04-09 00:20] RichieEscarez commented on #429
MVP for a docs release:

Update the API docs: https://github.com/knative/docs/pull/3426
Add the new version to the site: https://github.com/knative/website/pull/287

[2021-04-12 14:29] bsnchan commented on #309
I believe it was just PII but @mbehrendt should have more details that he can share with you.

[2021-04-14 10:50] julz commented on #550
just wanted to say: I was wrong about this! having the channel only post top-level topics and not replies solved the problem I was worried about and this has so far been v useful without being distracting at all. Nice work @omerbensaadon!

[2021-04-14 14:40] evankanderson commented on #383
Created a spreadsheet for tracking work for a "1.0" effort: https://docs.google.com/spreadsheets/d/1h4OjOi2eML7LhuxE9BuN2X0lG_bf5dYbF5f3ecKh1gQ/edit#gid=0

For non-trademark-covered components, there is this definition of maturity levels (which might need updating once we've reviewed the spreadsheet): https://github.com/knative/community/blob/main/mechanics/MATURITY-LEVELS.md

[2021-04-14 19:00] rhuss commented on #481
/lgtm

Thanks a lot @vaikas (tested it with some docs, the only thing that was a bit strange is that the Client WG Notes were open for editing by everyone with the link, a bit too wide open. Restricted it to view-only for the public, with edit for knative-dev members)

[2021-04-14 21:02] vaikas commented on #481
Thanks for the test @rhuss

Hm, wonder if there's something else in the settings that need to be tweaked.

[2021-04-14 21:06] rhuss commented on #481
I think this was just a peculiarity on this particular document. The configuration looks good to me: you can make the docs publicly readable but still allow special groups to edit it.

[2021-04-14 21:11] vaikas commented on #481
ah, ok :) Thanks!!!

[2021-04-15 16:51] vaikas commented on #309
Still tracking down the appropriate folks in LF (@thisisnotapril is driving this)
Google implementation as well as Cauldron instance had large numbers of folks that were not associated with an org, that probably needs to be figured out.
Bitergia is the managed instance of Cauldron.

Most immediate need was for TOC election, and we're good there, so we need to fix this, but is not quite as urgent.

[2021-04-15 16:53] vaikas commented on #448
Let's wait on this until after the .23 release since we do not have cycles to deal with this, nor is this the biggest problem we're dealing with at the moment.

[2021-04-15 17:00] vaikas commented on #88
I'm wary of moving more things to GH actions given our ongoing issues with queuing issues, and the lack of visibility.
Prow has also seen tons of improvements as of late, so things are getting better on that front.

[2021-04-15 23:40] jberkus commented on #309
Keep in mind that organizational affiliation in devstats is not accurate *now*.

And yeah, as the other contributor to devstats, I am still not proposing that we run our own instance.  Because of Kubernetes' needs, Devstats is designed to basically digest the entire Github change stream, which gives it fairly substantial hardware requirements.  We really need something smaller.

[2021-04-22 13:59] devguyio opened #579 "PROCESS CHANGE: Lazy consensus as a community value [The P&V Edition]"
### Overview

In order to improve the efficiency and transparency of decision making in Knative Community, two proposals for adopting lazy consensus were introduced : #474 , #478 . However, the community couldn't align on the communication channel aspect of either of the proposals.

In order to move forward with lazy consensus, @pmorie and @vaikas introduced the proposal in this issue which propos

[2021-04-22 14:09] devguyio commented on #474
Closing this for #579

[2021-04-22 14:09] #474 closed

[2021-04-22 14:09] devguyio commented on #478
I think we should close this for #579

[2021-04-22 14:35] julz commented on #478
agreed @devguyio 👍

/close

[2021-04-22 14:35] #478 closed

[2021-04-22 16:34] vaikas commented on #309
LFXInsights is not taking on any more projects.

[2021-04-23 17:59] devguyio opened #583 "[Governance] Bugs in knative governance"
### Description
After working with the current governance model, there're some challenges we're facing in the project that I believe needs to be addressed.

### Existing challenges

1. ~~There're no inactivity consequences for the different roles. Working group leads and approvers can still hold their position even if they show no or minimal activity in the project  such as PR reviews, code contri

[2021-04-26 09:04] aliok commented on #583
Thanks for bringing this up.

When I think about the Apache projects, committer rights can be hold even w/o activity. Chair roles though, are not open ended. One idea would be keeping the approver position even with no activity but making sure the working group leads are really engaged in code reviews and code contributions.

Why keeping the approver role? In my case for example, I have been busy

[2021-04-26 09:47] matzew commented on #583
yes, revoking approver role is asking for trouble. As stated there.

Using the Apache Software Foundation as an example here is also good. As Ali said "Chair roles" might go to the `emeritus` state. but there is no formal process for that inside the foundation. It's up to the projects, how to handle that:
See: https://www.apache.org/dev/pmc.html#pmc-removal

Something similar is also for the ASF m

[2021-04-26 10:13] devguyio commented on #583
@aliok I completely understand the sentiment here and the reasoning. However, can we suggest the desired state, and then see how can we reach there, if that makes sense. Concretely:
- Let's use an extreme to clarify. What does it mean say when an approver doesn't do any single PR review for more than a year? or two years? Would that person still be in sync with a project they haven't touched for t

[2021-04-26 10:15] julz commented on #583
### **re: approvers**

fwiw I think whether an approver role should be kept after absence is probably a function of how fast moving that part of the code is. For something where there hasn't been much change and the approver has plenty of context on the general area (eg eventing, here) even if not reviews/contributions, it makes a lot more sense for them to maintain approve. On the other hand if s

[2021-04-26 10:27] devguyio commented on #583
@matzew @julz thanks for the valuable input, I've added your suggestions to the ideas section above.

[2021-04-26 16:22] jberkus commented on #583
FWIW, I know a lot of other projects (Kubernetes, Postgres, etc.) where approver roles DO get revoked due to inactivity.  Mostly -- it's a security hole.  If you have an approver who hasn't used their account in years, the chances that someone else hijacks that account undetected goes up.

[2021-04-26 22:53] vaikas commented on #583
In the Roles page here:
https://github.com/knative/community/blob/main/ROLES.md

In the super discoverable section (Notes) at the very bottom of the page:
https://github.com/knative/community/blob/main/ROLES.md#notes
There's this: I formatted for brevity here (where Manager is Execution Lead, Tech Lead, Approver or Scribe):
[code]

So, there seem to be at least some definitions there for when "man

[2021-04-26 22:59] vaikas commented on #533
@slinkydeveloper since you know a little sumtin about rust, would you mind taking a look at this?

[2021-04-26 23:02] vaikas commented on #429
@omerbensaadon @RichieEscarez Should we add these steps to here:
https://github.com/knative/release

[2021-04-26 23:42] devguyio commented on #583
@vaikas thanks for pointing out that!!! I'm afraid I didn't notice this was added a year ago indeed! So that covers having the rules. I suggested that we try to explain how does that affect approvers and WG leads.

+1 on splitting, this issue is just to bring it up and start the discussion, and as said in the description, by far those bullet points are NOT a concrete single proposal, they're a set

[2021-04-27 08:10] slinkydeveloper commented on #533
Nice @06chaynes, from a first look this seems correct to me, can you open a pull request to change those files?

[2021-04-27 14:49] vaikas commented on #583
nit. you also need to adjust the second point that refers to a now non-existent point above. That pointer is dangling :)

And keeping on discussing it here is one option. Another would be to create two separate issues that might be more discoverable, maybe not. If you were to create two issues:
 1. Revisit having term limits for roles (seems like you're really focusing on WG leads execution/tl?)

[2021-04-27 17:07] omerbensaadon commented on #429
/assign @csantanapr

[2021-04-27 17:24] jberkus commented on #583
Also from Kubernetes project: there's a second reason to expire inactive approvers/reviewers.   New contributors will message folks on the approvers/reviewers list to get their PR reviewed.  If that person has left the project (effectively) then they don't get a response, and have a really bad contribution experience.  This can result in them giving up on the contribution.

[2021-04-27 18:05] matzew commented on #583
Thats a good point, Josh!

On Tue 27. Apr 2021 at 19:25, Josh Berkus ***@***.***> wrote:

--
Sent from Gmail Mobile

[2021-04-28 15:00] julz opened #588 "Suggestion: Knative Ambassadors"
We currently recognise those who contribute in terms of code (e.g. via Approver and Lead roles), and in terms of note-taking (Scribe Role) and execution leadership (Execution Lead Role). We do not, however, currently recognise those who evangelise and advocate for the project. Other communities have specific roles (Docker Captain, Kubernetes Ambassador, Cloud Foundry Ambassador) to recognise those

[2021-04-28 15:52] csantanapr commented on #588
Here are other examples

- CD Foundation https://cd.foundation/cdf-community-awards/ (Ambassador, Evangelist, Advocate, End User)
- Linkerd https://linkerd.io/2021/04/21/vote-for-your-april-hero/ (Hero)

[2021-04-28 16:03] csantanapr commented on #588
Ambassador should not be a monthly or yearly award.

CNCF has an Ambassador program and people can apply
https://www.cncf.io/people/ambassadors/

I think the "Knative Ambassador" should follow a similar recognition and criteria as CNCF

[2021-04-28 18:53] evankanderson opened #589 "Knative GA Requirements: Steering"
Please take a look at the proposed project requirements for a "GA" Knative release:

https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit#heading=h.tyevmjjqfz63

For each heading, add a 🎯 (Accepted), ❌  (Rejected) or ❓ (Needs more discussion) at the beginning. Add additional items if they come up; the goal was to have a complete list for reference, including work th

[2021-04-28 18:57] evankanderson opened #590 "Knative GA Requirements: Trademark"
Please take a look at the proposed project requirements for a "GA" Knative release:

https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit#heading=h.za2bpjwpxvif

For each heading, add a 🎯 (Accepted), ❌  (Rejected) or ❓ (Needs more discussion). Add additional items if they come up; the goal was to have a complete list for reference, including work that we'd already d

[2021-04-28 18:57] evankanderson opened #591 "Knative GA Requirements: Technical Oversight"
Please take a look at the proposed project requirements for a "GA" Knative release:

https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit#heading=h.csrgrivqgv6v

For each heading, add a 🎯 (Accepted), ❌  (Rejected) or ❓ (Needs more discussion). Add additional items if they come up; the goal was to have a complete list for reference, including work that we'd already d

[2021-04-28 20:22] 06chaynes commented on #533
Sounds good, will do!

[2021-04-29 16:24] vaikas commented on #481
/close

Reopen if things don't work as expected.

[2021-04-29 16:24] #481 closed

[2021-04-29 16:52] vaikas commented on #309
Cauldron update:
 * Public access is still not working
 * All the links are loooong, hold the query string and there's some concerns whether external link shorteners would work.
 * Everything requires a kibana account

Let's try to get a date from LFXInsights so we can see if this is even doable before SC elections next fall.

[2021-04-29 17:21] vaikas opened #593 "Proposal to remove knative-sandbox/eventing-natss repo"
After many attempts to gather usage stats as well as recruit maintainers, this repo:
https://github.com/knative-sandbox/eventing-natss

should be removed. This was brought up again in the TOC meeting at 2021-04-29 and consensus seemed to be to remove it. But following the processes here, just creating the ticket to make sure that it's all good.

**I'd like to not release .23 of the repo since ther

[2021-04-29 17:25] vaikas commented on #593
@evankanderson @markusthoemmes @grantr @rhuss
In case there are questions/comments/concerns.

[2021-04-29 17:28] vaikas commented on #593
Also as per discussion in the TOC meeting:
https://github.com/knative/community/pull/594
@abrennan89

[2021-04-29 20:49] evankanderson commented on #593
Not sure if https://github.com/knative/community/blob/main/mechanics/SUNSETTING-FEATURES.md is of help here as well.

[2021-05-01 14:47] #533 closed

[2021-05-03 21:18] vaikas opened #597 "Archive eventing-contrib repo"
As per:
https://github.com/knative/community/blob/main/REPOSITORY-GUIDELINES.md

As you all are probably aware, we had moved most of the code out of eventing-contrib a long time ago.Last release we had was in Dec 15th, 2020https://github.com/knative/eventing-contrib/releases

Left behind were few tools that we use in docs and examples. They have been moved to eventing here:https://github.com/knati

[2021-05-05 09:20] zhaojizhuang commented on #593
Hi @vaikas ,we are now using `eventing-natss`,add add feature `natss source` Based on this repository https://github.com/openhonor/eventing-natss

[2021-05-05 15:18] vaikas commented on #593
@zhaojizhuang Thanks for letting us know!!!

[2021-05-05 18:31] csantanapr commented on #429
All the contribution docs got released on the website, thanks to @RichieEscarez

You can find how to release the current docs here https://knative.dev/help/maintainer/docs-release-process/
These instructions need to use for 0.23 release using hugo, for release 0.24 will have updated instructions for mkdocs

[2021-05-05 18:31] csantanapr commented on #429
/close

[2021-05-05 18:31] #429 closed

[2021-05-05 18:32] csantanapr commented on #429
/open

[2021-05-05 18:32] csantanapr commented on #429
I will add the link in https://github.com/knative/release

[2021-05-05 18:37] csantanapr commented on #429
@vaikas Not sure what type of updates you want to see in https://github.com/csantanapr/knative-release/blob/main/README.md

[2021-05-06 14:23] pmorie commented on #583
This does seem like a bug, I would expect approvers to be required to make code contributions to attain the role

[2021-05-07 04:51] evankanderson commented on #583
I'm slightly bothered by this... I don't think we have any limits on the number of leads in a WG. Going thought the history of the project, we've had anywhere from 4 to zero active leads in a WG, but it's not clear to me that having even 6 or 7 WG leads would be a bad thing if all the leads were effectively participating in the "lead" responsibilities (bug triage, roadmap/feature planning, process

[2021-05-11 14:15] bsnchan commented on #381
Since @tayarani has moved on to another team, I believe we no longer have anyone leading this working group so I'll close out this issue.

[2021-05-11 14:15] #381 closed

[2021-05-12 06:10] rhuss opened #603 "New Repo: kn-plugin-quickstart"
## Repo information

Org: knative-sandbox

Repo: kn-plugin-quickstart

The name is under discussion and not written in stone yet.
It's important as the name is reflected in the usage of this plugin.

Purpose (Description):

Provide a plugin for `kn` to allow the installation of a Knative cluster for initial exploration and/or developer purposes.
It is not supposed to be a general-purpose installat

[2021-05-13 05:46] evankanderson commented on #591
TOC has completed their requirements.

[2021-05-13 05:46] evankanderson commented on #591
/close

[2021-05-13 05:46] #591 closed

[2021-05-13 18:14] csantanapr opened #609 "Add Slack integration for inclusive language"
Add Slack integration for inclusive language, similar to Kubernetes slack
I got a a few +1 on [#toc-steering-questions](https://knative.slack.com/archives/CU9DGL4FM/p1620910257273800) thread

@thisisnotapril  is going to take a look into this

[2021-05-18 16:27] evankanderson opened #612 "Set up VMT and disclosure list"
/assign @julz

From the 18 May 2021 Security WG meeting.

[2021-05-18 17:58] lance opened #613 "New Repo: kn-plugin-func"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: kn-plugin-func

Purpose (Description): Provides a function development CLI for Golang, Quarkus, Python, Node.js and SpringBoot. The plugin enables the creation of a function project, building it as an image, deploying and other de

[2021-05-19 12:09] vaikas commented on #553
@n3wscott can this be closed?

[2021-05-19 14:09] n3wscott commented on #553
/Close

[2021-05-19 14:09] #553 closed

[2021-05-20 09:13] vaikas commented on #499
@tayarani Is there anything left here? Seems like this can be closed?

[2021-05-20 11:13] julz opened #621 "PROCESS CHANGE: Revisit representation limits on TOC"
What the subject says really :).

I'm super super super biased since this recently affected me, but I really do think the current situation was designed for a project with a different balance of contributions and needs to be revisited. The recent elections were painful and the same situation seems likely to repeat. At minimum I think now that we have separate steering and trademark committees, wit

[2021-05-20 12:58] #499 closed

[2021-05-20 13:01] lance commented on #613
I believe it might be necessary to add some background information to this issue in order to provide a little more clarity around the history of this project and potential longer term plans.

The `boson-project` organization grew from Red Hat's efforts to provide a "Functions" offering in its OpenShift Serverless product, Red Hat's supported  version of Knative. Early iterations of this project we

[2021-05-20 15:20] devguyio opened #622 "[Governance] WG leads governance rules."
### Description
_Note: This issue is a breakdown of #583 ._
Working group leads have an open ended term which limits the growth path of the project as well as the contributors. A healthy turnover of leadership is a long established beneficial practice in organized work.

### Suggested Changes
1. Change technical and execution WG leads to be an elected position with a limited term with the existing

[2021-05-20 15:45] devguyio opened #623 "[Governance] Add code contributions requirements for approvers"
### Description
_Note: This issue is a breakdown of #583 ._
 Code approvers requires code reviews, and only WG lead role requires code contribution.

### Suggested Changes
1. Add a code contributions to the approver role [requirements](https://knative.dev/community/contributing/roles/#requirements-1) as follows:
    1. "Authored or co-authored at least 10 merged pull requests"
    2. "Authored or

[2021-05-20 16:20] evankanderson commented on #603
Might be nice for this to leverage the operator

[2021-05-20 16:24] evankanderson commented on #603
TOC approved: evan, roland, markus

[2021-05-20 16:28] devguyio commented on #583
@vaikas I split this into two issue: #622 and #623 , thinking I should close this one.

[2021-05-20 16:57] evankanderson commented on #622
Question: do we imagine that there is a limit on the number of WG leads who can be elected?

I'd always assumed the answer was "no".

[2021-05-20 17:25] vaikas commented on #622
For "Emeritus WG lead", I think we should have that for sure regardless of the first point. I think we should actually have that for TOC, Steering, TM, etc. also to ensure that folks get props that they deserve.

[2021-05-20 21:27] jberkus commented on #583
Is there a reason behind this, other than completeness?   Are we currently in a situation where we need to motivate people to write code more than we need to motivate them to review code?  Are there any actual contributors who are primary reviewers for multiple PRs but don't submit their own?

I'm asking because in most projects I regard the oddball contributor who reviews everyone else's PRs as b

[2021-05-21 06:57] vaikas opened #626 "Create a process for Emeritus *"
As mentioned in #622 (and I think in few other places (or at least in my head it was brought up before)) the topic of adding an Emeritus role to give people that no longer have the role but have done it in the past the recognition that they deserve.

At the very least, I think WG leads, TOC, Steering, KTC members should have that, this is just from the top of my head and maybe incomplete.

Maybe w

[2021-05-24 09:46] #621 closed

[2021-05-25 10:44] devguyio commented on #622
@evankanderson personally, I didn't expect that if a WG has 3 tech leads, there'd be a room for more (numbers are an example) . And I'm worried that it's not clear to me how practical is that, hence unless it's strongly emphasized, it wouldn't have been my first guess. Not sure if it's just me. Can you explain more maybe why would that be useful and how can that scale? Of course having more than 1

[2021-05-25 14:17] omerbensaadon commented on #603
Sandbox is out since we have a GH org named `knative-sandbox`, quickstart is the next best option.

As an MVP, we would like to put @csantanapr's KonK script into this plugin.

The command would be `kn quickstart --kind`, we can add other environments later as we see fit!

NOTE: Quickstart should not be used for production, only for "quickstart" deployments

[2021-05-25 14:18] omerbensaadon commented on #603
/assign @navidshaikh who will be implementing from the Client WG side :)

[2021-05-25 14:40] #541 closed

[2021-05-25 15:09] navidshaikh commented on #603
/retitle New Repo: kn-plugin-quickstart

@evankanderson can we get the repo created ? I will setup the prow etc.

/assign @evankanderson @navidshaikh

[2021-05-25 16:53] devguyio commented on #583
Yes. I believe so. At least (from my POV) in Eventing WG.

Yes. We faced this case whether for someone who qualifies as an approver but without significant code contributions, or the case of folks having acquiring the approver role as a goal, and then the focus becomes solely on code reviews.

I understand your POV, but I feel in our case the shortage is on the people creating PRs and closing issu

[2021-05-25 16:53] devguyio commented on #583
as agreed, closing in favor of #622 & #623

[2021-05-25 16:53] #583 closed

[2021-05-26 07:21] navidshaikh commented on #603
https://github.com/knative/community/pull/629

[2021-05-26 12:37] embano1 commented on #613
I'm not sure if this issue is the right place to ask for the below, so please let me know if I should rather file it in `boson-project` or somewhere else.

Posting this here since the commands listed by @lance caught me attention as we had a couple of discussions how to easily handle secrets during function creation. From the `boson-project` docs I understand that there's some support for setting

[2021-05-26 12:49] lance commented on #613
~> I'm not sure if this issue is the right place to ask for the below, so please let me know if I should rather file it in boson-project or somewhere else.

Since opening this issue, I have opened up the Discussions feature on boson-project/func: https://github.com/boson-project/func/discussions. No traffic yet, but community discussion can happen there if it makes sense.

@embano1 yes! That is on

[2021-05-26 13:44] zroubalik commented on #613
@embano1 the Secrets are tracked here: https://github.com/boson-project/func/issues/362 Feel free to add any suggestions.

[2021-05-26 17:28] vaikas commented on #597
Unless I hear otherwise in the next day, I'll start on this tomorrow then. Thank you!

[2021-05-27 12:11] vaikas commented on #597
Alrighty. I'll work on this list:

[x] The repo description is edited to start with the phrase "[EOL]"
[] All open issues and PRs are closed
[] All external collaborates are removed
[] All webhooks, apps, integrations, or services are removed
[] GitHub pages are disabled
[]The repo is marked as archived using GitHub's archive feature
[] The removal is announced on the knative-dev mailing list

[2021-05-27 16:05] vaikas commented on #593
/close
@zhaojizhuang has stepped up to maintain this.

[2021-05-27 16:05] #593 closed

[2021-05-27 16:05] evankanderson commented on #490
Any updates?

Do we want to put these in a central location, like `working-groups/$WGNAME/roadmap.md`?

[2021-06-02 09:40] navidshaikh commented on #603
- [x] bootstrap the Git repository see https://github.com/knative-sandbox/kn-plugin-quickstart
- [x] Set owners. Set to toc, client-writers, ux-writers
- [ ] Setup prow for new repo: see https://github.com/knative/test-infra/pull/2798

[2021-06-03 16:14] evankanderson commented on #490
/assign @omerbensaadon

Omer is interested in this, too. He's working with a few other contributors.

[2021-06-03 16:22] evankanderson commented on #613
Note that this will also need to follow:

https://github.com/knative/community/blob/main/REPOSITORY-GUIDELINES.md#requirements-for-repository-donation

The Technical Oversight Committee may allow repositories to be donated to the Knative project. In addition to meeting the core repository requirements, donated repositories must:

- Adopt the Google CLA bot.
- All contributors to the donated reposi

[2021-06-03 16:38] vaikas commented on #309
Update: @jberkus offered help with looking into tool called Augur.
https://github.com/chaoss/augur

[2021-06-03 16:41] vaikas commented on #88
@evankanderson suggested using the Github actions with runners into prow cluster.

[2021-06-03 16:43] evankanderson commented on #589
/close

[2021-06-03 16:43] #589 closed

[2021-06-03 16:44] vaikas commented on #579
/close
@devguyio if you think there's still something remaining, please reopen.

[2021-06-03 16:44] #579 closed

[2021-06-03 16:44] evankanderson commented on #590
/close

[2021-06-03 16:44] #590 closed

[2021-06-03 16:47] vaikas commented on #120
@omerbensaadon @csantanapr
I think much of the work you've been doing has been touching on some of these, just wanted to raise it to your attention.

[2021-06-03 16:50] evankanderson commented on #139
/unassign

I haven't had time to work on tihs.

[2021-06-03 18:39] omerbensaadon commented on #120
oh sweet, yeah we can close this once we ship the Getting Started guide as part of 0.24

[2021-06-04 07:39] geekygirldawn commented on #309
I've been using Augur for quite a while for some of my metrics, so let me know if I can help out in any way!

[2021-06-04 09:30] #597 closed

[2021-06-04 21:50] jberkus commented on #309
@geekygirldawn what are you using for a visualization UI?  Augur doesn't seem to come with anything.

[2021-06-07 06:19] rhuss commented on #626
+1 from my side, we could it individually on every level (TOC, SC, TMC, WGs) .... Should we add the years of activity, too ? (but that's probably overkill)

[2021-06-07 06:25] rhuss commented on #613
I added a

[code]

[2021-06-07 08:02] geekygirldawn commented on #309
Augur does have a front-end with minimal visualizations build using vue.js and Vega/Vega Lite. More info:
https://oss-augur.readthedocs.io/en/master/getting-started/frontend.html
https://github.com/chaoss/augur/tree/master/frontend

However, I haven't found the default visualizations particularly useful for me, so I've written my own Python scripts using a combination of postres queries to get the

[2021-06-08 10:59] navidshaikh commented on #603
- [x] Create a sample PR to verify Prow (e.g., edit the boilerplate README) --> see PR below
- [ ] Bootstrap your CI jobs using hack project (look at other sandbox repos for reference) --> see https://github.com/knative-sandbox/kn-plugin-quickstart/pull/1

[2021-06-09 05:03] navidshaikh commented on #603
@omerbensaadon @csantanapr : The plugin repo is set. The above step to enable auto-updates can be done once we've some plugin code.

/close

[2021-06-09 05:03] #603 closed

[2021-06-10 13:22] dprotaso opened #642 "Archive knative-sandbox/eventing-camel"
Following: https://github.com/knative/community/blob/main/REPOSITORY-GUIDELINES.md#procedure-for-removal

eventing-camel was deprecated on April 26th - https://github.com/knative-sandbox/eventing-camel/pull/97

[2021-06-10 16:08] evankanderson commented on #613
An overview / argument for plug-points: [Plugin argument](https://hackmd.io/A-wYMf0xR4a-U4D-YjaAwA?view)

A more detailed writeup of the current plugin points: [guide to current Boson extensibility](https://hackmd.io/MjKONED2S2yE1IivTaXErg?view)

[2021-06-10 16:41] bsnchan commented on #309
/assign @bsnchan

[2021-06-10 16:42] bsnchan commented on #448
We decided to push this to post 1.0

[2021-06-10 16:44] evankanderson commented on #88
See also https://docs.google.com/document/d/1LwkzXVDJYLmiVElCEiJ1ITSr4TGkHfipe8ABK_7IxCQ/edit?hl=en#heading=h.ky4f33l2ky29

[2021-06-10 16:49] bsnchan commented on #88
Steering doesn't consider this to be critical for 1.0, our productivity group may be spread too thin at the moment so we may not pick this up until post 1.0 (unless someone raises their hand to help with this in the meantime).

[2021-06-10 16:59] bsnchan commented on #139
Ideas:
* Add logos to the website --> maybe figure out a way for people to PR logos to the knative.dev website
* create a community repo that links to other repos (similar to grpc)

[2021-06-10 17:00] bsnchan commented on #139
@knative/ux-wg-leads is there a process to have other organizations add their logos to the website at the moment?

[2021-06-10 17:12] julz commented on #613
My only remaining hesitation I think (and apologies for being a pain), before creating the repo, is I think there's quite a lot of context and decisions here that it'd be good to write up in a doc in feature track proposal format (given this is a relatively big feature proposal, really, even if it happens to be shipped as a cli plugin to begin with), if only so we have context on some of the decis

[2021-06-10 18:30] csantanapr opened #644 "Update Feature track template to replace Docs with Dux"
The current [Feature track process](https://github.com/knative/community/blob/main/mechanics/FEATURE-TRACKS.md) states the use of a Google Doc [template](https://docs.google.com/document/d/1s6IIU98bi5FlRNmmBaLAn1rgoleK_ovcL746L7NHq0c/edit)

Now that we no longer have a WG Docs, and it got merged with WG UX into a new WG Dux

It would be good to update the table for approvers to replace s/Doc/Dux

[2021-06-10 21:14] abrennan89 commented on #642
I'm not sure, but if camel is going away from the project, is there some follow up required to remove it from docs?

It appears in the following places:

- https://dev-knative.netlify.app/development/eventing/sources/apache-camel-source/
- https://dev-knative.netlify.app/development/eventing/sources/#knative-sources
- https://dev-knative.netlify.app/development/admin/install/eventing/install-event

[2021-06-10 21:34] evankanderson commented on #644
Correction: use [this feature tracks template](https://docs.google.com/document/d/17mpOm-7Bq_S77bIQHwuGH7kVOkOoO6XiOhdQoDqqLKM/edit?usp=sharing)

I've also sent https://github.com/knative/community/pull/645 to fix the link in `knative/community`.

[2021-06-10 21:42] evankanderson commented on #644
Updated the feature tracks doc, there were only two references to the docs WG. I left the specific references to "Documentation" as a feature track concern, as that was functional rather than organizational.

/close

[2021-06-10 21:42] #644 closed

[2021-06-10 21:45] evankanderson commented on #642
I think the camel integration moved to the Apache Camel project proper, so this is probably a matter of updating links.

[2021-06-11 02:47] csantanapr commented on #139
@bsnchan no current process other than the normal process of PRs to submit changes to the website.

[2021-06-11 14:07] omerbensaadon commented on #139
There are a couple of low-hanging fruit we need to tackle as UX and I think this could be grouped in with another one:

https://github.com/knative/ux/issues/35

We could open an issue in community asking people who have adopted Knative to add a comment (similar to https://github.com/dapr/dapr/issues/3169).

In that issue, we could also add a bit about adding their logo to the website :)

[2021-06-11 15:41] dprotaso commented on #642
Email sent to mailing list - https://groups.google.com/g/knative-users/c/Y3uKyPOiMaw/m/wK2L5Wj9AgAJ

Archive date is June 24th

cc @nicolaferraro can you update the docs to point to the right spot?

[2021-06-14 15:52] omerbensaadon opened #648 "PROCESS CHANGE: Add "Are you using Knative?" issue to Community, link to it, maintain an ADOPTERS.MD in community"
Proposal: Create a "Are you using Knative?" issue in Community similar to https://github.com/dapr/dapr/issues/3169, pin it.

Create a similar issue in each of our main repos (serving, eventing, docs), pin it, links to this issue in Community.

See the proposed text:
[code]

* Expected benefits. Who gains the benefits? Why will they benefit?

* Expected costs. Who bears the costs? How heavy are the

[2021-06-14 16:19] evankanderson commented on #648
/assign @pmorie @bsnchan

[2021-06-14 16:25] omerbensaadon commented on #648
I won't be able to attend the next 2 Steering Meetings :(

[2021-06-14 18:31] xtreme-sameer-vohra commented on #648
Related - https://github.com/knative/docs/issues/3246

[2021-06-14 21:37] lance commented on #613
@evankanderson et al - reading through the checklist, it seems that a new repo is created during this process. Is there a process by which we can retain the existing code history, issues and pull requests (e.g. simply transfer the repo)?

[2021-06-15 05:31] markusthoemmes commented on #613
Yes, the checklist assumes a template via sample-controller, but we can just as well just move your code over as well no problem.

[2021-06-15 20:56] dprotaso opened #654 "New Repo: knative-sandbox/monitoring"
## Repo information

Org: knative-sandbox

Repo: monitoring

Purpose (Description):
There's interest in reviving parts of the old serving monitoring bundle. @upodroid volunteered to help drive some of the work. Likewise there's a group of folks interesting in validating this work. For more context see: https://github.com/knative/docs/issues/2931

cc @skonto, @itsmurugappan, @yuzisun

Sponsoring WG

[2021-06-15 21:13] devguyio commented on #623
after some discussions with the SC, I believe now that this might not be as impactful as originally thought given that the current direction is increasing the adoption and hence eventually increasing code contributions to the project.

[2021-06-15 21:13] #623 closed

[2021-06-15 22:43] evankanderson commented on #613
Yes, before we turn on branch protection we can push an existing git repo and history.

[2021-06-15 22:49] evankanderson commented on #613
Feature Track [document here](https://docs.google.com/document/d/1x8bFbPkLEz1DveEIR7NzYJOjB-8jA87VKm8C_UuTAQ0/edit?resourcekey=0-Gt8WtR2LPGsLQEe8mk0lAQ#heading=h.n8a530nnrb).

[2021-06-15 23:03] xtreme-sameer-vohra opened #656 "Document the current process of shepherding code changes"
Document `how to safely drive an accepted change to conclusion`
This includes but not limited to refreshing [Feature Tracks](https://github.com/knative/community/blob/main/mechanics/FEATURE-TRACKS.md) with changes with regards to experimental featuers.

Related to [Knative GA/Licensable Requirement](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit#heading=h.lz2n

[2021-06-17 16:06] evankanderson commented on #654
Is this Prometheus / Grafana specific? It might make sense to name this `knative-prometheus` or `prometheus-tools`?

[2021-06-17 16:10] rhuss commented on #654
What's about `monitoring-prometheus` which leaves room for a `monitoring-datadog` ?

[2021-06-17 16:13] evankanderson commented on #654
We're going to call it "monitoring" and combine all the different providers into a single repo

[2021-06-21 14:47] bsnchan commented on #648
cc @knative/steering-committee

I love this idea! I can bring it up at the next steering meeting if you can't make it :)

[2021-06-22 09:40] geekygirldawn commented on #309
@jberkus I think you mentioned some concerns with the existing Augur front end. I wanted let you know that the Augur team is working on a new frontend using twitter/bootstrap that caches results on the server and will be considerably faster. They expect that beta to be released in the next few weeks.

[2021-06-22 13:55] dprotaso commented on #654
This looks good now
/close

[2021-06-22 13:55] #654 closed

[2021-06-24 08:26] nicolaferraro commented on #642
Doc has been adapted to point to Kamelets. I think we can proceed with archiving it.

[2021-06-24 15:50] dprotaso commented on #642
It's archived now

[2021-06-24 15:50] #642 closed

[2021-06-24 15:57] julz opened #665 "PROCESS CHANGE: Should we disable the auto-closing issue robots"
Via this twitter thread: https://twitter.com/BenTheElder/status/1407786826413207555

Relevant k8s issue: https://github.com/kubernetes/kubernetes/issues/103151

[2021-06-24 16:11] BenTheElder commented on #665
I want to point out that while the original somewhat hyperbolic tweet took off far beyond expectation there is an important follow-up: https://twitter.com/bentheelder/status/1407906836175491076

[2021-06-24 16:43] evankanderson commented on #665
The discussion on the linked Kubernetes issue is worth reading.

Two action items came out of the discussion at today's TOC meeting.

1. Dave is going to disable the bot on `triage/accepted` items with `knative/serving` as an experiment.

2. Evan is going tobuild an issue-triage report to make this sort of thing more manageable:

   The initial focus will be simply on quantifying the bot impact:

[2021-06-24 23:13] jberkus commented on #309
Not so much concerns as "I can't build dashboards with this."

[2021-06-25 08:35] zhaojizhuang opened #666 "PROCESS CHANGE: Rename the repo eventing-natss to eventing-nats"
releated issue https://github.com/knative-sandbox/eventing-natss/issues/145

For we will both support nats streaming and nats jetstream,so rename the repo to `eventing-nats` so that it hosts all NATS related eventing components, NATS/JetStream Channel/Source/Sink/Broker.

[2021-06-25 08:36] zhaojizhuang commented on #666
cc @knative/technical-oversight-committee

[2021-06-25 08:42] devguyio commented on #666
Thanks for stepping up @zhaojizhuang ! I'm so excited to have folks who want to grow our NATS support! @wallyqs might be interested in this as well !

[2021-06-25 15:46] upodroid opened #667 "Proposal: Adopt app.kubernetes.io labels"
We should adopt the app.kubernetes.io labels as it is the recommended way of identifying ownership.

My particular usecase is for visualising service meshes and Kiali expect the standard labels be present on k8s resources.

[code]
https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

This will be a breaking change as all selectors used in Services, ServiceMonitors will

[2021-06-25 16:05] markusthoemmes commented on #667
Why do the selectors need to be updated? Can't we keep existing labels and just add these standard ones on top?

[2021-06-25 16:19] upodroid commented on #667
We could retain the old ones for a release or two to give everyone enough time to adjust them.

The label list would be long if we retained it forever.

[2021-07-01 15:54] evankanderson commented on #665
Dave's part: https://github.com/knative-sandbox/.github/pull/126

[2021-07-01 16:03] rhuss commented on #383
@evankanderson the link leads to

![image](https://user-images.githubusercontent.com/99080/124155124-6fc40900-da96-11eb-89ca-e2e28d5298c8.png)

and

![image](https://user-images.githubusercontent.com/99080/124155315-a732b580-da96-11eb-9839-1fc5fa6dbcdf.png)

which is a bit confusing. Do you have the link to the final spreadsheet handy ?

[2021-07-01 16:05] rhuss commented on #383
ah, found it:

https://docs.google.com/spreadsheets/d/1dH4c3_2bZUQn6nz09Hmn5VLcVNUV1ZocCEAN76jYjas/edit#gid=0

[2021-07-01 16:08] evankanderson commented on #383
Yes, correct link (sorry!)

https://docs.google.com/spreadsheets/d/1dH4c3_2bZUQn6nz09Hmn5VLcVNUV1ZocCEAN76jYjas/edit#gid=0

[2021-07-01 16:11] evankanderson commented on #667
We probably want to put the version number that we currently bang in via bash to also set the `app.kubernetes.io/version`

[2021-07-01 16:12] evankanderson commented on #667
File bugs for this in `serving`, `eventing`, etc

[2021-07-01 16:15] evankanderson commented on #667
It sounds like we'd like the following labels:

[code]

[2021-07-01 16:16] evankanderson commented on #667
@upodroid , please correct if wrong

[2021-07-05 07:27] rhuss commented on #665
Maybe another action to 'soften' is to add an explanation of _why_ we are using the stale bot and change the default message that only explains the technical context (i.e. the procedure of closing an issue).

As an example I found the messaging in the [homeassistant](https://github.com/home-assistant/core/blob/4463d507118a796e8f2163c666f397c7a44cae14/.github/workflows/stale.yml#L28-L39) repo:

[co

[2021-07-06 15:17] #549 closed

[2021-07-08 14:47] omerbensaadon opened #680 "[1.0.Alpha] All "core" repos have README.md, CODE-OF-CONDUCT.md and CONTRIBUTING.md"
This is an Epic-Level issue which tracks issues in Other Repos.

## README.md
- [x] [serving](https://github.com/knative/serving/blob/main/README.md)
- [x] [eventing](https://github.com/knative/eventing/blob/main/README.md)
- [x] [docs](https://github.com/knative/docs/blob/mkdocs/README.md)
- [x] [client](https://github.com/knative/client/blob/main/README.md)
(See below for others)
## CODE-OF-COND

[2021-07-08 15:54] evankanderson opened #681 "TOC should curate where to get started"
If Working Groups have a common way to provide the following information to new contributors:

* Roadmap -- what projects are coming down the pipeline
* Good First Issues
* Setup / bootstrapping costs (especially when certain components are hard to contribute to)

Then the TOC can and should provide a "roll-up" view to guide contributors to places where they could have the most impact if they don'

[2021-07-08 16:18] omerbensaadon commented on #383
1.0.Alpha Project. Targeting August 15th

https://github.com/orgs/knative/projects/26

[2021-07-08 16:37] bsnchan commented on #309
@jberkus Any luck with your Augur dev environment by any chance?

[2021-07-08 16:44] rhuss commented on #681
I think we could mandate that every WG repo includes a:

* `HOW_TO_CONTRIBUTE.md` (but I think that was already on a 1.0 criterium ?)
*  Having a `good first issue label` (we should agree on a uniform label across repos, could be that peribolos automatically create those
* Having a "Roadmap Project" with columns "Backlog", "3 Months", "6 Months", reflecting the format used in the WG update present

[2021-07-08 16:44] bsnchan commented on #139
Right now the TM committee is working on a "Knative certified badge" for conformance but we could also introduce the idea of "Knative ecosystem" or "Knative friends" in our community.

For Tekton, the process seems lightweight and requires friends to PR into a repo: https://github.com/tektoncd/friends/blob/main/CONTRIBUTING.md

[2021-07-08 16:46] bsnchan commented on #622
/assign @pmorie

[2021-07-08 16:50] bsnchan commented on #648
Steering loves this idea :) let's do it

/assign @bsnchan

[2021-07-14 19:35] bsnchan opened #688 "Are you using Knative?"
# Are you using Knative?

If you are using Knative, we would love to know!

## Why?
Tracking usage in OSS is hard, if you leave a comment on this issue we can better understand who our users are and deliver a better experience for YOU!

- We'd like to give your organization the opportunity to collaborate more closely with contributors (if you want to)
- We want to help promote your organization
-

[2021-07-14 19:36] bsnchan commented on #648
Main issue created here (https://github.com/knative/community/issues/688), will update the issue once I have the ADOPTERS.MD file merged in.

[2021-07-15 15:26] devguyio opened #693 "[Working Group Proposal] Eventing Kafka Working Group"
### Motivation/Abstract

Within the knative-sandbox org, Kafka based eventing currently includes 2 channel implementations, 2 sources implementations, 1 broker and 1 sink with more than three vendors and multiple users for production workloads. With that, it is desired to have a dedicated forum for Kafka based Eventing which can be really beneficial both for exposure and focus.

This is a proposal

[2021-07-15 15:49] evankanderson commented on #666
I can help with the actual repo rename; reach out to me on Slack.

[2021-07-15 15:49] evankanderson commented on #666
/assign

[2021-07-15 15:51] evankanderson commented on #490
/unassign csantanapr

[2021-07-18 06:20] zhaojizhuang commented on #666
@evankanderson Great! Thank you

[2021-07-19 11:14] devguyio commented on #693
@knative/technical-oversight-committee this is still a WIP and any early feedback is welcomed.

[2021-07-19 19:03] bsnchan commented on #688
There's no way to remove referenced issues/PRs so I'm going to create a new issue with no references so there's a little less noise

[2021-07-19 19:03] #688 closed

[2021-07-19 19:04] bsnchan opened #696 "Are you using Knative?"
# Are you using Knative?

If you are using Knative, we would love to know!

## Why?
Tracking usage in OSS is hard, if you leave a comment on this issue we can better understand who our users are and deliver a better experience for YOU!

- We'd like to give your organization the opportunity to collaborate more closely with contributors (if you want to)
- We want to help promote your organization
-

[2021-07-19 19:07] bsnchan commented on #648
Issue has been created -- I pinned it at the top of of knative/community. @omerbensaadon - were you thinking to create an issue in serving/eventing/docs as well? I'm worried that the comments may end up in different places if we were to do that. What do you think?

[2021-07-21 16:23] duglin commented on #696
[code]

[2021-07-21 17:23] vaikas commented on #414
@evankanderson can this be closed?
https://github.com/knative/community/blob/main/peribolos/knative.yaml#L875
https://github.com/knative/community/blob/main/peribolos/knative-sandbox.yaml#L689

At least I think when I did .23 with @tcnghia all went well there. Just adding @dprotaso and @matzew in case they had any troubles with .24.

[2021-07-21 17:26] vaikas commented on #386
@dprotaso do you have thoughts on how to best tackle this? Perhaps bring it up to needs discussion in the TOC?

[2021-07-21 17:28] vaikas commented on #385
@abrennan89 I think this went away in the reorg of the docs? If so, can this be closed?

[2021-07-21 17:31] vaikas opened #699 "Knative contribution guidelines(community/contributing/_index.md) has bunch of empty bullets"
If you go to this link:
https://knative.dev/community/contributing/

And scroll the "center pane" all the way down, there's a bunch of empty bullet-points there in the list. For example below 'Pull request guidelines'.

[2021-07-21 17:36] vaikas commented on #699
@omerbensaadon (feel free to teflon to more appropriate person :) ) I created this issue from knative.dev website, and I'm not entirely clear if this is an issue in the community repo, or the docs repo, would you mind taking a peek to make sure this issue is in the right repo :)

[2021-07-21 17:59] vaikas opened #700 "Clean up the knative.team accounts for folks no longer participating in the project."
We have created *@knative.team accounts for folks that were WG leads, TOC / SC members and so forth. Some folks that have left the project, or no longer hold those roles still have those accounts. Should we remove them?
If so, I wonder how this can be done safely? Ideally for example WG leads that had WG meetings recorded would've moved them to the organization shared drive, but it would be unfort

[2021-07-21 18:24] abrennan89 commented on #385
Yeah, I don't think that page was ever supposed to be there, and if I go to that link now I don't see it, so probably OK to close this. Thanks @vaikas !

[2021-07-21 18:24] #385 closed

[2021-07-21 18:38] vaikas commented on #496
Ok, https://github.com/knative/community/pull/510 closed this issue. I'm closing this and if there are more clarifications / corrections that need to be done, we can open more fine grained issues for them.

[2021-07-21 18:38] #496 closed

[2021-07-21 19:08] vaikas commented on #622
@pmorie @devguyio just checking if there are any updates on this issue, or action items?

[2021-07-22 16:10] evankanderson commented on #693
/assign @dprotaso @evankanderson @markusthoemmes @julz @rhuss

[2021-07-22 16:18] evankanderson opened #702 "Post-GA Version numbering scheme"
TOC needs to determine a version numbering scheme for post-GA releases.

## Considerations

* How does this play with `go mod` versioning?
* How does this play with the operator and version upgrade safety checks?
* Are the human-factors ergonomics to consider (e.g. "1.26" vs "1.0"? "1.67" as a version number vs "67"? "67" vs "2023-01-14")?

Please add candidate version schemes and pros/cons in thi

[2021-07-22 16:36] evankanderson commented on #702
/assign @julz @dprotaso @rhuss @markusthoemmes @evankanderson

[2021-07-22 16:41] vaikas commented on #648
/close

We decided to just have one instead of spreading this throughout the various repos.

[2021-07-22 16:41] #648 closed

[2021-07-22 16:42] vaikas commented on #309
Some upstream issues to get fixed before we can use this.

[2021-07-22 16:47] vaikas commented on #92
@devguyio How would you like to address this?

[2021-07-22 16:53] jberkus commented on #309
Yeah, if anyone is watching the Augur issue stream, they can basically track my work :-b

[2021-07-22 17:01] ssisil commented on #696
Organization/Company: VMware
Project/Product Name: Cloud Native Runtimes for VMware Tanzu
Website: https://network.tanzu.vmware.com/products/serverless
Country: USA
Contact: ssisil@vmware.com
Usage scenario: Cloud Native Runtimes for VMware Tanzu is a application runtime for Kubernetes based on the OSS project Knative and represents the serverless capabilities in VMware Tanzu Advanced edition. It

[2021-07-22 19:21] embano1 commented on #696
Organization/Company: VMware
Project/Product Name: VMware Event Broker Appliance (VEBA)
Website: https://vmweventbroker.io/
Country: USA
Contact: dl-veba@vmware.com
Usage scenario: VEBA's core is based on Knative Serving and Eventing to deliver a simplified FaaS and serverless experience for users with little to no software development background. VEBA is released as an open source Fling and not i

[2021-07-22 23:50] tomabeles commented on #696
Organization/Company: Blue Origin
Website: https://www.blueorigin.com/
Country: USA
Contact: @blueorigin
Usage scenario: We use several Knative workloads as synchronization services between various third-party and in-house applications. Some of these are run on a schedule basis, others due to a change in one or more systems.
Status: Production

[2021-07-22 23:53] mattray commented on #696
Organization/Company: TriggerMesh
Website: https://triggermesh.com
Country: USA
Contact: @TriggerMesh
Usage scenario: Built on Knative, the TriggerMesh integration platform connects data and events from virtually any application or platform to any other, in the cloud or on-premises.
Status: Production

[2021-07-23 06:22] Shashankft9 commented on #696
Organization/Company: Tata Communications
Website: https://www.tatacommunications.com/solutions/cloud/platforms/
Country: India
Contact: @Shashankft9
Usage scenario: We are using knative serving and eventing to provide a FaaS and serverless experience for end users. We are using it internally to run on-demand containers for remedies and other event driven use-cases.
Status: Development

[2021-07-23 19:51] dprotaso commented on #414
I added the release team to the list - https://github.com/GoogleCloudPlatform/oss-test-infra/pull/937

I'd say the outstanding thing is:

I just made a new random doc last round people were able to edit so unsure how important this is 🤷‍♂️

[2021-07-23 20:39] omerbensaadon opened #706 "Link to the Knative Slack from the Knative Twitter Account"
![Screen Shot 2021-07-23 at 4 38 31 PM](https://user-images.githubusercontent.com/16281246/126838993-03da877a-0e1d-467c-885b-ecb6e6c1faaa.png)

Crossplane does this and I think it would be a good idea. It is our community's preferred way of reaching us.

* Expected benefits. Who gains the benefits? Why will they benefit?
More folks joining the Slack, asking questions
* Expected costs. Who bears th

[2021-07-27 15:58] nainaz commented on #696
Organization/Company: Red Hat
Project/Product Name: Red Hat OpenShift Serverless
Website: https://www.openshift.com/learn/topics/serverless
Country: USA
Contact:
Usage scenario: OpenShift Serverless is an add-on to the Red Hat OpenShift Container Platform. Containerized workloads are being deployed as Knative Serving. We are also using Knative Eventing as the basis for our eventing support.
Status

[2021-07-27 18:44] vaikas commented on #699
@abrennan89 @julz can you point me to where to fix this, I don't get it? :) Thanks :)

[2021-07-27 18:54] abrennan89 commented on #699
Honestly I've no idea what is going on with community docs these days. @omerbensaadon or @RichardJJG are probably better people to ask 🤷🏻‍♀️ 😂

[2021-07-27 18:55] vaikas commented on #626
Aaand finally for WG leads 'process', we had: #701

So, if WG leads could go and update their sections as appropriate that would be swell. Please update your WG section, and check the checkboxes once they've been done so we can close this once all the boxes have been checked. If your WG has no Emeritus members, please still check the box so I know when all WG have looked at this.

[ ] [API Core](h

[2021-07-27 18:57] vaikas opened #709 "Update / verify each WG Emeritus section"
As per #626 we now have a process.

So, if WG leads could go and update their sections as appropriate that would be swell. Please update your WG section, and check the checkboxes once they've been done so we can close this once all the boxes have been checked. If your WG has no Emeritus members, please still check the box so I know when all WG have looked at this.

- [x] [API Core](https://github.

[2021-07-27 18:59] #626 closed

[2021-07-27 19:09] vaikas commented on #709
@dprotaso told me to tag everybody, so here goes :)

@dprotaso
@rhuss
@navidshaikh
@omerbensaadon
@csantanapr
@lionelvillard
@matzew
@n3wscott
@nak3
@ZhiminXiang
@houshengbo
@chizhg
@markusthoemmes
@vagababov
@evankanderson
@julz

[2021-07-27 22:43] csantanapr commented on #709
DUX WG has no Emeritus

[2021-07-28 06:35] rhuss commented on #709
Add Client WG leads via https://github.com/knative/community/pull/712

[2021-07-28 06:42] ZhiminXiang commented on #709
Add Networking WG leads via https://github.com/knative/community/pull/711

[2021-07-28 07:17] FlorianLudwig commented on #696
Organization/Company: Grey Rook
Website: https://www.greyrook.com
Country: germany
Contact: f.ludwig@greyrook.com
Usage scenario: Serving and eventing are the base for our backend stack that we use to build awesome web- and mobile apps for our clients
Status: Development & Production

[2021-07-28 08:28] julz commented on #699
So the tldr is this is a painful seam of the old Hugo flow that we haven't fixed yet and that we may have a plan to just avoid in future. The longer version (and **seriously, feel free to skip this paragraph**, it's here in case you're interested!) is the knative/community repo gets copied over into the community/contributing folder of the docs repo, and then the result is copied in to a directory

[2021-07-28 08:48] RichardJJG commented on #699
I've added your comment above to [Issue 4038](https://github.com/knative/docs/issues/4038), @julz. It looks like much needed context for that one (hope you don't mind!)

[2021-07-28 09:37] rhuss commented on #702
What's about applying strict [semver 2.0](https://semver.org/) after GA ? I think this semver is well understood, semver version are easily comparable and also quite well accepted by humans. And we kind of have semver already (albeit using the minor version also for breaking changes).

[2021-07-28 09:39] rhuss commented on #693
@devguyio do you prefer comments in this issue or on the document itself ?

[2021-07-28 15:35] omerbensaadon commented on #680
/assign

[2021-07-28 16:04] dprotaso commented on #709
@vaikas what about old WG groups?

ie. Build/Observability etc.?

[2021-07-28 16:10] vaikas commented on #709
Perhaps add those into the bottom of the page with a new section as Emeritus WG and use the same table format? WDYT? @dprotaso

[2021-07-28 16:43] lucasscw commented on #696
Organization/Company: Scaleway
Website: https://www.scaleway.com/en/
Country: France
Contact: lmerdinian@scaleway.com
Usage scenario: We use Knative Serving as the core of our Function as a Service and Container as a Service products. We aim to provide our customer the tools to easily deploy their application.
Status: Public Beta

[2021-07-28 18:47] vaikas commented on #699
Thanks @julz for the context. Suffice it to say then that this issue can be closed, since the proper fix is being worked under the docs repo?
If I misunderstood something (highly likely as usual :) ) please reopen :)

[2021-07-28 18:47] #699 closed

[2021-07-28 18:55] andrewwebber commented on #696
Organization/Company: deepc.ai
Website: https://www.deepc.ai/
Country: Germany
Contact: contact@deepc.ai
Usage scenario:  Standardized across engineering teams Knative is the foundation upon which all products at deepc are built. Whether it be our server-less platform medial AI, our front-end based app or our hardware integrated edge deployments.
Status: Production

[2021-07-28 19:18] dprotaso commented on #709
ok done - https://github.com/knative/community/pull/714

[2021-07-28 20:28] vaikas commented on #700
I'm going to suspend the users accounts that are no longer WG leads. Details on what happens are here:
https://support.google.com/a/answer/33312?hl=en#zippy=%2Cwhat-happens-to-a-suspended-users-account-and-data

So, my worries about the data being deleted won't happen.

[2021-07-28 20:34] vaikas commented on #709
Actually @omerbensaadon @csantanapr since Dux is what became of the Docs WG, if you could either:

* Add an emeritus for docs just like @dprotaso did in #714
* Add the previous WG leads (for example @abrennan89) to the Dux (with a blurp about the evolution)

I don't have a strong preference for either (or something else) but do not want their props to get lost somewhere.

[2021-08-03 02:09] nak3 opened #724 "PROCESS CHANGE: Rename the repo net-ingressv2 to gateway-conformance"
#### Expected benefits. Who gains the benefits? Why will they benefit?

Currently a lot of people assume that the [net-ingressv2](https://github.com/knative-sandbox/net-ingressv2) repo has a controller for Gateway API but it is not correct. The repo hosts Gateway API conformance tests actually.
Additionally, we have a plan to create another new repo for the Gateway API controller.

Therefore, the

[2021-08-03 02:09] nak3 commented on #724
/cc @evankanderson @ZhiminXiang

[2021-08-03 10:57] devguyio commented on #693
@evankanderson I responded to your comments, thanks for feedback!

@rhuss whatever you prefer, maybe if the comments are on some proposal specifics then on the document. If they're generic summaries, opinions, then here.

[2021-08-05 06:42] FeynmanZhou commented on #696
- Organization/Company:  KubeSphere
- Website:
- Country: China
- Contact: (email or Twitter at least one please!) feynman@kubesphere.io /
- Usage scenario: We use Knative for our Function as a Service product, see the [OpenFunction project](https://github.com/OpenFunction/OpenFunction#serving) for more details.
- Status: Development & Production

[2021-08-05 16:23] evankanderson commented on #693
+1 from @julz and @markusthoemmes

+1 from @evankanderson with the following addendum:

* For Kafka-motivated changes to API (for example, to enable ordered delivery), the changes should be driven through the cross-technology working groups (e.g. event delivery WG in the case of ordered delivery).

As mentioned in the meeting today, this is our first technology-specific WG; let's see how this goes

[2021-08-05 16:55] evankanderson commented on #702
One concern about semver:

Semver assumes a well-defined public API; assuming that we synchronize version numbers across all components, how do we define our public API?

As a counter-example of semver; Kubernetes 1.22 (and 1.18) removes a number of APIs (alpha and beta); in some cases fields are also deprecated and then disallowed without incrementing the major version (still under the aegis of g

[2021-08-05 17:59] ntzlqx commented on #696
Organization/Company: Liquidx
Website: https://www.liquidx.com/
Country: USA
Contact: ntzaprev@liquidx.com
Usage scenario: We use Knative to power or InBlock product - Blockchain enabled physical goods trading operations orchestrator. Product modules cover Order Creation, Shipping, Invoice Management, Payment Reconciliation, an Cash Forecasting
Status: Production

[2021-08-05 18:13] julz commented on #702
I think I would assert that the things people want from semver apply mainly at the CRD level (since that's our api surface), so are more effort/confusion than they're worth for knative itself (triply the case when you consider any subproject may be the thing making a change breaking, unless we're ok with the versions getting out of line, so eventing changing an api could mean serving has to bump m

[2021-08-05 18:30] lionelvillard commented on #702
FWIW, I'm with Julz. We already have a backward-compatible policy in place (e.g. 0.25 is backward-compatible with 0.24, but not b/c with 0.23), it's all what we need (almost :-) )

[2021-08-10 07:53] vaikas commented on #700
This has been done.
/close

[2021-08-10 07:53] #700 closed

[2021-08-12 07:57] vaikas commented on #706
I tried to see if I could this from the tweetdeck but couldn't figure out how to do it. I think somebody needs to login to the twitter account and do it from there, but I do not know how.

[2021-08-12 13:16] vaikas opened #728 "Should we delete the gdocs migration code?"
Is there any need for this anymore?

https://github.com/knative/community/tree/main/mechanics/tools/gdocs-migrate

If not, let's remove it so we don't have to keep maintaining it. Even if we don't maintain code, we still have to update the deps like here:
https://github.com/knative/community/pull/727

[2021-08-12 13:55] vaikas commented on #681
#680 seems related to this?

[2021-08-12 16:18] evankanderson commented on #728
If this has a maintenance cost, let's delete it. It's no longer needed, and we have git history.

[2021-08-12 16:39] vaikas commented on #383
SC doesn't think there's anything that we need to do on this anymore, so removing from our backlog. If there are particular items, maybe open specific issues?

[2021-08-12 16:49] vaikas commented on #622
@devguyio I'm going to close this for now, reopen if your concerns didn't get addressed properly.

[2021-08-12 16:49] #622 closed

[2021-08-12 16:51] vaikas commented on #139
SC thinks there's enough various different efforts that capture these ideas. This issue as it stands is quite open ended, so using more targeted issues would be swell. I'll close this and please reopen more specific issues if they warrant something from the SC.

[2021-08-12 16:51] #139 closed

[2021-08-12 16:55] vaikas commented on #706
@thisisnotapril is this something that you might be able to help with? I can't do this with tweetdeck so we'd need the "real" twitter account to actually login as knative.

[2021-08-12 16:56] vaikas commented on #92
@devguyio just a ping on this to see if there's other ways to deal with this in Eventing?

[2021-08-12 16:57] #120 closed

[2021-08-12 18:42] bsnchan opened #731 "PROCESS CHANGE: Introduce end-user seats in steering committee"
## Background
When we transitioned from the bootstrap steering committee to an elected steering committee last year (in 2020), we explored the idea of creating an end-user seat but couldn't quite determine what mechanics we should follow. We [documented](https://github.com/knative/community/blob/main/STEERING-COMMITTEE.md#transition) that we should explore this process again for the 2021 steering

[2021-08-13 14:55] vaikas commented on #731
If we do not get someone to run, perhaps fall back to contributors?

[2021-08-16 17:46] evankanderson commented on #702
It sounds like a general preference for "1. 'Rough backwards compatibilty'".

My interest in just using major version numbers is that the "1." in front feels redundant.

# Go mod upgrades

For applications using our generated client libraries, using a "1.X" version numbering scheme will tend to upgrade to the latest release automatically. If they have substantially lagged (e.g. "1.7" to "1.15"), t

[2021-08-17 02:11] #728 closed

[2021-08-18 20:11] itsmurugappan commented on #696
[code]

[2021-08-18 20:39] lionelvillard opened #737 "New Repo: knative-sandbox/eventing-kogito"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: eventing-kogito

Purpose (Description):

Sponsoring WG: Sources

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDBOX-REPO.md).
The _requestor_ and _sponsoring WG lead_ should

[2021-08-18 20:41] lionelvillard commented on #737
/cc @@ricardozanini

[2021-08-19 16:02] evankanderson commented on #702
Markus suggests that our versioning for `go.mod` could be different than our published version names.

[2021-08-19 16:10] evankanderson commented on #702
It came up that we might be able to use two sets of tags; one for the user-visible artifacts, and a separate one for `go.mod`.

General feeling is to roll out with 1.X and add any other tagging scheme later.

Once we have a "GA" release, we'll start over at 1.0.

[2021-08-19 16:12] evankanderson commented on #702
Markus pointed out that bumping major versions each time would require more source code changes in downstream consumers:

https://golang.org/ref/mod#major-version-suffixes

[2021-08-19 16:15] evankanderson commented on #702
See https://github.com/knative/community/issues/702#issuecomment-902042308 for resolution

/close

[2021-08-19 16:15] #702 closed

[2021-08-19 16:37] vaikas commented on #92
@devguyio would you mind taking a look and see how Eventing might want to work around this?

[2021-08-20 07:27] geekygirldawn commented on #731
I'm curious about how we implement this from a voting perspective. Will other end users be able to vote on the end user seat? If so, will end users also be able to vote on the contributor seat? Or do we leave the voting criteria as-is?

@jberkus from an Elekto perspective, would we need to run this as 2 separate elections - one for the end user seat and one for the contributor seats? Or do we run

[2021-08-20 12:38] vaikas commented on #731
I'm curious about this:

[code]

why make this distinction specifically? Meaning, if they partake in voting (if a vote is necessary), there's still the majority one way or another. Not trying to disagree, trying to understand why it's special. For example, is it the case they only vote if things come to 2-2, and if so what's the reasoning for that?

What happens if the person works for company XYZ

[2021-08-20 13:00] vaikas commented on #709
@csantanapr @omerbensaadon for DUX, well, actually docs to give them props.
Event Delivery will be handled in #738
Event Sources will be handled in #732
@houshengbo for Operations (if there's none, please just state it and check the box)
@chizhg @n3wscott for productivity
@markusthoemmes with @vagababov #722 was that it? If so, please just state it and check the box.

[2021-08-20 13:36] markusthoemmes commented on #709
We'll want to add @josephburnett. On it.

[2021-08-20 13:43] markusthoemmes commented on #709
Send a PR in https://github.com/knative/community/pull/741

[2021-08-20 15:37] psschwei opened #742 "New Repo: container-fridge"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: container-fridge

Purpose (Description): in support of the [pod freezer](https://docs.google.com/document/d/1QvVj81nagklVWXAQkp0yZPwBT_3cNLKURIjZob6Ioh8/edit?resourcekey=0-akcRIgsJjZMGCL-4AQzq3g) feature track

Sponsoring WG: Auto

[2021-08-20 18:21] jberkus commented on #731
Whether or not it's two separate elections depends on who can vote.   Who's voting for the end user seat?

[2021-08-23 13:45] julz commented on #731
I like the idea of end-user seats a lot, in general. I tend to agree though, fwiw, that it doesn't make a lot of sense for the voters for those seats to be contributors. Fundamentally I - as a contributor - have no idea which end user would best represent the end-users on steering.

If the job is to represent end users, it seems that we need the people voting for the seat to be end users, not (as

[2021-08-23 14:01] geekygirldawn commented on #731
+1 to this alternative from @julz, and not just because it simplifies my life as an election officer :) Having this be a nominated / appointed seat, gives the Steering Committee more flexibility and avoid some of the complexity / confusion associated with having a second type of election.

[2021-08-23 16:03] omerbensaadon opened #746 "PROCESS CHANGE: Overhaul and standardize Knative roadmap processes"
## Background
Ahmed and I have been collaborating to improve roadmapping practices in the Knative Community.

These changes ought to be formalized at TOC "WG Updates" in order to create healthier processes within WGs, help new contributors understand where they can chip in and liberate us from the [tyranny of time-bound objectives.](https://memegenerator.net/img/instances/73848759/the-gentle-labor

[2021-08-23 16:05] omerbensaadon commented on #746
If this issue is accepted, follow-on issues will be opened for the following:

1. Creating a Roadmap item template
2. Establishing Quasi-Leadership positions for Roadmap Item Owners
3. Having each Roadmap item link to its own Project board

[2021-08-23 18:44] devguyio commented on #693
WG folder created: [Folder](https://drive.google.com/drive/folders/1ra5czyKOaMsWuwWXzkhce6_g6rFBdCxg)
WG meeting notes created: [Notes](https://docs.google.com/document/d/1ykBVPtiosGoDjzBklMt9HxbinGrMod6itOvfe6DeVmA/edit)
Calendar invitation created: [Calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=M2wwMjZ2ZW5lN2lnNXJldXZjNzVrbmkyYTlfMjAyMTA4MjRUMTUzMDAwWiBrbmF0aXZlLnRlYW1fOXE4M2

[2021-08-23 21:39] bsnchan commented on #731
@julz:

I like that suggestion! Re: the edge case around an individual leaving a company, perhaps we can spell it out that the end-user seat is tied to an organization rather than an individual?

@vaikas:

I shouldn't have made that distinction around `The end-user seat would be the "tie-breaker"`. I think this was me just capturing some of steerings' thoughts when we discussed live.

[2021-08-23 23:21] jberkus commented on #731
FWIW, running both elections in parallel won't be technically hard, at all, given our software.

However, establishing the end-user electorate would potentially be hard.  You'd need some way to measure end-user activity.

[2021-08-23 23:36] jberkus commented on #731
In fact:  suggestion.

For the 2021 election, do the above as suggested ... have the SC appoint.

For 2022, what if we had an "end user registry"?  A place where users could fill out a survey and give us their user stories.  This would help with both Knative promotion and development, and would then give us a list of folks who can vote on/run for the end-user seat.

[2021-08-25 14:10] houshengbo commented on #709
https://github.com/knative/community/pull/752
I have sent this PR for the update.

[2021-09-01 12:38] rhuss commented on #709
I think we are kind of complete with the updates ? @omerbensaadon @abrennan89 the only checkbox missing is for DUX, so maybe @abrennan89 could you please add an emeritus section for the retired Doc WG leads ? (guess for UX we don't need this yet ...)

[2021-09-01 16:54] rhuss commented on #709
I think we are done now.

/close

[2021-09-01 16:54] #709 closed

[2021-09-02 17:31] psschwei commented on #742
So.... `container-fridge` or `freezer`?

[2021-09-06 11:34] ricardozanini commented on #737
@lionelvillard I think we are good. Prow is working. I'm on the upgrade dependencies PR right now.

[2021-09-08 18:57] abrennan89 opened #767 "PROCESS CHANGE: Provide documented process for non WG leads to add calendar events"
Currently it is very difficult for long time Knative contributors to figure out how to get a knative.team account or be allowed to add events to the team calendar if they are not WG leads.

Not everyone in the community who contributes heavily to the project has the time to commit to being a WG lead, but not allowing folks to add calendar invites unless they're a WG lead IMO will put people off wa

[2021-09-09 09:03] vaikas commented on #767
Proposal discussion here and then I can write it up once we get it sorted.

* Who can have knative.team account and how they can request one

WG Leads, SC, TOC & KTC. Sending a request to SC.

* Who can have permissions to add / modify events on the calendar, and how they can request those permissions

Any person who has a reason to do this, I would like to think this set it not going to be large.

[2021-09-09 14:02] evankanderson commented on #746
Quick thoughts before the meeting:

# Project board vs Markdown

## Pros of project boards

* Issues align naturally with owners, etc
* Encourages documentation within an effort by using the issue as a log of work planning and effort
* Issues are at least somewhat discoverable to new contributors, though the project board might be missed at first
* Org level project boards are open to manipulation

[2021-09-09 16:05] evankanderson commented on #742
It seems like it's unlikely that we'll have a lot more experiments from the autoscaling working group, so a `scaling-` prefix doesn't seem necessary. Julz and Markus agree with `container-freezer`.

[2021-09-09 16:11] omerbensaadon commented on #681
https://docs.google.com/document/d/1LJjgdOKw5qaMlvRLeQw5eEHniyHrRb6lV-54VR22YXw/edit#heading=h.q5a22la9zwd8

^ Friction Log Template

[2021-09-09 16:27] psschwei commented on #742
Updated #743 to use the new name

[2021-09-09 16:32] evankanderson commented on #681
The suggestion is that we should encourage new contributors to keep a friction log... this is a way that contributors can generate a positive contribution from day 1 while they are getting up to speed on the specific areas / working groups they can contribute to.

[2021-09-09 16:45] vaikas commented on #609
We'll make @omerbensaadon slack admin and he can take care of this as well as a few other items that he's been wanting to do (welcome bot, etc.).
@thisisnotapril will make the admin stuff happen.

[2021-09-09 16:52] evankanderson commented on #746
+1 from Evan

[2021-09-10 09:36] rhuss commented on #742
+1 from my side, too.

[2021-09-10 09:59] rhuss commented on #746
Thanks a lot for the initiative, I also believe that the current time-based format to plan/present roadmaps does not reflect the reality.

I'm +1 in general, with some comments:

* +1 for using GitHub Projects over Markdown as planning should be with low friction and very little process to change (markdown and PR process does not replace the mutual trust that is required anyway, so I don't see sub

[2021-09-10 11:57] markusthoemmes commented on #746
+1 on making the roadmaps be in Github Projects. -1 as @rhuss stated, on the WIP limits.

[2021-09-10 13:05] evankanderson commented on #680
/assign

[2021-09-13 08:54] #731 closed

[2021-09-13 12:20] vaikas opened #772 "Generate the voters.yaml file for 2021 SC elections."
As per the election process, we should generate the voters.yaml file. We can do this before or after #734 unless we no longer need it for some reason, but figured we would need it to see who was eligible to vote.
@geekygirldawn @jberkus

[2021-09-13 23:24] xtreme-sameer-vohra opened #775 "PROCESS CHANGE: New Contributor Retrospective"
# Why
Solicit pain points and potentially solutions from the folks that have recently joined the community and had to onboard.
Present the findings to the larger Knative contributor community to ensure that the precious efforts expended to improve the new contributor experience are spent on the highest priority areas.

## Nice to haves
- Identify solutions
- Identify new contributors that are inte

[2021-09-15 23:39] #92 closed

[2021-09-16 00:17] psschwei commented on #775
I'd be willing to volunteer for the retro (I started contributing to Knative in May)

[2021-09-16 15:45] omerbensaadon commented on #746
I like the idea of limiting a person to a # of Roadmap Items from @rhuss

[2021-09-16 15:47] omerbensaadon commented on #746
I am going to drop WIP limits, TOC will be responsible for assessing people's roadmap

[2021-09-16 15:48] evankanderson commented on #746
It's worth including some non-rules guidance about how WGs should look at execution of "in flight" items.

[2021-09-16 15:54] evankanderson commented on #746
Approved at 16 Sep 2021 TOC meeting

[2021-09-16 15:55] evankanderson commented on #490
I think resolved by #746

[2021-09-16 15:56] evankanderson commented on #681
Dave points out that slack admin and a welcome bot should be possible, but we need a consistent policy to give e.g. TOC or WG leads access to the admin rights.

[2021-09-16 15:56] evankanderson commented on #681
Ashleigh also brought up an issue for Steering to figure out a better access control mechanism so that non-WG leads can organize meetings on the Knative calendar.

[2021-09-20 17:45] ZhiminXiang opened #778 "Knative version table is old"
Currently the latest knative version in the version table https://github.com/knative/community/blob/main/mechanics/RELEASE-VERSIONING-PRINCIPLES.md#knative-serving-version-table is 0.25.

Currently we are releasing 0.26. We need to expand that table to include future knative version.

[2021-09-21 13:33] dprotaso commented on #778
It's part of the release process to update that table

see: https://github.com/knative/release#final-checks--transition-to-the-next-release-leads

[2021-09-21 14:13] omerbensaadon opened #779 "How do we transition func Task Force to a Functions Working Group?"
See above, what's the checklist of things?

[2021-09-21 17:17] #778 closed

[2021-09-22 17:09] evankanderson commented on #693
This is approved and the PR got submitted (sorry about the logjam -- it seems like Peribolos doesn't have a `--dry-run` or `--test` mode.)

/close

[2021-09-22 17:09] #693 closed

[2021-09-23 16:08] dprotaso commented on #88
cc @chizhg just presented a roadmap document during the ToC

https://docs.google.com/document/d/1U6wybYjCslEhsKOiennrwhoKZmSVnd1NGbFI8gnnnOg/edit#

[2021-09-23 16:38] vaikas commented on #309
@jberkus is the plan that for this round of SC elections, we're still going to use the teststats.cncf.io?

[2021-09-23 16:43] pmorie commented on #767
I'm +1 on @vaikas' suggestion

[2021-09-23 16:45] vaikas commented on #767
Apparently we can also grant access to knative.team calendar even to folks outside of knative.team org, so we can also add them to the knative.team calendar without creating knative.team account, so that's an option also.

[2021-09-23 16:58] omerbensaadon commented on #656
/assign @pmorie

[2021-09-24 06:39] rhuss commented on #767
+1 for @vaikas proposal. For simplicity, I think we should stick to the rule that only knative.team members can modify calendar entries.

[2021-09-24 13:13] psschwei commented on #680
### README.md

[ ] [serving](https://github.com/knative/serving/blob/main/README.md)
[ ] [eventing](https://github.com/knative/eventing/blob/main/README.md)
[ ] [docs](https://github.com/knative/docs/blob/main/README.md)
[ ] [client](https://github.com/knative/client/blob/main/README.md)
[ ] [community](https://github.com/knative/community/blob/main/README.md)
[ ] [opereator](https://github.com/kn

[2021-09-24 13:53] psschwei commented on #680
Summary: all repos have readmes, and there are PRs open to add the COC and/or contributor doc to the repos missing them

[2021-09-24 13:58] aliok opened #1503 "Create organization profile"
Github now allows creating organization profiles: https://github.blog/changelog/2021-09-14-readmes-for-organization-profiles/

All we need to do is create a `README.md` file under a `profile` directory in this repository.

Example:
- https://github.com/JBossOutreach/.github/tree/main/profile
- How its shown: https://github.com/JBossOutreach

[2021-09-24 13:59] psschwei commented on #680
/assign

[2021-09-24 17:42] evankanderson commented on #680
Just copying a comment from the operator repo:

(If these are copies of the doc in https://github.com/knative/community, it should be possible to add to https://github.com/knative-sandbox/knobots/blob/main/actions/update-community/entrypoint.sh to copy additional files to all repos.)

[2021-09-24 17:53] psschwei commented on #680
Well, that would've made things easier :smiley:

I'll send a PR to update knobots to copy the COC. The Contributor doc looks to have some unique elements on a repo-by-repo basis (for example, eventing has some custom text about creating docs issues), so will leave that one off for now. Though it might make sense to standardize the contributor doc also sometime down the line (after GA, definitely n

[2021-09-24 18:11] evankanderson commented on #680
👍

Sorry, I didn't realize someone was about to do this, and I'd had it in my head that I'd get to it when a round tuit finally showed up.

[2021-09-24 18:16] psschwei commented on #680
No worries at all, I ended up learning more about the automation, so call it a small win :)

[2021-09-24 18:34] evankanderson commented on #680
If you ever think "I need to PR things across all repos", definitely take a look in knobots.

(And poke me on slack if you need a further guide.)

[2021-09-27 13:48] lionelvillard commented on #737
All done.

[2021-09-27 13:48] #737 closed

[2021-09-30 06:17] chizhg opened #786 "Approve the proposal to move Knative test infra to be community-managed"
[Knative test infrastructure 1.0](https://docs.google.com/document/d/1U6wybYjCslEhsKOiennrwhoKZmSVnd1NGbFI8gnnnOg/edit) is the proposal that aims at solving the below long-standing issues by moving Knative test infra to be community-managed:
- [Shift productivity infrastructure to a community managed environment](https://docs.google.com/document/d/1LwkzXVDJYLmiVElCEiJ1ITSr4TGkHfipe8ABK_7IxCQ/edit?

[2021-09-30 06:19] chizhg commented on #786
/project Open for community feedback

[2021-09-30 13:16] evankanderson commented on #786
@chizhg , we mostly use org-level projects which allow anyone in the org to move / add items, rather than the prow commands. (I added the TOC label for you.)

[2021-09-30 16:13] omerbensaadon commented on #680
@psschwei looks like this is done...?

[2021-09-30 16:20] psschwei commented on #680
Yes, last one merged in about an hour ago.

[2021-09-30 16:22] psschwei commented on #680
I can't edit the original checklist, but you can use my [comment above](https://github.com/knative/community/issues/680#issuecomment-926614715) to get all the details.

[2021-09-30 16:22] omerbensaadon commented on #680
heck yeah awesome

[2021-09-30 16:22] #680 closed

[2021-09-30 16:51] vaikas commented on #609
@omerbensaadon what's the status of this? Do you have everything from Steering you need?

[2021-09-30 17:02] omerbensaadon commented on #609
<img width="751" alt="Screen Shot 2021-09-30 at 10 01 50 AM" src="https://user-images.githubusercontent.com/16281246/135499322-906815f6-9516-4dd2-9d71-15f726fa773d.png">

Done!

[2021-09-30 17:02] #609 closed

[2021-09-30 20:51] vaikas opened #787 "Generate annual report for 2021"
We need to generate the annual report for Knative, just like here:
https://github.com/knative/community/tree/main/annual_reports

Just putting this on the SC radar so we don't forget :)

[2021-09-30 23:39] jberkus opened #789 "Hosting SC Election"
@vaikas , others:

The earlier elections have been hosted on the Elekto test server, which has been shut down due to cost, and in any case is subject to breakage.  This means that we should decide where to run Elekto for Knative elections in the future -- ideally, a location that is persistent and preserves our election history.

Elekto can run either on virtual hardware or on Kubernetes.  Ironica

[2021-10-01 13:03] psschwei commented on #680
@omerbensaadon there was a problem with the COC automation job, and a few docs were updated before it could be corrected. I've opened PRs to clean those up:

* Eventing: https://github.com/knative/eventing/pull/5774
* Operator: https://github.com/knative/operator/pull/799
* Networking: https://github.com/knative/networking/pull/523

So think we might want to reopen this until those PRs merge.

[2021-10-01 14:02] psschwei commented on #680
Not relevant for GA, but I also got PRs out to fix all of the repos (both in `knative` and `knative-sandbox`) that the incorrect COC was pushed to. Don't think those matter for GA, but more a FYI

[2021-10-01 19:52] thisisnotapril commented on #789
I think your proposal makes the most sense, @jberkus. We certainly appreciate Red Hat's support via your time, and want to do whatever makes it easier for you!

[2021-10-01 20:17] thisisnotapril commented on #786
Issue currently assigned to me while we look at possibility of Google continuing to host on GCP, or using a crowdfunding site for oss project costs. Examples of those sites are https://lfx.linuxfoundation.org/tools/crowdfunding and https://opencollective.com/opensource

[2021-10-04 18:10] ustiugov commented on #696
Organization/Company: EASE lab @ University of Edinbugh
Website: https://easelab.inf.ed.ac.uk
Country: UK
Contact: https://github.com/ease-lab/vhive / dmitrii.ustiugov@ed.ac.uk
Usage scenario: e.g. We use Knative for XYZ
Status: vHive is a full-stack open-source framework & ecosystem for serverless experimentation and innovation. vHive is representative of real serverless clouds, integrating produ

[2021-10-06 21:32] houshengbo opened #791 "New Repo: kn-plugin-operator"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo:

Purpose (Description):

Sponsoring WG:

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDBOX-REPO.md).
The _requestor_ and _sponsoring WG lead_ should perform the steps liste

[2021-10-07 15:24] dprotaso opened #794 "Fix permissions and roles in GDrive and Slack"
We should do an audit to ensure steering and toc members have the appropriate roles in slack and gdrive.

ie.
1. In GDrive I'm not a content manager so I couldn't open up permissions for a recording
2. In Slack I'm not a workspace admin

Unclear if there's a way to automate this

cc @vaikas

[2021-10-07 15:28] dprotaso commented on #44
This is probably a trademark issue now

[2021-10-07 16:08] vaikas commented on #794
Seems related to #443 and #314

[2021-10-07 23:56] csantanapr commented on #789
If you want a CNAME then that's DNS config and people from Google need to do that

If it's a url 302 redirect knative.dev/election to your url we can do that on the Knative website

[2021-10-07 23:57] csantanapr commented on #789
Just let us know which option you required cc @evankanderson

[2021-10-08 02:55] evankanderson commented on #789
I think we want a CNAME and not some Amazon alb name.

I also think that we should probably check in whatever summary information about the election after each one, just in case we have further hosting transitions.

[2021-10-08 15:33] omerbensaadon opened #796 "PROCESS CHANGE: Remove most of the Community Section from the Community site, link to this Github Repo instead"
Currently, our Community site is a bit of a tarball which will be difficult to move to the MkDocs format for a few reasons:
- There are some wonky page renderings, like https://knative.dev/community/contributing/ which is rendered in part by https://github.com/knative/docs/blob/8f742c9f4800ab88a086ba21ee814d55b7c4e952/community/contributing/_index.md AND https://github.com/knative/community/blob/4

[2021-10-08 16:16] julz commented on #796
+1 from me, this would let us remove the last bit of Hugo and archive the website repo, which would be nice, without needing to transfer lots of files from the community repo (which is the right place for them, imo) over to docs and without importing back the complexity and pain we previously faced in rendering cross-repo content. Tldr I think this is way less simpler and nicer and we should do it

[2021-10-08 16:17] evankanderson commented on #724
Per [discussion in slack](https://knative.slack.com/archives/CA9RHBGJX/p1633650531144300):

**Carlisia Thompson**  16 hours ago

**markusthoemmes**  10 hours ago

I'll be executing this later today.

[2021-10-08 18:55] jberkus commented on #789
Er ... I wasn't planning on directing knative.eleckto.io to anything.  So that's not right.  Instead:

1. An employee from Google to configure a DNS CNAME for elections.knative.dev to target https://elb.apps.ospo-osci.z3b1.p1.openshiftapps.com

I don't see why we'd use knative.elekto.io as an intermediary here.  Is there some reason I don't know about?

[2021-10-18 17:18] jberkus commented on #789
Yeah, lemme arrange with project.

[2021-10-19 08:49] rhuss commented on #791
Not done yet.

[2021-10-21 18:08] jberkus commented on #789
It's not picking up the election though.

Probably that's because the election data got pushed when there was no webhook in place.  Michael, can you exec in and run the sync function?  If you can't, then we can work around it by pushing a cosmetic change.

[2021-10-26 20:41] benmoss opened #809 "This repo should verify-codegen"
It'd be nice if we had a verify-codegen PR check for this repo, it seems we constantly mess this up: #808, #806, and then in the latest changes #802 #801

[2021-10-30 14:50] matthiasgubler opened #817 "Knative contributor guidelines(community/contributing/CONTRIBUTING.md)"
The link mentioned here https://knative.dev/community/contributing/contributing/#:~:text=Knative%20documentation%2C%20see-,DOCS-CONTRIBUTING,-.%20A%20lot%20of leading to the page https://knative.dev/community/contributing/docs/DOCS-CONTRIBUTING is dead.

There is no DOCS-CONTRIBUTING.md file in whole repo anymore and I didn't found it yet.

[2021-11-04 01:44] dprotaso commented on #746
After going through the process of setting up a board a few things I noticed/we should recommend

1. Make sure folks are creating boards using the beta projects feature at the org leve
   - https://github.com/orgs/knative/projects?type=beta
1. Make sure the board is set to public
   - A bunch of boards are private
1. Make sure columns names are consistently named and ordered

I also think we shoul

[2021-11-04 14:04] dprotaso opened #827 "Clarify K8s min version principle given the introduction of the maintenance mode"
K8s upstream has extended their support policy to 14 months. The last 2 months of this support window is 'maintenance mode' and [is described as](https://kubernetes.io/releases/patch-releases/#support-period):

Our min K8s policy states we support whatever is supported upstream at the time of a Knative release. We should update the language to exclude the 'maintenance mode'

[2021-11-04 14:05] dprotaso commented on #827
We need to update the k8s versioning principles now that K8s has a maintenance mode window.

[2021-11-04 14:05] dprotaso commented on #827
/assign @dprotaso

[2021-11-04 15:57] evankanderson commented on #656
This looks like this should tie in with #681

[2021-11-04 16:20] evankanderson commented on #656
I think https://github.com/knative/community/blob/main/CONTRIBUTING.md#design-documents actually has this information.

/close

[2021-11-04 16:20] #656 closed

[2021-11-04 16:42] vaikas commented on #588
@julz would you mind taking a crack as you offered? Steering is +1 on this.

[2021-11-04 16:43] vaikas commented on #775
Thanks @xtreme-sameer-vohra and others that ran this. There will be action items following up, but they will go to their own issues.

[2021-11-04 16:43] #775 closed

[2021-11-04 16:44] vaikas commented on #794
We're going to take a crack at this and see what the actual effort is so we can do some planning.

[2021-11-04 16:45] vaikas commented on #448
@thisisnotapril @n3wscott is this something that we might now be able to tackle? How does (if at all) this relate to the new CLA work also going on.

[2021-11-04 16:46] vaikas commented on #90
Did the new bot get deployed? @thisisnotapril

[2021-11-04 17:22] n3wscott commented on #448
I sure could, what is the new CLA work? I don't know that one.

[2021-11-07 04:18] mikluko commented on #696
Organization/Company: Spider.com
Website: https://www.spider.com
Country: USA
Contact: mikhail@spider.com
Usage scenario: We use Knative as a base for our APIs and data mining operations.
Status: Development

[2021-11-08 11:52] julz commented on #588
\o/ - okiedoke, added to my todo list

[2021-11-08 11:54] julz commented on #588
/assign

[2021-11-08 19:29] micah-gcp commented on #696
Organization/Company: Google Cloud
Website: https://cloud.google.com/anthos/run
Country: USA
Contact: micahbaker@google.com
Usage scenario: Integrated with Anthos, Cloud Run for Anthos provides a flexible serverless development platform for hybrid and multicloud environments. Cloud Run for Anthos is Google's managed and fully supported Knative offering.
Status: Production/Generally Available

[2021-11-09 03:12] richard2006 commented on #696
Organization/Company: Alibaba Cloud
Website:  www.alibabacloud.com
Country: CHN
Contact: yuanyi.lp@alibaba-inc.com
Usage scenario:  Knative on Alibaba Cloud is deeply integrated with Alibaba Cloud products based on the Knative for the community to provide the purest experience of containerized Serverless.
Status:  Production

[2021-11-09 08:00] upodroid commented on #667
Nov 2021 Update:

We will be adjusting the labels slightly as discussed at  https://knative.slack.com/archives/CEPGNPHP1/p1636121700020400

[code]

[2021-11-10 00:34] evankanderson commented on #796
It looks like https://github.com/knative/docs/issues/4394 addresses this.

Going to close this issue since we all agreed this was the right thing to do.

/close

[2021-11-10 00:34] #796 closed

[2021-11-11 16:31] evankanderson commented on #324
It looks like there's been no further activity on this repo? Do we need to do more here, particularly since it's possible to have mulitple actions in one repo if you're okay with them being versioned together?

[2021-11-11 23:20] vaikas commented on #696
Organization/Company: Chainguard
Website: https://chainguard.dev
Country: USA
Contact: vaikas@chainguard.dev
Usage scenario: Most of our platform is built on top of Knative wherever possible. We use both Serving / Eventing.
Status: Development?/Production? Development

[2021-11-16 08:35] rhuss commented on #827
Would it make sense to also include such a notion of a 'maintenance mode'? I mean, when a k8s enters maintenance mode it will be still  2 months around, which is for one future Knative version, too. I don't mind being more restrictive than k8s and that is probably the right thing to do.

So +1 from my side but would love to hear some more opinions before merging it.

[2021-11-16 18:53] lance opened #844 "New Repo: func"
## Repo information

Org: knative-sandbox

Repo: func

Purpose (Description): The `kn-plugin-func` project was originally conceived as its own standalone CLI as well as a Go library. Its continued evolution has maintained this separation quite cleanly as `func` moved to knative-sandbox and became `kn-plugin-func`. We would like to formalize the separation of concerns, by extracting the Go library

[2021-11-17 08:35] rhuss commented on #746
+1 to keep only those task in the roadmap that are in the focus for the next time and that can be actually worked on.

Actually, for planning, I'd love to have an extra column "Proposed" for the planning session. So people do preselection of features that they want to see on the roadmap prior to the roadmap session. Then, we discuss those and move some of them to the "In Design" column (we called

[2021-11-18 16:36] nainaz commented on #827
I would like to see us defining such maintenance mode too.
But, I am probably not seeing the implications for such action.

For example: Knative enters maintenance mode with Kubernetes

[2021-11-18 17:42] travis-minke-sap commented on #696
Organization/Company: SAP
Project/Product Name: SAP Event Mesh
Website: https://help.sap.com/viewer/product/SAP_EM/Cloud/en-US
Country: Germany
Contact: Technical: david.odom@sap.com, Product Management: balakrishna.gottipati@sap.com, Knative: travis.minke@sap.com
Usage scenario: SAP Event Mesh is a fully managed cloud service that allows applications to communicate through asynchronous CloudEvent

[2021-11-25 15:51] #827 closed

[2021-12-01 16:47] aslom opened #854 "URL broken for Knative working group(community/contributing/working-groups/WORKING-GROUPS.md)"
something went wrong and now web page is double
https://knative.dev/community/contributing/working-groups/working-groups/
should be
https://knative.dev/community/contributing/working-groups/

[2021-12-02 16:56] kvmware commented on #746
Capturing some points from TOC meeting that might already be expressed in the above but repeating for my sake here. Icebox is for items that don't have owners and/or designs and is more of a wishlist. The ready-to-work column is for work that has owners or has a flushed out design and would like to be picked up? All this once flushed out should be in a markdown file in community/mechanics repo.

[2021-12-02 17:39] evankanderson commented on #746
The **Ready To Work** column is for:

The idea is that there's a nebulous / precise feature request, but it may require some amount of planning or design (and consensus) that needs to be done before code starts to be committed. For a small, clear feature, it might flow from "Icebox" --> "Ready To Work" directly, whereas a large feature might spend a while on "In Design" with a Feature Track docume

[2021-12-02 17:52] vaikas opened #858 "Support CNCF onboarding"
This is the umbrella issue for tying together any work that Steering Committee needs to do to support the donation process. More details to come later.

[2021-12-02 18:37] evankanderson commented on #746
This is interesting -- I think this depends on your frame of reference. If you're an end-user looking forward to "In Progress" items, then having things flow RTL into "stuff I'm paying attention to / using" may make sense. If you're a feature looking at "when do I get released", then there's a LTR flow through the stages of "collection", "design", "execution" (possibly sitting in the "Ready To Wor

[2021-12-02 19:00] #746 closed

[2021-12-03 11:07] julz commented on #588
this is struggling to get near the top of my todo list at the moment, @csantanapr if you're interested please take it :)

[2021-12-03 13:01] markusthoemmes commented on #203
I'll close this as it hasn't become an issue at all. The only offender is still Cobra and that's tracked in the client repository. Whenever something creeps up, we'll have to make a conscious choice in disabling the linting, so I'd say that's good enough.

[2021-12-03 13:01] #203 closed

[2021-12-03 17:38] csantanapr commented on #588
@pmbanugo is interested on joining as an ambassador for knative 🎉

[2021-12-03 17:38] csantanapr commented on #588
/assign

[2021-12-06 11:29] julz commented on #588
/unassign

[2021-12-06 22:06] evankanderson opened #864 "Fill out CNCF Due Diligence document"
https://docs.google.com/document/d/1qPMyIBZ1tBk6WpEMPuLtTrjA6lvbrQ7DvCZb22S0llo/edit#

See ​​https://github.com/cncf/toc/pull/762 for the CNCF side of this

[2021-12-06 22:17] evankanderson commented on #448
We need to figure out the plan here; my naive assumption is that this was simply a password associated with the GitHub user named `knative-prow-robot`. I think we need to figure out some way to escrow these credentials and figure out who has access to that secret.

[2021-12-06 22:17] evankanderson commented on #448
(There's also a published email for this account, but that should be possible to change.)

[2021-12-06 22:23] evankanderson commented on #448
There are some other robots that we could probably remove from the org: `google-prow-robot`, `k8s-ci-robot`.

[2021-12-06 22:28] evankanderson commented on #443
We'll need to move `knative-users` and `knative-dev` to `@knative.team` to enable API access to these groups.

[2021-12-06 22:47] evankanderson commented on #858
Related issue #864 (one of the items of support)

[2021-12-06 22:54] csantanapr commented on #490
This is resolved now with final PR https://github.com/knative/community/pull/859
/close

[2021-12-06 22:54] #490 closed

[2021-12-06 23:14] chizhg commented on #443
We can probably still have different groups for different level of access? Such as:
- `knative-users` is for the users, and will only be granted limited view access
- `knative-dev` is for the developers, and will be granted full view access and _some_ editor access
- `knative-admin` is for the admins, and will be granted full access

[2021-12-08 19:05] csantanapr opened #867 "Foster Google Summer of Code (GSOC) 2022 for Knative"
Steering to work with the community to promote, encourage, support GSOC 2022 for Knative

/assign

[2021-12-08 19:15] csantanapr commented on #867
Started a [thread on Slack](https://knative.slack.com/archives/CU9DGL4FM/p1638504865072100) to see if there are interested folks on participating as mentors or admins

@evankanderson gave good feedback on proposals to be submitted to TOC to get reviewed to see if the proposal is a good thing to work on or not, or provide enhancements to the proposal

@aliok volunteer to be an admin and to register

[2021-12-08 19:21] csantanapr commented on #588
The next step is for me to write a google doc proposal on how the program going to work for steering to review and approve.

I'm thinking the ambassador program should be bootstrapped with a few members already selected and not empty, folks that already do the work today folks like @salaboy and @pmbanugo that writing a knative books, doing presentations or blogs already about knative.

[2021-12-08 19:24] csantanapr commented on #588
We will also need admins for the program, I'm thinking folks like @xtreme-sameer-vohra would be great for administrating the program. admin means a lot of fun things to grow the community :-)

[2021-12-08 20:10] aliok commented on #867
Please note that the [doc](https://docs.google.com/document/d/1IwQmwHS-50P3aKH0EZxThKZTZTszPLXSXYmC9K2Ofv4/edit#heading=h.3ni0yukqtknn) is not complete

[2021-12-08 20:35] aliok commented on #867
The document mentioned above is meant to give an idea to the TOC and the community about GSoC. What we are looking at, what we can accomplish, and such. It is not the idea collection document.

If the TOC is ok with participating in GSoC, then we can start reaching out to Knative community members and start gathering project ideas.

[2021-12-08 20:57] csantanapr commented on #867
Sounds good @aliok I added this issue to the backlog of Steering to discuss in the next meeting and if there is an agreement to move forward to gather ideas for projects, ask working group leads to propose ideas, and ask for mentors.
There might be people that have ideas and can't mentor a project, and there might be people that can mentor but not necessarily need to come up with the project idea.

[2021-12-08 21:01] csantanapr commented on #867
Also added this item to Steering agenda https://docs.google.com/document/d/16Rpd2nhmLWrkFJUfpJ31Ox2PpultJ-bYIhqaiWQff_I/edit?usp=sharing

[2021-12-09 16:50] evankanderson commented on #844
Should this go into `client-pkg`, or do we need another repo, like `func-pkg`?

It sounds like we don't want to pollute the dependencies of `client-pkg` with all the `func` stuff, so requesting a separate repo.

[2021-12-09 17:45] csantanapr commented on #309
/unassign @bsnchan

[2021-12-09 17:52] geekygirldawn commented on #309
As part of the move to the CNCF, Knative stats should become part of the regular [CNCF devstats](https://devstats.cncf.io/) instance, so this becomes less of an issue, I think. @jberkus probably knows more about the process for how / when the data will be populated in devstats.

[2021-12-09 18:08] salaboy commented on #588
I am all up for this, count me in

[2021-12-09 21:18] lance commented on #844
Link to Slack discussion https://knative.slack.com/archives/CUU6LEMRT/p1639076443212900

[2021-12-09 23:38] jberkus commented on #309
It'll get populated within a week of acceptance.  We'll need to, ourselves, audit company affiliations and send in a PR to bring them up to date.

Given that, let's close this issue.

/close

[2021-12-09 23:38] #309 closed

[2021-12-12 23:17] BlueOrigin commented on #696
I now realize why I've been getting unsolicited emails from Github about this Issue for the past half a year, despite having no clue what Knative is. My account is named BlueOrigin, with no intention to impersonate a certain high profile billionaire's rocket company. Github uses the '@' tag to 'Mention' other Github accounts and this comment used my username by accident, probably as a Twitter hand

[2021-12-13 06:21] chizhg commented on #186
Adding `kimsterv` also failed the peribolos CI job.

[2021-12-13 20:59] csantanapr commented on #696
Sorry about that @BlueOrigin I edited the comment

[2021-12-14 09:33] julz commented on #696
@BlueOrigin since you're still mentioned from this interaction even with the original comment edited, you might also want to click "unsubscribe" on the sidebar manually :)

<img width="430" alt="image" src="https://user-images.githubusercontent.com/354013/145971812-a479f659-c284-48da-8280-99f803918d19.png">

[2021-12-15 02:30] csantanapr commented on #613
The new git repo was created https://github.com/knative-sandbox/kn-plugin-func
/close

[2021-12-15 02:30] #613 closed

[2021-12-15 02:34] #414 closed

[2021-12-15 16:22] lehors opened #874 "OpenSSF: The Great MFA Distribution Project"
Hi! I work with the [Developer Best Practices Working Group](https://github.com/ossf/wg-best-practices-os-developers) of the Linux Foundation's Open Source Security Foundation (OpenSSF) ["Great Multi-Factor Authentication (MFA) Distribution Project"](https://github.com/ossf/great-mfa-project).

We'd like to give your project *free* MFA hardware tokens from Google and GitHub, for use by your mainta

[2021-12-16 15:31] rhuss commented on #844
As mentioned, I'd prefer a repo name like `func-pkg` to emphasize its usage as a library (and does not contain a "func" binary thing)

[2021-12-16 17:20] csantanapr opened #876 "Transfer COC ownership from TOC to Steering"
The COC currently states that TOC handles responsibility and enforcement.
https://github.com/knative/community/blob/main/CODE-OF-CONDUCT.md

In today's TOC meeting it was decided by TOC they want to transfer ownership to Steering

cc @knative/technical-oversight-committee

this issue is to update the COC document appropriately and review the email for reporting

/assign

[2021-12-16 17:51] vaikas commented on #864
Let's go ahead and divvy up the work, so some of these sections are clearly owned by, say Steering, by TOC, or something else. They seem to have some natural lines of division, but I think it would be good to assign them explicitly, so we can keep track of the "sub" work.

[2022-01-04 19:18] kobayashi opened #881 "Broken link to DOCS-CONTRIBUTING.md"
In the section [Contributing documentation](https://github.com/knative/community/blob/main/CONTRIBUTING.md#contributing-documentation), `DOCS-CONTRIBUTING.md` does not exist.

That can be replaced with [README.md in contribute-to-docs](https://github.com/knative/docs/blob/main/contribute-to-docs/README.md) now.

[2022-01-05 09:40] rhuss commented on #864
In the section "Architectural, design and feature overview" Serving and Eventing is described. Would it make sense to add an additional "Client" subsection or is this too small and we should add client aspects to the individual Serving and Eventing sections, respectively?

[2022-01-05 15:41] #881 closed

[2022-01-11 20:09] vaikas commented on #876
code-of-conduct@knative.team has been created and verified that it works.

[2022-01-12 22:45] evankanderson commented on #864
I think it would be fine to add the client if you want!

[2022-01-13 17:02] evankanderson commented on #667
/close

We've done this across major components and don't see a lot of value in doing a hard enforcement (presubmit) check.

[2022-01-13 17:18] rhuss commented on #874
@lehors thanks a lot for the offer, that is really a great offer !

sorry for the very delayed response (that got totally lost in the end-of-year hectics and then the PTO break), and now it's probably much too late ;-( I guess the offer is not valid anymore as we passed 2021-12-20 for some weeks, or?

[2022-01-13 21:08] csantanapr commented on #876
Thank you @vaikas

[2022-01-14 01:05] #876 closed

[2022-01-14 11:22] rhuss commented on #874
@lehors Thanks ! I just started to ask our maintainers (wg-leads and approvers), and will come back to you ASAP. It's possibly up to 5 Yubikeys, right ?

[2022-01-17 09:59] pierDipi opened #897 "WG leads should be able to trigger a dot release job"
Today, WG leads can't trigger a dot release job since
they don't have permissions.

Example error from trying to run a dot release job:

![image](https://user-images.githubusercontent.com/33736985/149741641-c7addc24-14dd-4350-8a92-da6c7f6f3b23.png)

In test infra, we documented how to [trigger a release manually](
https://github.com/knative/test-infra/blob/main/guides/manual_release.md)
but only K

[2022-01-18 07:30] rhuss commented on #897
+1 for allowing WG Leads to make a release right now and we can think about a more fine-grained authorization model to automatically allow WG leads to release when moving the jobs to the CNCF infrastructure. A drawback of adding WG leads to release leads is that for changes in the WG leads assignment a manual step to update the release leads is required (and must not be forgotten). An automatic sy

[2022-01-18 09:14] pierDipi commented on #897
(I don't have permissions to add this issue to the @knative/technical-oversight-committee board, I'd appreciate someone adding this to the https://github.com/orgs/knative/projects/9 project)

[2022-01-18 16:26] vaikas commented on #897
Done 👍

[2022-01-19 13:44] lehors commented on #874
@rhuss, I'm happy to confirm that it is still possible to get Yubikeys. We can probably even get you more than 5 although it couldn't possibly be hundreds either obviously! Just let me know how many you would like and I'll see what can be done.

[2022-01-19 15:15] rhuss commented on #874
Thanks! Just let me ping again the maintainer channels, haven't got any feedback yet ....

[2022-01-19 16:27] upodroid commented on #443
@chizhg Can you add kind/cncf-infra label to this issue?

It should be a prerequisite for https://github.com/knative/test-infra/issues/2976

I'll work on this next.

[2022-01-19 18:48] chizhg commented on #443
The label does not exist yet for this repo, I have created https://github.com/knative/test-infra/pull/3026 to add the label for the knative org.

[2022-01-19 22:35] chizhg commented on #443
/kind cncf-infra

[2022-01-19 22:36] chizhg commented on #443
@upodroid the label has been added for this issue.

[2022-01-20 16:02] rhuss opened #900 "PROCESS CHANGE: Make 2FA for Knative maintainers mandatory"
Thanks to the engagement of the [The Great MFA Distribution Project](https://github.com/ossf/great-mfa-project) (see also https://github.com/knative/community/issues/874) we are able to get free Yubikeys that can be used for [GitHub 2FA](https://docs.github.com/en/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication).

I propose t

[2022-01-20 16:50] rhuss commented on #900
FYI, Knative was listed as one of the [100 most critical GitHub projects](https://docs.google.com/spreadsheets/d/1sO_tJ_B7_2I-TUx23pnBoIRJIqaOm8yBnKAwqs7DwBw/edit#gid=0)

[2022-01-20 17:08] evankanderson commented on #897
@chizhg to link details for the ACL on running the dot-release jobs

In the short term, we can add the WG leads to the team that can kick off prow jobs, since prow jobs should generally be configured to DTRT and not accept input that subverts the job.

[2022-01-20 17:09] evankanderson commented on #897
/assign @dprotaso

[2022-01-20 17:09] evankanderson commented on #897
There is also an auto-release every Tuesday, so without a manual trigger releases will come out on Tuesday anyway.

[2022-01-20 17:13] evankanderson commented on #900
+1 from Evan, Dave, Scott

[2022-01-20 17:13] evankanderson commented on #900
+1 from Julz

[2022-01-20 17:14] csantanapr commented on #874
I would like to get a yubikey

[2022-01-20 17:16] evankanderson commented on #900
This is already enabled.

[2022-01-20 17:16] #900 closed

[2022-01-20 17:56] csantanapr commented on #864
/assign

[2022-01-21 09:27] rhuss commented on #897
Right, but I think it's ok to give WG-leads more control, especially when patch releases are most often about bug fixes which should be able to be delivered faster than with a one-week granularity.

[2022-01-26 20:30] chizhg commented on #186
There is another issue for adding `zhongduo`, the logs are at https://prow.knative.dev/view/gs/knative-prow/logs/post-knative-sandbox-peribolos/1486015970647478272

Error log is below:

[code]

While we are not entirely sure if they are caused by the same reason, adding them to one single issue for better tracking purpose.

[2022-01-27 13:46] pierDipi commented on #897
One more note to this issue, when a dot release job hasn't run yet, there isn't a button to trigger the job in the prow UI, so even TOC can't trigger the job anyway (unless I'm missing something).

![image](https://user-images.githubusercontent.com/33736985/151366949-5e6e68cd-d348-47f5-83a1-bdedac1cc68b.png)

Another option might be to run the periodic job every 2 days (like Monday, Wednesday, and

[2022-01-27 17:10] evankanderson commented on #864
This is pretty much done

/close

[2022-01-27 17:10] #864 closed

[2022-01-27 17:51] rhuss commented on #897
I think there is a trade-off for when to create a patch release when you want to integrate/backport multiple PRs before cutting a patch release. With one week schedule, the danger that the automatic release kicking in before you are reading with emerging everything to the release branch is smaller as when it runs more often. On the other, when done with integrating fixes, one would like to create

[2022-01-28 18:01] richterdavid opened #912 "PROCESS CHANGE: Integrate Scorecards V4 into Knative repos"
Proposed: Integrate the [OpenSSF Security Scorecards action](https://github.com/marketplace/actions/ossf-scorecard-action) into Knative repos.

Scope: github.com/knative/* and github.com/knative-sandbox/*
Exceptions: archived repos

Open question: what score does the Knative org aspire to, passing, silver or gold?

Benefits: Clarity on what needs to be done to reach best practices for secure OSS.

[2022-01-28 18:05] evankanderson opened #913 "PROCESS CHANGE: TOC should be able to approve OWNERS_ALIASES"
Once upon a time, we had individual `OWNERS` files scattered throughout our repos, with names in them and an occasional (unsynchronized) `OWNERS_ALIASES` file. Then we instituted Peribolos, which allowed us to standardize GitHub group management in a GitHub file. And we granted the TOC and Steering the ability to manage this file.

Later, we tried to make these groups work for approvals management

[2022-02-02 20:20] rhuss opened #917 "Clarifying end-user seat selection for the SC for future elections"
First of all, great to have an end-user seat in the SC which brings in a new vendor-independent perspective ! And welcome @itsmurugappan, great to have you on board !

However, I think there are some flaws in the process of end-user seat selection/election, which slipped through and I think should be fixed for the future (we did this the first time, so errors are kind of natural):

* In https://gi

[2022-02-02 23:23] csantanapr commented on #787
/assign

[2022-02-02 23:30] csantanapr commented on #913
+1 to give TOC ability to approve these `OWNERS_ALIASES` changes.

[2022-02-02 23:30] csantanapr commented on #913
@pmorie @itsmurugappan @vaikas @thisisnotapril @lance please +1 or -1 on this proposal

[2022-02-02 23:56] csantanapr commented on #917
Thanks for opening this @rhuss I added to the SC agenda and project backlog.

I agree we need to update SC.md to make it clear.

About selecting the end user seat we have it documented in the election [doc](https://github.com/knative/community/blob/main/elections/2021-SC-EU/README.md#background)
In 2021 we introduced one end user seat to bring more diversity into the SC representation **which is t

[2022-02-03 00:37] devguyio commented on #917
I believe the main value behind the differentiation between vendors  & end users is the acknowledgment of the power difference between both. A vendor is someone with more power and influence on the Knative project, whether they're directly monetizing Knative or consuming Knative and monetizing a product on top of it, if they've strong contributions to the project, if they've approvers, wg leads, T

[2022-02-03 01:40] csantanapr commented on #854
both urls point to https://knative.dev/docs/community/

/close

[2022-02-03 01:40] #854 closed

[2022-02-03 02:38] csantanapr commented on #917
This time around we barely got candidates, only 2 applied. I think we are going to have a harder time getting all the end-users companies to send one person to represent their company to vote for an end-user. I guess this is something we can try for the next round but if there is no participation on voters per company or a tie then steering decides who is the elected person.

I was looking at how

[2022-02-03 05:39] evankanderson commented on #817
Fixed in https://github.com/knative/docs/pull/4544 (or earlier)

/close

[2022-02-03 05:39] #817 closed

[2022-02-03 07:01] rhuss commented on #917
Another possible issue could be also that with the end-user seat included we have an even number of SC seats (6), which might it be impossible to get a quorum for difficult decisions.

[2022-02-03 12:31] csantanapr commented on #917
The even (6) seat is temporary, April only staid to help drive the donation and the CNCF acceptance.

[2022-02-03 12:35] csantanapr commented on #917
If we want to follow the t, we could update sc.md to point the seat for April from google in temporary if there is any problem reaching quorum we will call out an out arbitrator like person with CTO title for CNCF which today is Chris Aniszczyk

[2022-02-03 14:54] csantanapr commented on #867
/open
This was closed by prow bot, we want to keep this issue open to track progress on GSOC and centralize any discussions on the program

[2022-02-03 14:55] csantanapr commented on #867
we are going to participate this year in GSOC and we are going to apply under the CNCF org. Carlos and Ali Ok are the focal points and had a conversation with Chris Aniszczyk and Ihor Dvoretskyi and they recommend we apply with the CNCF org. [here](https://github.com/cncf/mentoring/blob/main/summerofcode/2021.md) are the projects from last year and Knative would wave 🏄  into the list of projects t

[2022-02-03 17:42] #913 closed

[2022-02-03 18:07] csantanapr commented on #787
/assign @thisisnotapril

@thisisnotapril will take the slide deck as input and send to a design agency to create the final flyer report pdf using the [theme from last year](https://github.com/knative/community/blob/main/annual_reports/Knative%202020%20Annual%20Report.pdf)

[2022-02-04 05:35] csantanapr commented on #917
I was able to find that CNCF has end user seats appointed and they have a definition on end user company vs none end user company. We should take similar path for knative

https://github.com/cncf/toc/blob/main/FAQ.md#what-is-the-definition-of-an-end-user

[2022-02-04 15:56] upodroid opened #921 "PROCESS CHANGE: Cleanup stale users and email addresses in groups from GSuite"
Once https://github.com/knative/community/pull/905 is merged, we will need to cleanup stale users and email addresses from GSuite.

/kind cncf-infra

[2022-02-04 15:57] upodroid commented on #921
/kind cncf-infra

[2022-02-09 18:34] rhuss commented on #874
@lehors I guess, we were just too late. If there is still a possibility to get a Yubikey, please let me know (see above). Otherwise, I would close this issue.

Apologies again for the delayed replies over the end of the year.

[2022-02-09 20:15] lehors commented on #874
@rhuss I don't how but I somehow missed the previous notification and I apologize for that but the good news is that it's not too late for you guys to get tokens. I'll send you a direct email so we can finalize this.

[2022-02-10 16:54] rhuss commented on #874
Thanks ! As I've sent you the mail addresses, so I think we are good to close this issue now.

Thanks again for your support !

/close

[2022-02-10 16:54] #874 closed

[2022-02-10 16:58] evankanderson commented on #88
/close

Dup of #786

[2022-02-10 16:58] #88 closed

[2022-02-10 18:28] lionelvillard opened #923 "Folding the Sources WG into the Eventing WG"
Mostly due to the lack of activities specific to sources I propose to move all Sources WG responsibilities back to the eventing WG.

- [x] #943
- [x] #944

Action Items:
- [x] Audit the OWNERS files to use `eventing-writers` instead of `source-wg-leads` (so far I couldn't find any instances of it)
- [x] Update the sponsoring WG in the top-level README in each source repo.
- [x] Update the communit

[2022-02-11 00:24] #383 closed

[2022-02-11 18:34] carlisia opened #925 "PROCESS CHANGE: Guidance for improved repo structure + centralize/update common files"
Collaborators: @nainaz @aslom

Initial doc for this effort: [[PUBLIC] Improve Knative Docs for New Contributors - Google Docs](https://docs.google.com/document/d/1mFY2QdXUvhCORyVkhJtBOqWeYGOIxmJ-ltSPXWZRU3E/edit#heading=h.9pt7qa7d30fo)

Related: https://github.com/knative/docs/issues/4538. How is this issue different?
This issue proposes pretty much only a restructuring and pruning of what we alre

[2022-02-11 19:53] carlisia commented on #681
Related: https://github.com/knative/community/issues/925.

[2022-02-11 20:05] carlisia commented on #925
/assign @evankanderson

[2022-02-12 13:16] evankanderson commented on #925
Happy to review/approve PRs; I'd suggest reordering the first and second items so we have a clear declared state, and then we anneal the actual repo states towards the desired state.

[2022-02-14 22:20] csantanapr commented on #917
Steering met on [Feb 10th](https://docs.google.com/document/d/16Rpd2nhmLWrkFJUfpJ31Ox2PpultJ-bYIhqaiWQff_I) and discuss this issue.
There were three action items to address this issue.
The PR #926 covers two of them.

[2022-02-17 16:36] dprotaso commented on #923
+1

[2022-02-17 16:37] rhuss commented on #923
+1

[2022-02-17 16:37] dprotaso commented on #923
You'll want to update peribolos as well

[2022-02-17 17:41] csantanapr commented on #917
/assign

[2022-02-23 16:48] aslom commented on #925
@carlisia @evankanderson @nainaz let start with one project to see how those change work when applied? I can propose to start with one of eventing github projects after asking eventing WG?

[2022-02-23 17:06] kvmware opened #932 "New Repo: Infra"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative

Repo: Infra

Purpose (Description):
We discussed in Productivity WG meeting about splitting out the configs and other non-go related things to a new repo which would make more sense for new contributors and a landing spot for Productivity in ge

[2022-02-23 18:34] #443 closed

[2022-02-24 17:10] rhuss commented on #932
+1 from the TOC for moving things forward.

Alternative would be:

* Move out tools to dedicated repos from test-infra and keep configs in test-infra (but that is much more work at the beginning).

[2022-03-01 00:14] chizhg commented on #786
The proposal has already been approved as Knative is going to be donated to CNCF. The sections in the [Knative test infrastructure 1.0proposal](https://docs.google.com/document/d/1U6wybYjCslEhsKOiennrwhoKZmSVnd1NGbFI8gnnnOg/edit) have been broken down into separate issues, which are now being tracked in https://github.com/orgs/knative/projects/40/views/11. We are actively working on these issues,

[2022-03-01 00:14] #786 closed

[2022-03-01 15:39] lance opened #935 "New Repo: func-templates"
## Repo information

Org: knative-sandbox

Repo: func-templates

Purpose (Description): Provide a set of example templates for the `func` CLI by moving the [boson-project repo](https://github.com/boson-project/templates) or [Salaboy's template repo](https://github.com/salaboy/func-templates) to knative-sandbox, or by creating a new repository with some intersection of the two (the repo history for

[2022-03-02 00:42] dgeorgievski opened #936 "Hello World - Rust(community/samples/serving/helloworld-rust/index.md)"
Under step 4. `Create a new file, service.yaml ...` of Rust Serving example
https://knative-v1.netlify.app/community/samples/serving/helloworld-rust/

the following knative service has two syntax indentation errors at containers and env value.
[code]

The correct format should be
[code]

[2022-03-02 11:39] csantanapr commented on #935
The link to “Salaboy's template repo” is wrong https://github.com/boson-project/templates

[2022-03-02 11:40] csantanapr commented on #935
This repo is empty right now
https://github.com/boson-project/templates

[2022-03-02 13:14] lance commented on #935
Fixed: https://github.com/salaboy/func-templates

[2022-03-02 23:14] csantanapr opened #938 "Submit a Pull request to add your project as a sandbox project to https://landscape.cncf.io"
Action Item from https://github.com/cncf/toc/issues/794

[2022-03-02 23:26] csantanapr commented on #938
PR opened https://github.com/cncf/landscape/pull/2504

[2022-03-03 13:38] csantanapr commented on #938
Second PR open to update crunchbase and description https://github.com/cncf/landscape/pull/2505

[2022-03-03 17:12] evankanderson commented on #791
Do we need to do something to move this along?

[2022-03-03 17:44] vaikas commented on #938
@csantanapr can we close this issue now? looks like both PRs have been merged.

[2022-03-03 17:48] vaikas opened #941 "Investigate alternative options for using Slack."
From time to time there has been questions about if we should be using Slack after the CNCF donation.

This issue tracks the alternatives considered and folks can look here and do their own due diligence as well.

[2022-03-03 18:06] vaikas commented on #90
Today (2022-03-03) during the Steering Meeting we discussed switching over to the DCO. As part of the CNCF onboarding, we need to decide on which one we are using. Steering is leaning towards using DCO for a few reasons. Here's two main reasons for switching to DCO:
 * Self-service aspect. When DCO fails, the user can by looking at the error message get the cut&paste commands to fix it themselves

[2022-03-03 19:34] rgregg commented on #90
It's exciting to see progress on this front and moving towards a better solution here!

[2022-03-03 20:36] pmorie commented on #90
Here is how I see the scope of choice here:

- First, and above all else, I think we should be optimizing for ease of contribution / lowest coefficient of friction in making the first PR, for the highest percentage of potential contributors
- I believe it is fair to say there is no perfect choice that will be equally usable by every potential contributor
- I believe it is also fair to say that the

[2022-03-03 20:38] lance commented on #941
Do we know what the CNCF requirements are regarding the use of other collaboration tools? I was looking at the onboarding issue [here](https://github.com/cncf/toc/issues/794) and one of the checkboxes is this.

[2022-03-03 21:21] lance commented on #90
Only a single data point, but I for one have not. I do contribute to and maintain CNCF projects that use DCO. I _have_ signed the Google CLA as an individual contributor, however.

I believe that the CLA / DCO requirement applies to each project. I could be mistaken, but as I understand it, there is not a blanket  CLA for all CNCF projects. So there is no scenario where users have zero friction. I

[2022-03-03 22:10] evankanderson commented on #791
It looks like this is done now. I see 84 PRs committed, including those from `knobots`, so I think all the steps are done.

/close

[2022-03-03 22:13] pmorie commented on #90
I believe there is one and only one. Let’s find out for sure.

[2022-03-04 04:52] lance commented on #90
If this is the case, then it does reduce friction, IMO.

[2022-03-04 05:05] csantanapr commented on #938
yes @vaikas
/close

[2022-03-04 05:05] #938 closed

[2022-03-04 06:28] n3wscott commented on #90
There is also this: https://easycla.lfx.linuxfoundation.org/

[2022-03-04 14:38] lance commented on #90
I wrote

Scott wrote

It looks like EasyCLA will allow us to have one CLA covering all repos, based on my reading of this.

This is not the same as a blanket CNCF CLA (I am skeptical about that even being a thing), but it is "once and done" for ALL Knative repos, which is appealing.

[2022-03-08 11:25] rhuss commented on #923
@lionelvillard

Do you have an example of such an entry ? Also, do you have a list of repos to check ? (this is not evident from the repository names alone).

[2022-03-09 18:45] lionelvillard commented on #923
I found at least one: https://github.com/knative-sandbox/eventing-gitlab. I'm fixing it.

[2022-03-10 16:30] csantanapr commented on #858
We now have to work on incubation onboarding tasks  from this issue https://github.com/cncf/toc/issues/794

[2022-03-10 16:45] csantanapr opened #945 "Create maintainer list + add to aggregated https://maintainers.cncf.io list"
Add Knative maintainers for CNCF

Tasks:
- [x] Create maintainer list + add to aggregated https://maintainers.cncf.io list
- [x] Provide emails for the maintainers added to https://maintainers.cncf.io/ in order to get access to the maintainers mailing list and ServiceDesk

Related to https://github.com/cncf/toc/issues/794

[2022-03-10 16:47] csantanapr opened #946 "Have added your project to https://github.com/cncf/contribute"
Have added your project to https://github.com/cncf/contribute

[2022-03-10 16:49] csantanapr opened #947 "Artwork: Submit a pull request to https://github.com/cncf/artwork with your artwork"
Artwork: Submit a pull request to https://github.com/cncf/artwork with your artwork

Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 16:51] csantanapr commented on #945
I proposed we start with Steering and TOC members to have access to the service desk.

[2022-03-10 16:51] dprotaso commented on #412
I'm going to close this out as there hasn't been much discussion/action here

[2022-03-10 16:51] #412 closed

[2022-03-10 16:53] dprotaso commented on #412
Secondly, we haven't had requests to adopt any newer features

[2022-03-10 16:53] csantanapr opened #948 "Trademarks: transfer any trademark name "knative" assets over to the LF"
Trademarks: transfer any trademark name "knative" assets over to the LF

Only the "knative" name is registered as trademark. I was not able to find that logo was registered
https://tsdr.uspto.gov/#caseNumber=88044625&caseType=SERIAL_NO&searchType=statusSearch

Related https://github.com/cncf/toc/issues/794

[2022-03-10 16:58] dprotaso opened #949 "New Repo: knative/actions"
## Repo information

Org: knative

Repo: actions

Purpose (Description): We want to move re-usable actions and workflows into a single repo

Sponsoring WG: Productivity

## Actions to fulfill

This area is used to track the [repo creation process](https://github.com/knative/community/blob/main/mechanics/CREATING-A-SANDBOX-REPO.md).
The _requestor_ and _sponsoring WG lead_ should perform the steps

[2022-03-10 17:01] evankanderson commented on #935
+1 to a repo of this intent, naming up to you

[2022-03-10 17:01] dprotaso commented on #935
+1

[2022-03-10 17:01] rhuss commented on #935
+1

[2022-03-10 17:02] csantanapr commented on #948
I asked in Slack but have not seeing a response

@spencerdillard  @thisisnotapril
**Did Google registered the knative logo?**

I was only able to find the word “KNATIVE” nothing about the logo
Here is the report and only includes the characters nothing about colors shapes or logos
https://tsdr.uspto.gov/#caseNumber=88044625&caseType=SERIAL_NO&searchType=statusSearch
I understand there is a design

[2022-03-10 17:06] evankanderson commented on #949
+1

A concern was raised about possibly colliding with a future idea of "Actions" in Knative, but it seems low risk to me

[2022-03-10 17:07] rhuss commented on #949
👍

[2022-03-10 17:18] csantanapr opened #950 "Review and Understand CNCF documents (services, guidelines, processes)"
- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction
- [x] Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- [x] Review the online programs guidelines: https://github.com/cncf/foundation/blob/master/online-programs-guidelines.md
- [x] Understand the trademark g

[2022-03-10 17:20] csantanapr commented on #950
I think reviewing and understanding should be completed but both @knative/steering-committee  and @knative/technical-oversight-committee

[2022-03-10 17:20] csantanapr opened #952 "Ensure your project meets the CNCF IP Policy"
Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy

Checklist of items

- [x] (a) Any project that is added to the CNCF must have ownership of its trademark and logo assets transferred to the Linux Foundation.
- [x] (b) Each project shall determine whether it will require use of an approved CNCF CLA. For projects that select to use

[2022-03-10 17:22] csantanapr opened #953 "Slack: Are your slack channels migrated to the Kubernetes or CNCF Slack? Or stay on your own Slack?"
Decide what are the next steps for Slack usage

Options:
- Stay with current Slack workspace Paid tier (today's state paid by Google)
- Stay with current Slack workspace Free tier
- Move to channel(s) to Kubernetes Slack
- Move to channel(s) to CNCF Slack

[2022-03-10 17:25] csantanapr commented on #950
Please @knative/steering-committee and @knative/technical-oversight-committee please comment on this Issue with `ack` when your are done reviewing and understanding all the documents

[2022-03-10 19:02] csantanapr commented on #858
@pmorie suggested that this issue is not contributing much now that we are accepted to CNCF

We are tracking the TODOs for onboarding using a github project https://github.com/orgs/knative/projects/39/views/1

/close

[2022-03-10 19:02] #858 closed

[2022-03-10 19:07] csantanapr commented on #948
/assign @spencerdillard

[2022-03-10 19:16] csantanapr commented on #950
/assign @csantanapr @vaikas @thisisnotapril @itsmurugappan @pmorie @evankanderson @dprotaso @rhuss @n3wscott

[2022-03-10 19:16] csantanapr commented on #950
/assign @lance

[2022-03-10 19:17] csantanapr commented on #90
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:17] csantanapr commented on #946
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:19] csantanapr commented on #947
knative logo files are located here https://github.com/knative/docs/tree/main/docs/images/logo

[2022-03-10 19:19] csantanapr commented on #950
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:19] csantanapr commented on #952
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:19] csantanapr commented on #953
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:22] csantanapr opened #954 "GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as org owners"
GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership

[2022-03-10 19:23] csantanapr commented on #954
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:24] csantanapr opened #955 "GitHub: ensure that the Knative COC are explicitly referenced at the each repo README on GitHub"
GitHub: ensure that hat the [CNCF Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct.md) (or your adopted version of it) are explicitly referenced at the project's README on GitHub

For now we are going to keep the [Knative COC](https://github.com/knative/community/blob/main/CODE-OF-CONDUCT.md) which each repo has a copy, the README on every repo needs to mentions the

[2022-03-10 19:26] csantanapr opened #956 "Website: ensure LF footer is there and website guidelines followed"

[2022-03-10 19:27] csantanapr opened #957 "Website: Analytics transferred to amye@linuxfoundation.org"
Website: Analytics transferred to amye@linuxfoundation.org

Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:29] csantanapr opened #958 "CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en"

[2022-03-10 19:29] csantanapr commented on #958
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:30] csantanapr commented on #950
Added
- ServiceDesk: confirm maintainers have read https://www.cncf.io/services-for-projects/

[2022-03-10 19:31] csantanapr opened #959 "Marketing: update relevant intro + slide decks"

[2022-03-10 19:36] csantanapr commented on #959
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:37] csantanapr opened #960 "CNCF Welcome Email Sent to confirm maintainer list access, welcome email has monthly project sync details"
CNCF Welcome Email Sent to confirm maintainer list access, welcome email has monthly project sync details

This issue can be close once we get the email and verify that no one is missing from the meeting invite for project sync with CNCF

Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:43] csantanapr opened #961 "Create space for meetings/events on https://community.cncf.io"
Create space for meetings/events on https://community.cncf.io/, e.g., https://community.cncf.io/pravega-community/ - (https://github.com/cncf/communitygroups/blob/main/README.md#cncf-projects)

This issue can be closed when we have a community page is up and we are able to schedule an event under the Knative community.

Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc

[2022-03-10 19:45] csantanapr opened #962 "Adopt a license scanning tool"
Adopt a license scanning tool, like FOSSA

Take into account this is a license-related scan.

This is something that needs to be done on all git repos across the two github orgs.

Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-10 19:54] csantanapr opened #963 "Work with the project to be added to https://store.cncf.io/"

[2022-03-10 20:11] thisisnotapril commented on #948
I'll check with the legal team; everything will get transferred over.

[2022-03-10 20:12] csantanapr opened #964 "Applied for security audit"
Applied for CNCF security audit

Having a security audit performed by CNCF contractor for Knative is a requirement for CNCF project graduation.

I was advised by @caniszczyk to go ahead and open a service ticket now, since there is a large backlog for the Security contractor

cc @evankanderson

[2022-03-11 00:05] thisisnotapril commented on #948
confirmed with lawyercats they will transfer everything over - so all good there. i will start that thread on Monday! (Fri is a Google holiday)

[2022-03-11 01:07] spencerdillard commented on #948
Thanks @thisisnotapril

[2022-03-11 11:28] csantanapr commented on #948
Thank you @thisisnotapril for the update

[2022-03-11 17:43] dprotaso commented on #949
PRs are out and repo is made - thanks all

[2022-03-11 17:43] #949 closed

[2022-03-11 19:25] csantanapr commented on #90
[I asked in the CNCF Slack `#easycla` channel about the CLA vs. DCO](https://cloud-native.slack.com/archives/CK8QVEXQB/p1647009131674769) here what I got back

- moving to easyCLA every current active contributor will be able to onboarded/seed them to initial people into the list, or everyone would need to interact with the tool to signed the new CLA?
    - Yes every current active contributor wil

[2022-03-14 02:40] itsmurugappan commented on #946
completed

[2022-03-14 02:40] #946 closed

[2022-03-14 02:40] itsmurugappan commented on #947
completed

[2022-03-14 02:40] #947 closed

[2022-03-14 22:01] n3wscott commented on #950
`ack`

[2022-03-14 22:09] chizhg opened #966 "Request access to 1 Password from CNCF"
As part of the CNCF donation, we'd like to share the secret key for a few GitHub bot accounts (currently owned by Google) with the Knative community, and the issue is tracked at https://github.com/knative/test-infra/issues/2987

Based on the discussions in https://knative.slack.com/archives/CU9DGL4FM/p1645164373229969, we'll want to use `1 Password` to manage these secrets. This issue is for track

[2022-03-15 16:07] csantanapr commented on #945
I'm in the process of collecting the emails of maintainers for service desk access

[2022-03-15 16:11] csantanapr commented on #956
@gabo1208 Is this something you can work on to add to the website footer?

[2022-03-15 16:44] gabo1208 commented on #956
Sure, but is not clear to me what does this mean exactly. Where are the details?

[2022-03-15 17:48] csantanapr commented on #956
Hi @gabo1208 I don’t have the details could ask Amey on the parent issue [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-15 17:51] csantanapr commented on #956
I’m guessing statement that the project is a CNCF incubating project

like
grpc https://grpc.io/
falco https://grpc.io/

[2022-03-15 17:55] csantanapr commented on #956
Cloudevents has a copyright and trademark statement

https://cloudevents.io/

[2022-03-15 17:57] csantanapr commented on #956
Fluxcd has a simple statement like Falco https://fluxcd.io/

[2022-03-15 19:29] lance opened #968 "PROCESS CHANGE: CoC violations reporting and enforcement improvements/clarifications"
Users currently have the ability to report Code of Conduct violations and concerns to code-of-conduct@knative.team. This is documented in https://github.com/knative/community/blob/main/CODE-OF-CONDUCT.md#enforcement. It should be stated clearly who is behind that email address (it is the @knative/steering-committee). In addition, there should be a mechanism to report Code of Conduct violations by

[2022-03-16 08:43] rhuss commented on #955
@csantanapr I can pick up that task. To confirm, I would perform the following changes:

* For each repo in Knative and Knative Sandbox:
   - Add a reference to the CNCF Code of Conduct in every README (wording proposal see below)
   - Remove `CODE-OF-CONDUCT.md` from every repo

For the wording I would choose:

[code]

and append to the end of each README.md

Funnily, Kubernetes and Prometheus do

[2022-03-16 08:44] rhuss commented on #955
We could also use a bit more expanded content like in

[code]

[2022-03-16 09:11] rhuss commented on #941
Looking at the number of channels that we have in the Knative slack (59) compared to the overall number of channels in the CNCF slack (760) a simple migration would probably not be good enough but we also would have to consolidate and boil it down to a handful (5-10) channels only. Prometheus for example has 5 channels at the CNCF slack. This e.g. would also affect e.g. our release process where w

[2022-03-16 10:34] rhuss commented on #936
https://knative-v1.netlify.app/community/samples/serving/helloworld-rust/ is outdated (@knative/docs-writers do you know why this site is still alive ?), the current set of code examples can be found at https://knative.dev/docs/samples/serving/

It looks like the Rust example didn't make it to the helloworld samples. @knative/docs-writers do we know why Rust was removed from the hello world exampl

[2022-03-16 10:37] rhuss commented on #953
See also #941 for another discussion. I think we should merge both issues.

As mentioned over there in Knative slack we have ~ 60 channels, which is quite a bit for any other target slack host (CNCF/Kubernetes). So we might consider also moving to another chat system like Discord. Alternatively, we could also consolidate our Slack usage so that we can live with fewer channels.

[2022-03-16 10:44] rhuss commented on #953
Ah, just checked some other Slack installations, some of them have >2k channels, so the number of channels might not be an issue if we agree on a common `knative-` suffix for the channel names. However we should talk with those Slack admins that we arrive with 60+ channels ;-)

[2022-03-16 13:42] abrennan89 commented on #936
@knative/docs-wg-leads

[2022-03-16 15:44] lance commented on #950
`ack`

[2022-03-17 15:04] csantanapr commented on #945
Sent the emails for maintainers to Amey

[2022-03-17 16:11] evankanderson commented on #955
/assign @rhuss

[2022-03-17 16:12] evankanderson commented on #897
I think we agree with this in principle, and are waiting for the CNCF infrastructure migration move to complete this.

[2022-03-17 16:18] csantanapr commented on #950
Reminder for folks that have not finished, including myself 😄

[2022-03-17 16:54] lance opened #970 "PROCESS CHANGE: the LICENSE file should include an SPDX license identifier and be an approved CNCF license"
The `LICENSE` file for this repository does not include an SPDX identifier. See: https://api.github.com/repos/knative/community

[code]

The `LICENSE` file includes two licenses. For the documentation, there is the "Creative Commons Attribution 4.0 International" license. For samples and other code, the "Apache 2.0" license is included. Per the CNCF, the Creative Commons license is, unfortunately,

[2022-03-17 18:13] rhuss commented on #950
`ack`

Following the license allow list in https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md#approved-licenses-for-allowlist , do we have already a check for our third-party dependencies that we do not include a dependency with a license that is not on the list?

[2022-03-17 19:35] dprotaso commented on #950
ack reading the material

[2022-03-17 19:36] dprotaso commented on #950
re: licenses

As part of the service desk we can request to use a tool FOSSA (https://fossa.com/product/open-source-license-compliance) that should help us be compliant

[2022-03-19 01:03] csantanapr commented on #950
ack

[2022-03-20 00:33] itsmurugappan commented on #950
ack

[2022-03-20 09:03] sisp opened #1118 "Logo colors don't conform with style guide"
The colors of the logos in https://github.com/knative/docs/tree/main/docs/images/logo don't conform with the color codes specified in the style guide. For instance, in `rgb/knative-logo-rgb.png`:

- Dark blue: `#0366ad` but should be `#0865ad`
- Light blue: `#6593c8` but should be `#6695ca`

All images should be updated to conform with the color in the style guide.

[2022-03-20 09:12] sisp opened #974 "Icons don't conform with style guide"
The colors of the `kn-*.svg` icons in https://github.com/knative/community/tree/main/icons don't conform with the color codes specified in the style guide. I assume the brand color in those images is supposed to be "light blue", so instead of `#6594cb` it should be `#6695ca`.