[2022-03-21 09:29] rhuss commented on #955
PR has been sent out to all non-archived repositories of `knative` and `knative-sandbox`, to point their CODE-OF-CONDUCT.md to the knative/community's code of conduct. This code of conduct will then point to the CNCF code of conduct.

Now it's up to get those 70+ PRs merged ;-) (we have surprisingly many repositories these days, and even with all the automation we have I still wonder whether a mor

[2022-03-21 09:42] rhuss commented on #955
For reference purpose, here's the script to create the PR's across all repositories:

<details>
<summary>Script for creating PR's across all Knative / Knative-Sandbox repos</summary>

[code]
</details>

[2022-03-21 18:41] #955 closed

[2022-03-22 00:50] csantanapr commented on #950
@vaikas said in Slack he read the docs

[2022-03-22 00:52] csantanapr commented on #950
@evankanderson said in Slack he read the docs

[2022-03-22 16:57] evankanderson commented on #950
ack

(I think I missed the comment update to say that here)

[2022-03-22 16:59] evankanderson commented on #950
I believe we're currently using https://github.com/google/go-licenses to enforce that we don't pick up unwanted licenses.

[2022-03-24 15:18] pmorie commented on #950
`ack`

[2022-03-24 16:41] vaikas commented on #970
Previous discussion here:
https://github.com/knative/community/issues/517

[2022-03-24 16:56] vaikas commented on #90
Unless something else comes up, we're going to finalize the switch to EasyCLA next Thursday: 2022-03-31.

Speak up if you have grave concerns or additions to the great discussion of pros/cons above.

[2022-03-24 17:48] jberkus commented on #970
Please file a ticket with the CNCF.  This is their technical issue to fix.

[2022-03-24 18:16] lance commented on #970
@vaikas regarding the SPDX ID, the CloudEvents org handles this by having the full LICENSE file in the root of the repo, and each file within the repo simply contains the SPDX ID.

[2022-03-24 18:19] dprotaso commented on #970
Sorta related can we now drop the license header in our code in favour of spdx identifiers?

[2022-03-24 18:54] csantanapr commented on #787
@vaikas here are the slides to make them into a report pdf
https://docs.google.com/presentation/d/1eWf1mgrBzErcFJD-M6WDFrUGIvHsX26Uf-9-CmNEcyo/edit?usp=sharing

[2022-03-24 18:54] lance commented on #970
@dprotaso I think it's fine - that's what the cloudevents repos do and they are also governed by cncf

[2022-03-29 02:49] csantanapr commented on #309
FYI: With Knative moved to CNCF stats are located here https://knative.devstats.cncf.io/

[2022-03-29 02:53] csantanapr commented on #945
The two items are done now
Knative no in this file:
https://github.com/cncf/foundation/blob/main/project-maintainers.csv

Emails sent

[2022-03-29 02:53] #945 closed

[2022-03-29 02:56] csantanapr commented on #950
Everyone from Steering and TOC have review, and understand the documents

[2022-03-29 02:56] #950 closed

[2022-03-29 02:59] csantanapr commented on #952
/assign

[2022-03-29 03:00] csantanapr commented on #952
(a) Any project that is added to the CNCF must have ownership of its trademark and logo assets transferred to the Linux Foundation.

This depends on trademark being transferred tracking in https://github.com/knative/community/issues/948

[2022-03-29 03:00] csantanapr commented on #952
(b) Each project shall determine whether it will require use of an approved CNCF CLA. For projects that select to use a CLA, all code contributors will undertake the obligations set forth in the Apache contributor license agreement(s), altered only as necessary to identify CNCF as the recipient of the contributions, and which shall be approved by the Governance Board. See CNCF Contributor License

[2022-03-29 03:01] csantanapr commented on #952
(d) All outbound code will be made available under the Apache License, Version 2.0.

This can be marked done all the repos license is Apache-2

[2022-03-29 03:02] csantanapr commented on #952
All projects evaluated for inclusion in the CNCF shall be completely licensed under an OSI-approved open source license. If the license for a project included in CNCF is not Apache License, Version 2.0, approval of the Governing Board shall be required.

Is my understanding that the current set of licenses is clean as of today.

[2022-03-29 03:03] csantanapr commented on #952
We don't have current issues today with this one
(g) If an alternative inbound or outbound license is required for compliance with the license for a leveraged open source project or is otherwise required to achieve the CNCF’s mission, the Governing Board may approve the use of an alternative license for inbound or outbound contributions on an exception basis.

[2022-03-29 03:04] csantanapr commented on #952
(f) All documentation will be received and made available by the CNCF under the Creative Commons Attribution 4.0 International License.

We need to update the website repo to be dual license, any code should be under Apache-2 and any website rendered content under creative commons

[2022-03-29 03:12] csantanapr commented on #952
I open an issue in docs repo to add the CC license for website https://github.com/knative/docs/issues/4878

[2022-03-29 03:13] csantanapr commented on #947
logo files added here https://github.com/cncf/artwork/tree/master/projects/knative

[2022-03-29 03:19] csantanapr commented on #955
Thank you @rhuss for helping with this :tad

[2022-03-29 03:20] csantanapr commented on #955
I like the outcome @rhuss the short sentence with link to COC, and not link in README

[2022-03-29 03:22] csantanapr commented on #954
bump @evankanderson

[2022-03-29 03:25] csantanapr commented on #964
@evankanderson Do you have access now with your knative.team email to service desk?
This will allow you to open a ticket requesting the security audit for knative, this would put us in the queue of a few months to be done.

[2022-03-29 03:37] csantanapr commented on #957
Added amey email as admin to Google analytics

[2022-03-29 03:37] #957 closed

[2022-03-29 03:38] csantanapr commented on #963
bump @itsmurugappan

[2022-03-29 20:24] evankanderson commented on #963
At a minimum:

* Stickers
* Socks?
* T-Shirt

[2022-03-29 20:27] evankanderson commented on #964
Created: https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1174?created=true

[2022-03-29 22:18] itsmurugappan commented on #963
i have raised a request with cncf service desk

[2022-03-29 22:34] thisisnotapril commented on #948
Confirming this has been done - agreement signed and counter-signed by Google and LF.

[2022-03-29 22:34] #948 closed

[2022-03-30 02:05] #954 closed

[2022-03-30 02:06] csantanapr commented on #963
Socks are the most important swag, they are trending 😀

[2022-03-30 13:02] csantanapr opened #984 "Move Knative meetup from Google to Knative Community"
Currently, the Google Open Source Software office staff helps schedule, book presenters, and run the meetup on a monthly basis.
Google wants to transition this to be handle now by the Knative community under the CNCF

[2022-03-30 15:36] csantanapr commented on #984
We have a new zoom account we can share the account username/password with Greg when he is ready to run the first meetup

[2022-03-30 15:37] csantanapr commented on #984
@macruzbar As part of this issue can we transfer the youtube channel https://www.youtube.com/c/KnativeProject from Google to Knative Community?

Don't know if this is just a matter of adding a few folks from SC and TOC as admins of the channel.

[2022-03-30 15:40] csantanapr opened #986 "Request zoom account from cncf"
@lance already requested the zoom account to cncf, we got the account so the only thing missing is 1Password instance to store the credentials

[2022-03-30 15:41] csantanapr opened #987 "Request 1Password account from cncf"
In Knative we have a few secrets/credentials that need to be managed by the team, some examples:

- Zoom account
- Github Bot Access Token
- Katacoda

We are under the understanding that CNCF can get us a 1Password account we can use as a team.

[2022-03-30 15:47] csantanapr commented on #970
This is the feedback from cncf

Monday 10:23 AM
In other repos we’ve seen a LICENSE file and a LICENSE-docs file which delineates what license applies to what. In addition, GitHub is working on being able to visualize when there’s more than one applicable license in the repo.
There are some conversations about requiring all files to have SPDX headers so the licenses are explicitly stated rather th

[2022-03-30 15:50] csantanapr commented on #987
/assign

[2022-03-30 15:51] csantanapr commented on #987
I opened a cncf service desk ticket today

[2022-03-30 20:02] kvmware commented on #932
Setup to a point where we can work from it. Thanks all

[2022-03-30 20:02] #932 closed

[2022-03-30 20:27] csantanapr commented on #959
If we have the cncf marketing engaged I would also ask for a short (~ 1 minute) animation video on what is Knative we can post on youtube and website

[2022-03-31 16:40] csantanapr commented on #787
Steering is going to publish the slides as PDF, create blog and send email to mailing list

[2022-03-31 20:32] csantanapr commented on #959
From Slack discussion by @evankanderson

What is Knative, what can I do with it?
What is Knative, how does it work (life of a request / event / revision walkthrough)
Maybe more detailed versions of 1 for Serving and Eventing covering best practices.
I’d probably start by prioritizing 1 and 2, which could each make for a sort of self-contained meetup slide deck for ambassadors, etc.

[2022-03-31 20:42] jberkus commented on #970
I missed this part of the question:

CNCF requires the use of CCBY for documentation.  So I'm not sure where "not approved" comes from.

Anyway, sounds like we have a technical solution.

[2022-03-31 21:16] lance commented on #970
@jberkus it was poorly worded - a continuation of the previous sentence.

Meaning, to my knowledge CCBY is not approved for code licenses, only for docs.

[2022-04-01 12:18] csantanapr opened #995 "[Steering] Update documents to clarify SC End User vacancy process"
The SC document has information on how to handle [vacancies](https://github.com/knative/community/blob/main/STEERING-COMMITTEE.md#vacancies) for elected members, but the end user is an appointed seat by the members of the steering committee.

In case this fails to fill the seat, a special election for that position will be held as soon as possible, unless the regular SC election is less than 7 wee

[2022-04-01 12:28] geekygirldawn commented on #995
For the vacancies section, we could add this:

We should also scrub the SC page to be consistent in language. In most cases, the pages say "End-User", but it really should be "end user" to be consistent with the CNCF language (ex: https://www.cncf.io/enduser/)

[2022-04-01 19:12] dprotaso commented on #987
I did this already and they directed me this repo and I made the PR

https://github.com/1Password/1password-teams-open-source/pull/496

[2022-04-01 19:12] #987 closed

[2022-04-06 18:41] csantanapr opened #1002 "move netlify account for website knative.dev from google owned to cncf owned"
Currently, the website https://knative.dev is hosted on netlify using Pro account (retail $19/month) this is currently funded by Google.

CNCF offers netlify funding and we should move the knative account from Google to CNCF, to avoid complexity this should be done after the DNS registry and service is moved to CNCF

[2022-04-06 21:17] #986 closed

[2022-04-06 21:20] csantanapr commented on #984
@macruzbar any updates on this issue?

[2022-04-06 21:25] csantanapr commented on #964
Thank you @evankanderson it looks like CNFC got you in contact with the auditor

Let us know how it goes once you have more info.

[2022-04-06 21:58] gtewallace commented on #984
Maria offered to meet with me tomorrow but I forgot I have an in person event I need to attend. So we will meet next week I hope.

[2022-04-07 04:07] csantanapr commented on #966
We got access today to 1Password, @chizhg please work with @dprotaso to get your credentials into the 1Password vault

[2022-04-07 04:07] #966 closed

[2022-04-07 04:10] csantanapr commented on #867
We were added officially under CNCF GSOC organization with 2 ideas here https://github.com/cncf/mentoring/blob/main/summerofcode/2022.md

I hosted a [Twitter Space](https://github.com/cncf/mentoring/blob/main/summerofcode/2022.md) promoting the CNCF projects including Knative

[2022-04-07 04:10] #867 closed

[2022-04-07 04:41] csantanapr opened #1005 "Transfer Google knative.team GSuite/Drive to CNCF/Community owned"

[2022-04-07 04:42] csantanapr commented on #952
(a) Any project that is added to the CNCF must have ownership of its trademark and logo assets transferred to the Linux Foundation.

Trademark has being officially transferred according to @thisisnotapril

[2022-04-07 04:48] csantanapr commented on #961
Service desk ticket was created to get a community created for Knative to host webinars
Followed instructions here https://github.com/cncf/communitygroups/blob/main/README.md#how-to-apply

[2022-04-07 05:04] csantanapr commented on #958
Stared the badge process providing all the info here https://bestpractices.coreinfrastructure.org/en/projects/5913#reporting

[2022-04-07 15:29] csantanapr commented on #962
Can someone from @knative/technical-oversight-committee help with this action item for CNCF onboarding, maybe you can work in conjunction with productivity working group on setting up this type of license scanning and alerting or maybe blocking PRs

Maybe we some of this in place, I think TOC would be best to look into this

[2022-04-07 16:06] dprotaso commented on #962
/assign @dprotaso

[2022-04-07 16:07] csantanapr commented on #962
/assign @dprotaso

On today's TOC meeting @dprotaso said will look in to this

[2022-04-07 16:08] csantanapr commented on #962
We might have this covered with the current setup we have or not, Dave is going to look into it

[2022-04-07 16:21] #995 closed

[2022-04-07 16:25] csantanapr commented on #957
We need to make `amye@linuxfoundation.org` Owner not the Administrator

@vaikas or @thisisnotapril  do you have enough permission to make Amye Owner? I don't have permission only to assign the Administrator

[2022-04-07 18:01] vaikas commented on #957
When I go to analytics.google.com signed in with knative.team, I don't see where this is configured. Can you share the link?

[2022-04-10 04:16] #210 closed

[2022-04-14 18:03] vaikas commented on #787
Email has been sent. @itsmurugappan is cranking out the blog.

[2022-04-20 19:43] csantanapr commented on #957
Hi @vaikas
If you go to setting on the bottom left corner of UI, then Property Access Management takes you to this [URL](https://analytics.google.com/analytics/web/#/a190144112p262796325/admin/suiteusermanagement/property)

[2022-04-20 19:45] csantanapr commented on #957
![image](https://user-images.githubusercontent.com/1094878/164310570-62f578c9-8d79-4857-8121-9d42ff47f72d.png)

[2022-04-20 19:47] csantanapr commented on #961
Community is created here https://community.cncf.io/knative-community/

I created a test event to see how the bevy integration works

[2022-04-20 19:48] csantanapr commented on #952
What's left is implement the new CLA via easyCLA or DCO

[2022-04-20 20:52] dprotaso commented on #962
Created a ticket to engage with CNCF legal

From: https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1216

[2022-04-20 21:37] chizhg commented on #1005
The whole infra is also under knative.team workspace - https://console.cloud.google.com/projectselector2/home/dashboard?organizationId=22054930418

[2022-04-20 21:54] chizhg commented on #1005
cc @upodroid

[2022-04-21 01:30] csantanapr commented on #953
closing this one as duplicate from #941
/close

[2022-04-21 01:30] #953 closed

[2022-04-21 01:31] csantanapr commented on #941
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-04-21 01:32] csantanapr commented on #941
I closed issue #953 and lets use this one going forward

Options:

Stay with current Slack workspace Paid tier (today's state paid by Google)
Stay with current Slack workspace Free tier
Move to channel(s) to Kubernetes Slack
Move to channel(s) to CNCF Slack

[2022-04-21 01:41] csantanapr commented on #960
The Welcome email was found and I made a google doc of the [letter](https://docs.google.com/document/d/1Xrt5PdIZbXoN0BMkc8klXWp6EzHvAqN3iJ4GbvIDVlg/edit?usp=sharing)

CNCF Project Office Hours
The CNCF project staff host a monthly meeting at 8am Pacific on the first and third Wednesday of every month. This meeting is on the[ CNCF community calendar,](https://www.cncf.io/community/calendar/) come j

[2022-04-21 01:41] csantanapr commented on #960
/close

[2022-04-21 01:41] #960 closed

[2022-04-21 02:00] csantanapr commented on #961
I was able to schedule an event, was able to login, share video, mic, screen and was able to live stream on youtube.

[2022-04-21 02:01] csantanapr commented on #961
/close

[2022-04-21 02:01] #961 closed

[2022-04-21 13:02] lance commented on #941
Is this actually an option? I didn't think CNCF would fund another Slack, but could of course be mistaken.

[2022-04-21 16:29] vaikas commented on #957
I don't have that, and you seem to be an admin there?

[2022-04-21 18:21] csantanapr commented on #957
Thanks for checking @vaikas

"Administrator" is the highest permission role same as an "owner"
![image](https://user-images.githubusercontent.com/1094878/164527350-d6496b64-7565-4d70-b86f-12f2c55132fd.png)

I sent a [message](https://github.com/cncf/toc/issues/794#issuecomment-1105599778) to @amye let's see what we hear back.

[2022-04-21 18:32] csantanapr commented on #957
TODO is marked done now

[2022-04-21 18:35] thisisnotapril commented on #941
Per Knative Steering meeting today, we will migrate to the CNCF Slack instance. I created the Servicedesk ticket with CNCF to start this process.

[2022-04-21 18:35] #941 closed

[2022-04-21 18:37] thisisnotapril commented on #90
Are we still moving forward with the switch to EasyCLA? Looks like the Google CLA is still in place here.

[2022-04-21 18:41] vaikas commented on #90
Yes, that was the decision.

[2022-04-21 19:19] thisisnotapril commented on #90
Who is on point for the switch? Wondering what we need to do next.

[2022-04-21 19:30] vaikas commented on #90
@csantanapr is driving it here:
https://github.com/knative/community/issues/952

[2022-04-21 19:31] vaikas commented on #952
Is (b) done? We're going to use EasyCLA, so seems like b is done and we're working on c?
In particular b sez:
[code]

And we will require and it will be EasyCLA. So can we check the (b) done?

[2022-04-21 22:34] thisisnotapril commented on #794
Closing this as it's effectively covered by the decisions made in Steering today

[2022-04-21 22:34] #794 closed

[2022-04-21 22:41] thisisnotapril commented on #1005
This is apparently a dup of https://github.com/knative/test-infra/issues/3076 so be aware there are two conversations

[2022-04-28 16:28] itsmurugappan commented on #963
Yes.

[2022-04-28 16:56] csantanapr commented on #952
@knative/steering-committee met today and came up with the following

- b = Use a valid CLA can be DCO or easyCLA
- c = Any contributions need to follow the CLA from b and done under the Apache license

Action Items
1. Decide DCO vs. easyCLA, steering decided to go forward with easyCLA (done)
2. Replace Google CLA bot with easyCLA bot

@lance will request easyCLA account for Knative and onboard al

[2022-04-28 21:43] csantanapr commented on #984
Any progress on this front @macruzbar and @gtewallace ?

[2022-04-28 21:53] csantanapr commented on #962
@dprotaso Any progress on this front or any blockers?

[2022-04-28 22:23] evankanderson commented on #964
I chatted with Amir on Tuesday, and we filled out an audit questionnaire together:

https://docs.google.com/document/d/1YaEK5zWmOk1G_eFuiJCPYGm7nWc2l97eBK3wINYNJTE/edit

Sometime (possibly post-Kubecon), we'll probably put together two RFPs:

# Serving

A standard security audit, taking into account the in-progress encryption of KIngress -> activator -> queue_proxy path.

# Eventing

Probably a mo

[2022-04-29 12:54] lance commented on #90
I've got it now per https://github.com/knative/community/issues/952#issuecomment-1112442491

I have a couple of open tickets - one with the Linux Foundation and one with CNCF, to get access to the EasyCLA dashboard/portal before I can set it all up for Knative.

[2022-04-29 15:25] dprotaso commented on #962
Followed up on the issue - waiting to get access to FOSSA to check it out

[2022-05-03 01:09] #968 closed, assigned to lance

[2022-05-03 05:45] evankanderson commented on #844
SGTM!

/close

[2022-05-03 05:45] #844 closed

[2022-05-03 15:02] vaikas commented on #787
Yep!

[2022-05-03 15:02] #787 closed

[2022-05-03 15:07] vaikas commented on #974
@n3wscott

[2022-05-03 15:08] vaikas commented on #923
@lionelvillard any updates on this?

[2022-05-03 21:57] dprotaso opened #1033 "Delete knative-sandbox/actions-downstream-test repo Sept 1st 2022"
Repo: https://github.com/knative-sandbox/actions-downstream-test

We want to delete this from peribolos and eventually delete the repo on Sept 1st 2022

The date is specifically chosen to be the 1.4 EOL date. 1.4 is the last release using that action.

[2022-05-05 08:56] jgsamblas commented on #696
Organization/Company: HighCohesion
Website: https://www.highcohesion.com/
Country: UK
Contact: Technical Lead: [juan@highcohesion.com](mailto:juan@highcohesion.com), Operations Director: [aran@highcohesion.com](mailto:aran@highcohesion.com),
Usage scenario: SaaS platform to connect any ecommerce platform with any other, automating the data flow between them, in real time.
Status: Development?/Prod

[2022-05-05 09:01] isaac88 commented on #696
Organization/Company:  ManoMano
Website: https://www.manomano.es/
Country: Spain
Contact: https://twitter.com/ManoMano_Tech
Usage scenario: We use Knative Serving in production on AWS in top of EKS, in order to keep the cost of the cloud down for our web services apps, we really want to pay for what we really need and avoid to pay for idle resources.
Currently we're intrustrializing Eventing for S

[2022-05-05 16:23] csantanapr commented on #963
Any updates @itsmurugappan ?

[2022-05-05 17:45] #923 closed

[2022-05-05 19:23] lance commented on #952
Isses opened in CNCF Jira/Help Desk
- https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1235
- https://jira.linuxfoundation.org/plugins/servlet/theme/portal/4/SUPPORT-9913
Currently awaiting a response. I imagine CNCF folks are pretty busy with KubeCon EU happening next week.

[2022-05-05 19:44] lance opened #1043 "PROCESS CHANGE: Adopt CNCF Slack"
With Knative's move to CNCF as the governing body, we need to determine how to move forward with Slack. Currently the Knative Slack is paid for by Google and the monthly cost is quite high. CNCF will not shoulder this burden and Knative will eventually not have the financial support from Google to do so. We have a few options.

- Move to another platform altogether - for example Discord
- Move to

[2022-05-05 20:11] dprotaso commented on #1043
It would be great if there was a way to export all the public history to some online format that we could search. For example there have been a steady set of questions in #serving-questions - having access to that history would be useful to users and future contributors.

[2022-05-06 00:31] csantanapr opened #1046 "allow anyone email calendar-maintainers@knative.team for one off-calendar events"
On the [CALENDAR.MD](https://github.com/knative/community/blob/main/CALENDAR.MD) we state

But someone reported that they tried to send an email and it bounced back.

We need to enable the google group with `WhoCanPostMessage: "ANYONE_CAN_POST"` in [groups.yaml](https://github.com/knative/community/blob/main/groups/groups.yaml#L61)

[2022-05-06 00:32] csantanapr commented on #1046
/assign

[2022-05-06 13:23] geekygirldawn opened #1049 "ROLES.md does not reflect the roles that actually exist within Knative"
During a discussion about a TOC candidate in PR #1039, it was mentioned that we don't really have a clear path to becoming an approver, which lead me to do a review of the existing [ROLES.md](https://github.com/knative/community/blob/main/ROLES.md) file, which has members and approvers, but not reviewers. In looking at [knative.yaml](https://github.com/knative/community/blob/main/peribolos/knative

[2022-05-06 17:21] evankanderson commented on #1043
If we can extract the data from Slack, it seems like we might be able to store the archives either in GSuite or in object-store buckets. Since we would only be archiving public channels, it seems reasonable to be able to publish these elsewhere.

https://slack.com/help/articles/201658943-Export-your-workspace-data#:~:text=Select%20Settings%20%26%20administration%20from%20the%20menu%2C%20then%20cli

[2022-05-11 11:29] skonto commented on #1049
I have been thinking about this and I am wondering (may have been discussed before):
a) major contributors in an area shouldnt be approvers anyway? For example someone may not reach the required reviews but has written most parts of the code. The guy who reviews the PRs becomes the approver without righting any code?
b) in project with low traffic it must take for ages to become an approver. Any a

[2022-05-12 13:19] upodroid commented on #90
@hh ^

[2022-05-12 19:16] carlisia opened #1061 "EPIC: Automations for increased WG productivity and visibility"
As a maintainer for Knative, I appreciate all the existing working group automations that the project either has documented somewhere, or that existing maintainers are willing to share.

This EPIC lists tasks with improvements to the existing workflow of generating and viewing WG updates.

- Slack: since every working group has a corresponding Slack channel, and [we already have infra](https://git

[2022-05-12 19:35] carlisia opened #1062 "Improve the visibility of the TOC schedule for WG review/update"
New contributors to Knative as well as users who would like to keep a close pulse on areas of Knative they are interested in don't have a clear way to know that we have regularly scheduled update meetings.

Currently, the schedule with the upcoming meetings for each WG update is [listed in a file ](https://github.com/knative/community/blob/main/mechanics/TOC-REVIEW.schedule)in the `community` repo

[2022-05-12 20:12] carlisia opened #1063 "Improve the visibility of project contributions"
Currently, there is no standardized and widely accessible way to obtain information on PR contributions on a per WG basis. This is not only a healthy metric to keep track of in general, but it is also information that is reported at each TOC meeting for the WG updates as a way to:
- monitor contributor engagement in general
- help surface who is on track for approver and who is on track for lead.

[2022-05-15 09:50] #1046 closed

[2022-05-15 20:00] csantanapr commented on #1046
Thank you folks for reviewing this.

[2022-05-17 09:44] thesephirot commented on #696
Organization/Company: ZITADEL
Website: https://zitadel.com
Country: Switzerland
Contact: hi@zitadel.com @zitadel
Usage scenario: We use Knative (most of the times Google Cloud Run) as a platform to run our serverless authentication and access solution called ZITADEL. Using Knative or one of its managed services offerings helps people to run a highly scalable login without the need for complex oper

[2022-05-24 18:30] dprotaso commented on #897
I was waiting on the CNCF infra migration - but that's done so this is unblocked. Let me make the infra PR

[2022-05-24 18:38] #897 closed

[2022-05-24 20:56] #90 closed

[2022-05-25 10:09] rhuss commented on #974
@n3wscott any opinion on this ? (sorry, not really into the style guide). The fix looks trivial though ....

[2022-05-25 10:11] n3wscott commented on #974
I don't think the icon colors matter. The color guide is for the logo, not the icons for architecture diagrams

[2022-06-02 15:08] csantanapr opened #1082 "Add link for Knative OpenSSF Best Practice badge to security doc"
Add link for [Knative OpenSSF Best Practice badge](https://bestpractices.coreinfrastructure.org/en/projects/5913) to [security doc](https://github.com/knative/community/blob/main/SECURITY.md)

[2022-06-02 15:09] csantanapr commented on #1082
We have a passing badge, but we still need to complete the questionnaire for silver and gold criteria

[2022-06-02 15:09] csantanapr commented on #1082
/assign

[2022-06-02 15:13] csantanapr opened #1083 "Complete silver and gold for Knative OpenSSF Best Practice"
We currently have a passing level criteria for [Knative OpenSSF Best Practice](https://bestpractices.coreinfrastructure.org/en/projects/5913) but we have not completed the questionnaire for silver and gold this issue is to track that work

[2022-06-02 15:13] csantanapr commented on #1083
/assign

[2022-06-02 15:18] csantanapr commented on #1002
Currently Google paying 25k minutes pro plan (retail $19/month)
We currently use from 300 to 1000 minutes
Need to request a netlify account thru CNCF and see how to switch over with minimum downtime (ie domain, TLS Certs)

[2022-06-02 15:19] csantanapr commented on #1002
/assign

[2022-06-02 16:47] itsmurugappan commented on #963
its live -> https://store.cncf.io/collections/knative

[2022-06-02 16:49] csantanapr commented on #1082
Great tip to add the badge to the serving and eventing README
[code]

[2022-06-07 13:11] csantanapr commented on #1002
Opened CNCF [ticket](https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1291)

They created a site under the CNCF account and assignme owner, but I don't see it. I posted a message to add me using my github login

[2022-06-08 19:15] n3wscott opened #1096 "PROCESS CHANGE: Extend Knative Release Cycle Period"
Wanted to bring up the question of changing the Knative Release cycle period. At the moment we are releasing fairly trivial releases every 6 weeks, which points to a fact that we are releasing too often for the lifecycle of the project.

There are other life-cycle stage features we might want to look at, like alpha/beta/GA releases of single release versions.

Let's start the conversation and then

[2022-06-08 22:44] BlueOrigin commented on #696
A certain high profile billionaire's rocket company has recently contacted me and wishes to commandeer my account name, to which I will soon acquiesce. Thus, if the original comment wanted to revert the "@" to how it was originally, it is now likely appropriate to do so :)

[2022-06-09 16:08] csantanapr commented on #1096
Related doc  [Release process problems and ideas](https://docs.google.com/document/d/1MVcIovQa4QkOvrM265TjoWnledhCxTOzA4rxYyA5y-4/edit#heading=h.5u6vd7j0omnl)

[2022-06-09 16:54] nader-ziada commented on #1096
+1 to increasing the cycle period, but would want to be able to release more patch releases for various fixes or small changes between the longer release dates. This would not require customers to upgrade and at the same time help the us deliver a change to a customer that could be waiting for it.

for example after 1.6, we can add small changes or bug fixes (if needed) in 1.6.1 and 1.6.2 and so o

[2022-06-09 20:40] carlisia commented on #1096
+1

There is a lot of automation for the release process, but also a lot of manual verification of that automation is required. There's also some possible points of failure for those automations, which causes those to need to be run manually in that case. In other words, a release required a lot of human involvement and meticulous following of documentation. A payoff for this level of work doesn't

[2022-06-09 21:15] csantanapr commented on #1002
I was able to get access tot he `knativedev` site under the CNCF netlify account and I'm one of the owners along side with @nate-double-u

Netlify has a feature to transfer a site from one account to another account https://answers.netlify.com/t/support-guide-how-to-transfer-a-netlify-site-to-a-new-owner/3866

For me to do it I would need to be the owner of the current netlify account that is owne

[2022-06-10 12:05] dsimansk commented on #1096
+1 & +1 to all the previous comments. My preference is to start with extending the cycle as proposed to 12 weeks. Monitor feedback and eventually consider a longer cycle, but jumping directly to something like 2 releases per year seems like a big leap. As an example from Client release currently we're able to produce in average 1-2 new features + a few bug fixes in a 6 weeks cycle. That's consider

[2022-06-14 18:04] evankanderson commented on #1096
I don't have a horse in this race, but to echo my comment in the document:

[2022-06-14 18:49] abrennan89 commented on #1096
+1 for docs, it would be wonderful IMHO to have more time to scope features etc that need to be documented for a specific release. This is timely for us since we're looking at revisiting some of our roadmap processes right now as well, to get more input from other WGs about docs priorities for each release.

Asie re @nader-ziada 's comment - if we are doing smaller patch releases, it would be good

[2022-06-14 19:57] evankanderson commented on #1096
We might want to more clearly document what types of changes qualify for a cherry-pick into previous releases (per @upodroid 's document). In my mind, I'd save patch releases for:

* High priority security vulnerabilities
* High severity bugs -- those that block use of a feature without workaround, or introduce a substantial regression on the previous minor release

I _don't_ want to introduce a l

[2022-06-16 16:12] csantanapr commented on #962
@dprotaso Any updates on this?

[2022-06-16 16:14] csantanapr commented on #314
This is on hold, until we move to the CNCF Slack

[2022-06-16 16:16] csantanapr commented on #984
@gtewallace I see you are running the Meetups now
What are the next steps for this issue?

I think writing a doc in community repo on how someone would be able to help run the meetups, for example, if you can't run it one month, what are the things this new person needs to do to run them.

[2022-06-16 16:25] csantanapr commented on #1043
From the last discussion in Steering, @thisisnotapril was going to look at Slack usage and propose the set of channels to be created in CNCF.

[2022-06-16 16:26] csantanapr commented on #952
@lance Can you log here the last status, I think is related to the bots getting approve by CNCF legal

[2022-06-16 16:51] upodroid commented on #962
Productivity WG needs Snyk for https://github.com/knative/test-infra/issues/3135

[2022-06-16 20:43] macruzbar commented on #984
Apologies, just seeing my comments on Buganizer are not reflected here. The Knative Meetup is now fully transitioned to Triggermesh.

/assign @gtewallace

[2022-06-17 17:38] upodroid opened #1100 "Verifying `knative.dev` on GitHub"
Hi

Can I a GitHub admin add `knative.dev` as a verified domain on this GitHub org? A verified green badge appears when it is verified successfully. This can be done now as the community manages the DNS for `knative.dev`.

https://docs.github.com/en/enterprise-cloud@latest/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization

Please paste the cname rec

[2022-06-17 22:10] #1100 closed

[2022-06-22 12:22] lance commented on #984
@csantanapr this can probably be closed now as complete, can't it?

[2022-06-23 16:14] evankanderson commented on #1096
/assign @n3wscott

Since I think he was interested in putting together a proposal

[2022-06-28 18:31] abrennan89 commented on #952
@lance I can update the link included in our docs per https://github.com/knative/docs/issues/5047, however our docs page points to https://github.com/knative/community/blob/main/CONTRIBUTING.md#contributor-license-agreements, which should be updated by TOC/Steering/whoever owns this page. Please comment on the docs issue when this is done and I'll update the link, otherwise this will be inconsiste

[2022-06-28 19:00] abrennan89 commented on #44
Docs probably have dependency on this since we would like to have good diagrams for our upcoming About Knative page and other conceptual pages in the website. Any plans to progress this?

[2022-06-28 19:09] abrennan89 commented on #141
Still probably relevant and a question that bothers me since the bottom of knative.dev says "Copyright © 2022 The Knative Authors" - what can be done to advance resolving this?

[2022-06-28 19:12] abrennan89 commented on #169
+1 for `knative-extensions`

Can we get this resolved soon? What is blocking the conversation?

I think it's important to decide this soon with things like Functions becoming part of "core" Knative but still living in the "sandbox" - it's going to cause more work long term to update any docs etc that are created for this if the repo is renamed later.

cc @nainaz @lance

[2022-06-28 19:13] abrennan89 commented on #188
Community samples now just redirects here https://knative.dev/docs/contributing/

I think this issue is outdated now and can be closed since all the samples I'm aware of live here https://knative.dev/docs/samples/

[2022-06-28 20:57] #188 closed

[2022-06-29 07:19] evankanderson commented on #131
We have established a conformance process (currently waiting on CNCF support ticket / lawyer attention to make it official), and we have https://github.com/knative/community/blob/main/mechanics/MATURITY-LEVELS.md#migration-to-core describing the criteria for `-sandbox` vs "core Knative".

I think we _can_ close this.

/close

[2022-06-29 07:19] #131 closed

[2022-06-29 14:13] lance commented on #169
@abrennan89 thanks for reviving this. We do have plans to move knative-sandbox/kn-plugin-func to the knative org. But this is a lot of work and may take some time. I am also open to discussing a name change for knative-sandbox that leaves functions in without indicating that it's somehow experimental.

/cc @knative/technical-oversight-committee

[2022-06-29 15:07] zroubalik commented on #44
+1 to have this, I guess CNCF can help with this.

[2022-06-30 13:51] lance commented on #952
👍 https://github.com/knative/community/pull/1102

[2022-06-30 17:00] #952 closed

[2022-06-30 21:00] RichieEscarez commented on #1002
Hi @csantanapr, sorry for the delayed response. After chatting with @thisisnotapril we made you an owner of the Google owned Netlify account so that you can perform the transfer.

[2022-07-06 10:40] upodroid opened #1112 "New Repo: reference-implementation"
Use this issue type to request a new repo in `knative-sandbox`.

## Repo information

Org: knative-sandbox

Repo: getting-started

Purpose (Description):
I want to put together a "batteries included" opinionated reference deployment of Knative, including GitOps, Monitoring, Logging, Tracing, Networking and deploy it to a cluster, with the UIs public accessible.

It will run on GKE, but the only ex

[2022-07-06 17:55] abrennan89 opened #1114 "Separate DUX back into UX and Docs WGs"
Docs WG now has two leads (myself and @snneji ), UX will have one WG lead (@csantanapr )

Adding this issue as a placeholder per the last TOC Docs update. Please let me know if any more information is required before these can be split.

[2022-07-07 16:12] evankanderson commented on #1112
I think there's some risk here that the Knative org as a whole ends up "backing" one set of plugin choices (e.g. Istio + Prometheus + Kafka) vs other plugin choices (i.e. Istio over Kong, Kourier or Contour).

I think this would be a useful exercise, but I'm not sure whether the `knative` org is the right place to host one particular set of integration opinions.

As Scott pointed out, this is an a

[2022-07-07 16:13] evankanderson commented on #1112
It was suggested that it might be more workable to run this as a "community cluster" for supporting Knative operations like https://knative.party/. That would also allow us to say "this is how we run Knative" rather than making a statement of support of a particular vendor or component.

[2022-07-08 20:27] cardil commented on #1096
/assign

I created [original doc](https://docs.google.com/document/d/1MVcIovQa4QkOvrM265TjoWnledhCxTOzA4rxYyA5y-4) to point out various problems around release process. I will create a bunch of docs as proposals out of it, and one of them will be the proposal to change the release cadence.

[2022-07-09 00:01] cardil commented on #1096
Here's the [proposal doc](https://docs.google.com/document/d/12yboQGExbbow5yYbIjNlZegOvw5X9ohYCaRT4kepP4s)

[2022-07-10 11:29] zroubalik commented on #169
For me there is a slight difference between `extensions` and `sandbox`, so I'd prefer if we keep `sandbox` as it is. I agree that kn-plugin-func is a special case but as Lance pointed out, we are transitioning this repo already.

[2022-07-12 23:33] jberkus opened #1119 "Upgrade Elekto to 0.6.0"
Knative SC/TOC:

[Elekto 0.6.0](https://github.com/elekto-io/elekto/releases/tag/0.6.0) has been released.  This version improves voter privacy and allows ballot review.  We'd like to upgrade the instance used for Knative elections.

All we need here is permission from the SC; once we have that, the Red Hat OSPO Infra team can handle the rest.

[2022-07-14 13:44] csantanapr commented on #1002
netlify website is now moved to CNCF owned account, @dprotaso and @psschwei have access to the account.
/close

[2022-07-14 13:44] #1002 closed

[2022-07-15 00:57] csantanapr commented on #1119
@jberkus is ok by SC to go ahead and do the upgrade.

[2022-07-18 18:40] vaikas opened #1125 "PROCESS CHANGE: Post Zoom meeting recordings to slack."
Currently it's a bit cumbersome to get the Zoom recording URLs. We should write a job that goes through and fetches the recordings for a day and post them to our slack so that folks can have a single place to get notices for them and then they can be added to relevant documents.

API reference here:
https://marketplace.zoom.us/docs/api-reference/zoom-api/methods/#tag/Cloud-Recording/operation/reco

[2022-07-18 19:29] #1119 closed

[2022-07-21 13:48] dsimansk opened #1127 "Viability and scope of Knative Catalog FT"
**Knative Calatog**

This feature track is about defining a central repository for Knative addons and the kind of meta-data that it should contain. It is not about the usage of this meta-data, like generating an searchable website, including it into knative.dev or how a kn plugin can leverage this data.

The metadata syntax that is suggested is supposed to be only a start and it should be possible

[2022-07-21 15:55] evankanderson commented on #1127
Don’t currently have a specific UI attached, just to collect the metadata.

We used to have something like this for eventing sources, and it got torn out in https://github.com/knative/docs/pull/2680

Do we enforce schema / categorization? probably yes?

Next steps: ask Eventing WG (Lionel) / Networking WG (Kenjiro) if they are interested

For integration with Docs, think about the ergonomics of ho

[2022-07-21 16:20] abrennan89 commented on #1127
Not even close to being an expert on this, but in general, have we ever looked at using something like Swagger for API and plugin docs, rather than manually needing to create markdown files and then figure out what to do with them?

[2022-07-21 16:34] abrennan89 commented on #974
Do we actually plan to use these icons in diagrams or anything going forward?

[2022-07-21 16:43] lance commented on #1049
/assign @lance

[2022-07-21 18:06] n3wscott commented on #974
I don't think so. They were added with not much of a plan for them.

[2022-07-21 19:26] abrennan89 commented on #974
I'd maybe just remove them then to stop people from raising these types of issues? 🙂

[2022-07-26 08:58] davidhadas opened #1130 "New Repo: QPOptions"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: QPOptions

Purpose (Description):
While the QP extendibility work continues (we now have QPOptions and next will work on the ability to configure extensions, activate them etc.), a knative-sandbox/QPOptions repository will allow o

[2022-07-26 09:12] davidhadas opened #1131 "New Repo: security-guard"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: security-guard

Purpose (Description):
A knative-sandbox/security-guard repository will be the home of a Security Runtime plug (based on https://github.com/IBM/workload-security-guard) that will be used as a QP Extension (QP Optio

[2022-07-26 17:15] evankanderson commented on #1131
So far, we've tried to group repo names in sandbox based on the corresponding working group or extension point ('net-`, `eventing-`, `kn-plugin-`, etc)

There are a few repos that don't match this pattern, but I'd be inclined to try to introduce that pattern here.

[2022-07-26 17:15] evankanderson commented on #1130
So far, we've tried to group repo names in sandbox based on the corresponding working group or extension point ('net-`, `eventing-`, `kn-plugin-`, etc)

There are a few repos that don't match this pattern, but I'd be inclined to try to introduce that pattern here.

[2022-07-26 20:02] davidhadas commented on #1131
As agreed this will be discussed in the WG meeting before we continue.
If we decide to open it, we can use sec-guard

[2022-07-28 15:50] psschwei commented on #1096
Since we're thinking about the release cycle (and since there's a goal of loose coupling between the various knative ocmponents), would it be worth thinking about having separate releases for the each component? For example, letting serving release independently of eventing. That might help address some of the issues around releases with few impactful changes.

In theory, this could also mean that

[2022-07-28 17:01] evankanderson commented on #1130
TOC would like to have this discussed in the security WG first.

The main concern I have in the security WG is ongoing maintenance of these repositories and whether there are substantial benefits from putting these repos in the sandbox org rather than outside the Knative org. I think this is worth an in-person discussion (possibly next week, depending on whether other projects like inter-component

[2022-07-28 22:34] csantanapr commented on #1125
I looked into zoom apps, and the account that we got from CNCF doesn't allow to create  a [Server-to-Server OAuth App](https://marketplace.zoom.us/docs/guides/build/server-to-server-oauth-app/)

_A Server-to-Server OAuth app enables you to securely integrate with Zoom APIs and get your account owner access token without user interaction. This is different from the [OAuth app type](https://marketpl

[2022-07-29 09:33] rhuss commented on #1127
@abrennan89 Swagger actually is really connected to REST Apis and their Schemas, but the idea here is the same: Provide a catalog of Meta-data that then is used to create automatically other artefacts out of it (markdown doc, searchable website, single descriptor usable by a CLI plugin ...)

[2022-07-29 10:23] rhuss commented on #169
I feel that while it might make sense to rename the org, it will cause a *lot* (really a lot) of work as the organization's name shines through in so many places. We might not even be aware of (CI jobs, brew downloads, ...)

The question is, is this worth the effort, or are the more important tasks to tackle first ?

[2022-07-29 11:02] csantanapr commented on #169
-1 to rename knative-sandbox
+ 1 to create a new org like knative-extensions

Things that would go into extensions are repositories we'll maintained by working group members and approved by TOC

My two cents are the effort is not worth based on active contributors doing infrastructure/productivity tasks, but like any task it can go the back of backlog of productive working group with the slim chan

[2022-07-29 11:39] rhuss commented on #169
+1 for closing the issue

[2022-07-29 12:06] rhuss commented on #1096
-1 from my side if we still want to stay to time-boxed releases (in contrast to feature-driven releases, that tend to slip into becoming longer and longer, because what is a "meaningful change" ?). I'm a big fan of time-boxed releases as there are automatic answers to the question *when* to release (and you know, we as a community is really good in bikeshedding :-). Also, it's much more predictabl

[2022-08-01 18:18] davidhadas commented on #1130
After discussion in security WG, it was decided to drop the QPOptions for now and start with a single repository for Security-Guard.

[2022-08-01 18:18] #1130 closed

[2022-08-01 21:10] evankanderson commented on #1131
Talked about this in the security WG meeting.

The concern I had previously been unable to articulate is that `knative-sandbox` policies include the use of Prow and two-eyes review of all commits (PR proposer and a reviewer, at least one of whom must be an OWNER on the files). The existing repos don't seem to have been developed in that model, and it wasn't clear who would pick up the PR review bu

[2022-08-03 12:56] abrennan89 opened #1141 "PROCESS CHANGE: Extended Docs WG roadmap process"
**Proposal doc: https://docs.google.com/document/d/1_UWBJA_cuZnhavQJ0gGFGF-5JtsrCG8C8p9mCBbT6es/edit#heading=h.n8a530nnrb**

**Exit Criteria**

- [ ] The extended Docs WG roadmap process is agreed upon and documented in a new section for WG processes under https://github.com/knative/docs/tree/main/contribute-to-docs
- [ ] Each non-Docs WG includes a link to the extended Docs WG roadmap process in

[2022-08-03 13:07] psschwei commented on #1131
Link to peribolos PR: https://github.com/knative/community/pull/1139

[2022-08-04 16:08] evankanderson commented on #1131
Naming sounds good given that this is Security-WG sponsored.

Approved by TOC on 4 Aug.

[2022-08-05 14:53] davidhadas commented on #1131
https://github.com/knative/test-infra/pull/3469

[2022-08-10 19:44] davidhadas commented on #1131
https://github.com/knative-sandbox/knobots/pull/222

[2022-08-10 19:45] davidhadas commented on #1131
Need to review and consider CI jobs using [hack](https://github.com/knative/hack) project (look at other sandbox repos for reference)

[2022-08-16 14:34] travis-minke-sap commented on #696
^ The above entry from Nov 18, 2021 should be removed as this project at SAP is no longer based on Knative Eventing.  I have created PR to update the ADOPTERS.md file... https://github.com/knative/community/pull/1146    Thanks ; )

[2022-08-16 17:04] davidhadas opened #1151 "Support knative.dev/REPO redirect to pkg.go.dev/knative.dev/serving for go packages"
right now:
knative.dev/serving redirects to pkg.go.dev/knative.dev/serving
knative.dev/pkg redirects to pkg.go.dev/knative.dev/pkg

But:
https://knative.dev/net-kourier does not forward to https://pkg.go.dev/knative.dev/net-kourier
and the same for all other go repos.

Seems like the implementation for serving and pkg is extendible  (See https://github.com/knative/docs/pull/5176) - we now added se

[2022-08-18 16:00] dprotaso commented on #386
I'm going to close this out - this isn't pressing and this discussion hasn't surfaces again in the last year or so

[2022-08-24 12:45] cardil commented on #1096
@psschwei -1 from me too for feature-based releases.

@rhuss already gave all points for time-boxed releases (current model). Also, I feel such discussion is outside the scope of the current proposal. If you strongly feel the feature-driven releases are better suited for Knative, I think you should open another issue to discuss such change.

[2022-08-25 01:30] psschwei commented on #1096
My comment was less about this and more asking if, while we're making changes to the release process, do we also want to think about decoupling the release process to some degree, i.e. having distinct release processes for serving, eventing, and client. This could be something as minor as reorganizing the order we cut the repos -- all serving together, all eventing together, all client together, b

[2022-08-25 14:55] zroubalik commented on #1096
+100

[2022-08-25 16:21] n3wscott commented on #1096
+1 to `Just increase the duration between releases to give some more time to breathe and adjust to the reality that we slowed down featurewise considerably.`

My original thought was to bump us to 12 weeks with no other changes to the process, and this would give time to change the process in other ways that are interesting and possible with more time between releases. I think there was enough int

[2022-08-26 12:06] dsimansk commented on #1096
+1 I really liked the original proposal to simple double the time between releases without additional complexity of aligning to e.g. Kubernetes.

Looking at the current schedule for upcoming releases. I can see two possible scenarios:
1. Announce the process change ASAP, given we've just released 1.8
2. Keep 1.8 and 1.9 as scheduled. And extend the release cycle with 1.10. The 1.10 release would l

[2022-08-26 12:17] cardil commented on #1096
My intention of aligning with Kubernetes was just by "happy coincidence". When we do 3 releases per year, the same as K8s, we will in most cases align with K8s without any additional constraints on us.

I really like the simplicity of cron expression @evankanderson proposed:

[2022-08-30 15:47] zroubalik commented on #1096
+1 for quarterly releases, I pretty much agree with what @n3wscott on this

[2022-08-31 12:37] psschwei commented on #1096
Quarterly releases would I assume be in Feb, May, Aug, and Nov... sounds good.

Updating with 1.10 gives folks one more opportunity to get new features released before KubeCon so that probably makes the most sense.

[2022-09-02 04:41] evankanderson commented on #1096
We discussed this at the TOC meeting today, and there was general agreement with quarterly releases.

We also discussed whether to keep the 1.8 release date on Oct 4, or implement this change right away, moving the 1.8 release date to Oct 25 (unfortunately, on day 2 of Kubecon... which moves from year to year!). The general consensus seemed to be to move sooner rather than put off the changes, par

[2022-09-02 07:10] salaboy commented on #1096
Team, this conflict a bit with the plans for releasing `func` first GA release aligning with the Knative release train. We were counting on the 1.8 release to be done by the 4th Oct, so it is ready for KubeCon NA. @lance might have more context to add here.

[2022-09-02 08:04] zroubalik commented on #1096
Can't we have a compromise and release 1.8 the week before KubeCon NA?

[2022-09-02 13:19] lance commented on #1096
Yes this does conflict with our plans. And it does seem strange to release on day 2 of KubeCon.

👍 from me on this suggestion.

[2022-09-08 16:04] evankanderson commented on #1096
Preference to do the release a week early because MSalatino has a keynote showing functions

**Decision**: we will release one week early on Oct 17 for 1.8 as a “bridge” between releases and to support the keynote.

[2022-09-09 15:54] cardil commented on #1096
# List of places that needs adjustment

## Release cadence change (6w -> 3m)

- [ ] [`knative/community : mechanics/RELEASE-SCHEDULE.md#L8-L16`](https://github.com/knative/community/blob/29b5646e1404b8af42a5f73cd97715509433361b/mechanics/RELEASE-SCHEDULE.md?plain=1#L8-L16)
- [ ] [`knative/release : TIMELINE.md#L4`](https://github.com/knative/release/blob/999c654e2ddcdef7edc6a7f331339221d61fbf53/TI

[2022-09-09 18:42] cardil commented on #1096
PRs are in-flight. See above: https://github.com/knative/community/issues/1096#issuecomment-1242153792

[2022-09-10 06:50] cardil commented on #1096
/reopen

This still needs work to be done. See: https://github.com/knative/community/issues/1096#issuecomment-1242153792

[2022-09-12 09:38] cardil commented on #1096
/reopen

This still needs work to be done. See: https://github.com/knative/community/issues/1096#issuecomment-1242153792

[2022-09-12 17:38] #1096 closed

[2022-09-12 18:05] cardil commented on #1096
All PRs are now merged. Thanks everyone! 😊

[2022-09-13 15:08] ecda909 opened #1159 "knative With Traefik Ingress Setup In Cluster"
Hi everyone, in my project I use Traefik to handle all of my ingress functionality and I'm looking to use knative to make all of my deployments serverless. My question is do I have to switch to Istio as my ingress solution or is there a way I can still pull-off the setup using Traefik?

Thanks!

[2022-09-15 16:13] evankanderson commented on #1131
/close

(Setting up CI jobs is up to the the repo OWNERS to decide on)

[2022-09-15 16:13] #1131 closed

[2022-09-16 02:16] #1082 closed

[2022-09-19 03:15] nainaz opened #1161 "Moving trademark charter under Steering supervision and rename it to "conformance commitee""
Things to include with your process proposal (delete this text):
Since knative is now under CNCF, there is little to no benefit to keep a separate Trademark charter and rights. As CNCF own the trademark rights and has a dedicated process.
In new process we should
* Rename the Knative TM commitee to "Knative conformance commitee"
* Moving this charter under Steering supervision.
* This task "may" n

[2022-09-19 16:58] nainaz commented on #1161
/assign

[2022-09-27 16:57] imjasonh commented on #1151
I started https://github.com/knative/docs/pull/4524 trying to get the redirect set up for all repos automatically, and eventually pulled it back to just a couple repos based on review feedback. It should be easy to add net-kourier if you're interested, just update https://github.com/knative/docs/blob/main/tools/redir-gen/main.go#L36. If enough repos are redirected it might be worth flipping it fro

[2022-09-27 17:19] imjasonh opened #1165 "Changing base images to cgr.dev/chainguard/static"
Knative Serving and Eventing's container images are currently based on `gcr.io/distroless/static:nonroot` ([serving](https://github.com/knative/serving/blob/8a116816433fd91fe88dcab32fd2214acdf72d81/.ko.yaml#L2), [eventing](https://github.com/knative/eventing/blob/70974588d7d44fe06f59966b16dbaf44c781c85b/.ko.yaml#L2)).

This is a good thing. The `static:nonroot` image contains almost nothing, it ru

[2022-09-27 17:23] mattmoor commented on #1165
FWIW we've been using these in our `hakn` repackaging of knative serving without any issues for some time now.

[2022-09-27 20:48] psschwei commented on #1165
Other than having to remember to pass `--sbom=none` (I use Quay as my ko repo), I didn't run into any issues using it as part of my local dev workflow for Serving. Assuming no one has strong objections, I'd be ok with making this change.

[2022-09-28 01:14] psschwei commented on #1159
We don't currently support Traefik, but that doesn't mean you can't use it if you really, really want to (but you'd need to write some kind of [KIngress](https://github.com/knative/networking/#knative-ingress-aka-kingress) implemention for it, which is most likely not super practical). That said, you don't have to use Istio -- we also support Kourier and Contour as networking layers (you can find

[2022-09-28 08:08] nak3 commented on #1159
Yes, Paul's comment is correct.

Also, we plan to support Gateway API, which [Traefix will also support it](https://gateway-api.sigs.k8s.io/implementations/) via our controller https://github.com/knative-sandbox/net-gateway-api. If it becomes stable, we hope that users can use any Ingress which supports Gateway API.

[2022-09-29 15:54] salaboy opened #1169 "New Repo: `func` (move from knative-sandbox/kn-plugin-func)"
## Repo information

Org: `knative`

Repo: `func`

Purpose (Description):
Moving Knative Functions from `knative-sandbox`/`kn-plugin-func` to `knative`/`func`. The reasons behind this request to move are:
- The project is now aligned with the main Knative release train
- We are working towards making the project to reach the "usable" maturity level
- We want to announce this new branding `func` du

[2022-09-29 16:04] psschwei commented on #1169
+1 for me. I can take on whatever work is needed from the TOC side to do the move, etc.

[2022-09-29 16:07] evankanderson commented on #1169
:+1:

I can help with this tomorrow if we agree on it. I think the current progress on `func` matches the guidelines in [Migration to Core] (https://github.com/knative/community/blob/main/mechanics/MATURITY-LEVELS.md#migration-to-core).

In particular, the abstractions are user-facing, developer-friendly, and the underlying language addition process is pluggable outside the core.

[2022-09-29 16:12] psschwei commented on #1169
Reading the migration guidelines, does Steering also need to approve? cc @lance

[2022-09-29 17:22] psschwei commented on #1169
As discussed on Steering call today, migration to core was already approve, this is just moving the repo, so disregard the above

[2022-09-29 18:00] csantanapr commented on #1169
👍

[2022-09-29 20:31] lance commented on #1169
* [x]  (golang) Send a PR to add aliases for `knative.dev/$REPONAME` import paths ([sample](https://github.com/knative/docs/pull/4160)).

https://github.com/knative/docs/pull/5257

[2022-09-29 20:34] lance commented on #1169
This will need to be a modification to the existing prow configuration for knative-sandbox/kn-plugin-func

[2022-09-29 20:55] lance commented on #1169
See: https://github.com/knative/community/pull/1170

[2022-09-30 19:00] imjasonh commented on #1165
cc @knative/technical-oversight-committee for visibility

[2022-10-03 08:41] salaboy commented on #1169
I've created this PR for `knobots`. I am trying to figure out what other configuration changes do we need in there: https://github.com/knative-sandbox/knobots/pull/240

[2022-10-05 07:55] salaboy commented on #1169
Ask to steering in Slack done: https://knative.slack.com/archives/CU9DGL4FM/p1664956526130389

[2022-10-05 08:06] salaboy commented on #1169
I think the missing tasks in the checklist can be done after moving the repo. @evankanderson @psschwei @csantanapr It will be great to get the steering committee's blessing so @lance can move the repository, and we can complete the tasks.

[2022-10-05 13:00] csantanapr commented on #1169
@salaboy this is a technical topic that is under TOC purview

TOC is already aware of this work, and @lance has the access to move the repo on the admin panel.

[2022-10-05 13:50] lance commented on #1169
Just a heads up to the @knative/technical-oversight-committee that we hope to do this move tomorrow, October 6.

[2022-10-10 08:12] zroubalik commented on #1169
+1 from me as well, I was off last week

[2022-10-11 17:56] dprotaso commented on #1165
My only concern is the use of the `cgr.dev` domain. Do you have mirrors of these images on public registries?

[2022-10-12 14:53] salaboy commented on #1169
can we close this issue now? and track new problems if they arise in a separate issue?

[2022-10-12 15:35] #1169 closed

[2022-10-14 18:45] imjasonh commented on #1165
That's understandable.

We don't currently have mirrors onto other registries, but might consider it.

The specific concern would be that if `cgr.dev` is down, any releases or e2e tests of Knative would be broken until it becomes available again, correct? If so, some of that could be alleviated by having a separate process mirror `cgr.dev/chainguard/static` into `gcr.io/knative-releases/...` (and

[2022-10-17 15:04] evankanderson commented on #964
Sorry, this got dropped under a bunch of vacation and acquisition traffic -- I'll did out the emails and respond today.

[2022-10-27 19:47] dsimansk opened #1187 "Update and maintain CNCF project summary"
At the KubeCon NA I met Catherine Paganini on behalf CNCF to check and update landscape metadata and information about Knative. They're trying to make sure there's enough details for filtering and description of what the projects are for.

https://github.com/cncf/landscape/blob/master/readme_summary.md

/cc @knative/steering-committee @knative/technical-oversight-committee

[2022-11-03 01:41] jwcesign opened #1194 "New Repo: $REPONAME"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: scaling-group

Purpose (Description): in support of the [scaling-group](https://docs.google.com/document/d/1CmVsbQv6oWtJj3oo-gku0g3fiZRHd_ngumPxne8ESpY/edit#heading=h.ts0sk166kbs9) feature track

Sponsoring WG: Serving WG

## Acti

[2022-11-03 01:42] #1194 closed

[2022-11-03 01:42] jwcesign opened #1195 "New Repo: scaling-group"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: scaling-group

Purpose (Description): in support of the [scaling-group](https://docs.google.com/document/d/1CmVsbQv6oWtJj3oo-gku0g3fiZRHd_ngumPxne8ESpY/edit#heading=h.ts0sk166kbs9) feature track

Sponsoring WG: Serving WG

## Acti

[2022-11-03 02:25] jwcesign commented on #1195
cc @dprotaso @psschwei @evankanderson

[2022-11-03 16:16] psschwei commented on #1195
+1

[2022-11-09 16:04] dprotaso commented on #1159
Going to close this out - although we don't test net-gateway-api with traefik if you want to do that yourself and provide some feedback please do so @ https://github.com/knative-sandbox/net-gateway-api

[2022-11-09 16:04] #1159 closed

[2022-11-10 16:36] #779 closed

[2022-11-10 16:38] evankanderson commented on #1187
This may relate to the work to introduce the project to the CNCF Ambassadors

[2022-11-10 16:38] evankanderson commented on #1187
(TOC thinks this is probably more of a Steering responsibility)

[2022-11-10 16:42] evankanderson commented on #1141
Other discussion:

* GitHub recently added new features to the README format
* We could (should?) enable GitHub pages for repos, particularly in `-sandbox`, so that they can maintain first-class documentation on a separate domain without needing to go into `knative/docs`.

[2022-11-10 16:46] evankanderson commented on #1127
It seems like Tekton and other projects are building off https://artifacthub.io/, including:

* KEDA scalers
* Helm charts
* Tekton tasks and pipelines (two separate categories)
* krew plugins

[2022-11-10 16:47] evankanderson commented on #1127
(Discussed at TOC meeting, Nov 10)

Might be good to start with one category, like CLI plugins, and report back

[2022-11-10 16:57] evankanderson commented on #681
We now have sometimes-curated roadmaps, but we don't have a good summary view for people new to the project.

Possible inspiration: https://gateway-api.sigs.k8s.io/contributing/

AI: Have some pages on the website specifically for new contributors to show them around the org (that's the MVP / min bar).  Replace "Blog", "About", "Contributing" with a "Community" section (figure out where to put the

[2022-11-17 16:48] evankanderson commented on #681
Dave will pull out meeting recordings on YouTube as a separate issue, so we don't conflate it with improving the onboarding ramp for community and contributors.

[2022-11-17 16:51] dprotaso opened #1214 "Automate meeting videos being uploaded to YouTube"
/assign @dprotaso

[2022-11-17 16:59] dprotaso commented on #1214
Started a slack thread - have some options to explore
https://kubernetes.slack.com/archives/C1TU9EB9S/p1668131006997259

[2022-11-17 17:54] csantanapr commented on #1187
Also the info that shows up here https://landscape.cncf.io/summary