[2019-05-09 23:43] RichieEscarez opened #3 "Relative links to 'docs' content are now broken"
Relative peer links are now broken after the move to knative/community.

Examples:
- `../docs` (ie. `[knative/docs](../docs)`) must now be fully qualified and point to the docs repo -> "https://github.com/knative/docs"
- similarly, any links to the community samples are broken too: `[Community Samples](../community/samples/README.md)` -> "https://github.com/knative/community/samples/README.md"

[2019-05-30 02:08] duglin opened #9 "Add docs around use of name and logo"
I couldn't find any docs that describe how/when people can use the Knative name and logo. We should probably say something about this.

For inspiration, see:
https://github.com/kubernetes/kubernetes/blob/master/logo/usage_guidelines.md
and
https://www.linuxfoundation.org/trademark-usage/

/cc @rgregg

[2019-06-04 23:58] duglin commented on #9
@knative/knative-steering-committee

[2019-06-06 18:40] rgregg commented on #9
I'm working on this.

[2019-06-07 21:17] RichieEscarez opened #15 "Clarify process steps for adding new members"
We should update the docs to make the path clear for new members who meet the requirements listed here: https://knative.dev/contributing/roles/#member

If a contributor meets the member requirements, what are the next steps?

Do sponsors simply email the steering committee (knative-steering@googlegroups.com) and what information is needed in that request?

[2019-06-13 14:11] mattmoor opened #17 "Document the knative-wg-leads list."
cc @rgregg

[2019-06-25 15:19] jchesterpivotal opened #18 "Proposal to adopt Skenario into Knative"
# Objective

Pivotal proposes to donate [Skenario](https://github.com/pivotal/skenario) to the Knative project.

Our motivations are:

* To increase community awareness of Skenario,
* To broaden Skenario's contributor base, and
* To apply Skenario to more development problems.

# Background

Skenario is a simulator harness developed to provide feedback on the Knative Pod Autoscaler (KPA). It was i

[2019-06-25 15:22] jchesterpivotal commented on #18
cc:
 @josephburnett @markusthoemmes (Autoscaler leads)
 @mattmoor @vaikas-google @evankanderson (TOC)

[2019-06-25 15:32] mattmoor commented on #18
@jchesterpivotal Given it's proximity, do you see this falling under the scope of the Autoscaling WG to maintain (and as needed release)?

[2019-06-25 15:33] jchesterpivotal commented on #18
@mattmoor Yes, I see this as falling within Autoscaler WG's scope.

[2019-06-25 18:01] evankanderson commented on #18
@rgregg who has been looking at our policy in terms of adopting / managing repos.

[2019-06-25 18:25] abrennan89 commented on #18
Does this require changes to knative.dev/docs to include information about this?

cc @samodell in case this needs to be on your roadmap

[2019-06-25 19:02] jchesterpivotal commented on #18
@abrennan89 I don't think an immediate change to docs would be necessary.

[2019-06-26 09:29] josephburnett commented on #18
:+1: to accepting this into Knative.  It's been useful already in talking about autoscaling behavior.  E.g. cliff behavior when exiting panic mode.

![image](https://user-images.githubusercontent.com/1103629/60168569-60ee5000-9805-11e9-841a-dee60f264106.png)

And for considering the impact of changes.  E.g. what happens if we increase scale-up-rate to 1000x?

![image](https://user-images.githubuse

[2019-06-26 09:40] josephburnett commented on #18
Regarding supporting Skenario, after I have been replaced as Scaling WG Lead, I would like to dedicate my 20% Knative time to supporting this simulator.  In particular, I would like to extend it to simulate the Kubernetes HPA.  This will help to evaluate the KPA-HPA feature gap.  But it will also help with my day job of supporting the HPA.  There are some complex changes coming down the pipeline (

[2019-06-26 16:56] csantanapr commented on #18
@josephburnett thanks for the screenshots very useful, I was asking today how this tool looks like

[2019-06-28 18:20] jchesterpivotal commented on #18
A note for those following along at home: the process is pending the next quorate TOC meeting, which is expected to be on 11th July.

[2019-06-28 21:24] evankanderson commented on #18
I'm in favor of adopting this, but I believe that Ryan has some mechanical changes to the acceptance process that he wanted to propose in the steering committee.

From the TOC perspective, it seems like we have at least 2-3 contributors, and may have more if adopted into the org. What would the OWNERS file look like, and what WG would discussion and participation happen in? (I think I know the ans

[2019-06-29 02:42] mattmoor commented on #18
This and how we staff this are two of my major concerns (incl. things like test-infra support overhead).  I'd like to better understand our long-term story for keeping this working, ideally with a relatively low overhead to ongoing work on the autoscaler itself.

Given the pace of change in the autoscaler, my concern is that 0.5 -> 0.7 is a huge delta that will grow faster than it closes, and that

[2019-06-29 22:45] scottilee opened #19 "Add Monthly Tech Talks to Calendar"
Please add the following meetings added to the Knative calendar (https://calendar.google.com/calendar/embed?src=google.com_18un4fuh6rokqf8hmfftm5oqq4%40group.calendar.google.com):

Knative tech talk @ Monthly from 1pm to 2pm on the fourth Wednesday (PDT)
Knative tech talk @ Monthly from 10am to 11am on the first Thursday (PDT)

Also, are the associated Hangouts for each meeting recorded? If so, ar

[2019-07-01 16:19] jchesterpivotal commented on #18
@evankanderson

Updated.

@mattmoor

I'm concerned too. There's a chicken-and-egg situation for keeping Skenario in sync with the autoscaler. I fell behind because I was focused on development of Skenario-as-Skenario and needed a stable target. Assuming it's adopted, I expect that on catching up it will become easier to stay in sync because Skenario would be an at least optional check on activity.

[2019-07-01 18:45] gganpaa opened #20 "Proposal to donate Kf into Knative"
## Objective

Google proposes to [donate Kf](https://github.com/google/kf) to the Knative project.

## Background

We’ve been working with a number of customers on their journey to adopt Knative, and have consistently heard strong feedback from CF developers who want to leverage their existing understanding and “developer interface” with Knative.

While the Kn tool provides a great experience for

[2019-07-02 11:30] duglin commented on #20
Any plans to make the Kf features into `kn` plugins? I think having 2 community driven CLIs will confuse people.

[2019-07-02 14:40] josephburnett commented on #18
And I would expect to have some automated deployment to a demo site where people can play around with the simulation.  So it should produce a container at least.

[2019-07-03 20:03] bsnchan commented on #20
I'm curious if you've considered moving Kf to the CFF given that the tool does provide a CF-like experience on top of Knative?

[2019-07-08 22:51] gganpaa commented on #20
@duglin The Kf CLI is built  for (a) CF users who want to adopt Knative and (b) for the tools that integrate into CF’s workflow (eg: CI/CD tools, scripts), with the goal to provide CF like experience. If there is common functionality suitable for all Knative users, we will work with the kn client working group to get that included in kn. For example, the opinionated push command would not make sen

[2019-07-08 22:51] gganpaa commented on #20
@bsnchan We did consider CFF. Customers who we have worked with are excited about the idea of using Knative with cf push style experience. Ultimately, we see Kf as a tool to onboard CF users to Knative. CFF doesn’t feel like the right place for something with this scope.

[2019-07-11 19:09] jchesterpivotal commented on #18
Update: this [was discussed](https://docs.google.com/document/d/1hR5ijJQjz65QkLrgEhWjv3Q86tWVxYj_9xdhQ6Y5D8Q/edit#heading=h.fiw6w0fvnpfi) in today's Technical Oversight Committee meeting.

No vote as yet. The Steering Committee will discuss what other requirements might be necessary before proceeding and loop back.

[2019-07-20 01:28] duglin commented on #9
Any update on this one?

[2019-07-25 17:36] rgregg opened #23 "Proposal: Create a knative-workgroups organization for early-days projects"
As Knative approaches 1.0, I believe we need to separate the “core” stable repositories from rapidly iterating growth projects. The status quo is all the code is together in a single GitHub organization. At times, this makes it difficult to understand which repos are at a given level of stability and does enforce a very high bar for what can be donated into Knative.

This proposal is to create a n

[2019-07-25 18:09] maximilien commented on #23
Love ❤️ it. Few minor suggestions and comments.

What about naming it `knative-community` as a more welcoming and broader name that implies workgroups and others outside the WGs (eventually) as we get to v1.0?

By the same  spirit we should also create `knative-attic` or `knative-archive` (as you suggested) for retired projects. Might as well have that now.

I also like the guidelines. I would hav

[2019-07-25 22:28] vaikas-google commented on #23
Great idea. Is the plan then to create this organization and then there define what the process is for saying, hey our project XYZ should be included?
re: knative/eventing-contrib just curious about moving it there in the first place as in just concerned about seemingly unnecessary churn in the codebase.

[2019-07-25 22:51] rgregg commented on #23
The requirements for should XYZ be included are still defined here. I'd expect that the process for creating a new repo is the same as it is today, either a repo donation, or a community proposal posted here. Steering and/or TOC would make the decision about where to put it.

The repos listed at the end are more about evaluating what we have now and recommending which would have been created in kn

[2019-07-26 00:00] evankanderson commented on #23
I'm substantially in favor of this proposal; I'm fine with either
-workgroups or -community and don't want to bikeshed it too much.

Thanks for writing this up!

On Thu, Jul 25, 2019 at 3:51 PM Ryan Gregg <notifications@github.com> wrote:

--
Evan Anderson <argent@google.com>

[2019-07-26 08:02] josephburnett commented on #23
I would like to also propose Skenario for knative-workgroups: https://github.com/knative/community/issues/18

[2019-07-26 13:13] jchesterpivotal commented on #23
One of the arguments I gave for a vanity URL is that you can avoid this churn: `knative.dev/foo` can first redirect to `github.com/knative-workgroups/foo` and then, if it graduates, to `github.com/knative/foo`.

We did this for Cloud Foundry's various orgs and it is a _godsend_.

[2019-07-26 18:40] mikehelmick commented on #23
I am also in favor of this.

[2019-07-31 15:02] dprotaso commented on #23
(Not sure if it warrants a separate issue)

For projects that are going to be archived (ie. `knative/build)` should we shunt them to another GitHub organization in order declutter the `knative` org?

CF has an attic for this purpose https://github.com/cloudfoundry-attic/

And as @jchesterpivotal pointed out the vanity url facade could handle redirecting to the appropriate org

[2019-08-01 16:22] rgregg commented on #23
I'd suggest we handle that as a separate issue. I would also wait until there's a problem that we're trying to solve (e.g. too many archived repos cluttering up GitHub) before we add additional organizations, since the 'cost' of adding an org is non-zero for the EngProd team.

[2019-08-01 19:10] mchmarny commented on #23
The proposal sounds reasonable to me. Also +1 on `-community`

[2019-08-08 18:21] RichieEscarez opened #25 "Cleanup references to Knative Build (deprecated)"
https://github.com/knative/community/search?q=build&unscoped_q=build

[2019-08-13 21:11] rgregg commented on #23
This proposal was voted on by the Steering Committee and has been approved.

[2019-08-13 21:17] rgregg commented on #23
https://github.com/orgs/knative-community has been created.

[2019-08-13 21:17] #23 closed

[2019-08-23 14:23] taragu opened #29 "Proposal to use an enhancement proposal process similar to KEPs"
How do we feel about using an enhancement proposal process similar to KEP (https://github.com/kubernetes/enhancements/tree/master/keps)? We don't have to use all components of the KEP process. Here are the elements we can adopt easily:
- Using a repo (as opposed to google docs) for design docs organized by working groups. This makes these documents more easily findable, and users can cross referen

[2019-08-23 14:37] mattmoor commented on #29
It's on me to move https://docs.google.com/document/d/1QRREfL8gSVSURHMkDLjDtMh1BBsNiwfmaBiGnJUDQ2g/edit# into this repo.  Feedback welcome.

[2019-08-23 16:14] vagababov commented on #29
While the final version is fine in the repo, I find Google docs and related
commenting, suggesting, etc features significantly better suited for
discussion.

On Fri, Aug 23, 2019 at 7:37 AM Matt Moore <notifications@github.com> wrote:

[2019-08-23 17:41] taragu commented on #29
Thanks @mattmoor for pointing out the official Feature Tracks doc. @vagababov I think Google docs works well for faster back-and-forth discussions and has better mobile support. Although I find it difficult to look through resolved comments because it's not easily searchable.

[2019-09-06 00:05] #19 closed

[2019-09-27 15:36] sebgoa opened #32 "Update SC representation"
Checking our charter I do not see a provision that describes how and when to update the SC representation by companies.

Right now IBM and RH are a single company and Pivotal has been acquired by VMware.

At a minimum we should update the knative stats and re-check the contributions of companies.

[2019-09-27 15:41] sebgoa opened #33 "Clarify formula for membership of Steering committee"
Currently the SC is populated based on:

I think it is time to clarify this formula. Until the formula is clearly spelled out this does not feel like an open governance to me and with Google's majority of 4 seats, this feels too much like a Google project. This is starting to cause a perception issue in the large k8s/cloud-native community which I strongly believe needs to be addressed.

I would r

[2019-10-02 18:07] rgregg commented on #32
There are two provisions in the KSC charter that define when and how to update membership on the steering committee:

The Steering Committee hasn't raised the issue, but I'll add it to the agenda for us to discuss how we should update the representation based on the recent acquisitions.

[2019-10-02 18:30] rgregg commented on #33
I've personally struggled with how we can fairly measure contribution to the project. Not all contributions come in the form of measurable data. There's certainly things like LOC, PRs, issues opened, issues resolved, issues worked on, leadership, presentations, code reviews, $'s spent, etc. Trying to find an exact formula that we can plug data into and produce a meaningful output hasn't been a pri

[2019-10-03 18:42] jchesterpivotal commented on #32
As a nitpick, Pivotal is still an independent public company at this time, though VMware have announced intent to acquire.

[2019-10-03 18:58] rgregg commented on #32
Great point @jchesterpivotal, I know there are strict rules around keeping things separate until a deal closes. I've made sure this is on our agenda, and I expect we'll leave the "how to represent our company" as a question to the individual representatives of each company to resolve.

[2019-10-04 06:51] duglin opened #34 "Update STEERING-COMMITTEE.md to match reality"
From the TSC md file:

We need to update this sentence to more accurately reflect reality, then people can decide if they want to join, or continue to work, on a project with that governance model. Regardless of whether people agree or disagree with the model, we should at least be honest about what it is.

/assign @lindydonna

[2019-10-29 22:36] rgregg commented on #20
Closing this out since we were unable to reach a consensus.

[2019-10-29 22:37] #20 closed

[2019-10-29 22:37] rgregg commented on #34
We'll take this up as part of the overall updates to the community rules.

[2019-10-29 22:38] rgregg commented on #29
With the new feature tracks process in place, should we close this issue out?

[2019-10-29 23:57] taragu commented on #29
@rgregg yes! Closing this issue

[2019-10-29 23:57] #29 closed

[2019-11-04 19:37] jchesterpivotal commented on #18
Hi everyone,

After talking with @josephburnett, we've come to the view that Skenario ought to chart an independent destiny.

So, to avoid confusion, I'm withdrawing this proposal. The withdrawal is without prejudice and is not meant as a sign or symbol or anything of the sort. It's just a practical step towards where Skenario goes next.

I want to thank everyone who was involved in the discussion

[2019-11-04 19:37] #18 closed

[2019-11-13 02:00] dgerd opened #44 "Create Knative CRD Icons for use in diagrams and UI"
It would be great to have official icons for each Knative CRD (Service, Revision, Channels, Brokers, etc.) so that they can be used in service architecture diagrams and UIs to represent Knative resources.

Creating this issue in community as:
1. Icons seem like "community material"
2. Likely needs Steering Committee support as it relates to the Knative brand

cc @bbrowning @mattmoor

[2019-11-27 00:08] rgregg commented on #34
The KSC is meeting the week of December 9th to work through some of these open questions and start making progress here.

[2019-11-27 00:10] #25 closed

[2019-11-27 00:10] rgregg commented on #25
Looks like this is now resolved.

[2019-11-27 00:11] rgregg commented on #17
Unclear what the work is here. Closing this out

[2019-11-27 00:11] #17 closed

[2019-11-29 16:48] evankanderson commented on #44
Probably also needs to find a graphic designer if we want them to look good.

[2019-11-29 23:23] evankanderson opened #47 "Use peribolos to manage Github groups / permissions"
Ref: https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos

/assign @evankanderson

[2019-12-05 22:40] RichieEscarez commented on #3
assign/ @RichieEscarez

[2020-01-13 18:48] isdal opened #58 "Create initial FAQ from Steering Committee AMA"

[2020-01-13 18:52] pmorie opened #59 "Clarify criteria for TOC membership"
This issue is a takeaway from a steering F2F; issue is to clarify what the criteria / rules etc around TOC membership are.

[2020-01-13 19:07] isdal opened #60 "Organize recurring community demo sessions"
During the Steering Committee AMA on Jan 13th it was suggested that we create a space for users of Knative to show how they are using the project.

We are looking for a volunteer to organize this. Responsibilities include:
 - Solicit demos from the community
 - Set up meetings, publish recordings
 - Review and merge demo's into a shared demo repository

[2020-01-27 16:06] bsnchan opened #68 "Upgrade Slack account"
It would be great to have retention history for our Slack organization.

Some relevant issues here:
* https://github.com/kubernetes/community/issues/372
* https://github.com/istio/istio/issues/191

[2020-01-27 23:27] coryrc commented on #23
I know this is already done, but because of knative/community, it's hard to web search for knative-community (as opposed to knative-workgroups, the only hit being this issue itself).

[2020-01-28 03:20] rgregg commented on #23
Cory, do you want to open an issue to rename knative-community to knative-workgroups?

[2020-01-28 08:07] coryrc opened #69 "Rename knative-community to something else"
Follow-up of #23
Because of knative/community, searching for knative-community comes up with only hits for the former and not the latter. I think a unique naming would be better and since it is so-far unused, now is the time if people agree.

Kubernetes has:

* [kubernetes-sigs](https://github.com/kubernetes-sigs)
* [kubernetes-incubator](https://github.com/kubernetes-incubator) (deprecated in fav

[2020-01-28 08:18] coryrc opened #70 "New repos in knative-community"
As part of knative/pkg#883, we use a very simple wrapper to redirect uses of klog or glog into our Zap logger. Because of the `dep` tool, these wrappers must be in their own repo (otherwise they'd simply be a directory of knative/pkg).

I have [forked](https://github.com/coryrc/klog) the [repos](https://github.com/coryrc/glog) and attempted to upstream into the Istio project repositories, but it i

[2020-01-28 15:57] dprotaso commented on #68
Relevant comment
https://github.com/kubernetes/community/issues/372#issuecomment-280870270

On Mon, Jan 27, 2020 at 11:06 AM Brenda Chan <notifications@github.com>
wrote:

[2020-01-29 20:28] bsnchan opened #72 "Create 2019 Annual Report"

[2020-01-29 20:32] dprotaso commented on #72
Take a look at http://feltron.com/FAR14.html for inspiration on the visuals :)

[2020-01-30 18:25] #3 closed

[2020-01-30 22:12] pmorie opened #76 "Document process to create new repos in knative orgs"
Raised by @coryrc on the Jan 30th TOC meeting, there is currently not a documented process to have new repos considered for creation, and there should be.

[2020-02-03 22:01] #72 closed

[2020-02-04 04:23] rgregg opened #80 "Knative should target "mainstream" versions of k8s"
With the recent updates moving Knative to require k8s 1.15, we've made it difficult for many users to adopt Knative in their cloud platform of choice.

While our general principals for a minimum version of k8s are based on k8s supported versions (e.g. N-2 releases), the major cloud players are all lagging behind. With the requirement of 1.15 as the minimum version, we've effectively made it harder

[2020-02-04 04:23] rgregg commented on #80
cc/ @mattmoor, since we've talked about this in the past.

[2020-02-04 20:42] n3wscott opened #81 "Donate Discovery API to Knative"
## Objective
Scott Nichols proposes to [donate discovery](https://github.com/n3wscott/discovery) to the Knative project.

## Background

As part of trying to solve the Sources WG mission for understanding:

1. What sources are installed in my cluster?
1. What instances of those sources are running in my cluster?
   - and what is their current state?

I wrote a PoC that adds a new API Group to Kube

[2020-02-04 23:16] mattmoor commented on #80
cc @vaikas @evankanderson @dgerd @pmorie

Ack, and this is a tough project vs. product delineation.  The basis for the principle here is simple: we support upstream the version range that is supported by K8s upstream at the time of each release.

As with the CRD webhook issue in 1.14, this is not a theoretical problem; our inability to service upstream Kubernetes materially influences our ability

[2020-02-05 02:58] Abd4llA commented on #68
That would be great, not just to retain the chat history (which is an invaluable feature IMHO) , but I also find the user groups feature very very handy. To be able to mention and know the Steering Committee, TOC, WG leads etc via `@sc` or `@toc` etc.

[2020-02-05 08:35] matzew commented on #81
+1

[2020-02-06 17:55] pmorie commented on #76
Here's the k8s process as a reference: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

[2020-02-06 18:09] evankanderson commented on #76
A few extra points:

* We have two orgs; `knative` and `knative-community` (which has been pointed out is both empty and confusing when compared with `knative/community`). We should either abandon the latter or use it as a staging/incubation ground.
* The process should include some guidance about handling dependencies. Ideally, we would have at most a "bush" or a "bushy forest" of dependencies, r

[2020-02-06 22:58] maximilien commented on #69
LGTM

[2020-02-10 15:21] bsnchan opened #84 "GitHub Access cleanup"
The Knative GitHub permissions are in dire need of some cleaning and rethinking. @mattmoor has offered to help clean this up :)

Proposal [here](https://docs.google.com/document/d/1pCLzTfNP5-_Z9taNK0W5hntyKbP4E5DI4-6n16GpyeU/edit#).

[2020-02-10 15:21] bsnchan commented on #84
/assign @mattmoor

[2020-02-10 15:24] mattmoor commented on #84
Thanks @bsnchan !

[2020-02-10 16:41] bsnchan opened #85 "Revisit Slack Permissions"
## Current State
Only Googlers have the "Workspace Owner" role in the Knative Slack group. All the other steering members and TOC members have the "Workspace Admin" role.

## Proposed State
All steering members should be "Workspace Owners" of the Knative Slack.
TOC members should remain as Knative Workspace Admins.

[2020-02-10 17:52] bsnchan opened #86 "Move to Knative Community owned GSuite account"
## Current State

The Knative GSuite tools use the `google.com` domain at the moment. This affects:
* Google Drive
  * Folks outside of Google can't control the ownership of the community drive itself
* Knative Community Calendar
  * Folks outside of Google have read/write access but don't have admin privileges
* Hangouts
  * We still use Hangouts for a lot of WG meetings which require someone fro

[2020-02-10 18:38] mattmoor commented on #84
I've renamed the existing teams we plan to drop with a `Legacy ...` prefix and created all of the new teams and sub-teams.

I'm going to pause until tomorrow to make sure nobody screams before proceeding to the next phase, which is where folks will definitely start losing privileges.

[2020-02-10 21:55] bsnchan opened #87 "Social Media Access for Steering Committee"
## Current
Only two folks in steering have access to the KnativeProject Twitter account. I'm also unsure if we have any other social media accounts.

## Proposed
@rgregg suggested using TweetDeck so we can all have access to the KnativeProject Twitter account.

[2020-02-11 18:18] bsnchan opened #88 "Shift productivity infrastructure to a community managed environment"
## Current
All the infrastructure used by the Productivity WG is currently inaccessible to people outside of Google

## Proposed
TBD.

## Notes
* We've previously discussed sharing the cost of infrastructure at the steering level. Let's revisit this conversation to see how we might want to approach this.
* I believe folks outside of Google also cannot submit performance metrics to mako.dev

[2020-02-11 18:23] bsnchan opened #89 "Move Knative webpage telemetry to a community owned account"
# Current
Telemetry for the Knative website isn't viewable for folks outside of Google at the moment

# Proposed
Move telemetry (I believe it's Google Analytics) to a Knative shared account

[2020-02-11 18:26] n3wscott opened #90 "Remove the usage google CLA choose between CNCF easyCLA vs DCO"
The @googlebot CLA handling is broken for multi-authors and github suggestion acceptance.

We should make a Knative CLA that does not use the Google CLA so we can allow for correct handling of multi-contributors.

see https://github.com/knative/pkg/pull/1066/#issuecomment-584777023 for the typical broken interactions with @googlebot CLA.

[2020-02-11 18:52] duglin commented on #90
DCO!

[2020-02-11 19:06] n3wscott commented on #90
@duglin I find DCO to be even more frustrating to use.

[2020-02-11 19:08] mattmoor opened #91 "Reconcile Broad permissions for eallred"
Currently Eric and Paul are members of Knative Admin, but don't hold an official role on the Project.

We are trying to align levels of access with project roles, and this is an instance where we've likely uncovered folks implicitly performing important functions: https://docs.google.com/document/d/1pCLzTfNP5-_Z9taNK0W5hntyKbP4E5DI4-6n16GpyeU/edit#

[2020-02-11 19:15] mattmoor opened #92 "Reconcile knative-milestone-maintainers with project roles"
Currently the Knative Milestone Maintainers group is used by Prow to gate access to `/milestone` commands.  I'd like guidance on how this aligns with our project roles, but it is also plausible that we should simply be more open and allow org members use this until it becomes a problem.

[2020-02-11 19:28] mattmoor commented on #91
I've created a temporary "team" for Eric and Paul under Knative Admins here: https://github.com/orgs/knative/teams/tbd-admins

[2020-02-11 21:37] dprotaso commented on #90
I've contributed to envoy - it's just a matter of adding a `-s` like so
[code]

[2020-02-11 23:00] rgregg commented on #90
I'm aware of a few issues with the Google CLA bot. I believe we've been working with the team that owns the tool to see if we can improve the issue for multiple owners. The good thing is that we can work around the tool as necessary. If there's more feedback we can take to the team to improve how the bot works on a project like this, I'd love to capture that feedback and share it.

With the struct

[2020-02-11 23:51] mattmoor commented on #88
Looks like the Mako folks are giving up: https://github.com/google/mako/issues/2#issuecomment-581547992

[2020-02-12 02:25] duglin commented on #90
Can you elaborate? Are you saying the SC can’t change this if they wanted?

Sent from my iPad

[2020-02-12 06:08] rgregg commented on #90
Yes, with Google's ownership of the project and granting a license of the intellectual property, we need the Google contributor license agreement to be signed by all contributors. Creating our own Knative CLA bot to enforce a Knative-specific CLA would not be something that the steering committee can decide directly.

I'd like to better understand the impact of the CLA bot not functioning well in

[2020-02-12 13:20] duglin commented on #90
While not a blocker for IBM, I do know that having a company specific CLA on an open source project does raise some eyebrows during our internal reviews. And I have heard from other companies that they've run into similar concerns and even roadblocks over it. This falls into the category of "bad optics" when trying to convince people that this really is an open-source project and not just a Google

[2020-02-12 16:51] mattmoor opened #93 "Reconcile TBD Eventing planning role"
I created this team to hold Akash, who lost privileges: https://github.com/orgs/knative/teams/tbd-group-for-triage-and-planning

His words on what he needs:

[2020-02-12 16:51] mattmoor commented on #93
cc @vaikas @lionelvillard

[2020-02-12 18:01] mattmoor opened #94 "Broken links on working-groups/WORKING-GROUPS.md"
I believe the move to a sub-folder broke the links to `mechanics/`

[2020-02-12 18:02] mattmoor opened #95 "WG page mentions use of Wiki, nobody uses the Wiki"
https://github.com/knative/community/blob/master/mechanics/WORKING-GROUP-PROCESSES.md#running-a-working-group

[2020-02-12 18:51] dprotaso commented on #93
Is that this role?

https://github.com/knative/community/blob/master/ROLES.md#working-group-execution-lead

On Wed, Feb 12, 2020 at 11:51 AM Matt Moore <notifications@github.com>
wrote:

[2020-02-12 19:02] mattmoor commented on #93
Possibly, but I didn't want to label it as such without the typical process, which will need a PR here to codify the role :)

[2020-02-12 21:13] n3wscott commented on #90
The only folks who can work around it are from Google. Which leads to a lot of "haallllp I need a googler..."

[2020-02-12 21:29] bsnchan commented on #86
Hey @rgregg @isdal - this feels like an easy one to tackle. Is there any chance we can get some budget for this?

[2020-02-15 16:18] mattmoor opened #96 "Google release artifacts should live outside knative-releases"
The release artifacts for github.com/google/knative-gcp are published into gs://knative-{releases,nightly} and gcr.io/knative-{nightly,releases}.

Either Google should stop doing this, or access should be opened up for other vendors to publish integrations here.  My preference would be to limit what's published here to what lives in the upstream organization(s).

See also: https://github.com/knati

[2020-02-15 16:22] mattmoor commented on #84
At this point access (above "read") is granted exclusively through the new teams, and all existing groups have been dropped to "read" access on any repositories they touch.

For now the game plan is whack-a-mole as folks discover they have lost permissions they need.

In the coming week or so (no rush), I will clean up all of the Legacy teams since they should be redundant with Knative Users for g

[2020-02-17 10:53] Benson666 opened #145 "Is Knative subject to US EAR？"
Is Knative subject to US EAR？Can an enterprise in Entity list obtain and use Knative，eg. Huawei？

[2020-02-20 16:07] mattmoor commented on #84
This is now done, we can keep backfilling as stuff comes up, but there isn't a strong need to keep the old teams around any longer IMO.

[2020-02-20 16:07] #84 closed

[2020-02-25 21:20] mattmoor opened #101 "Reconcile TBD Google tech writers"
I created this temporary team with elevated access to be resolved by steering: https://github.com/orgs/knative/teams/tbd-google-tech-writers/members

[2020-02-26 03:18] n3wscott commented on #81
Any action here?

[2020-02-26 03:18] n3wscott commented on #81
Cc @bsnchan

[2020-02-27 20:07] evankanderson commented on #81
What WG will own this code? Assuming that we have an ownership model in place, I'm 👍 on this proposal.

[2020-02-28 03:09] coryrc commented on #69
-sandbox is currently winning: https://app.slack.com/client/T93ELUK42/CU9DGL4FM/thread/C93E33SN8-1582850486.042800

[2020-02-28 03:39] dprotaso commented on #69
`-experimental`

[2020-02-28 20:51] n3wscott commented on #81
The sources WG would.

[2020-02-28 22:59] evankanderson commented on #81
@lionelvillard @nachocano

(As a heads-up on a new repo for you)

/assign @mattmoor @vaikas

To approve for TOC as well.

I'll get someone from Steering to sign off, but as this is a component that isn't owned elsewhere and is useful to client for working with eventing, I don't think there's really a scope question.

[2020-02-28 23:52] rgregg commented on #88
Any community alternatives to Mako?

[2020-02-28 23:53] rgregg commented on #87
I've added the steering members to the twitter handle via TweetDeck.

[2020-02-28 23:53] #87 closed

[2020-02-28 23:58] rgregg opened #102 "Add the donation checklist to the repo guidelines"
There's a nice [donation checklist](https://github.com/knative/community/issues/81) that a few people have used in their Issues to donate code to the Knative project. However, this template and the actions required by it are not spelled out anywhere in the repo guidelines.

We should clean that up into a documented process, instead of a shared knowledge thing.

[2020-02-29 14:12] mattmoor commented on #88
@bbrowning What do the Openshift perf folks use for dashboarding?

[2020-02-29 14:19] mattmoor commented on #102
So...  This actually is spelled out (as we discovered Thursday), and it's not that list :)

https://github.com/knative/community/blob/master/REPOSITORY-GUIDELINES.md#requirements-for-repository-donation

[2020-02-29 14:21] mattmoor commented on #102
I think it's worth leaving this open to make it more discoverable, but it exists.

[2020-02-29 14:43] mattmoor commented on #81
tl;dr I am supportive of introducing a concept in knative to bring stronger typing to our duck-typed relationships, but I'm not sure this process is appropriate or the next steps.

_This came up at TOC Thursday, but the actual checklist is [here](https://github.com/knative/community/blob/master/REPOSITORY-GUIDELINES.md#requirements-for-repository-donation)._

Using the donation mechanics for this

[2020-02-29 22:42] rgregg commented on #102
I think the guidelines are insufficient, and hence why that checklist grew organically out of previous requests. E.g. there's nothing in the documented guidelines about Steering having a voice about a fit to project scope. The documented steps are a very tactical "do this than that" kind of thing, without the strategic/project elements included, which are more visible in the checklist.

I'd like t

[2020-02-29 22:42] rgregg commented on #102
Also, we shouldn't leave issues open to fix discoverability problems.

[2020-02-29 23:01] mattmoor commented on #102
I meant leave it open to track FIXING the discoverability issues 😉

[2020-03-02 17:37] rgregg commented on #69
We voted in the Steering committee today, and decided on 'knative-sandbox'. We've renamed the org  on GitHub as well.

https://github.com/knative-sandbox

[2020-03-02 17:38] #69 closed

[2020-03-03 12:04] duglin commented on #9
I know there's some talk going on about this, but I wanted to raise this issue back to the top of the SC's todo list. We really need a definitive statement about this on our website so that there is a clear, concise and consistent set of rules that everyone knows they need to follow. There should not need to be off-line discussions just to know what they are. Off-line chats should only be necessar

[2020-03-04 20:07] bsnchan opened #103 "Clarify process to remove WG leads/approvers"
Currently, WG leads/approvers can self remove themselves but it's unclear what the process is for the community to remove a WG lead/approver.

Let's:
* Document that we expect folks to self remove themselves as the default process
* Document what process community members should follow to remove a WG lead/approver

[2020-03-04 20:12] bsnchan commented on #103
/assign @pmorie I believe you said you would take this AI at our steering committee meeting?

[2020-03-05 05:59] mattmoor commented on #90
Couple interesting articles that came up on a recent twitter thread:
 - https://sfconservancy.org/blog/2014/jun/09/do-not-need-cla/
 - https://opensource.com/article/19/2/cla-problems

Firecracker [seems to use](https://github.com/firecracker-microvm/firecracker/blob/master/.github/pull_request_template.md#license-acceptance) inbound=outbound (from the second article)

[2020-03-05 12:29] duglin commented on #90
Quoting the first article:
[code]

[2020-03-05 14:32] bbrowning commented on #88
@mattmoor I'm not sure we have any tools which are exposed publicly, but I'll ask around to see what they use internally to see if that's something we could use in the community.

[2020-03-06 18:39] bsnchan commented on #59
TOC criteria and election proposal here: https://docs.google.com/document/d/1Dfs7CwjdRalT10tMaDtS_VcubCrXpI-8HggbjcWaPv0/edit

We'll leave it open for community feedback until March 20th.

[2020-03-09 16:57] bsnchan commented on #33
/assign @bsnchan

[2020-03-10 16:25] rgregg commented on #68
Quick update, we've converted Slack over to a paid standard plan.

[2020-03-10 16:25] #68 closed

[2020-03-12 22:01] nachocano commented on #81
The more I think about how to properly solve [this ](https://github.com/knative/eventing/issues/2484), the more I like this `discovery` API.
Given that we are thinking of revisiting some of our [EventType registry](https://github.com/knative/eventing/issues/2750) work sometime soon, I would highly suggest to start with adding this `discovery` API to the eventing repo. Some of the work on EventType

[2020-03-19 17:14] bsnchan commented on #59
We are planning to leave this open until **March 27th** due to folks operating under limited bandwidth at the moment.

[2020-03-20 23:03] mattmoor commented on #86
tl;dr I'd like to plug for an increase in the priority of this.

I had a quick sync with @dims and having a community Gsuite org seems to be one of the cornerstones of how they are migrating the pieces of the K8s CI/CD/Release infrastructure from Google-only, to community based.

It sounds like they have significant automation for managing the Gsuite org (see [here](https://github.com/kubernetes/k

[2020-03-24 17:26] rhuss commented on #76
Can we continue to work on this issue ? Currently I'm trying to get a repository `knative/homebrew-client` created which not much luck:

* Sent mail to knative-admins@googlegroups.com
* Asked in #toc-steering-questions

Before bugging @mattmoor again I think it would be a good occasion to establish a process around this not-so-uncommon use case.

It's not so much about how the repo looks like (thi

[2020-03-26 17:23] bsnchan commented on #86
/assign @rgregg @evankanderson

[2020-03-26 17:29] rgregg commented on #86
I'm working on setting up a G-Suite account for us to use.

[2020-03-30 07:02] rhuss opened #110 "Update Knative calendar for changed Client WG calls"
See #109 for details.

[2020-03-31 19:52] rgregg commented on #9
I'm assigned and working on this. As with anything involving lawyers, progress is slow. @duglin I'm looking to gather more requirements around what the community wants the guidelines to be. Are you the right contact from IBM to connect with so we can understand the asks from IBM?

[2020-04-01 12:25] duglin commented on #9
@rgregg sure

[2020-04-03 19:01] richterdavid opened #112 "duplicate WORKING-GROUPS files"
https://github.com/knative/community/blob/762911a8659a1b91b7b23cfc8cf432d19b496a00/working-groups/WORKING-GROUPS.md
and
https://github.com/knative/community/blob/466425c8fddcc69d5d1dbb471099ed346ec793a6/WORKING-GROUPS.md

are near-duplicates. The Client WG meeting schedule appears to be fresher in the former though, and there may be other differences.

At a very minimum, those duplicates should be

[2020-04-06 17:18] ellenevans opened #115 "Update https://knative.dev/community/contributing/working-groups/"
To remove Sam.

[2020-04-06 17:20] ellenevans opened #116 "Update https://knative.dev/community/contributing/docs/docs-contributing/"
"Try out Knative and send us feedback. For example, run through one of the install guides and then try Getting Started with Knative Serving."

The install guides have been winnowed down to a single install guide.

[2020-04-08 16:27] mpetason commented on #112
It looks like the file is getting moved under working-groups instead of top level. I think when that cuts over we can remove the duplicate links. Right now they are there so both links work? Not sure.

[2020-04-08 20:48] pmorie commented on #103
This is closed by #111

[2020-04-08 20:48] #103 closed

[2020-04-09 19:01] pmorie opened #120 "Develop vendor-neutral training materials"
There should be vendor-neutral training materials for use by people learning Knative.

This is important for the growth of our community and has been a request to steering / TOC.

[2020-04-25 17:17] mattmoor commented on #59
I'd say we can mark this as done now, right? 🎉

[2020-04-25 17:21] mattmoor commented on #90
I don't understand why the CLA bot won't even *rescan* for non-Googlers 🙄

See here: https://github.com/knative/net-contour/pull/108#issuecomment-619187191

[2020-04-29 16:53] vaikas opened #130 "We should add more clear definition for the knative-sandbox"
A question has come up a few times about the role that knative-sandbox plays. I know it's been discussed but seems like we never produced a more comprehensive description for it's role, what goes there and why instead of knative org, what is the process for moving things from sandbox to knative, etc.. Or, I just missed it, in which case we should just make the document easier to discover.
https://

[2020-04-30 23:38] evankanderson commented on #130
This is something for Steering to work out, but I think they'd be happy to see references to places where this has worked well in other communities.

[2020-05-04 16:53] bsnchan commented on #59
https://github.com/knative/community/blob/master/mechanics/TOC.md

[2020-05-04 16:53] #59 closed

[2020-05-04 16:55] isdal opened #131 "Clarify scope of Knative"
The steering committee should publish clear guidelines for which efforts are considered within scope for Knative and the Knative org.

[2020-05-04 16:56] isdal commented on #131
We had spent some with between the SC and the TOC to clarify what we consider in scope for Knative. The draft is here and open for feedback.

https://docs.google.com/document/d/1Jj9Kw5wmsqbal0GHabl0OG9xnOzKqbCxdkYak9QzlSk/edit

[2020-05-04 16:58] rgregg commented on #86
We have a G-Suite account now, using `knative.team`. I believe @evankanderson is working on the migration details for our membership groups and shared drive.

[2020-05-04 17:29] rgregg commented on #9
@thisisnotapril is taking on this work.

[2020-05-04 20:28] duglin commented on #9
@thisisnotapril can we get an ETA on this? It's been almost a year since the initial request.

[2020-05-04 20:32] evankanderson commented on #130
Related: #131

[2020-05-06 22:36] evankanderson commented on #130
There were questions at the last TOC meeting about the history of Knative-Sandbox, so I drafted a quick doc:

https://docs.google.com/document/d/1vmzL_DZ6oUr7x3hLq09H6tomeRPPccPdverdngFVJM8/edit#

Mostly, it summarizes what's already written at the start of #23 , but adds some additional "threading the needle" of historical context.

[2020-05-08 21:37] thisisnotapril commented on #9
@duglin should have it this coming week!

[2020-05-13 17:46] thisisnotapril commented on #90
Bot issues aside; I believe everyone on the thread is covered by a corporate CLA already. Information on the Google CLA and the reasoning is here: https://opensource.google/docs/cla/policy/

[2020-05-13 17:56] thisisnotapril commented on #90
That's a good point; I'll ask the team about it and see what we could potentially do to make that process easier. Has there been any success with closing and reopening PRs and force a rescan? That works in other orgs with other bots; curious if it would work here.

[2020-05-18 01:44] duglin commented on #9
@thisisnotapril any update?

[2020-05-19 17:40] evankanderson opened #137 "Sort out knative.team"
Ryan got us a GSuite org. We need to do the following:

* [x] Add new TOC / Steering members to the org
* [x] Get calendar sharing working
* [x] Get team drive working
* [ ] Document setup
* [ ] Update documentation

[2020-05-19 17:41] evankanderson commented on #137
/assign @isdal @evankanderson

[2020-05-20 15:30] evankanderson opened #138 "Move operator from knative-sandbox to knative"
And archive eventing-operator and serving-operator.

[2020-05-21 18:39] evankanderson commented on #138
/assign @markusthoemmes

/close

Thanks Markus!

[2020-05-21 18:39] #138 closed

[2020-05-21 18:53] evankanderson opened #139 "How do we extend the community?"
Came up in the 21 May 2020 TOC meeting.

Both [Google](https://github.com/google/knative-gcp) and Triggermesh ([kinesis](https://github.com/triggermesh/aws-kinesis-channel), [azure](https://github.com/triggermesh/azure-event-channel), [aws sources](https://github.com/triggermesh/aws-event-sources), [mq source](https://github.com/triggermesh/mq-eventsource), [vsphere source](https://github.com/trig

[2020-05-21 18:53] evankanderson commented on #139
/assign @evankanderson @akashrv @isdal @sebgoa

At a minimum are interested parties. Will try to set up a meeting next week, please add yourself to this issue if you want to participate in the discussion.

[2020-05-21 22:15] richterdavid opened #140 "add LICENSE file?"
knative/serving, for example, has a LICENSE file in the root, but knative/community lacks one. Should it have one?

[2020-05-22 00:44] akashrv commented on #139
Thanks for creating this issue. Here is some more context for the discussion. Eventing enables building a rich ecosystem that is needed to enhance end-users experience and drive knative adoption. Example, we define Source Spec, Broker Spec, Channel Spec (there could be more such as Sink Specs) in core. We expect there to be multiple implementations of these to provide end users with a diverse set

[2020-05-22 01:14] thisisnotapril commented on #9
@duglin thanks for your patience - coming very soon! I am having other Steering members review a commitment; then will add the PR.

[2020-05-26 07:40] sebgoa commented on #139
Of the list provided by Evan not all are up to par in terms of quality, but we recently put quite a bit of efforts to get our AWS sources in shape. So if we were to take an example I would point people to:

https://github.com/triggermesh/aws-event-sources

The challenge for us is that if these sources are not part of a "Knative sanctioned" org:

1. Other contributors may not be allowed to contribu

[2020-05-26 21:52] pmorie opened #141 "Explicitly establish who "The Knative Authors" assigns copyright to"
We have statements that assign copyright in many files in this project:

[code]

...but it's not clear who that specifically refers to. There is a file in the serving repo that has an (incomplete) list of vendors:

https://github.com/knative/serving/blob/master/AUTHORS

I personally expect that this phrase refers to the community of individuals that develops the project, not the vendors those peop

[2020-05-26 22:59] jchesterpivotal commented on #141
My understanding is this:

1. Copyright originates in a human performing a creative act.
2. It can be transferred contractually to another legal person (which may or may not be a human).
3. That transfer can be automatic.
4. That transferred IP can be transferred again to yet another party.

The status of copyright is then a matter of the facts of (1) who the actual human author was, and (2) what

[2020-05-26 23:42] vagababov commented on #141
There's golang's example: https://golang.org/CONTRIBUTORS

[2020-05-28 08:05] Harwayne opened #143 "Create knative-sandbox repo named `eventing-kafka-broker`"
Create knative-sandbox repo named `eventing-kafka-broker`.

As #125 has not yet been merged, there is no defined process for creating sandbox repos. It was suggested that we create an issue here instead.

The main purpose of the new repo is to experiment with alternative implementations of integrating Kafka into knative. For example, using Java rather than Go. It is expected to be distinct enough

[2020-05-28 18:57] pmorie opened #144 "Define criteria for different API maturity levels / API conventions"
In many places we refer to "alpha", "beta", and "stable" or "GA" API levels, but these are not formalized anywhere. We should explicitly define the properties of these different levels and criteria that must be met to be considered a particular level.

Closely related to the concept of API maturity levels is having clear API conventions that must be followed so that APIs within the ecosystem "feel

[2020-06-04 08:27] matzew commented on #143
@evankanderson any chance we can get the repo for our student ?

[2020-06-04 20:33] evankanderson commented on #143
I can try to take this on this evening, assuming that no one else on the ToC raises an objection.

[2020-06-10 23:13] evankanderson commented on #137
Set up time on 6/16 to do this.

[2020-06-11 15:56] evankanderson commented on #130
Paul, can we get this in as an interim step towards nirvana, rather than needing to make things perfect in one go?

[2020-06-11 15:57] slinkydeveloper commented on #143
@evankanderson any updates on that one?

[2020-06-11 15:58] evankanderson commented on #139
I will set up a meeting for next week. Any further interested parties?

[2020-06-11 23:11] aijamalnk commented on #139
Hello! My name is Aizhamal, and I recently joined Google's open source team. I'll be working on knative.
I'd like to join this discussion if possible. Could you add me to the meeting? (aizhamal (at) google).
Thanks!

[2020-06-12 17:51] evankanderson commented on #130
More specifically, I'm asking about converting What to do with Knative-Sandbox](https://docs.google.com/document/d/1e0PpX4uUaaolF7k5p05ZK_ScjpS5VRiK5y8cCg4oH7Q/edit) to markdown and considering it current policy (which can always be amended further if needed).

[2020-06-15 18:01] evankanderson commented on #130
Please take a look at the suggested text in #149

[2020-06-16 22:56] #130 closed

[2020-06-17 22:54] grantr opened #152 "Clarify and document the sandbox repository creation and verification process"
Followup from https://github.com/knative/community/pull/149#discussion_r441201231.

https://github.com/knative/community/blob/master/REPOSITORY-GUIDELINES.md#mechanics-of-working-group-owned-repositories-in-knative-sandbox specifies a list of requirements for repository creation, but isn't explicit about the process for applying to create a repository and verifying that the requirements have been

[2020-06-18 15:59] mattmoor opened #153 "Start to move repos from knative org to knative-bikeshed"
Things discussed as in-scope:
 - sample-*
 - net-*

/assign mattmoor

[2020-06-18 17:59] evankanderson commented on #34
I think this is done?

/assign @bsnchan

[2020-06-18 18:00] evankanderson commented on #47
Fixed by #135

(Well, will have peribolos automatically running soon)

/close

[2020-06-18 18:00] #47 closed

[2020-06-18 18:01] evankanderson commented on #70
Is this still needed?

/assign @coryrc

[2020-06-18 18:02] evankanderson commented on #76
#149 and #125 cover much of this now, I think?

[2020-06-18 18:02] evankanderson commented on #76
(Leaving in SC backlog to close or pursue further)

[2020-06-18 18:03] evankanderson commented on #80
Assigning to Steering Backlog to determine if we want to change the release process due to major cloud provider lagging on K8s upgrades.

[2020-06-18 18:04] evankanderson commented on #81
It sounds like the Eventing Sources WG (of which Scott is a lead) would like to sponsor this repo.

I'll create it later today in `knative-sandbox`; if it turns out that the Client WG would prefer to sponsor, I leave it up to them to work that out.

[2020-06-18 18:05] evankanderson commented on #81
/assign @evankanderson

[2020-06-18 18:05] evankanderson commented on #86
/assign @evankanderson

We will be moving Team Drive & Calendar on the weekend of July 4 to attempt to minimize disruption.

[2020-06-18 18:18] evankanderson commented on #112
Fixed in #123

[2020-06-18 18:18] evankanderson commented on #112
/close

[2020-06-18 18:18] #112 closed

[2020-06-18 18:19] evankanderson commented on #115
I think Sam is currently on leave, rather than having resigned, but we do need to find some new WG leads for Docs.

[2020-06-18 18:20] evankanderson commented on #116
We should move the contributing guide for docs to the Docs repo.

[2020-06-18 18:20] evankanderson commented on #143
Sorry -- was waiting on #130 to finish. I'll create this today.

[2020-06-18 20:09] evankanderson commented on #143
@slinkydeveloper or others following: you can `/lgtm` the website PR if you want. I think the Prow jobs need someone from test-infra to `/approve`

[2020-06-18 20:47] evankanderson commented on #152
/assign @evankanderson
/project "Technical Oversight backlog"

[2020-06-18 20:48] evankanderson commented on #143
/assign @evankanderson

[2020-06-18 20:48] duglin commented on #34
Sort of. What's missing now, and I'll admit it's only obvious due to the history, is what can't the TSC do? ie. What does Google retain control of?

[2020-06-18 20:49] duglin commented on #34
Oops - sorry, I was looking at the TOC doc. The SC one is still incorrect IMO

[2020-06-19 17:04] bsnchan commented on #34
/assign @thisisnotapril

[2020-06-19 19:43] evankanderson commented on #143
Thanks for the PRs!

I'd like to wait for https://github.com/knative/test-infra/pull/2222 before starting to use the new repo, but I'll take a look at the peribolos changes.

[2020-06-22 22:03] mattmoor commented on #153
The process that @chaodaiG and I followed was roughly what I pasted in slack, thought Peribolos was struggling when we found it.

---
Alright, so sample controller seems to be moved, and barring peribolos working, we think we have some instructions:
1. PR against test-infra to replace jobs: https://github.com/knative/test-infra/pull/2226
2. PR against website to change vanity URLs: https://github.

[2020-06-23 23:39] grantr commented on #93
This team is now called [Eventing Triage](https://github.com/orgs/knative/teams/eventing-triage). @lberk has been participating in the weekly eventing triage meetings and needs bulk labeling permissions, so he's now a member as well.

[2020-06-25 16:14] mattmoor commented on #70
Sounds like Cory is out of office for a bit, let's snooze this until we can get more context (eta: mid August).

[2020-06-25 16:15] mattmoor commented on #81
Likely blocked on https://github.com/knative/community/issues/152

[2020-06-25 16:18] mattmoor commented on #86
@evankanderson You mentioned sitting down with Tomas last week to work on this, any update?

[2020-06-25 16:19] mattmoor commented on #137
@evankanderson is this a dupe with: https://github.com/knative/community/issues/86

[2020-06-25 16:45] mattmoor opened #166 "State of Observability"
Rotating the WG update schedule, Observability would have been next but was "struck through", and the intent of this was not completely clear to me.  It was not my understanding that we had closed on the topic of "what to do with Observability" (it is still in our community docs).

I think that we either need to get Observability back into the "WG update" rotation or archive the WG and clean up th

[2020-06-25 16:49] mattmoor opened #167 "Adjust the language around K8s minimum version"
From 6/25 TOC call.

This came up because @dprotaso was adjusting our table to reflect reality.  I also raised that we should probably have a more holistic conversation around this principle considering the hard practical realities that we and our users face.

Let's scope this issue to the set of changes we want to see in the near-term, and if it doesn't cover things, let's split off a new issue t

[2020-06-25 18:38] mattmoor commented on #153
I have staged PRs for 1-3 for sample-source (linked).

[2020-06-25 19:50] evankanderson commented on #143
It looks like this is complete, and we have PRs that have merged.

/close

[2020-06-25 19:50] #143 closed

[2020-06-25 19:52] evankanderson commented on #137
I think this was part of #86. This was about having the GSuite configuration working to share; I'm going to use #86 for doing the actual cutover.

[2020-06-25 20:23] dprotaso commented on #167
What prompted this issue:
https://github.com/knative/community/pull/163

[2020-06-25 20:41] bsnchan opened #169 "Rename knative-sandbox github org"
Historical context: #69

Based off of the Functions WG retro, the `knative-sandbox` name is confusing as it contains stable code. We currently have 3 use cases:

* experiments/incubation: things we hope to grow into core, extensions, or abandon
* extensions that implement an interface
* "core" interfaces with multiple implementations

Some ideas from the conversation:
* knative-contrib
* knative-e

[2020-06-25 21:13] evankanderson commented on #86
Update is:

The following calendar and document should be publicly visible:
https://calendar.google.com/calendar?cid=a25hdGl2ZS50ZWFtXzlxODNiZzA3cXM1YjlycnNscDVqb3I0bDZzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20
https://docs.google.com/document/d/1hsAifnnyiOW0kvkArqsY0HIXBDijGOzUC8TuPiUhUxc/edit?usp=sharing

Unfortunately, it appears that I can't copy things from "[Knative Community](https://drive.google

[2020-06-25 21:16] vagababov commented on #86
Evan, will we all be able to move meetings back to meet/hangouts running with gSuite account?
Also does anyone get emails from this domain, or it's purely for drive/calendar?

[2020-06-25 21:19] evankanderson commented on #86
With respect to meetings, I'm happy to leave the choice of meeting platform up to the WG leads, assuming we can get meetings recorded.

I think the plan is to have administrative accounts for Steering & TOC, but not to create a large number of accounts in the @knative.team domain. It's been tested that accounts from outside the domain can manage sharing for both calendar and drive, so it shouldn't

[2020-06-25 21:20] evankanderson commented on #86
(We may end up moving some mailing lists to @knative.team as well to enable using the Google Apps APIs to manage the mailing lists, but I expect that to be a separate project if it happens.)

[2020-07-02 08:12] rhuss commented on #169
I'm plus 👍  for using another name as sandbox as the name is really associated as being kind of a playground.

If there is supposed to be only one single organisation, then I think something generic like `knative-contrib` or `knative-extensions` makes much sense.

However, we can also have multiple organisations reflecting the different purpose as mentioned above:

* `knative-sandbox` for experime

[2020-07-02 08:19] rhuss opened #174 "Where to add Knative client plugins ?"
The client WG wants to split up https://github.com/knative/client-contrib that holds knative client plugins into multiple repositories, one for each plugin.

Naturally, these should go into https://github.com/knative-sandbox but they are also more than just experiments. We suppose these plugins to be a consolidated list of eventing plugins (much like the `net-` repos for ingress implementations).

[2020-07-02 08:19] rhuss commented on #174
// cc: @daisy-ycguo @maximilien

[2020-07-02 09:24] markusthoemmes commented on #169
For the sake of completeness: `knative-ecosystem` and `knative-community` have been floating around too. I personally very much like the former as it draws a clear distinction to core while not being too fuzzed about the quality of stuff living in there.

[2020-07-02 11:50] rhuss commented on #169
But isn't the "core" also part of the 'ecosystem' ?

[2020-07-07 06:08] #95 closed

[2020-07-09 21:15] evankanderson commented on #140
@thisisnotapril

I think this repo should be CC BY 4.0 [like docs](https://github.com/knative/docs/blob/master/LICENSE)?

[2020-07-09 22:36] tcnghia commented on #153
PRs staged for net-http01 move:
https://github.com/knative/test-infra/pull/2283
https://github.com/knative/website/pull/190
https://github.com/knative/community/pull/180

[2020-07-09 23:22] tcnghia commented on #153
Moved to net-http01 to https://github.com/knative-sandbox/net-http01

[2020-07-13 13:46] #140 closed

[2020-07-13 13:50] #94 closed

[2020-07-13 16:58] evankanderson commented on #115
Added Ashleigh, we'll see if Sam comes back in another few months.

/close

[2020-07-13 16:58] #115 closed

[2020-07-14 01:19] mattmoor commented on #166
I'm going to put this on this week's agenda since this came up in slack: https://knative.slack.com/archives/C964EFQAW/p1594674091070300?thread_ts=1594388710.067600&cid=C964EFQAW

[2020-07-14 19:06] tcnghia commented on #153
Moved to net-{contour,certmanager} to https://github.com/knative-sandbox

[2020-07-15 02:52] chizhg opened #186 "Investigate why adding new members in knative and knative-sandbox org will fail peribolos"
For unknown reason, the peribolos Prow job will fail when `urasoko` is in the `knative-sandbox.yaml` file, so we have to remove them, see https://github.com/knative/community/pull/185.

We should find out the cause for this issue and add them back after we fix it.

[2020-07-16 16:09] evankanderson commented on #166
We care about making it possible to observe the working of Knative components and make it easy to integrate with o11y backends. Individual WGs will still be responsible for instrumenting their components for metrics, tracing, etc as needed, but we don't have anyone currently with bandwidth to drive larger improvements to observability for workloads running on Knative.

I propose that we [dissolve

[2020-07-16 16:57] antoineco opened #188 "Serving and Community samples are not in sync"
https://knative.dev/community/samples/ and https://knative.dev/docs/serving/samples/ are not in sync.
This is confusing for newcomers.

In today's community meetup, @evankanderson mentioned

but @n3wscott also mentioned

[2020-07-16 18:32] bsnchan commented on #33
Conversation and Discussions happening here: https://docs.google.com/document/d/1wkQ0okNxdrno88Wj-J7uqPIPMB7Uvge_kuV4RXRI4JE/edit#

[2020-07-16 18:51] vaikas commented on #60
Do we feel like this has been sufficiently addressed by our Knative Community Meetups?

[2020-07-16 19:02] bsnchan commented on #145
For other folks looking to get the answer to this, this is the response we heard from Max

[code]

[2020-07-16 19:02] #145 closed

[2020-07-16 22:35] tcnghia commented on #153
So .. all `sample-*` and `net-*` repositories are moved.

I saw a few remaining candidates:
- eventing-contrib (cc @vaikas @n3wscott )
- client-contrib (cc @rhuss)
- homebrew-client (cc @rhuss)

[2020-07-17 00:26] vaikas commented on #153
Yeah, eventing-contrib, we already moved the rabbit source and I think there's some kafka work ongoing as well.

[2020-07-17 00:56] tcnghia commented on #169
Now that we moved most repositories, I think it is time to refocus on this conversation. If anyone has more suggestions, please speak out, and may be we will start voting / deciding next week?

@rhuss raised a good point in https://github.com/knative/community/issues/169#issuecomment-652857795 that we should be mindful of even more orgs being created in the future when choosing a new name for `kna

[2020-07-17 17:41] csantanapr commented on #169
I gave this feedback on the google doc, but recording here my 2 cents.

I think `knative-sandbox` is fine any other meaning can be added to the description of the org.
This org if it required to change the name then I propose `knative-experimental` or `knative-playground`

I think we need a place for proper extensions/plugins to keep the core smaller and leaner, same way we have Linux core/kernel

[2020-07-17 17:46] csantanapr commented on #174
These plugins git repos should go into a `knative-extentions` github org 🍿

[2020-07-20 07:23] rhuss commented on #169
Sounds good to me, but as you don't callout organisation names not that much like repository names, I wonder whether an abbreviation is needed here.

Beside the same argument as above, I don't think "ecosystem" really hit the nail, as the "core" ( repo 'knative') **IS** also part of the 'ecosystem', so that name doesn't really indicates that it is an _addition_ and complementary to the core ("knat

[2020-07-20 07:28] rhuss commented on #169
I'm totally fine with having three repositories:

* *knative-sandbox*, *knative-experimental*, *knative-playground* .... for collecting experiments. Low entry barrier, and no process behind this. No release process is involved here.

* *knative-extensions*, *knative-contributions*, *knative-addons*, .... for curated and maintained projects that extend the Knative core funtionality and produces rel

[2020-07-20 07:34] rhuss commented on #153
@tcnghia how can we start the process for moving over the plugins from `client-contrib` to per plugin repositories as suggested in #174 .

* Who should be contacted with a new repo name along with OWNERS for the new repo ?
* How can we start the integration into CI ?

[2020-07-20 13:44] mattmoor commented on #153
@rhuss I'll propose the following strawman to avoid overloading this issue too much:
1. Create an issue in client-contrib for each repo move.
2. Add those issues to the TOC board (org-level), and we can spread the love as each is ready to move.

[2020-07-20 14:58] duglin commented on #88
@bsnchan does this issue cover just the performance stuff or do you see it covering all tooling used by knative? e.g. github management (e.g prow), release building, PR testing, etc...

It would be great if we could expand it. Start by enumerating all of the bits that (today) require a specific cloud provider, and then work on 1) tweaking the code/scripts to support multiple providers, and 2) look

[2020-07-21 08:41] markusthoemmes opened #193 "Investigate the usage of divisive language throughout Knative."
In the last ToC meeting we briefly touched on the topic of divisive language in the Knative project. The consensus was that we should definitely commit to avoid divisive terms wherever possible.

[2020-07-21 08:44] markusthoemmes opened #194 "Consider adding a banner stating the project's against racism of any form."
Similar to #193 several projects have added a banner to their website to call out there solidarity. In the ToC meeting there was an expressed desire to add a similar banner to our website too.

[2020-07-23 15:39] evankanderson opened #199 "Document process to retire a user-facing feature"
Autoscaling just did this successfully for custom-metrics.

Maybe Markus or Victor could write up the process that they used (3-4 paragraphs) and put it in `mechanics/`

[2020-07-23 15:39] evankanderson commented on #199
/project "Technical Oversight Backlog"

[2020-07-23 15:55] mattmoor commented on #153
I'd propose that for the remaining issues, which also entail breaking apart `-contrib` repos we use other issues, since it's more than simple moves.  Let's follow what's above ☝️

[2020-07-23 15:55] #153 closed

[2020-07-23 16:01] markusthoemmes commented on #199
/assign

[2020-07-23 16:09] grantr commented on #81
Repository created in https://github.com/knative/eventing/issues/3167

[2020-07-23 16:09] #81 closed

[2020-07-24 07:44] zhanggbj commented on #174
@rhuss
Not sure if the repos are already created, just revisit the plugin names, it looks a little bit long to me if start with `kn-plugin-`, is it still possible to keep using `kn-`, I think that already make it clear that it is part of `kn` client.
Btw, I assume later we'll have a centralized place to list all the kn plugins there, just like all the net-xx solutions for knative serving. There us

[2020-07-24 10:14] rhuss commented on #174
I'm not sure if a longer name is really an issue as you don't have it type all day. The reasoning behind using a `kn-plugin` prefix for all plugin repositories is to distinguish it from more other `kn` extension like a potential `kn-shared` (for shared code) or `kn-builder` (for supporting a custom kn build process). However if the community thinks that its better to reflect the final c ommand nam

[2020-07-26 08:15] zhanggbj commented on #174
Thanks @rhuss for the explanation. Personally I prefer short name `kn-admin`, but if as you mentioned, the community needs to differ from repo like `kn-shared`, then I'm also fine with the long name:-)

[2020-07-27 05:57] navidshaikh commented on #174
If there are plans for repos like `kn-shared`, the plugins repo names should be explicit with prefix `kn-plugin-`.

[2020-07-27 21:16] #152 closed

[2020-07-27 21:22] evankanderson commented on #76
With #125 in, I think we can:

/close

[2020-07-27 21:22] #76 closed

[2020-07-28 16:58] abrennan89 commented on #199
@evankanderson @markusthoemmes should there be something about removing any docs for a retired feature in the process, e.g. adding a PR or raising an issue to have a feature removed?
This might be simple if it's a feature that's only mentioned in one section of docs, but some features are mentioned throughout, e.g. the current updates to Broker docs.

[2020-07-28 17:53] evankanderson commented on #199
(Put your comment on #200, which is the PR to start documenting the process)

[2020-07-30 17:04] Cynocracy opened #202 "New Repo: knative-sandbox/operand"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: operand

Purpose (Description): Prototyping proposed separation of concerns between operand and operator: https://github.com/knative/operator/issues/221

Sponsoring WG: Operations

## Actions to fulfil

This area is used for the T

[2020-07-30 17:04] Cynocracy commented on #202
@houshengbo can you agree to take on this repo if I leave the community? I think that's a pre-requisite.

[2020-07-30 17:19] evankanderson commented on #202
Ref: https://github.com/knative/community/blob/master/mechanics/CREATING-A-SANDBOX-REPO.md#criteria

[2020-07-30 17:58] evankanderson commented on #193
Some additional background discussion from the linux kernel: https://lkml.org/lkml/2020/7/4/229

Kubernetes document: https://docs.google.com/document/d/1bnPvb6oE07Wg9rb7kBXcpHe6j85bbyltdc0h0_gil88/edit

[2020-07-30 17:59] evankanderson commented on #193
The kubernetes document has a lot of associated background reading for those interested.

[2020-07-30 18:26] richterdavid opened #203 "develop a plan for divisive language from our dependencies"
Building on https://github.com/knative/community/issues/193: we will not be able to fully scrub Knative of known divisive terms while we rely on dependencies that have divisive terms in the APIs that we use. Please develop a plan for addressing this, e.g., tracking current instances and engaging with current dependencies, policies around introductions of new APIs/dependencies, etc.

/assign markus

[2020-07-30 19:39] evankanderson commented on #194
Ref golang discussion (I found Russ Cox's commentary helpful): https://groups.google.com/g/golang-nuts/c/YzN4LkMHs7k/m/XFtRziMfBgAJ

[2020-07-30 20:06] Cynocracy commented on #202
It was suggested to me to prototype this in a personal repo to start, and I think that's very reasonable. I'll close and open a new issue once I have something to share with the WG.

[2020-07-30 20:06] #202 closed

[2020-08-05 22:44] #167 closed

[2020-08-06 13:33] dprotaso opened #206 "Revisit K8s min versioning principle & Knative support policy"
With K8s 1.19 imminent (Aug 25 2020) the K8s support policy will be changed see: https://github.com/kubernetes/enhancements/tree/master/keps/sig-release/1498-kubernetes-yearly-support-period

We should revisit our K8s min versioning principle & possible update the version tables to reflect any changes.

[2020-08-06 15:19] markusthoemmes commented on #193
Here's a preliminary list of words we'd like to replace in the process as a first step: https://docs.google.com/spreadsheets/d/1uSCWEody7WFnBQW4EnQfXFehmt-4DFh-QnoOb9-0d1A/edit#gid=0

In accordance with the Linux kernel, we're going to start with master/slave and whitelist/blacklist and potentially add more as time goes on.

[2020-08-06 15:23] zhanggbj commented on #174
@rhuss @maximilien @daisy-ycguo @navidshaikh Hi,  do we have a final decision,  like `kn-plugin-admin`? I think the community are waiting for our final name prefix to create a repo :-)

[2020-08-06 16:12] mattmoor commented on #166
Talked about this today at TOC.  We'll move ahead with retiring the Working Group.

We can always form a new working group given sufficient activation energy. 😉

[2020-08-07 01:09] Cynocracy opened #210 "PROCESS CHANGE: Semantic Versioning for PKG (and other 'library repos')"
https://docs.google.com/document/d/1fkZOpl6X9JcHRsYT3VLQI2F4xVSBmwPh16XMSakfgm4/edit?usp=drive_open&ouid=109747440436841769641

* Expected benefits. Who gains the benefits? Why will they benefit?

Downstream consumers of Knative, and cross repo dependencies within the Knative ecosystem suffer from fewer unintentional breakages, and when breakages occur they are intentionally picked up downstream (

[2020-08-08 06:26] tcnghia commented on #169
Friendly ping @pmorie

[2020-08-10 17:46] #166 closed

[2020-08-11 00:54] Cynocracy commented on #210
Here's an example flow for a particularly annoying edge-case that hits us internally:

1. PKG and net-istio are not versioned, which means go mod thinks they are cross-compatible always.
2. Breaking PKG change is made, user is aware of it, and updates serving but not net-istio.
3. Downstream consumers cannot upgrade until net-istio is fixed.

[2020-08-12 10:44] zhanggbj opened #211 "New Repo: knative-sandbox/kperf"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: kperf

Purpose (Description):
As discussed on Serving WG meeting on [2020-08-05](https://docs.google.com/document/d/1NC4klOdNaU-N-PsKLyXBqDKgNSHtxCDep29Ta2b5FK0/edit#heading=h.wfetj9f1dqvz), I would like to request a repo for `kpe

[2020-08-12 10:46] zhanggbj commented on #211
Hi @mattmoor @vagababov @grantr @maximilien, thanks for the feedback and support, here is the repo request as we discussed. Thanks!

[2020-08-12 13:51] maximilien commented on #211
Thank you Grace @zhanggbj.

Can’t wait to have this in the hands of everyone and see where it goes and most importantly allow other members of the community to run performance tests on Knative as you and the IBM Beijing team have been doing.

[2020-08-12 13:55] maximilien commented on #211
Also, adding @evankanderson and @markusthoemmes and thanking them in advance for feedback and help 🙏🏽

[2020-08-12 18:03] #199 closed

[2020-08-13 16:01] tcnghia opened #216 "Changing the release date 2020-12-20"
This release date is bad since it is right around Christmas / New Year time:
* We also have other repositories whose release are following that week, and
* If issues happen, few will be around to help clean things up

I brought this up in the TOC meeting this week and the generally thinking is that we would like to move the release date forward, probably to 2021-01-04 or later.

Creating this issu

[2020-08-14 15:53] mattmoor opened #218 "Create .github repo in each org"
I believe we can use this to share stuff org-wide, and selectively override things in individual repositories.

See: https://github.com/chef/.github

I haven't looked at whether this works with Github Actions, but I think this is worth exploring regardless.

[2020-08-14 15:54] mattmoor commented on #218
cc @chaodaiG @chizhg

[2020-08-14 15:59] mattmoor commented on #218
This only calls out the community files: https://github.blog/changelog/2019-02-21-organization-wide-community-health-files/

[2020-08-14 16:03] chaodaiG commented on #218
It's required by github actions as well: https://docs.github.com/en/actions/configuring-and-managing-workflows/sharing-workflow-templates-within-your-organization

[2020-08-14 23:31] mattmoor commented on #218
It looks like the `.github` repo's `workflow-templates` feature just creates a sort of marketplace of workflows that you can enable through the Github actions UI.  It still seems to fork the action at creation time into the repo that's consuming it 😞

[2020-08-15 01:20] mattmoor commented on #218
Scott found this, which could be useful: https://github.com/marketplace/actions/github-workflow-sync

[2020-08-15 01:36] mattmoor commented on #218
This is what shows up under "New workflow" with what'd currently in `knative-sandbox/.github`:
![image](https://user-images.githubusercontent.com/2442466/90302724-1262a180-de5d-11ea-9641-00eb8cb14504.png)

[2020-08-15 04:13] mattmoor commented on #218
Alright, @n3wscott and I seeded a bunch of workflows into `knative-sandbox/.github`
![image](https://user-images.githubusercontent.com/2442466/90305046-fff36280-de72-11ea-8aee-259f5c069e0d.png)

[2020-08-18 17:12] beemarie opened #221 "New Repo: async-component"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: async-component

Purpose (Description): This add on component will provide asynchronous functionality to Knative services. More context can be found in the [feature proposal](https://docs.google.com/document/d/1a8f6mVlqQsr0VttWTRL

[2020-08-18 17:15] beemarie commented on #221
@mattmoor @evankanderson @dprotaso
Our directional discussions have concluded, and we landed on an external component to provide the functionality for asynchronous services. While there are still some open questions, I think our feature proposal defines our direction and highlights where we need to do some more exploration.

Please let me know what my next steps should be!

[2020-08-18 17:31] trshafer opened #222 "New Repo: continuous-delivery"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: continuous-delivery
Would be happy with any of the variants: continuous-deployment, progressive-rollout, gradual-rollout, etc.

Purpose (Description):
The purpose of knative continuous delivery is to natively support progressive r

[2020-08-19 19:42] lionelvillard opened #223 "New Repo: eventing-github"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: eventing-github

Purpose (Description):  Github integration with Knative Eventing

Sponsoring WG: Eventing and Source WGs

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATI

[2020-08-19 19:44] lionelvillard opened #224 "New Repo: eventing-couchdb"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: eventing-couchdb

Purpose (Description): CouchDB integration with Knative Eventing

Sponsoring WG: Eventing and Source WG

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATI

[2020-08-19 20:44] lionelvillard commented on #224
/hold

[2020-08-19 20:44] lionelvillard commented on #223
/hold

[2020-08-20 10:16] rhuss commented on #174
Just back from PTO, let's touch down on this.

Let's vote on three possible schemes:

* `kn-plugin-admin` : Prefix `kn-plugin` for all plugins with the benefits that all repos are close to each other alphabetically and we can separate plugin and other client related sandbox repos based on the repo name. Drawback is that the repo does not reflect it's usage when used with `kn` (i.e. there is no com

[2020-08-20 10:16] rhuss commented on #174
**`kn-plugin-admin`**

[2020-08-20 10:16] rhuss commented on #174
**`kn-admin-plugin`**

[2020-08-20 10:16] rhuss commented on #174
**`kn-admin`**

[2020-08-20 10:19] rhuss commented on #174
cc: @navidshaikh @maximilien @daisy-ycguo @zhanggbj @zhangtbj @dsimansk and everyone who is interested how to name repos in the sandbox orga.

[2020-08-20 15:23] mattmoor commented on #194
This is done, so I am going to close.

Thanks to @markusthoemmes and @grantr for driving this!

[2020-08-20 15:23] #194 closed

[2020-08-20 16:03] evankanderson commented on #222
Another possibility is adding a "contributed tools" section to docs and pointing to non-Knative repos.

[2020-08-20 16:27] mattmoor commented on #218
/assign mattmoor n3wscott

[2020-08-20 17:02] grantr commented on #216
Seems like a good idea to me. How would we handle following releases? It would probably be least disruptive to keep the release schedule the same. In other words, we would not shift the following releases 2 weeks later, instead we would just release as normal, 6 weeks after 2020-12-20.

[2020-08-20 17:06] evankanderson commented on #216
I'll send a PR, and we can discuss there?

[2020-08-25 16:20] rhuss commented on #174
Extended until friday since I forgot to ping folks to vote.

[2020-08-25 17:15] Harwayne opened #232 "New Repo: eventing-awssqs"
## Repo information

Org: `knative-sandbox`

Repo: `eventing-awssqs`

Purpose (Description): AWS SQS integration with Knative Eventing.

Sponsoring WG: Eventing and Sources WG

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [x] Add this issue to the [TOC project board](https://github.com/orgs/knative/projects/9) f

[2020-08-25 17:18] Harwayne opened #233 "New Repo: eventing-camel"
## Repo information

Org: `knative-sandbox`

Repo: `eventing-camel`

Purpose (Description): Apache Camel integration with Knative Eventing.

Sponsoring WG: Sources WG

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [x] Add this issue to the [TOC project board](https://github.com/orgs/knative/projects/9) for review

[2020-08-25 17:22] Harwayne opened #234 "New Repo: eventing-ceph"
## Repo information

Org: `knative-sandbox`

Repo: `eventing-ceph`

Purpose (Description): Converts [Ceph](https://ceph.io/) notifications to Cloud Events for use with Knative Eventing.

Sponsoring WG: Sources WG

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [x] Add this issue to the [TOC project board](https://

[2020-08-25 17:24] Harwayne opened #235 "New Repo: eventing-gitlab"
## Repo information

Org: `knative-sandbox`

Repo: `eventing-gitlab`

Purpose (Description): GitLab integration with Knative Eventing.

Sponsoring WG: Sources WG

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [x] Add this issue to the [TOC project board](https://github.com/orgs/knative/projects/9) for review.

-

[2020-08-25 17:25] Harwayne opened #236 "New Repo: eventing-natss"
## Repo information

Org: `knative-sandbox`

Repo: `eventing-natss`

Purpose (Description): NATS streaming integration with Knative Eventing.

Sponsoring WG: Event Delivery WG

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [x] Add this issue to the [TOC project board](https://github.com/orgs/knative/projects/9) f

[2020-08-25 17:27] Harwayne opened #237 "New Repo: eventing-prometheus"
## Repo information

Org: `knative-sandbox`

Repo: `eventing-prometheus`

Purpose (Description): Prometheus integration with Knative Eventing.

Sponsoring WG: Sources WG

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [x] Add this issue to the [TOC project board](https://github.com/orgs/knative/projects/9) for rev

[2020-08-26 16:22] #216 closed

[2020-08-27 15:18] mattmoor commented on #70
I've seen @coryrc on slack, so perhaps we could get this on the agenda for an upcoming meeting?

[2020-08-27 15:34] evankanderson commented on #222
I'd think that this might be more closely aligned with the serving API, but I think if we get answers on "how to keep this from rotting" it would be fine either place.

[2020-08-27 15:42] evankanderson commented on #211
/assign @mattmoor

[2020-08-27 16:28] mattmoor commented on #221
/assign

[2020-08-27 17:08] grantr opened #239 "New Repo: wg-repository (template)"
Creating a repository to be used as a template for new repo requests.

## Repo information

Org: knative-sandbox

Repo: wg-repository

Purpose (Description): Template for WG-owned repositories

Sponsoring WG: TOC

## Actions to fulfil

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [x] Create a new repo in Github UI, with "Apache Licens

[2020-08-27 17:57] mattmoor commented on #211
**My general sentiment**: Given that `mako.dev` is not a community accessible option, I would love to see us move towards something community accessible, which folks can run locally, and operate in their own downstreams.  However, I think we need a clear objective to rationalize aspects of this with certain areas where it overlaps with things we have upstream.

---
**On WG ownership**: I am not su

[2020-08-27 18:05] mattmoor opened #241 "Make the repo creation process more self-service."
The current repo creation process include the manual creation of a repo, which is something that only admins can do.   However, peribolos is an admin and can create repos!

To make the process more self-service, I would suggest the following:
1. Open a PR creating the repo in peribolos with the appropriate permissions, description, etc.  One of these should be the owning WG's leads getting "write"

[2020-08-27 18:13] grantr commented on #241
:+1:

Concretely, we change the creation process by updating https://github.com/knative/community/blob/master/.github/ISSUE_TEMPLATE/new-repo.md. Maybe REPOSITORY-GUIDELINES.md too, though it seems general enough to be independent of the actual creation steps.

[2020-08-27 19:08] chizhg commented on #211
Thank you for bringing this up @zhanggbj and @mattmoor !

To provide a bit more context here, in the past few months, we had been considering different ways to improve the performance testing framework for Knative, but haven't started any work yet because other priorities coming up. I think now it's the time to reconsider the priorities.

My two cents here:
Based on my experience, though the bigge

[2020-08-27 19:31] chizhg commented on #241
You can even configure branch protection with Prow! Example for k8s Prow here - https://github.com/kubernetes/test-infra/blob/6d0d0726ecf131ebe3e9ccd80e208d1c3f8f58be/config/prow/config.yaml#L118. Though I haven't personally tried it yet so I'm not sure how powerful it is.

[2020-08-27 20:30] coryrc commented on #70
Hmm, because we now have Go modules, I think these could actually be separate modules of knative/test-infra. I will try that and come back to you if it doesn't work.

[2020-08-27 20:30] #70 closed

[2020-08-27 20:36] mattmoor commented on #211
@chizhg unless Mako becomes accessible to non-Googlers for benchmark development, it really doesn't belong as an upstream dependency.  This isn't a criticism of its feature-set, but we simply cannot operate an open community where sections (especially ones as important as this) are walled off to non-Googlers.

Since the decision to stop pursuing an "open Mako" it really hasn't been a question of "

[2020-08-27 21:13] #239 closed

[2020-08-27 21:14] mattmoor commented on #241
@chizhg that's actually be great as it'd make this fully self-service (we just have to `/approve`). 🤯

I think that in general we only need `tide`, right?

[2020-08-27 21:26] mattmoor commented on #221
/unassign
/assign @beemarie

@beemarie The repo exists, if you want to sent me a PR for the next couple steps, I'm happy to TAL.

Once Prow is running, feel free to assign back to me to set up branch protection and close this out.

[2020-08-27 21:27] chizhg commented on #241
Looks like it's a separate `branchprotector` tool (just like `peribolos`) - https://github.com/kubernetes/test-infra/tree/master/prow/cmd/branchprotector, so similarly we could configure it as postsubmit Prow jobs which will be triggered when the config.yaml file is changed.

[2020-08-28 05:54] MIBc opened #243 "REQUEST: New membership for MIBc"
Since 2019, I have participated in community contributions and actively participated in the tracking and resolution of community problems.
Currently, I hope to join the community and continue contributing to the project in the field of serverless/faas.
### GitHub Username
@MIBc

### Organization you are requesting membership in
knative

### Requirements

- Has made multiple contributions to the pr

[2020-08-28 07:32] rhuss commented on #243
Definitely +1 one from my side.

[2020-08-28 07:44] zouyee commented on #243
+1！！！！

[2020-08-28 09:10] pierDipi commented on #243
@MIBc, you can create a PR to add your GitHub username to the member list:

- `knative`: https://github.com/knative/community/blob/master/peribolos/knative.yaml#L26
- `knative-sandbox`: https://github.com/knative/community/blob/master/peribolos/knative-sandbox.yaml#L28

[2020-08-28 09:48] MIBc commented on #243
OK. Thanks all.

[2020-08-28 13:43] mattmoor commented on #243
@MIBc please send me the PR, and I can stamp it.  thank you for all of your contributions!

[2020-08-28 14:13] mattmoor opened #245 "Revisit: K8s minimum version principle"
See here: https://kubernetes.io/blog/2020/08/26/kubernetes-release-1.19-accentuate-the-paw-sitive/#increase-kubernetes-support-window-to-one-year

cc @dprotaso @pmorie

[2020-08-29 07:13] #243 closed

[2020-08-31 15:22] beemarie commented on #221
/unassign
/assign @mattmoor

It looks like Prow is running, please feel free to confirm: https://github.com/knative-sandbox/async-component/pull/1

[2020-09-01 13:41] rhuss commented on #174
vote is over, option 1 is the winner (kn-plugin-admin)

[2020-09-01 14:40] mattmoor commented on #221
/close

The repo now exists, and branch protections are enabled.

I think you should be unblocked (maybe one more PR to add yourself to OWNERS?).

[2020-09-01 14:40] #221 closed

[2020-09-02 13:23] #241 closed

[2020-09-02 14:29] n3wscott opened #252 "New Repo: reconciler-test"
## Repo information

Org: knative-sandbox

Repo: reconciler-test

Purpose (Description): Breaking the behavior driven testing framework for reconcilers into a separate releasable module. It is in use in Discovery and Eventing RabbitMQ, each integration required a copy/paste.

Sponsoring WG: Sources WG

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](../tre

[2020-09-02 19:46] chizhg commented on #211
@mattmoor we had some discussions regarding this, and we all agree the way to moving forward is having kperf to generate the data and using Mako for regression detection in the CI environment. Since the data produced by kperf is csv format and should be easy to parse, we can collaborate on defining the interface between kperf and Mako.

[2020-09-02 20:27] mattmoor commented on #211
Ok, that sounds awesome.  So can we think of Productivity as the sponsoring WG here?

If we're good with that, then I'd appreciate if someone would run thru the new self-serve steps for repo creation!

[2020-09-02 23:26] richterdavid opened #259 "Add security issue template(s)"
Now that we have a (draft, pending) security policy, we should have a corresponding issue template, or several if appropriate.

This is especially useful to the extent we can create confidential (just visible by knative-security@googlegroups.com or a corresponding Github team) issues. If we go that route, we should update the security policy to reflect this additional, supported, way to submit rep

[2020-09-03 00:00] n3wscott opened #260 "I can not put community issues into the Knative project board."
trying to follow the steps for new project. Can't add the issue to the project board if the issue is in  community.

[2020-09-03 06:10] chizhg commented on #211
Sure, Productivity WG could be the sponsor here.

[2020-09-03 15:46] evankanderson commented on #260
/assign grantr

[2020-09-03 17:57] grantr commented on #252
For some reason Peribolos didn't add all the requested github teams from #254 to the repo permissions (https://github.com/knative/community/pull/254#issuecomment-686653731). I added Eventing Writers (write) manually so we could make progress.

[2020-09-03 18:04] grantr commented on #260
@n3wscott and I investigated this. Actually every org member can edit the project (including deleting columns, yikes), **but only from the project page**. The Projects gear on the issue page only appears if the user has permission to edit repository projects, which require repo write access.

This is likely a relic from back before org projects existed. If a user didn't have permission to edit rep

[2020-09-03 18:12] grantr commented on #252
https://github.com/knative-sandbox/reconciler-test/pull/1 was created before the "Set up test-infra" step, and Tide and Prow are already working in the repo. Is test-infra setup actually required?

[2020-09-08 07:26] markusthoemmes commented on #193
A quick candidate `grep` statement to check a repo:

[code]

[2020-09-08 15:18] matzew opened #262 "New Repo: knative/eventing-kafka"
## Repo information

Org: knative

Repo: eventing-kafka

Purpose (Description):

For storing all the Kafka components we have. Related to breaking down the overloaded `eventing-contrib` repo.
for Kafka components we have users and APis are stable, and are already at `v1beta1` level. unlike other pieces of `eventing-contrib`, it does not seem right to move the `KafkaSource` and `KafkaChannel` to th

[2020-09-09 01:42] mattmoor commented on #218
Alright, we now have these virtually everywhere.

[2020-09-09 01:42] #218 closed

[2020-09-09 01:44] mattmoor commented on #211
@zhanggbj There is a new self-service process for this, I'll inline the new instructions since the template changed since this was open, but please work with @chizhg to complete the steps.

---
## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [ ] Add this issue to the [TOC project board](https://github.com/orgs/knat

[2020-09-09 01:46] mattmoor commented on #252
@grantr not for tide and CLA bot which use org-level hooks.  If you want any repo-specific prow jobs, then you need to setup test-infra.

Is this done?

[2020-09-09 01:47] mattmoor commented on #223
The new process here is self-service:
---
## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [ ] Add this issue to the [TOC project board](https://github.com/orgs/knative/projects/9) for review.

- [ ] Send a PR adding entries for this repo in `/peribolos/knative-sandbox.yaml`
  - [ ] Add the repository and a descript

[2020-09-09 01:56] mattmoor commented on #252
I enabled branch protection.

/assign @n3wscott

Scotty, create the test-infra jobs you want and mark that PR as fixing this?

[2020-09-09 02:01] mattmoor commented on #236
@grantr was it your intention to still own this given the new self-serve process?  I've updated the issue above to reflect the new process.

[2020-09-09 02:23] zhanggbj commented on #211
@mattmoor @chizhg Sure, thanks for the support and help! I'll take a look at the process and update here if any progress.

[2020-09-09 02:29] n3wscott commented on #252
I don't want any prow jobs, this is intended to be a lib. I think we are gtg, thanks!!

/Close

[2020-09-09 02:29] #252 closed

[2020-09-09 14:52] mattmoor commented on #211
/unassign
/assign @zhanggbj @chizhg

[2020-09-10 09:44] markusthoemmes commented on #193
PRs to all `knative` repositories are out, modulo `test-infra` which might be a little more delicate.

Remaining occurrences are:
- whitelist: spf13/pflag and cobra (in client) https://github.com/spf13/pflag/pull/261
- whitelist/blacklist: strimzi CRD (in eventing-contrib, client-contrib) https://github.com/strimzi/strimzi-kafka-operator/issues/3289
- master: node roles (in eventing) https://githu

[2020-09-11 14:52] #260 closed

[2020-09-15 09:13] julz commented on #193
Downloaded all sandbox repos with the following script:

[code]

Ran grep for divisive language below (using fish):

[code]

Remaining references are to 'master' branch in some update-deps.sh and DEVELOPMENT.md scripts, which will be cleared up when we change main branch, and some 'whitelist' references (see below) from an imported package, for which an issue is already open.

- [x] async-componen

[2020-09-15 09:23] markusthoemmes commented on #193
Awesome, thanks @julz!

[2020-09-15 16:36] zhanggbj commented on #211
@chizhg @maximilien just raised a PR for review, FYI, thanks!
Add kperf to the peribolos sandbox config #276

[2020-09-15 21:22] #232 closed

[2020-09-16 10:29] zhanggbj commented on #211
Repo is created ❤️ and will continue with other TODOs.

https://github.com/knative-sandbox/kperf

[2020-09-17 05:15] #234 closed

[2020-09-17 14:23] mattmoor commented on #245
@dprotaso do you want to take a crack at this now that you're back? 🥺

[2020-09-17 14:28] mattmoor opened #281 "Enable use of codecov for Knative repos"
There is a nice (and free for OSS) code coverage tool, which a number of other projects I work with use (ggcr, ko, contour): codecov.io.

You can see a sample report here: https://github.com/google/go-containerregistry/pull/770#issuecomment-693678098

The configuration itself is relatively simple: https://github.com/google/go-containerregistry/blob/master/.codecov.yml

and it is pretty easy to int

[2020-09-17 14:29] mattmoor commented on #281
Oh, and when I looked into the permissions needed in order to install the Github application, they looked about as I'd have expected (IIRC the only "write" permission was `commitstatus`).

[2020-09-17 14:43] n3wscott commented on #281
Let me bootstrap on discovery and see if I run into issues.

[2020-09-17 14:51] mattmoor commented on #281
Well, we need to install the github app first 😉

[2020-09-17 15:08] n3wscott commented on #281
ok staged. https://github.com/knative-sandbox/discovery/pull/60

[2020-09-17 15:16] n3wscott commented on #281
looks like my job worked, but it does not yet have the full integration, https://codecov.io/github/knative-sandbox/discovery/commit/764f22331a5e37c9f54c23a7134597757085bca2

[2020-09-17 16:52] #237 closed

[2020-09-17 17:33] dprotaso commented on #245
yeah it's on my backlog

[2020-09-17 21:07] mattmoor commented on #281
Yeah, to write commit status it probably needs to be installed in the Github Org

[2020-09-17 21:31] mattmoor commented on #281
Here are the permissions it wants:

![image](https://user-images.githubusercontent.com/2442466/93530386-5c262800-f8f2-11ea-96ff-ab5dd8b56392.png)

This seems about right for presubmit checks.

[2020-09-17 21:32] mattmoor commented on #281
I am going to grant it access to just discovery as we experiment with it.

[2020-09-17 21:54] mattmoor commented on #281
Alright, it works great on discovery, so I'm going to expand access to sandbox.

[2020-09-17 22:07] mattmoor commented on #281
You can see this in action here: https://github.com/knative-sandbox/discovery/pull/63#issuecomment-694523340

[2020-09-17 22:12] mattmoor commented on #281
Scotty sent: https://github.com/knative-sandbox/.github/pull/20

This is done in the same style as Markus did golangci-lint, so if the config is present it runs.  We'll pilot on a few sandbox repos first.

[2020-09-18 20:54] maximilien opened #282 "New Repo: kn-plugin-pkg"
## Repo information

Org: knative-sandbox

Repo: kn-plugin-pkg

Purpose (Description):

Common code for `kn-source-*` plugins, e.g., kn-source-kafka, kn-source-github, kn-source-gitlab, etc

Sponsoring WG: client

## Actions to fulfill

- [x] Add this issue to the [TOC project board](https://github.com/orgs/knative/projects/9) for review.

- [x] Send a PR adding entries for this repo in `/peribolo

[2020-09-18 20:56] maximilien opened #283 "New Repo: kn-plugin-source-github"
## Repo information

Org: knative-sandbox

Repo: kn-plugin-source-github

Purpose (Description):

The `kn` plugin for for GitHub events source

Sponsoring WG: client

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [ ] Add this issue to the [TOC project board](https://github.com/orgs/knative/projects/9) for review.

[2020-09-18 20:56] maximilien commented on #283
FYI @rhuss @navidshaikh @daisy-ycguo

[2020-09-18 20:57] maximilien commented on #282
FYI @rhuss @navidshaikh @daisy-ycguo

[2020-09-18 20:58] maximilien opened #284 "New Repo: kn-plugin-source-gitlab"
## Repo information

Org: knative-sandbox

Repo: kn-plugin-source-gitlab

Purpose (Description):

Code for `kn` plugin for GitLab event sources

Sponsoring WG: client

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [ ] Add this issue to the [TOC project board](https://github.com/orgs/knative/projects/9) for review

[2020-09-18 20:58] maximilien commented on #284
FYI @rhuss @navidshaikh @daisy-ycguo

[2020-09-20 21:13] #281 closed

[2020-09-20 21:13] mattmoor commented on #281
This is done

[2020-09-21 15:20] zhanggbj commented on #211
Hi @mattmoor @chizhg,

My PR (for the alias of import path) is merged, for the next step, would you please help to take a look? Thanks a lot!

- [ ] Have a **lead from the sponsoring WG** bootstrap the Git repository by pushing an

appropriate "template" repository (basic,
sample-controller,
sample-source) to the new repository as
a git remote.

[2020-09-21 21:21] lionelvillard commented on #223
@grantr  can you enable branch protection?

[2020-09-21 21:21] lionelvillard commented on #235
@grantr  can you enable branch protection?

[2020-09-21 21:21] lionelvillard commented on #233
@grantr  can you enable branch protection?

[2020-09-21 21:21] lionelvillard commented on #224
@grantr  can you enable branch protection?

[2020-09-21 22:01] mattmoor commented on #223
I did it.

🎉

[2020-09-21 22:01] #223 closed

[2020-09-21 23:14] grantr commented on #224
Enabled. Can you verify Prow by having it merge a PR?

[2020-09-21 23:15] grantr commented on #233
Enabled. Can you verify Prow by having it merge a PR?

[2020-09-21 23:15] grantr commented on #235
Enabled. Can you verify Prow by having it merge a PR?

[2020-09-23 14:32] n3wscott opened #288 "New Repo: buoy"
## Repo information

Org: knative-sandbox

Repo: buoy

Purpose (Description):  A tool to introspect the versions of dependencies for a given release in the moment.

This tool will replace the `FLOATING_DEPS` variable in the `update-deps.sh` script used around Knative. It will inspect the project deps and then inspect what the best ref for each dep should upgrade to based on a base release.

PoC :

[2020-09-23 17:10] evankanderson commented on #288
I'm slightly concerned about the name not being very descriptive, but it seems unlikely to collide with any other actual WG efforts, so I defer to the productivity team.

[2020-09-23 17:13] evankanderson commented on #288
@chaodaiG @chizhg

If you're okay with the name, I'm okay with the name.

[2020-09-23 17:40] n3wscott commented on #288
`buoy` because it is a tool to float out deps...

sorry, I love cute things. It is what lets me get through the day. 💃

[2020-09-23 17:41] n3wscott commented on #288
single repo for small tool to allow for releases of that tool without stomping other things or linking the release to another tools lifecycle... go mod really wants many small repos.

[2020-09-23 20:10] grantr commented on #288
This seems like a really useful tool now that we have dozens of repos to release every 6 weeks!

We can use the tool without it having a repo in Knative, but once it's here it's Productivity's job to maintain it. I'd like to see a +1 from a Productivity lead that they're ok with that maintenance responsibility. Or if some other WG wants to own it, I'm fine with that too.

@chaodaiG @chizhg

[2020-09-23 21:50] coryrc commented on #288
Could you stick it in test-infra under `cmd/buoy`?

[2020-09-24 00:42] dprotaso commented on #288
One nit I have is "knative.dev" being the default domain. I saw scripts omit the domain and I didn't understand what was going on. Can we explicitly have `-domain knative.dev` in our scripts?

https://github.com/n3wscott/buoy/blob/029e70c0b386052bb64bfa53ef140ee7a5ca7d35/buoy.go#L32

[2020-09-24 02:28] mattmoor commented on #288
I'm supportive.

My main caution was: not this release, but otherwise let's find it a home and get it in and baking for next cycle.  Excited for less release overhead 🤩

[2020-09-24 02:28] mattmoor commented on #288
+1 to Dave's comment as well, I had the same thought.  I'd also prefer explicit arguments over positional arguments.

[2020-09-24 15:37] mattmoor commented on #236
Needs branch protection and done

[2020-09-24 15:37] mattmoor commented on #236
/assign @grantr

[2020-09-24 15:41] mattmoor commented on #288
@n3wscott can you spell out the release requirements (and how that may differ from what we do across most of the normal repos do) as discussed in TOC meeting

[2020-09-24 16:55] grantr commented on #236
Branch protection rule created. I'm closing this as I think everything is done, but feel free to reopen if there's more.

[2020-09-24 16:55] #236 closed

[2020-09-24 17:48] #33 closed

[2020-09-24 20:25] maximilien opened #291 "New Repo: knative-sandbox/kn-plugin-curl"
#Repo information

Org: knative-sandbox

Repo: kn-plugin-curl

Purpose (Description):

Contains the `$kn curl <service-name>` plugin that make it easy to curl Knative services

See https://github.com/knative/client-contrib/issues/77

Sponsoring WG: client

## Actions to fulfill

This area is used for the TOC to track the [repo creation
process](/mechanics/CREATING-A-SANDBOX-REPO.md)

- [ ] Add thi

[2020-09-25 14:04] markusthoemmes commented on #193
As per the last ToC meeting, i'll close this one and open tracking issues for the respective dependencies in the respective repos and open a new issue here to track branch renaming.

[2020-09-25 14:04] #193 closed

[2020-09-25 14:06] markusthoemmes opened #293 "Rename the primary branches of all repositories to 'main'"
Generally $subj is what Github is doing across the board and they claim to provide tooling for gracefully moving branches at the end of the year. Let's wait for said tooling and then use it.

See https://github.com/github/renaming#later-this-year-seamless-move-for-existing-repositories-

[2020-09-25 17:37] abrennan89 commented on #86
Would this mean whoever is WG lead just uses their personal link for whatever meeting platform they want to use in the meeting invite? What about groups where there is more than 1 WG lead, how do folks decide which link to provide?

re the conversation here https://docs.google.com/document/d/1Y7rug0XshcQPdKzptdWbQLQjcjgpFdLeEgP1nfkDAe4/edit?disco=AAAAG-_Jx4c - can we document the options somewhere

[2020-09-26 05:20] chizhg commented on #211
Hi @zhanggbj , it looks this step does not apply to this repo. I think you can just skip it or start a PR that includes some basic code you already have.

[2020-09-27 02:49] zhanggbj commented on #211
@chizhg  Looks like I do not have the permission to fork the repo or start a PR, do you happen to know where I can request the permission? Thanks!

<img width="1432" alt="Screen Shot 2020-09-27 at 10 45 22" src="https://user-images.githubusercontent.com/4181847/94354582-1403c400-00af-11eb-8475-b925443ffc0b.png">

[2020-09-27 14:41] mattmoor commented on #211
The repo needs to be seeded with some content as a starting point, the WG leads have write access which is enough to bootstrap this.

[2020-09-28 03:00] zhanggbj commented on #211
@mattmoor @chizhg Thanks! If this is the case, would you please help to bootstrap it, and then I'll raise PR with the initial kperf code.

Also CC @maximilien

[2020-09-28 03:01] chizhg commented on #211
Ah I didn't know an empty repo could not be forked..
I have pushed a simple README.md to the repo, now you should be able to continue the following steps.

[2020-09-28 03:47] zhanggbj commented on #211
@chizhg no worries, now it works well, thank you! I will continue to raise the initial PR and tags you all for a review.

[2020-09-28 10:43] aliok opened #295 "Being an approver in repos separated from eventing-contrib"
We now have many repositories split from `eventing-contrib` into `knative-sandbox`.

We need to define who are the approvers for these.

The regular criteria (reviewed 30 PRs + primary reviewer for 10 substantial PRs) approach will not work for these because the repositories are small and there will not be a lot of activity on individual reports.

So, the questions that I want to get answered are:

[2020-09-28 10:44] aliok commented on #295
One idea from @devguyio was this:

e.g. 21 (eventing-contrib) + 9 (eventing-kafka) = 30 -> approver in eventing-kafka (edited)

[2020-09-28 15:30] #32 closed

[2020-09-28 15:31] thisisnotapril commented on #32
Closing with #277

[2020-09-29 14:10] cdlliuy opened #296 "New Repo: kn-plugin-diag"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: kn-plugin-kn-diag

Purpose (Description): Code for kn plugin for kn-diag

Sponsoring WG: client

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDBOX-REPO.md).
The _requestor_

[2020-09-29 14:11] cdlliuy commented on #296
fyi  @maximilien,   @rhuss

[2020-09-29 15:00] mattmoor opened #298 "Proposal: knative-automation user"
_Context: I'd like to stop running the knobots as myself, and was hoping that pure GHA would resolve this, but multiple issues are blocking that (elaboration below)._

**tl;dr**
I'd like to propose the following:
1. Creation of new repository: `knative-sandbox/knobots` as a home for what's currently in: https://github.com/mattmoor/knobots-actions (we can bikeshed the name, I only offer a strawman)

[2020-09-29 21:55] lionelvillard opened #301 "New Repo: eventing-redis"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: eventing-redis

Purpose (Description): Redis integration with Knative Eventing.

Sponsoring WG: Sources

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDBOX-REPO.md).
The _re

[2020-09-29 23:16] lionelvillard commented on #301
FYI @nachocano @n3wscott @vaikas

[2020-09-30 15:20] bsnchan commented on #298
In general, I'm supportive of this effort. Curious if @thisisnotapril has any thoughts or concerns here about allowing the bot through the Google CLA :)

[2020-10-01 16:11] mattmoor commented on #296
cc @knative/client-wg-leads

[2020-10-01 16:12] mattmoor commented on #296
If client is ok with this, let's start the process.

[2020-10-01 16:17] tcnghia commented on #296
video demo of Kn-diag from Ying: https://youtu.be/PxD0yxb8B7c

[2020-10-02 14:27] bsnchan commented on #34
This feels like it is answered now in https://github.com/knative/community/pull/277.

[2020-10-02 14:27] #34 closed

[2020-10-05 09:43] markusthoemmes commented on #203
Related issues

https://github.com/knative/client/issues/1031
https://github.com/knative/client-contrib/issues/79

[2020-10-05 14:21] mattmoor commented on #298
Ping @thisisnotapril

[2020-10-05 15:45] abrennan89 opened #308 "Update /docs repo tag to opt in for Hacktoberfest"
Hacktoberfest is now opt-in only: https://hacktoberfest.digitalocean.com/hacktoberfest-update
There's a gif in the video that shows what needs to be done, I can take care of the label obviously.
Thanks!

cc @mattmoor

[2020-10-05 20:00] mattmoor commented on #308
I added the `hacktoberfest` topic to docs

[2020-10-05 20:02] mattmoor commented on #308
/assign @abrennan89

Ashleigh, lmk if anything else is needed from us, I added to our backlog so it doesn't get lost also.

[2020-10-05 20:40] abrennan89 commented on #308
@mattmoor that should be all, thank you!

[2020-10-05 20:40] #308 closed

[2020-10-06 13:50] bsnchan opened #309 "Migrate community stats away from teststats.cncf.io"
The Knative election process currently points to teststats.cncf.io to determine voter eligibility for both [TOC](https://github.com/knative/community/blob/master/mechanics/TOC.md) and [Steering](https://github.com/knative/community/blob/master/STEERING-COMMITTEE.md#eligibility-to-vote) elections.

@jberkus mentioned to us that teststats is a staging area for devstats, and that there is no guarante

[2020-10-06 13:52] bsnchan commented on #58
Not sure if we need this anymore, so closing.

[2020-10-06 13:52] #58 closed

[2020-10-06 13:55] markusthoemmes commented on #309
Interesting. I think keeping the statistics alive would be very desirable, though I don't know if we need to host the entire thing necessarily. More static reports might be enough too if hosting our own instance would be an issue.

[2020-10-06 19:04] jberkus commented on #309
The EC met today and realized there's a second issue with teststats: since it's not maintained, any knative/ repos created in the last year aren't represented.

We *can* host our own devstats. It's an OSS project, and is even packaged to run on a kubernetes instance.  That said, setup is complicated.

We could also use another service, like bitergia or something.

[2020-10-06 20:17] mattmoor commented on #309
I believe that we used to host our own, and stopped for some reason.  Maybe @chaodaiG or @chizhg recall, but it may predate them.

[2020-10-06 20:23] chaodaiG commented on #309
There used to be a self-hosted devstats, and even hosted on knative serving. The effort was shelved due to complicated reasons, including data inconsistency compared to cncf hosted stats, as well as member leaving the team. The source code was not merged iirc, should be able to recover from https://github.com/ericKlawitter/test-infra if desired

[2020-10-07 00:00] jberkus opened #311 "Request approval of SC Election details"
As much as possible, the EC is trying to base the elections on the TOC elections of April. However, there are some details we don't know, so I'd like to ask the current SC to approve our choices.

## Timeline:
(assumes that Transition Plan is revised in the next couple days)
- Oct 27: call for nominations and exceptions
- Nov 9: call for nominations closes
- Nov 12: voting begins
- Nov 22: last ca

[2020-10-07 04:17] mattmoor commented on #288
@n3wscott ping on the AI above.  Can you and @chizhg also sort out where this will live and either close this or update here?

[2020-10-07 18:30] n3wscott commented on #288
@mattmoor I added this comment to the description:

Presentation on how this will help us with releases: https://docs.google.com/presentation/d/1sUSZh9FxPH7-3IAJdBDe2KGfqJTUpU1FIc9FDzSfEwA/edit#slide=id.g9db101a629_0_427

Rules for Knative Releases:

[code]

[code]

Integration with hack/update-deps.sh:

[code]

No more hard coded FLOATING_DEPS. Hard code the VERISON, plus make it a flag for the s

[2020-10-07 18:30] n3wscott commented on #288
I, as a #productivity lead, accept responsibility for buoy.

[2020-10-07 18:45] coryrc commented on #288
@n3wscott I think he meant my suggestion we put it in `knative/test-infra/cmd/buoy`

[2020-10-07 18:54] evankanderson commented on #311
I think for TOC elections, we allowed others to nominate as well (but the candidate could decline the nomination). Other than that, the details seem pretty correct.

If you need help collecting / mapping github accounts to working email addresses, I recall that was a little tricky last time and Ryan Gregg had to ask around in a few cases, but we were able to get a lot by cross-referencing with kna

[2020-10-07 19:02] mattmoor opened #314 "Migrate slack management to Tempelis"
* Expected benefits. Who gains the benefits? Why will they benefit?

Makes slack channel management self-service through community PRs.

* Expected costs. Who bears the costs? How heavy are they?

Question for @knative/productivity-wg-leads but Tempelis is from the family of tooling we already operate, so hopefully this has a low incremental overhead 🤞

* Timeframe for implementation / rollout.

O

[2020-10-07 19:03] mattmoor commented on #314
relevant K8s link: https://github.com/kubernetes/community/blob/master/communication/slack-guidelines.md#requesting-a-channel

[2020-10-07 20:53] jberkus commented on #311
Evan: yes, that's likely to be an issue.  We have the list from the TOC election, but I can already see a bunch of addresses that are out-of-date.

My plan was to let folks self-service by just telling us their email addresses in a form.

[2020-10-07 22:50] mattmoor commented on #288
it's going into test-infra, so closing this out.

[2020-10-07 22:50] #288 closed

[2020-10-07 22:50] mattmoor commented on #296
ping @knative/client-wg-leads

[2020-10-07 22:52] mattmoor commented on #282
@knative/client-wg-leads I think we'd defer to you for `kn-plugin-` prefixed stuff, so when this has your blessing please make sure we know.

[2020-10-07 22:55] mattmoor commented on #301
@lionelvillard Is this blocked on TOC in any way?  If so, feel free to ping us on the things that need approvals.

[2020-10-07 22:57] mattmoor commented on #224
Prow merged: https://github.com/knative-sandbox/eventing-couchdb/pull/8

closing this as done

[2020-10-07 22:57] #224 closed

[2020-10-08 12:19] lionelvillard commented on #301
thanks @mattmoor! Nothing is blocked, I just need to complete the last three items (with help from the TOC for the last one)

[2020-10-08 15:34] evankanderson commented on #137
/unassign isdal
/assign @tcnghia

[2020-10-08 15:45] evankanderson commented on #295
This probably should result in clarification in the governance docs, but it seemed reasonable for the eventing WG leads to manage this process with a different bar that was more appropriate.

[2020-10-13 13:39] bsnchan commented on #311
Thanks for this @jberkus! What do you mean by "(assumes that Transition Plan is revised in the next couple days)"?

[2020-10-13 18:34] mattmoor commented on #298
I created a group for `automation@knative.team` and will talk to @thisisnotapril to get it through the CLA bot next.

[2020-10-13 20:15] n3wscott opened #322 "New Repo: knative/hack"
## Repo information

Org: knative

Repo: hack

Purpose (Description): The shared scripts for Knative.

We are looking at ways to reduce the transient dependencies of Knative from test-infra. Hack will be the base lib to share common scripts for build and code gen, as well as running tests, but without the tools and config that exist in the current test-infra repo.

test-infra will dep on `hack` an

[2020-10-13 20:19] n3wscott commented on #322
Or we should just move these into knative.dev/pkg?

[2020-10-13 20:28] n3wscott opened #324 "New Repo: kind-test"
## Repo information

Org: knative-sandbox

Repo: kind-test

Purpose (Description): GitHub Action to bundle our logic for performing kind based e2e testing.

Similar to https://github.com/knative-sandbox/downstream-test-go

Sponsoring WG: Productivity

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDBOX-REPO.md).
The _requestor_ and _sponsorin

[2020-10-13 22:22] thisisnotapril commented on #298
@mattmoor can you confirm what all the bot is going to do? It's for workflow automation, correct? Not making commits itself?

[2020-10-13 22:24] mattmoor commented on #298
it is going to stage PRs to be reviewed through our normal process.  So yes, it will be making commits, but not unsupervised.

[2020-10-13 22:59] evankanderson commented on #295
I'd encourage the Source WG to innovate here, either by assigning sub-OWNERS for specific sources that wouldn't be "Approvers for all Sources" (much like you could add a user to OWNERS for just one directory in `eventing-contrib`), or by pooling contribution counts across all source repos.

[2020-10-13 23:00] evankanderson commented on #298
Examples would include running and sending PRs for `gofmt` or `go mod update`.

[2020-10-14 00:13] chizhg commented on #322
I think it's better to make it a separate module in case there are repos that only depends on these scripts but not `pkg`.

[2020-10-14 01:42] mattmoor commented on #298
The jobs we're running now are in the repo linked in `1.` above, the two most common (by volume) are:
1. `./hack/update-deps.sh --upgrade`: float our knative cross-dependencies forward (e.g. knative.dev/pkg -> knative.dev/serving, see: https://github.com/knative/eventing/pull/4308)
2. Syncing our common Github action definitions from `knative-sandbox/.github` to all of the other repositories (see:

[2020-10-14 06:31] rhuss commented on #322
👍  to have the scripts separated from `test-infra` if this is sufficient to get rid on the `test-infra` dependencies in Knative projects.

When migrated, would it make sense to add a check to the github actions to ensure that this test-infra deps doesn't come back ? (happy to provide that check)

[2020-10-14 09:31] geekygirldawn commented on #311
@bsnchan One of the issues we need to resolve before we can start this process is that the transition plan says that "One Google, one IBM/RedHat, and one VMware seat will be retained from the current Steering Committee" After talking to @thisisnotapril, she thought that she might actually still be on the Steering Committee. If so, this makes her ineligible to be one of the election officers, and w

[2020-10-14 20:03] jberkus commented on #311
Also, the Transition plan was written to retain 3 of the current Steering members back when SC was planned to be 7 members, not 5.  So the EC is not clear on whether we're only electing 2 members, or whether we're doing something else entirely.

[2020-10-15 15:25] n3wscott commented on #322
+1 I think the `hack` repo is the way to go, not just throw the scripts into `pkg`.

[2020-10-15 15:26] slinkydeveloper commented on #322
+1000 for this new repo, since it can solve the issues we have with the circular dependencies https://github.com/knative/test-infra/issues/2414 https://github.com/kubernetes/test-infra/issues/19583

This repo should not contain any dependency nor to k8s upstream nor to knative to fix the circular dependency issue

[2020-10-15 15:28] n3wscott commented on #322
We can make a big comment to prevent this. Likely little deps are ok, but not much outside the std lib for go. And not knative or k8s.

[2020-10-15 15:29] slinkydeveloper commented on #322
@n3wscott i think we should experiment some tool to check circular dependencies on CI: if there is a circular dep with knative.dev, the build fails

[2020-10-15 15:37] slinkydeveloper commented on #322
Some tool like that? https://github.com/divan/depscheck

[2020-10-15 15:39] evankanderson commented on #322
I think we're agreed on creating this, but would like to have a name that's slightly more clue-ful as to what this does. (e.g. `ci-hack` or `ci-shell-pkg`).

[2020-10-15 15:40] evankanderson commented on #322
(This will also need to be a go package to work with dep)

[2020-10-15 15:42] evankanderson commented on #324
This is lined up with `downstream-test`, but not with e.g. `net-*`.

[2020-10-15 15:44] evankanderson commented on #324
We may want to change these to be a common prefix going forward so that they collate together. If these are specifically github actions, we may want to prefix `actions-*`

[2020-10-15 15:45] n3wscott commented on #324
I like `actions-*` and I can followup with a rename of `downstream-test` -> `actions-downstream`

[2020-10-15 15:50] lionelvillard commented on #235
@Harwayne I think we can close this one, right?

[2020-10-15 15:50] lionelvillard commented on #233
@Harwayne I think we can close this one, right?

[2020-10-15 16:08] evankanderson commented on #282
Does this need `go mod` support and/or test-infra set up?

[2020-10-15 16:11] evankanderson commented on #211
I think this will need `test-infra` to be set up as well so that Tide will merge things in the presence of an OWNERS file.

[2020-10-15 16:13] #301 closed

[2020-10-15 16:13] evankanderson commented on #245
(ping)

[2020-10-15 16:45] thisisnotapril commented on #311
Plan lgtm!

[2020-10-15 16:46] bsnchan commented on #311
Hey @jberkus @geekygirldawn - we had our steering meeting today and confirm that the plan is to retain 3 of the current steering members and have 2 seats up for election (5 seats total).

[2020-10-15 16:47] bsnchan commented on #311
The dates will probably need a bit of adjusting, but the plans LGTM :)

[2020-10-15 17:06] n3wscott commented on #324
peribolos pr has been updated to use the name `actions-kind`

[2020-10-15 18:16] Harwayne commented on #235
https://github.com/knative-sandbox/eventing-gitlab exists and looks like it is already in use.

/close

[2020-10-15 18:16] #235 closed

[2020-10-15 20:14] dprotaso commented on #245
related: https://github.com/kubernetes/sig-release/issues/1290

[2020-10-19 13:47] pmorie commented on #311
The plans look good to me, why don't we adjust the dates to start 10/26?

[2020-10-20 00:40] jberkus commented on #311
SC:
See new timeline.

Because of conflicts with the US election, Kubecon, and American Thanksgiving, it's a much longer election timeline than we were originally requesting:

- Oct 27: call for nominations and exceptions
- Nov 9: call for nominations closes
- Nov 12: voting begins
- Nov 22: last call for exceptions, ballot replacements
- Nov 29: Voting ends
- Dec 3: announce results

Please appro

[2020-10-20 13:18] bsnchan commented on #311
LGTM

[2020-10-20 14:44] daisy-ycguo opened #330 "New Repo: kn-plugin-source-kafka"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: kn-plugin-source-kafka

Purpose (Description):

The `kn` plugin for Kafka event sources

Sponsoring WG: client

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDBOX-REPO.md).

[2020-10-20 16:29] thisisnotapril commented on #311
LGTM

[2020-10-20 18:55] mattmoor commented on #298
I sent https://github.com/knative/community/pull/331 to set up the repo in sandbox.  Once the repo is there, I'll bootstrap it with some of our boilerplate (e.g. OWNERS) and after I create the secrets I'll use an adapted version of the nightly update action to test this agains the CLA bot.  Once things are looking good with that, I'll port the rest of the automation over.

[2020-10-20 18:57] mattmoor commented on #298
This job should be our canary: https://github.com/mattmoor/knobots-actions/blob/master/.github/workflows/update-nightlies.yaml

[2020-10-20 21:11] mattmoor commented on #298
Seem to be having CLA issues here: https://github.com/knative/serving/pull/9880

Need some help sorting out what I did wrong... 🤔

[2020-10-20 21:21] pmorie commented on #311
LGTM

[2020-10-21 21:16] mattmoor commented on #298
/unassign @thisisnotapril

CLA is clear, I've migrated most of the actions over canarying with the nightly updates for serving and testing now with the bigger job manually triggered: https://github.com/knative-sandbox/knobots/runs/1289204805?check_suite_focus=true

[2020-10-21 21:48] mattmoor commented on #298
Alright, the latest batch (manually triggered) seems happy: https://github.com/knative/eventing/pull/4361

The run above was missing the commit email change.

I aborted the flow, and we'll see how the crons work tonight 🎉

[2020-10-21 21:56] mattmoor commented on #298
I disabled the cron on my jobs, so knative-automation is now the source of truth.

Things left TODO once things have been verified:
1. Update these comments: https://github.com/knative-sandbox/.github/blob/ab40a4db60299ea9fe09ceb05130174411935a46/workflow-templates/knative-boilerplate.yaml#L15-L16
2. Update the new-repo steps to include adding the repository here.

[2020-10-21 22:55] mattmoor opened #335 "New Repo: mink"
## Repo information

**Org:** knative-sandbox

**Repo:** mink

**Purpose (Description):**

tl;dr The thrust of this proposal is to move [`mink`](github.com/mattmoor/mink) into the Knative sandbox.

Mink started as a demonstration that you can leverage the Knative controller architecture to “shrink wrap” more opinionated installations of Knative (and downstream bits like Tekton!) with relatively sm

[2020-10-22 14:02] n3wscott commented on #322
I am going to push back on your comment @evankanderson, `hack` is the right thing to call this, just like `pkg` is `pkg` and not `common-components-intended-for-reuse`. In go, the `hack` dir is where you look for scripts. That convention plus some documentation in the readme and there will be zero confusion. Plus, the normal way you integrate with this is via a clone of one of the sample repos, so

[2020-10-22 14:09] n3wscott commented on #324
Updated https://github.com/knative/community/pull/325 and rebased, `actions-` is now in play.

[2020-10-22 14:29] navidshaikh commented on #330
/cc @evankanderson

[2020-10-22 15:39] evankanderson commented on #330
Our pattern is `kn-plugins-...`, but otherwise this name seems fine.

[2020-10-22 15:40] evankanderson commented on #330
Actually, the prefix _is_ `kn-plugin-...`, so this name should be good, but @maximilien wanted to double-check.

[2020-10-22 15:44] evankanderson commented on #295
(Leaving in the steering backlog to allow them to update any governance docs)

[2020-10-22 15:49] mbehrendt commented on #311
LGTM

[2020-10-22 16:04] evankanderson commented on #335
@pmorie , can you join the TOC meeting next week to square this with [your starter distribution proposal](https://docs.google.com/document/d/1A6Sji6Qd305VkJ1e0Yg1lECYA4ayKWJO0qesfrtZw3c/edit)?

[2020-10-22 16:54] mattmoor commented on #335
Just to reiterate this ☝️

It is notable that while I expect mink to be conformant (it passes all our tests), I don't want to limit it to the minimal set of things to achieve that conformance.  As discussed in the doc, if we had a minimally conformant starter-distro, I'd expect we might base mink on that (assuming it satisfies the mink design goals), but I would expect that starter-distro wouldn't

[2020-10-22 17:05] ronavn commented on #311
LGTM

[2020-10-22 19:03] grantr commented on #335
IMO this is the central discussion point here. Independent of mink, this example brings up some interesting procedural questions for me.

- What do we do if there is no clear WG fit for a proposed repo?
  - Is it encouraged to propose a new WG to own the new repo?
  - Is the WG proposal and approval process the same as for any other WG?
  - Must the WG be approved before the repo can be created?
-

[2020-10-22 19:33] pmorie commented on #311
LGTM

[2020-10-22 19:40] mbehrendt commented on #311
LGTM

[2020-10-22 20:07] pmorie opened #337 "Finalize setup of trademark committee"
I believe we still need:

- instructions for how to approach the committee
- backlog github project (for example, #9 is on the steering backlog currently, and this is now in scope for KTC)
- public meeting schedule?

[2020-10-22 23:07] jberkus commented on #311
Great!  Given this approval, look for a PR tommorrow with the election folder and the details for voters and candidates.

[2020-10-27 16:02] #311 closed

[2020-10-27 17:37] n3wscott commented on #322
go-imports: https://github.com/knative/website/pull/235

[2020-10-27 18:22] n3wscott commented on #322
This is done as soon as the website PR is merged.

[2020-10-27 18:29] #298 closed

[2020-10-27 19:25] bsnchan commented on #309
Looking at where we have historically used these metrics, the metrics which are important IMO are broken down as follows:

For TOC and Steering Elections:
* Contribution Count  (PRs, Issues, Comments, Code Review)
* We would need Contribution count by company as well (to ensure that we maintain the no vendor majority rule)

For the annual report (this was at least the data used in the 2019 report)

[2020-10-28 14:09] julz opened #347 "Security Working Group Charter/Proposal"
We should create a security working group.

Here is a draft Charter for it: https://docs.google.com/document/d/18y5PuAlgKVhe_lpd3sAHvcs7PzEIGi2vy3SvIq1Vj5w/edit?usp=sharing.

Security is a cross-cutting concern which is best addressed pro-actively. Many users of Knative will want to use it to support "-aaS" (multi-tenant) and security sensitive workloads. A Security WG would provide guidance on us

[2020-10-28 14:46] pmorie commented on #131
I think that our recent discussions on governance have added a lot of clarity on this matter. At the moment, I feel like we have wide consensus throughout the project that the _current_ scope is: serving, eventing, and CLI. Encoding this scope officially seems like a reasonable way to start and relatively simple activity for the KTC to execute.

Related to this is that with that scope clarified an

[2020-10-28 16:09] pmorie commented on #309
I'm working on getting us a cluster for devstats.

[2020-10-28 18:39] jberkus commented on #309
Brenda,

This information is already inaccurate in Teststats.  When Knative didn't join CNCF last year, their staff stopped maintaining the company affiliation information, which has to be manually updated.  When we do our own thing, someone will need to be assigned to maintain company affiliation data, because there is no automatable source for it.

As a warning, Google has added new restrictions

[2020-10-28 18:44] dprotaso commented on #245
And https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md

[2020-10-28 18:55] dprotaso commented on #245
woo structured data https://github.com/kubernetes/sig-release/blob/master/releases/schedule.yaml

[2020-10-28 21:25] evankanderson commented on #131
That's an interesting question -- do we think that KTC needs to have established branding/licensing standards to have a 1.0 release? That feels like it would be a 1.0 worthy milestone to me.

[2020-10-29 02:18] dprotaso commented on #245
### [Recap: K8s minimum version principle](https://github.com/knative/community/blob/master/mechanics/RELEASE-VERSIONING-PRINCIPLES.md#k8s-minimum-version-principle)

### Upstream EOL Changes
With v1.19 the support window is now a year. This change has been rolled back into v1.17 & v1.18 (see [PR](https://github.com/kubernetes/sig-release/commit/27f1b9f155d23475d6e99b694c061887814baf81)).

### Cur

[2020-10-29 15:37] mattmoor commented on #86
/assign @tcnghia

[2020-10-29 15:39] mattmoor commented on #330
/assign @grantr

Grant volunteered to be on point from TOC side

[2020-10-29 15:40] mattmoor commented on #322
done

[2020-10-29 15:40] #322 closed

[2020-10-29 15:40] evankanderson commented on #137
/close

Duplicate of #86

[2020-10-29 15:40] #137 closed

[2020-10-29 15:41] mattmoor opened #350 "Record the prefixes we use across WGs"
/assign @evankanderson

[2020-10-29 15:55] evankanderson commented on #296
@cdlliuy -- next steps are to send a PR for https://github.com/knative/website to set up go import aliases and a then a PR for https://github.com/knative/test-infra for prow setup.

(Sorry, we're hoping to automate this since it turns out that everyone wants a repo now that we have a process.)

[2020-10-29 16:08] pmorie commented on #335
Notes from our discussion on Oct 29:

My personal opinion here: though mink is in proximity in some ways to the idea of the starter distribution, it’s also a lot ‘larger’ functionally and conceptually. I’m personally in favor of not blocking on a fully consensus’d, reified idea of a starter distribution, and in fact think it would be better to forge ahead with mink, because I think it will help us

[2020-10-29 17:23] vaikas commented on #335
UX WG from my side. Sorry for terseness, on phone.

[2020-10-29 21:07] grantr commented on #330
I approved https://github.com/knative/community/pull/336, so you should be able to move past the TOC gate now :+1:

[2020-10-29 21:29] maximilien commented on #330
Thanks @grantr
Cc: @daisy-ycguo

[2020-10-29 21:29] maximilien commented on #330
We are all good @evankanderson . Thx

[2020-10-30 01:54] daisy-ycguo commented on #330
Thanks all. I will go to the next step of TODOs.

[2020-10-30 14:40] dprotaso commented on #206
closing in favour of https://github.com/knative/community/issues/245

[2020-10-30 14:40] #206 closed

[2020-10-30 19:13] mattmoor commented on #347
/assign @knative/technical-oversight-committee

[2020-10-30 20:26] maximilien commented on #211
@zhanggbj also look at https://github.com/knative-sandbox/hack for seed files

[2020-11-04 21:51] jberkus commented on #309
Never mind.  I've been playing with Cauldron, and it's not going to work for us, simply because there's no access to charts for non-authenticated users.  In other words, everyone in the project would need an account to see anything.

[2020-11-05 17:08] markusthoemmes opened #355 "Golang support policy"
We had a fairly extended discussion on the Golang version used in our projects in Slack after [this post](https://knative.slack.com/archives/CCSNR4FCH/p1604071096381100). It might make sense for us to discuss this in ToC, even if only briefly to maybe put out something explicit.

[2020-11-05 17:10] evankanderson commented on #245
@markusthoemmes to find the right person to look at this, maybe @pmorie ?

[2020-11-05 17:11] evankanderson commented on #245
Julz thinks we should be as aggressive as possible given the platforms available.

[2020-11-05 17:12] evankanderson commented on #245
@grantr will figure out what's needed on the Google side?

[2020-11-05 17:19] evankanderson commented on #355
@markusthoemmes says that Red Hat has a timeline on picking up a new golang version. Here's a chance for others to chime in with their own needs.

[2020-11-05 17:20] sebgoa commented on #245
2 cents. GKE static version is still on v1.17.x . so it feels like knative is pushing me to be on "cutting edge" version on a managed service.

I would feel less pressure if latest knative would be dependent on v1.16

as people get in production with knative I feel that the version of their k8s will start to fall back especially with the cadence of upstream k8s most likely slowing down.

bottom li

[2020-11-05 22:44] mdemirhan commented on #245
On Google's side, we very very strongly prefer to be conservative with min k8s versions. Our k8s product (GKE) supports three versions at any given point in time and the cutting edge k8s version being the least adopted by a very significant margin. Most of our customers prefer staying one or two versions behind. There is also a delay in GKE's adoption of the latest version, so the latest GKE versi

[2020-11-06 18:28] dprotaso opened #360 "New Repo: knative/release repo"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative

Repo: release

Purpose (Description):

1) We have a bunch of 'release' related documentation split across community and knative.dev/pkg. We should collate these to a single repo
1) Metadata - ie. capturing EOL dates, k8s [hard/soft](https://git

[2020-11-06 20:18] dprotaso commented on #245
@mdemirhan K8s upstream has extended their support policy to a year - so there's roughly _four_ K8s releases being maintained simultaneously - based on this has GKE changed it's support policy in any way?

I'm not advocating for that - do you have thoughts on my recommendation to pick the min support version upstream version of K8s **_but exclude it if it's going to EOL very soon_**.  I'm trying t

[2020-11-06 20:32] dprotaso commented on #245
It may also be worth noting we can adjust these on a per-release basis and as things change upstream.

[2020-11-07 19:47] duglin commented on #245
We can live with this. The only concern raised was the move away from kube 1.18 by end of April due to all of the holidays between now and then. But not enough of a concern to push back on this proposal.

[2020-11-09 01:23] cdlliuy commented on #296
Sorry for the delay.  Raised PRs as suggested,
https://github.com/knative/website/pull/238
https://github.com/knative/test-infra/pull/2562  ( I am not sure whether the format is correct in this PR, I didn't find a good example PR in this repo)

[2020-11-09 18:40] mattmoor commented on #335
So I've been noodling on what a "User Experience" working group might encompass, and see some other things that might fit under its purview both in existing artifacts and in other external prototypes, but all having the aim of a better end-user experience.
1. The eventing "sugar" controller (auto-create brokers per-NS).
2. The serving "nscert" controller (auto-create wildcard kcerts per-NS).
3. @n

[2020-11-09 23:36] maximilien commented on #296
The test-infra PR has some issues @cdlliuy

[2020-11-10 13:19] cdlliuy commented on #296
@maximilien ,  I think I fixed the errors on PR.

[2020-11-11 18:06] bsnchan commented on #337
/assign @bsnchan

[2020-11-11 18:17] bsnchan commented on #9
/assign @ronavn

[2020-11-12 17:10] grantr commented on #350
This is about what prefixes we use for repo names to suggest the owning team. kn-plugin-, net-, eventing-, etc.

[2020-11-12 17:12] mattmoor commented on #324
/assign @evankanderson

[2020-11-15 20:26] bsnchan commented on #337
There is now the Trademark Committee Back log here: https://github.com/orgs/knative/projects/16

We also plan to have a regular public meeting schedule once the steering elections have been completed (and once the committee has had a few private meetings to get kickstarted).

[2020-11-16 17:50] pmorie commented on #131
That's a good point, I certainly think it would be very helpful if 1.0 included such guidelines

[2020-11-16 18:19] dprotaso commented on #355
@markusthoemmes what's Red Hat's timeline?

To clarify my point in the slack thread I think all our repos should update their go version to remain in lockstep with what's used in our CI.

There are subtle differences in the build tool chain across go versions and we don't test our hack scripts against older versions. I'm hoping this simple practices helps new contributors.

[2020-11-16 18:22] markusthoemmes commented on #355
Yeah, 1.15 is certainly fine anyway, we've got that in our pipelines too.

Unfortunately, our internal Golang releases are currently slower than we'd like, but we're giving input into that process and if we roughly follow what K8s is doing wrt. timing, we should probably be fine. Let's not let this discussion stop an upgrade to 1.15 at all.

[2020-11-16 18:35] dprotaso commented on #355
What does K8s do?

Regardless of the _when_ we adopt a specific version I'd like us to formalize/automate a lockstep bump process.

[2020-11-16 22:49] vagababov commented on #245
Having discussed this a bit internally it would be strongly preferable for Google to read this as
`**including** versions with an upcoming end-of-life date before next Knative release` — basically support the current k8s version at the time of Knative release.
I.e. in this case we'd prefer that 0.20 supported 1.17 and the minimum supported version for 0.21 is 1.18.

[2020-11-16 23:47] dprotaso commented on #245
/retitle Revisit: K8s minimum version principle

[2020-11-17 20:41] dprotaso commented on #245
/retitle Revisit: K8s minimum version principle

[2020-11-17 21:22] pmorie commented on #245
I'm definitely glad that the window of community support for upstream k8s has increased to be more in line with how people consume k8s.

The central tradeoff in my mind when it comes to supporting versions that are close to EOL is:

Ease of consumption:

- vendors take time to deliver k8s in their products
- users take time to move onto more recent k8s versions

Feature / capability enrichment:

-

[2020-11-18 20:23] tayarani opened #381 "Working Group Proposal: Knative Conformance"
I would like to propose a new Knative Conformance WG based on this charter:

https://docs.google.com/document/d/1ggSKzyVKmcFgUecAxZxAI5QBqHaQA_rq3x9IrMWKBy8/edit#

[2020-11-19 15:47] dprotaso commented on #245
[Datadog's container report](https://www.datadoghq.com/container-report/) has some stats on k8s version usage here: https://www.datadoghq.com/container-report/#8

(Updated November 2020)
![Screen Shot 2020-11-19 at 10 44 24 AM](https://user-images.githubusercontent.com/18562/99688823-3cc38c80-2a54-11eb-866f-8a717ee71521.png)

[2020-11-19 15:48] dprotaso commented on #245
Seems like K8s has an upgrade problem

[2020-11-19 16:50] evankanderson commented on #245
We need to figure out how to separate hard minimum version from community supported / tested versions.

[2020-11-19 16:54] evankanderson commented on #245
We need some sort of policy around what it means / what we do if Knative accidentally includes a feature that's outside the community support level but is still a popular K8s version. (And we should define what a "popular" k8s version is.)

[2020-11-19 17:00] evankanderson commented on #355
Matt suggests that we should use a minor version of Go which has been available for the entire release cycle.

Markus wants to know if we need to support multiple Golang versions for building e.g. `knative/serving`. General consensus was "no".

[2020-11-19 17:02] mattmoor commented on #355
/assign @markusthoemmes

Markus is going to write up what we discussed today.

[2020-11-19 17:22] mattmoor commented on #381
/assign @knative/trademark-committee

A few of us want @knative/trademark-committee to weigh in on what the actual policies are here.  I am going to move this to "Wait on input" from them.

[2020-11-19 17:30] #337 closed

[2020-11-20 14:22] dprotaso opened #383 "We don't have a process/criteria for promoting projects to a 1.0/GA status."
note: please don't make this a technical discussion about go module versions - that's orthogonal to the version number end-users see

We've forever been on the 0.x release train. I think end-users have an expectation that a 1.0 version signals the release is stable and will be supported.

How should projects switch to a `1.0` version to signal this GA status?

[2020-11-20 14:24] dprotaso commented on #383
@knative/steering-committee I can't add this to your backlog

This seems like a joint discussion amongst various leadership groups

[2020-11-20 14:25] dprotaso commented on #383
cc @knative/technical-oversight-committee @knative/trademark-committee

[2020-11-24 13:45] markusthoemmes commented on #203
I'm leaning towards saying: "We try to influence upstream deps to adjust APIs as appropriate. We track such occasions in issues and apply ignore commands for our linting".

That is in fact what we're actively already doing. Not sure if there is anything more actionable here. WDYT @richterdavid?

[2020-11-24 14:31] mattmoor commented on #335
Seems relevant: https://twitter.com/chrissjohnson00/status/1331088214958829568

[2020-11-25 06:57] daisy-ycguo commented on #330
Thank @navidshaikh to add prow jobs for knative-sandbox/kn-plugin-source-kafka, refer to: https://github.com/knative/test-infra/pull/2587

[2020-11-25 19:14] abrennan89 opened #385 "2020 voters list appears twice in docs"
![image](https://user-images.githubusercontent.com/40172997/100272014-0daf8e00-2f20-11eb-98dc-68d046dd7321.png)

In the Contribution Guidelines docs page:
https://knative.dev/community/contributing/

2020 voters list appears twice in the left nav bar. These two instances should probably be grouped into one page?

[2020-11-26 14:59] dprotaso opened #386 "Knative support for policy K8s versions that have reached their end-of-life"
Related thought: we should probably be specific about how we might handle cases like the above, where there is a supported version of knative with an EOL k8s version. We can provide what most people would understand as 'community support', but our options may be very limited in that situation if there's a problem due to a bug in the unsupported k8s version.

_Originally posted by @pmorie in https:

[2020-11-30 07:05] navidshaikh commented on #330
The tests works now, see https://github.com/knative-sandbox/kn-plugin-source-kafka/pull/5

Only branch protection needs to be enabled now.

[2020-11-30 21:20] richterdavid commented on #203
Sounds like a good start.

There are other things we could do though, such as isolating usage of these APIs behind a proxy/facade/adapter class or module so that they aren't in widespread usage in our codebase, evaluating new dependencies for divise language, or moving off intransigent old dependencies that make no progress on this issue.

[2020-11-30 21:21] richterdavid commented on #203
Basically, are we willing to make engineering decisions based on this issue, or only naming decisions?

[2020-12-01 04:03] ZhiminXiang opened #389 "New Repo: net-ingressv2"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: net-ingressv2

Purpose (Description):
This repo is used for the code of integrating with k8s Ingress V2.

Sponsoring WG: Networking

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING

[2020-12-01 08:18] rhuss commented on #296
I think we are good with this and move on to import the code. @cdlliuy I added an OWNERS file to the repo, and please could you create a PR that imports your initial plugin code ? I then would setup the infrastructure scripts.

Also, I think you need also to be added to the Knative Github organization.

[2020-12-01 10:04] rhuss commented on #282
/hold

I think we need a more discussion in the wg how we want to model our shared dependencies. (whether fine grained or more a single shared repo)

[2020-12-01 11:00] rhuss commented on #284
@maximilien sorry for the delay. Do you have a reference to the original code that is going to migrated to the sandbox ? Just to get a feeling on the functionality ?

[2020-12-01 11:01] rhuss commented on #283
+1 @maximilien are you about to adapt the Peribolos config or do you want me to do this ? (im fine with that).

[2020-12-01 13:52] navidshaikh commented on #330
ping @grantr

[2020-12-01 15:03] rhuss commented on #174
We are god with this, let's close it.

[2020-12-01 15:03] #174 closed

[2020-12-02 00:12] maximilien commented on #283
Not sure what that entails @rhuss :) So please go ahead. If you need me to do anything then let me know.

[2020-12-02 02:10] zhanggbj commented on #211
`test-infra` has been set up, we're still configuring `codecov`
Sample PR is https://github.com/knative-sandbox/kperf/pull/21, all prow passed now.

The next step could be

- [ ] Have a member of the TOC enable branch protections so that tide is a required presubmit check.

/CC @chizhg @evankanderson

[2020-12-02 02:26] mattmoor commented on #211
I believe this is now done automatically daily, we should update the instructions!

[2020-12-02 02:35] zhanggbj commented on #211
@mattmoor That's nice, so we are done with this issue now?

[2020-12-02 19:40] tcnghia commented on #86
*Update 12/2/2020*:
- I found no way to copy docs with all comments preserved. However, I could copy with new comments having the original author name and timestamp prepended (see https://github.com/knative/community/pull/346/files )

I believe that may be good enough historical contexts for us. If that is, we can start doing so. After copying and verifying the copies, we can start locking down th

[2020-12-03 13:03] rhuss opened #392 "New Repo: knative-sandbox/kn-plugin-source-kamelet"
## Repo information

Org: knative-sandbox

Repo: kn-plugin-source-kamelet

Purpose (Description):

This plugin for the Knative client `kn` adds support for [Kamelets](https://camel.apache.org/camel-k/latest/kamelets/kamelets.html) a general-purpose solution to adding [Camel connectors](https://camel.apache.org/components/latest/index.html) as Knative eventing sources. In short, a Kamelet is kind o

[2020-12-03 13:03] rhuss commented on #392
cc: @nicolaferraro

[2020-12-03 16:19] mattmoor commented on #389
Can we use `net-ingressv2`?

[2020-12-03 16:20] mattmoor commented on #389
(or even just `net-ingress`)

[2020-12-03 16:21] mattmoor commented on #360
I think perhaps consolidating this stuff into community would be my preference.

[2020-12-03 16:25] mattmoor commented on #392
Moved to "needs discussion", I'd like to confirm the rest of @knative/technical-oversight-committee is on-board with empowering the @knative/client-wg-leads to 👍  or 👎  the `kn-plugin` prefix (we can then stamp without going through the meeting, just ping us).

I think @evankanderson was working on some docs to make this more formalized.

[2020-12-03 16:39] ZhiminXiang commented on #389
`net-ingressv2` sounds good to me.

[2020-12-03 17:03] mattmoor commented on #392
/assign

Discussed, Evan is documented this.  I'm happy to help shepherd this through if you want to assign me PRs.

[2020-12-03 17:06] evankanderson commented on #245
@julz will write up something about how to adopt new K8s features _optionally_, rather than as a hard dependency, to allow adopting newer k8s features while still supporting older k8s installs as well.

[2020-12-03 17:09] evankanderson commented on #245
We also need to write up what we test against, and what we will roll back breakages on but won't test. (Mostly when reported by vendors who are maintaining non-upstream supported versions based on popularity/population.)

[2020-12-03 17:12] evankanderson commented on #360
I recommend `community/mechanics/release`.

[2020-12-03 17:14] evankanderson commented on #389
/assign @tcnghia

To shepherd, I'm guessing @ZhiminXiang will do most of the PRs.

[2020-12-03 17:45] mdemirhan commented on #245
Awesome, looking forward to seeing the write up. Thanks @evankanderson @julz @dprotaso @pmorie

[2020-12-03 22:48] kevmoo opened #396 "Hello World - Dart(community/samples/serving/helloworld-dart/index.md)"
Edit points to content that isn't there:

https://github.com/knative/community/tree/master/samples/serving/helloworld-dart/README.md

Should point to
https://github.com/knative/docs/blob/master/community/samples/serving/helloworld-dart/README.md

[2020-12-05 03:47] mattmoor commented on #335
cc @csantanapr @omerbensaadon (who have been talking about user-productivity / getting started)

[2020-12-07 07:20] markusthoemmes commented on #203
Honestly, I'd tackle this once it becomes a widespread problem. Currently, the only "offender" is cobra in the CLI AFAIK. They have "whitelist" as part of their API and that's used in a few places in the CLI. Far from being widespread though and the upstream community is already aware.

That said, yes I believe we should be somewhat sensible about API usage and our linting tools will force us to d

[2020-12-07 14:36] rhuss commented on #392
Cool, thanks, @mattmoor ! I assigned https://github.com/knative/community/pull/393 to you for updating the Peribolos configuration.

[2020-12-07 18:12] richterdavid commented on #203
That's understandable, but how will you know if it's becoming, or has become, a widespread problem, and wouldn't it be better to avoid getting to the latter point?

Yes, lint will provide some natural backpressure. Maybe come back to this periodically and re-evaluate, including the spread of lint disablement statements?

[2020-12-07 22:19] rhuss commented on #283
ok, will do it tomorrow and then send in a PR. You then would need to update the description for checking the marks

[2020-12-08 17:21] #9 closed

[2020-12-10 16:53] grantr commented on #330
Sorry for the delay @navidshaikh, I'll get to this today.

[2020-12-10 16:57] evankanderson commented on #383
I think there are some missing

* Knative Trademark Committee should probably understand the scope of what's being licensed.
* Any other Steering/TOC bar that we don't already have, but trademark seems to be the big blocker.

[2020-12-10 16:58] evankanderson commented on #383
Possibly also relevant: https://github.com/knative/community/pull/229

[2020-12-10 17:00] evankanderson commented on #350
Fixed in #395

[2020-12-10 17:00] evankanderson commented on #350
/close

[2020-12-10 17:01] evankanderson commented on #383
In particular, for a GA product, we'd like to be able to tell users who download a Knative release when they are or are not allowed to call what they are running "Knative".

[2020-12-10 17:06] csantanapr commented on #383
One thing to add to the checklist for 1.0 is observability on the control plane.
For a platform to be able to manage a knative 1.x certain metrics labels should not change.

[2020-12-10 17:07] evankanderson commented on #355
#401 should fix

[2020-12-10 17:56] evankanderson commented on #383
This is two parts:

* What is the scope covered under the Knative mark
* What are the rules for mark usage on the covered parts.

This seems like *one* of the "is everything ready to go" items on the 1.0 checklist. We should think about things like docs requirements (if any additional) or security reporting processes (for example) as other items.

[2020-12-10 18:41] grantr commented on #330
Looks like there are a couple files missing from the repo root:
- [CODE_OF_CONDUCT.md](https://github.com/knative-sandbox/wg-repository)
- [OWNERS_ALIASES](https://github.com/knative-sandbox/wg-repository/blob/master/OWNERS_ALIASES)

Once those are present, replace the TOC members in the OWNERS file with the `technical-oversight-committee` alias.

I'll enable branch protection now but leave this i

[2020-12-10 18:42] grantr commented on #330
Actually, looks like branch protection was already enabled. But I verified it was correct :)

[2020-12-11 10:24] navidshaikh commented on #330
thanks @grantr!, PTAL https://github.com/knative-sandbox/kn-plugin-source-kafka/pull/15

[2020-12-14 11:13] #355 closed

[2020-12-15 06:42] navidshaikh commented on #330
/close
Thanks @grantr ! https://github.com/knative-sandbox/kn-plugin-source-kafka/pull/15 is merged.

[2020-12-15 06:42] #330 closed

[2020-12-15 21:25] grantr opened #402 "PROCESS CHANGE: Add a rotation app to slack to remind people when they are a community contact"
We now have a community contact rotation for eventing and other WGs, but there's no great way to notify people when they're up next in the rotation. This seems like a good case for a slack app to manage the schedule and notifications.

Bonus, this might be useful for the TOC presentation rotation.

Here are a few blogs about such things I found in a quick google search:
https://medium.com/in-the-w

[2020-12-21 02:24] nak3 commented on #389
Peribolos is broken https://testgrid.knative.dev/utilities#post-knative-sandbox-peribolos and new `net-ingressv2` repo is not created.

I am fixing it now in https://github.com/knative/community/pull/406.

[2021-01-04 15:34] omerbensaadon opened #409 "(THIS IS A TEST) Outcome #1"
![image](https://user-images.githubusercontent.com/16281246/103551698-b97dbf00-4e78-11eb-8c28-3547d339fc48.png)

[2021-01-04 15:39] #409 closed

[2021-01-05 17:28] dprotaso opened #410 "Backfill charters for all working groups"
It's unclear from [WORKING-GROUPS.md](https://github.com/knative/community/blob/master/working-groups/WORKING-GROUPS.md) what is the scope of existing working groups and the problems they are trying to solve.

We should have our WGs backfill/refine their charters.

[2021-01-05 18:36] dprotaso commented on #410
/assign @knative/technical-oversight-committee

[2021-01-07 15:15] dprotaso opened #412 "[policy] Adopting new K8s features optionally"
@julz will write up something about how to adopt new K8s features _optionally_, rather than as a hard dependency, to allow adopting newer k8s features while still supporting older k8s installs as well.

_Originally posted by @evankanderson in https://github.com/knative/community/issues/245#issuecomment-738143182_

[2021-01-07 15:16] julz commented on #412
/assign

[2021-01-07 15:28] dprotaso commented on #360
I hope this repo in the future could be the main point for:

1) Metadata - ie. capturing EOL dates, k8s [hard/soft](https://github.com/knative/community/issues/245#issuecomment-730501532) min versions
2) A place for workflow/scripts common to the release processes -  ie. we still have manual steps that can be automated in the release steps in `knative/pkg/RELEASE.md`

[2021-01-07 15:31] dprotaso commented on #245
I'm hoping a [`knative/release` repo ](https://github.com/knative/community/issues/360) could document/capture this metadata and then surface it automatically to the docs/website

[2021-01-07 15:43] dprotaso commented on #245
We've sort of branched out and these digressions now have their own follow up issues. Based on the discussions here and in the TOC meetings the majority of folks prefer _not_ to change the principle.

@knative/technical-oversight-committee I think we can close this issue out

[2021-01-08 07:00] zhanggbj commented on #211
`tide` is already enabled in prow test for PR, so I'll mark this item done. We can reopen it if anything needed. Thanks all for helping on the kperf repo! Hooray!!!

cc @mattmoor @chizhg @maximilien ^^^^

[2021-01-08 07:00] #211 closed

[2021-01-13 19:25] dprotaso commented on #360
Some feedback about our release process: https://groups.google.com/g/knative-dev/c/jQsloZD-sW8

I'm hoping this repository could be that central place

[2021-01-14 14:35] slinkydeveloper opened #414 "PROCESS CHANGE: Knative Release Lead needs more power"
As outlined in the mail sent to knative-dev, release leads, in order to properly deliver the release, needs:

* lgtm and approver rights in every knative & knative-sandbox PR
* HackMD rights to create the document with the release notes (maybe we can just add all approvers, without any automation here?).
* Rights to trigger jobs to prow, like retrigger auto-release jobs, nightly, dot release etc.

[2021-01-16 16:00] markusthoemmes commented on #293
Github now supports renaming, see https://knative.slack.com/archives/CCSNR4FCH/p1610812772029700. I'll kick off discussions towards making our scripts more durable to allow both master and main and then go through our repos and rename things. YAAAY.

/assign

[2021-01-18 13:52] markusthoemmes commented on #293
Good news:

Works like a charm! So we can focus on making sure our scripts continue to work and don't have to worry about links just yet and can update those lazily. One less thing to keep track off.

[2021-01-18 17:40] dprotaso commented on #386
/assign @knative/technical-oversight-committee

If we truly want to make min version a soft requirement we'll need to flush this out

[2021-01-19 18:15] n3wscott commented on #293
[] All README files will need to be updated in all repos to use the new branch name for badges.

[2021-01-19 18:52] evankanderson commented on #347
We discussed this at the 19 Nov 2020 TOC meeting. I'm commenting a bit further on the charter now, but the current formulation -- focusing on general security including but not exclusively hard multi-tenant security (aka hard mode) seems like it fills a useful gap that we've historically said "we can fix that later". At this point, I think later has come.

[2021-01-21 17:04] evankanderson commented on #360
GitHub actions seems to be a driving rationale for making this a separate repo vs test-infra

Approved at 21 Jan 2020 meeting

[2021-01-21 17:14] evankanderson commented on #383
We need a rough shape of the scoping from Trademark Committee before TOC can weigh in on technical requirements.

Understanding what "Knative 1.0" might mean will help in terms of setting requirements.

Related #131

[2021-01-21 17:24] evankanderson commented on #383
Would love to see a writeup of the various facets of a software product (technical and non-technical) that we could use to assess and draw a bar:

* Test coverage (unit and/or functional)
* User Documentation
* Reliability
* Administrator Documentation
* Licensing / redistribution rules (trademark et al)
* Scope covered
* User feedback / usage

Matt points out that we need to be able to call out c

[2021-01-21 17:25] evankanderson commented on #383
https://docs.google.com/presentation/d/1qyUtoSmzhh11SWahjaf3o_bE_M8eO6rf_uRinqczv-Q/edit#slide=id.p

[2021-01-21 17:27] evankanderson commented on #383
Also this (more recent) doc: https://docs.google.com/document/d/1i5wfLldNI8gw8hvQPaO5XegVCJ5dga3_U9xgBueFGY8/edit?resourcekey=0-3Ni-QVVakAQGW-jWnO82kQ

[2021-01-21 18:16] grantr commented on #347
Charter LGTM. Thanks @julz for pulling this together!

[2021-01-28 05:59] nak3 commented on #389
requiring `tide` to pass before PRs are merged.

The new repo was created and TODO list except for above prow stuff were done.
The prow is currently broken because the default branch is  `main`  instead of `master`. The issue was already created https://github.com/knative/test-infra/issues/2632

[2021-01-28 13:44] omerbensaadon opened #420 "User Experience Working Group Proposal"
See: https://docs.google.com/document/d/1K_LGymgqedAzRS0ACdVtJH1ktQxrf1OatfxzIb6LjU0/edit#

[2021-01-28 17:03] mattmoor commented on #347
LGTM

[2021-01-28 17:05] evankanderson commented on #347
(Mattmoor gave a thumbs-up to approve)

[2021-01-28 17:15] evankanderson commented on #347
(General verbal agreement plus 3 official votes -> let's get this ball rolling)

[2021-01-28 17:35] bsnchan commented on #85
All Steering members should be workspace owners now

[2021-01-28 17:35] #85 closed

[2021-01-28 17:36] bsnchan commented on #60
I think this is now an outdated issue. Closing.

[2021-01-28 17:36] #60 closed

[2021-01-28 17:47] bsnchan commented on #96
/assign @vaikas

[2021-01-28 17:48] bsnchan commented on #89
/assign @vaikas

[2021-01-28 18:12] evankanderson commented on #347
Remaining items to close this issue:

Update `WORKING-GROUPS.md`, choose a WG meeting time, and figure out where to put roadmap, etc given lack of a "home" git repo.

[2021-01-29 08:24] vaikas commented on #86
Just to update the issue as well as jot down various slack conversations.
It was deemed necessary to have knative.team account logged in for us to be able to record meetings. So, each of the WG leads has been created a *.knative.team email account.
The one remaining issue is that for the meetings to be recordable, they seem to have to be owned / created by *knative.team account.

The task list her

[2021-01-29 09:34] vaikas commented on #96
We all agreed that it would be best to only have knative/knative-sandbox release artifacts into the knative gcr/gcs.
@grantr could we get somebody from Google side to own this since I can't really do this :)

[2021-01-29 09:36] vaikas commented on #93
This can be closed.
The original group @mattmoor referred to no longer exists.
And as mentioned by @grantr and @lberk we are golden here.
If something else is still missing, please reopen and I'll tackle this.

[2021-01-29 09:36] #93 closed

[2021-01-29 09:47] vaikas commented on #101
Given that @abrennan89 is the Docs WG lead, want to make sure she's looped in.
I'm honestly not clear what needs to happen here based on the description.
I see the following group:
https://github.com/orgs/knative/teams/docs-writers/members?query=membership%3Achild-team

So, I see that @abrennan89 is a member because of this:
https://github.com/orgs/knative/teams/docs-wg-leads

And the other 3 are

[2021-01-29 09:48] vaikas commented on #91
@eallred-google
@paulrossman

Are there any reasons for y'all to still have this level of access? I'd like to make headway on this old issue and this feels like this is no longer necessary. Could you please lmk if this is the case?

[2021-01-29 10:06] vaikas commented on #91
And actually I hit send a little bit too soon. The group only contains @eallred-google.

[2021-01-29 15:04] mattmoor commented on #101
Moving to docs-writers as what role?

[2021-01-29 15:11] mattmoor commented on #93
The point of these issues are to reconcile roles granted privileges with ROLES.md.

Essentially: We should avoid having roles in peribolos that lack documentation on how folks enter/leave that role.

I don't think "Eventing Triage" fits this, unless everyone involved is an execution lead (in which case, shouldn't we eliminate this group)?

[2021-01-29 15:27] lberk commented on #93
I'm not an execution lead -- but would like to still be able and help with the traige if possible.  If there is an alternate role I should work towards (which eases maintenance of the eventing bits), let me know and I can work towards that.

[2021-01-29 15:32] abrennan89 commented on #101
I'm not sure what all of this is about, but I see that Ellen and Caroline are listed in those groups. AFAIK they're not involved in Knative anymore. Richie still is but spends very limited time working on this.

[2021-01-29 15:35] vaikas commented on #93
How does serving handle the triage issue like this? For example in this particular case @lberk has been participating in the issue triage. Is there missing role that we need to create? For example we added the scribe role awhile back. I'll create an issue that's a bit more clear on what the intent of this issue is (re: peribolos comment above).

[2021-01-29 15:48] vaikas commented on #101
Yeah, I just didn't have enough context from the issue description. There's a few of these issues that were created and I'm just trying to go through the backlog of serving issues and try to make headway. The way I saw it that there was couple of things at play:
 1. A group that @mattmoor created that we want to get rid off
 2. Is there a reason for this group or can the folks in that group me mov

[2021-01-29 15:57] mattmoor commented on #93
Generally through Prow commands (if they aren't a lead).

[2021-01-29 16:03] mattmoor commented on #101
Ack, I was sort of expecting these issues to be handled while context was a bit fresher. 😉

The initial ACL restructure was intended to map ACLs to project roles, and these issues were opened for every deviation where folks were even mildly hesitant about losing access.

[2021-01-31 19:48] evankanderson commented on #324
(I think you have write access for pushing the repo now, which would be the next step if this is still needed.)

[2021-01-31 19:49] evankanderson commented on #296
(This looks like it's still at the `OWNERS`-file, but no code state. Is this still planned to be contributed?)

[2021-02-01 03:22] cdlliuy commented on #296
@rhuss   , do you mean that I can ignore the error in go-coverage https://github.com/knative-sandbox/kn-plugin-diag/pull/11#issuecomment-769626925 , and do the commit directly?

I thought I removed all the go-coverage in test-infra, but  the check can't pass ...

[2021-02-01 06:19] zhangtbj opened #423 "New Repo: knative-sandbox/kn-plugin-migration"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: kn-migration

Purpose (Description):
From the Serving WG meeting on [2020-08-05](https://docs.google.com/document/d/1NC4klOdNaU-N-PsKLyXBqDKgNSHtxCDep29Ta2b5FK0/edit#heading=h.wfetj9f1dqvz), the original kn plugins in https://gith

[2021-02-01 06:29] zhangtbj commented on #423
Good day @maximilien ,

As I know, we planned to move all plugins from `client-contrib` to `knative-sandbox` repo.

I also opened this issue to follow the process.

The first step is: **Add this issue to the TOC project board for review.**

Could you please help add it to review or let me know if any action I need to take first?

Thanks a lot!

[2021-02-01 07:50] #347 closed

[2021-02-01 17:26] eallred-google commented on #91
Feel free to remove me.
With gratitude,
Eric

On Fri, Jan 29, 2021 at 2:07 AM Ville Aikas <notifications@github.com>
wrote:

--

*Eric Allred*

eallred@google.com

Technical Program Manager

Cloud Programs - Serverless

[2021-02-01 17:28] mattmoor commented on #91
Thanks, @eallred-google

[2021-02-01 17:32] mattmoor commented on #91
I sent a (linked) PR for @vaikas to stamp dropping the group and the `admins:` entry.

[2021-02-01 18:14] vaikas commented on #91
Thanks @eallred-google PR has been stamped.

[2021-02-01 22:55] RichieEscarez commented on #101
Hey all! I'm honestly not sure what these are or how the ACLs work these days.

For context, @carieshmarie was added in the beginning to make sure someone had the privileges to cover to Sam and I. I chatted with her recently and she doesn't feel the need to keep her permissions if that means we align with the Knative org rules.  @ellenevans stepped in temporarily to help keep docs efforts going wh

[2021-02-02 10:02] vaikas commented on #309
@pmorie I think you had some updates for this issue and some findings. Would you mind updating?

[2021-02-02 10:07] vaikas commented on #15
@RichieEscarez do you think this is still needing further clarification? I think the only necessary step is to subscribe to knative-dev group?

[2021-02-02 10:35] vaikas commented on #101
Thanks for the details. We have "Knative Release Leads" that currently rotates two people into it for every release and is a member of Knative Admin group. Sounds like the tasks / permissions that are still required for @RichieEscarez center around release responsibilities (iiuc?), and therefore is the "third release" lead that does not currently rotate? If those things are true, then I'd like to

[2021-02-02 10:53] vaikas commented on #110
@rhuss looks like this has been done, can this be closed?

[2021-02-02 10:54] vaikas commented on #89
@RichieEscarez @omerbensaadon IIUC there were some steps that needed to be done based on your discussion. What are the blockers here and what concrete steps can be taken?

[2021-02-02 11:00] vaikas commented on #80
I'm closing this in favor of:
https://github.com/knative/community/issues/245

Reopen if necessary.

[2021-02-02 11:00] #80 closed

[2021-02-02 14:47] bsnchan commented on #86
@evankanderson Have you had a chance to start documenting the set up for the knative.team gsuite? If not, I'm happy to start one so we can close out this issue.

[2021-02-02 16:35] mattmoor commented on #101
I'd open a new issue assigned to @RichieEscarez to sort out how to make docs/website releases a rotation, and `TODO(#1234)` that issue next to his name in the release leads.  That at least gets this off of Steering's backlog 🎉 , but captures the work that's left to close this out.

@RichieEscarez bear in mind that release leads basically have org-wide super powers, so you will need to be even more

[2021-02-02 17:18] vaikas commented on #101
@mattmoor sounds like a plan (I should have explicitly called out the creation of the issue to track the rotation :) )
@RichieEscarez does this sound good to you? If so, I'll do this tmw.

[2021-02-02 17:19] dprotaso commented on #383
cc @julz @richterdavid re: security wg

[2021-02-02 17:38] duglin commented on #383
All - current thought process around defining the scope of the various groups (ktc, sc, toc), plans for the conformance wg, and a proposal for how to get to GA:  https://docs.google.com/document/d/1TGtzYZjukEm1657XEQgTF-FUwoLGrVmLErRcCYaeLjw/edit#

feedback is welcome. In particular, around what versioning scheme we should use.

[2021-02-02 17:46] evankanderson commented on #86
Feel free to start a doc or a PR; I'm happy to contribute both "what we do at the moment" and "historical things we did and why we moved away".

[2021-02-02 18:09] grantr commented on #96
@chizhg @peterfeifanchen will be working on moving this.

[2021-02-02 18:19] RichieEscarez commented on #101
Thank @mattmoor and @vaikas!

This sounds good to me. Ill make sure not to accidentally break anything and won't venture outside of the /docs or /website repos!

[2021-02-03 02:22] zhanggbj opened #427 "New Repo: kn-plugin-migration"
https://github.com/knative/community/issues/423

[2021-02-03 02:30] zhanggbj commented on #423
@zhangtbj I just created an issue to the TOC project for tracking and further discussion.
could you please also update the repo name, as all plugins are following the naming rule like `knative-sandbox/kn-plugin-xxxx`, thanks!

FYI, as discussed at WG meeting^^^ @maximilien @rhuss

[2021-02-03 06:33] zhangtbj commented on #423
Provided a PR: https://github.com/knative/community/pull/428 adding entries for this repo in `/peribolos/knative-sandbox.yaml`

[2021-02-03 09:22] vaikas opened #429 "PROCESS CHANGE: Establish docs release rotation"
As discussed in #101 there currently is no docs release rotation. @RichieEscarez is the ongoing docs release lead and requires additional rights especially in knative/docs and knative/website repos.

We should establish a regular docs release lead rotation as per other repos, or alternatively, figure out a way to make the docs release process so that release leads can perform these duties as part

[2021-02-03 09:51] vaikas commented on #91
Is something not working correctly or am I just holding things wrong?
I still see this group here in github:
https://github.com/orgs/knative/teams/tbd-admins

And @eallred-google is still a member and tbd-admins is still a member of knative-admin:
https://github.com/orgs/knative/teams/knative-admin/teams

@mattmoor hold up, wait a minute, something ain't right? Or is it?

[2021-02-03 14:27] vaikas commented on #96
/assign @chizhg
/assign @peterfeifanchen

[2021-02-03 14:58] mattmoor commented on #91
Maybe Peribolos doesn't delete teams? 🤔

/assign @chizhg @evankanderson

[2021-02-03 15:13] rhuss commented on #110
yes !

[2021-02-03 15:13] #110 closed

[2021-02-03 15:34] rhuss opened #433 "New Repo: kn-plugin-migration"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: kn-plugin-migration

Purpose (Description):

Migrate Knative services from one cluster to another cluster. This plugin lives in [knative/client-contrib](https://github.com/knative/client-contrib/tree/master/plugins/migration) and

[2021-02-03 15:37] rhuss commented on #427
@zhanggbj oops, I just added a similar issue in #433 ;-) + also the required PR in #432

Maybe we can close this one and continue on #433 ? You can also copy over the description to the issue as this is more complete here then over there.

[2021-02-03 15:39] rhuss commented on #433
See also #423

[2021-02-03 16:51] rhuss opened #435 "New Repo: kn-plugin-service-log"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: kn-plugin-service-log

Purpose (Description): Provide stern-like logging for pods belonging to a Knative service. See this [prototype](https://github.com/rhuss/kn-service-log)

Sponsoring WG: client

## Actions to fulfill

This ar

[2021-02-03 17:29] rhuss opened #438 "New Repo: kn-plugin-event"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: kn-plugin-event

Purpose (Description): A kn plugin that sends CE to destinations, which is useful for development and debugging.
See https://github.com/cardil/kn-event for a prototype.

Sponsoring WG: client

## Actions to fulfil

[2021-02-03 17:53] cardil commented on #438
Thanks for adding this @rhuss

[2021-02-03 18:26] RichieEscarez commented on #429
Ive started the "how to" instructions a while back but other priorities pulled me away. I'll be picking this back up this week, status is being tracked here: https://github.com/knative/docs/issues/2960

[2021-02-04 01:12] thisisnotapril commented on #89
I'm working on this! I think the easiest thing is to just create a new Google Analytics account (or whatever is preferred to use) and have that run on the site. Checking my logic with folks and will have an update this week.

[2021-02-04 01:14] omerbensaadon commented on #89
Oh awesome, didn't know this issue existed.

Big +1.

Much of the work we are doing in UX WG is reliant on some data Richie pulled for us in December and we will be tracking progress with these analytics moving forward.

[2021-02-04 01:15] omerbensaadon commented on #89
Goes without saying BUT let me know what I can do to make this happen.

Thanks for the support @thisisnotapril

[2021-02-04 01:16] thisisnotapril commented on #88
Mako is now going in to maintenance mode; so if there are other alternatives people know of and like; might be a good time to review those? Mako will still be supported but no new features; and PII remains an issue for getting a Mako version that can be accessed by all.

[2021-02-04 01:23] thisisnotapril commented on #92
Hey @mattmoor is this still an issue?

[2021-02-04 01:55] zhangtbj commented on #433
Thank you for the `New Repo` issue! :)

Let me close my issue: https://github.com/knative/community/issues/423 and keep using this one.

Thanks!

[2021-02-04 01:55] #423 closed

[2021-02-04 01:56] zhangtbj commented on #423
Close this one and switch to use the new one: https://github.com/knative/community/issues/433

[2021-02-04 02:13] zhanggbj commented on #427
@rhuss I'll close this one, #433 have more description there. thanks!

[2021-02-04 02:13] #427 closed

[2021-02-04 09:02] vaikas commented on #101
/assign @chizhg
/assign @evankanderson

This has the same problem as with #91 in that the changes were made but the github members / teams were not modified. Does not look like peribolos is removing anything. Is it configured to not remove items?

[2021-02-04 09:22] vaikas commented on #396
@kevmoo where are you seeing this link at? I can't find it anywhere in this repo.

[2021-02-04 09:24] vaikas commented on #91
Ok, so looks like this might be an issue. Went looking for the peribolos jobs logs here:
https://prow.knative.dev/view/gs/knative-prow/logs/post-knative-peribolos/1357247051569565696

[code]

[2021-02-04 10:38] vaikas commented on #91
Ok, after digging at this, peribolos was silently failing, created an issue for that in test-infra.
Verified that this team has now been removed:
https://github.com/orgs/knative/teams/tbd-admins

[2021-02-04 10:38] #91 closed

[2021-02-04 10:47] vaikas commented on #101
Verified the team is no longer there:
https://github.com/orgs/knative/teams/tbd-google-tech-writers/members

The root cause was bad config that failed silently as a result of #425
Created: https://github.com/knative/test-infra/issues/2652

[2021-02-04 10:47] #101 closed

[2021-02-04 14:59] mattmoor commented on #92
Yes, we don't have a "milestone maintainer" role in the project, but we do in peribolos.

[2021-02-04 16:25] rhuss opened #441 "New Repo: kn-plugin-sample"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: kn-plugin-sample

Purpose (Description): A sample project that can be used as a blueprint for golang based kn plugins, similar to sample-controller.

Sponsoring WG: client

## Actions to fulfill

This area is used to track the [re

[2021-02-04 17:09] evankanderson commented on #245
/close

[2021-02-04 17:09] #245 closed

[2021-02-04 17:13] mattmoor opened #443 "PROCESS CHANGE: Adopt K8s infra for gsuite mgmt"
I plugged this [here](https://github.com/knative/community/issues/86#issuecomment-601946451), but opening a separate issue to track the automation aspect of this.

cc @knative/productivity-wg-leads

[2021-02-04 17:15] mattmoor commented on #443
cc @dims for any additional grand wisdom on this tooling 🙏

[2021-02-04 17:17] mattmoor commented on #392
Let me know if there are more things to push on this, but the linked PR is merged.

[2021-02-04 18:58] kevmoo commented on #396
Maybe it's all fixed now. 🤷

[2021-02-04 18:58] #396 closed

[2021-02-04 19:15] dims commented on #443
Here's what we have:
1. A tool that reads a groups.yaml (google groups in k8s.io domain and list of owners/members/managers) and can create/add/delete google groups (and folks in those groups). please see https://github.com/kubernetes/k8s.io/tree/master/groups
2. once we have the google groups from step 1, we use those google groups as ACL(s) to GCP based resources (who all can update say a GCS bu

[2021-02-04 22:40] pmorie commented on #309
We're working out the last couple kinks using cauldron. You can see the project [here](https://cauldron.osci.io/project/32). @mbehrendt has made some visualizations and queries that replicate the functionality of devstats, but we are working through a kibana rbac issue before they will work correctly outside his kibana tenant.

[2021-02-05 12:02] vaikas commented on #443
Thanks @dims !! I'll go do some reading :)

[2021-02-05 12:09] vaikas commented on #309
@pmorie thanks for the update! How hard would it be to add the various knative-sandbox/* repos there also?

[2021-02-07 03:04] UUvUU opened #445 "How to avoid closing POD"
Now we have a scenario where we need a request to start a pod for processing, but this pod takes a long time to process, if we need to close it after the pod receives a notification.I wonder if this kind of scenario can be realized with Knative?How did you do that?Can I turn this configuration off when the grace period for scaling to zero is reached?

[2021-02-07 03:05] #445 closed

[2021-02-08 16:47] bsnchan commented on #86
Hey @evankanderson - created a doc [here](https://docs.google.com/document/d/1N1jNn_9ILi85VsvlnmDhfyPjLfAK5VZAPKhSwTzs4-4/edit#) where I covered some content around how the Knative.team GSuite account is set up. Feel free to add any notes about the GDrive/GCal migration if you think it may be helpful for us in the future!

[2021-02-08 18:19] csantanapr commented on #89
If care and want to keep the old metrics data then this is the process

To transfer your Google Analytics account to another Google Account, [add a person](https://support.google.com/analytics/answer/1009702#Add) with the "Edit" and "Manage Users" permissions to your Google Analytics account. You can then [remove your Google Account](https://support.google.com/analytics/answer/1009702#Add) from th

[2021-02-10 23:52] omerbensaadon commented on #89
Following up on this one more time.

This is a blocker for UX work beginning.

[2021-02-11 17:08] evankanderson commented on #420
Approved at 11 Feb 2021 TOC meeting:

+1: Evan Anderson, Matt Moore, Markus Thömmes, Roland Huß
abstain: Grant Rodgers

[2021-02-11 17:09] evankanderson commented on #420
Now we need a PR to add this to community. I'll work with @omerbensaadon / @csantanapr on the PRs.

[2021-02-11 17:34] grantr commented on #420
+1 Grant Rodgers

[2021-02-11 17:37] vaikas commented on #96
@chizhg @peterfeifanchen Any updates or rough timelines for when this might land?

[2021-02-11 17:38] pmorie commented on #309
I've added the knative-sandbox repos to the cauldron instance. I have a thread open with our cauldron instance owners about making the rbac permission changes so that we can share the visualizations.

[2021-02-11 17:40] vaikas commented on #89
@csantanapr @omerbensaadon Would you mind setting this up using your knative.team accounts?

[2021-02-11 17:41] vaikas commented on #15
@RichieEscarez is it ok to close this?

[2021-02-11 17:43] vaikas commented on #90
There's some work in redoing the robot to make it less cumbersome. @thisisnotapril to follow up with the team on rough timelines, etc.

[2021-02-11 18:02] mattmoor opened #447 "Inconsistent election docs for TOC/Steering"
I noticed that [this](https://github.com/knative/community/tree/master/elections#knative-steering-committee-elections) was `TBD` after @vaikas linked it in TOC today, and wanted to track some of what I uncovered pulling on the "loose thread".

I don't think the above has a good analog for steering in our docs, it reads sort of like a playbook, and I don't see anything at that same level for steeri

[2021-02-11 18:04] bsnchan commented on #86
@evankanderson @tcnghia Hi you two - do you mind taking a look to see if there's any information that should be added re: migration?

[2021-02-11 18:17] vaikas opened #448 "Change the emails for Knative prow robots."
Currently:
https://github.com/knative-prow-robot

Belongs to google.com domain. As discussed on 2021-02-03 and 2021-02-11 SC meeting, there is no reason for this, and @thisisnotapril has done some investigation into the matter and k8s for example has set this up so that various folks have access to the robot (not sure of the details). This would make it easier for external folks like @n3wscott to

[2021-02-11 22:17] bsnchan commented on #447
Oh wow, thanks for catching this. We'll make sure to prioritize cleaning this up in steering!

[2021-02-12 08:12] julz commented on #420
🎉🎉

[2021-02-12 18:41] csantanapr opened #450 "Update the WG doc to include the Github team alias"
Update the [WG doc](https://github.com/knative/community/blob/master/working-groups/WORKING-GROUPS.md) to include the Github team alias `@<wg>`

This would make it easier to discover how to @ a team in an issue or PR, for example in docs we need to assign PRs that need the WG to take care of the PR to resolution and for new members to the community, they might not know what's the team alias.

Take

[2021-02-12 18:46] csantanapr commented on #450
/assign

[2021-02-12 19:00] csantanapr commented on #450
I see now from the peribolos file the conversion is

`Productivity WG Leads:` -> `@knative/productivity-wg-leads `

[2021-02-12 19:09] csantanapr commented on #450
Just testing something,  @knative/api-core-wg-leads

[2021-02-12 20:32] csantanapr commented on #450
@mattmoor @evankanderson

Why the Docs WG github team shows 0 members?
![image](https://user-images.githubusercontent.com/1094878/107819624-794b0f80-6d47-11eb-885a-01cd3f92cc4b.png)

[2021-02-13 14:45] mattmoor commented on #450
Because Ashleigh stepped down, and we had no backup 😞

[2021-02-13 15:20] csantanapr commented on #450
I'm aware of that but her github id is the peribolos file, I thought the peribolos file drove the github team

[2021-02-13 19:56] #450 closed

[2021-02-15 08:59] rhuss commented on #296
@evankanderson PR should be merged, next step is to enable the proper tests.

[2021-02-15 16:57] joshuawilson opened #453 "New Repo: icons"
Use this issue type to request a new repo in `knative-sandbox` (or
`knative`, which may require additional discussion).

## Repo information

Org: knative-sandbox

Repo: icons

Purpose (Description): A set of icons for use across the Knative community and projects.

Sponsoring WG: client / UX

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDB

[2021-02-15 16:59] joshuawilson commented on #453
Since the icons are to be used across all of knative, should they be in knative proper? I do not expect the repo to hold code or require it to be built.

[2021-02-15 17:12] mattmoor commented on #335
Going to close this, and we can revisit under the new UX WG 🎉

[2021-02-15 17:12] #335 closed

[2021-02-15 19:42] csantanapr commented on #453
Should these icons be located in a directory under community or docs repo?

Are these icons ones that the  @knative/trademark-committee needs to review and approve, or maybe just protect so if they are unique to knative no other project or product should use inappropriate to confuse the branding/design.

[2021-02-15 20:23] joshuawilson commented on #453
I agree that  @knative/trademark-committee needs to at least protect them. They are unique in the sense that I draw them each. I don't have the tools to search for similar icons that would infringe on another Trademark. Though I did do multiple google image searches when I was drawing them to avoid copying someone. They may want to review them too.

I do not think Docs is the right location becaus

[2021-02-16 14:58] bsnchan commented on #453
I'd be happy to approve them as a directory under the community repo. Please let us know if that doesn't work for you!

[2021-02-16 15:53] joshuawilson commented on #453
@bsnchan I made a PR https://github.com/knative/community/pull/457

Closing this as the above PR covers it.

[2021-02-16 15:53] #453 closed

[2021-02-16 16:30] csantanapr commented on #453
Thank you @bsnchan 👍

[2021-02-17 20:05] #360 closed

[2021-02-18 08:20] slinkydeveloper opened #462 "New Repo: control-protocol"
## Repo information

Org: knative-sandbox

Repo: control-protocol

Purpose (Description): Details at https://groups.google.com/u/0/g/knative-dev/c/g31qHWqO308

Sponsoring WG: Event Delivery WG

## Actions to fulfill

This area is used to track the [repo creation process](/mechanics/CREATING-A-SANDBOX-REPO.md).
The _requestor_ and _sponsoring WG lead_ should perform the steps listed below and cross

[2021-02-18 15:48] matzew commented on #462
+1 for doing this :+1:

/lgtm

[2021-02-18 16:33] mattmoor commented on #324
/assign @n3wscott

Scott, are you still pursuing this?

[2021-02-18 17:02] n3wscott commented on #324
We should. I can. I was several more actions repos

[2021-02-18 17:45] bsnchan commented on #86
This is pretty much done. @evankanderson suggested we convert this to markdown and PR this into the community repo so that the content is discoverable.

[2021-02-18 17:47] vaikas commented on #15
I'm closing this, if there are specific issues that need addressing, please reopen, and give more deets.

[2021-02-18 17:47] #15 closed

[2021-02-18 17:48] vaikas commented on #420
Isn't this done already, does this need to be in Steering backlog still?

[2021-02-18 17:55] csantanapr commented on #89
@vaikas

We will look on if we have enough karma to create a new analytics UID and account. then see where in the website is configure with hugo.

@vaikas Do you want to close this issue, and for us to create issues in website repo to track progress, or you want to use this issue to track progress?

[2021-02-18 17:57] vaikas commented on #120
Let's see if we can at least add some pointers to some of the documentation on the vendor / blogs, etc. for now that is not vendor specific, but where the content is applicable to Knative proper.
More help is coming right about.

[2021-02-18 18:03] pmorie commented on #309
We are very close, just waiting to complete the step of exporting the dashboards @mbehrendt created so they can be made public.

[2021-02-18 18:16] csantanapr commented on #420
@vaikas It looks like the custody of the UX WG will belong to the TOC in the meantime, not the SC.

Since the proposal got accepted by TOC to have custody, I propose we move forward with the tasks to establish the new UX WG.

Once established I'm OK if SC wants to take custody of the UX WG from TOC, we can have a discussion on the next SC meeting just add me and @omerbensaadon

[2021-02-18 18:26] csantanapr opened #466 "Epic: Setting up the UX Working Group"
The new proposal for the new UX Working Group got accepted by the TOC.

We followed the process [Proposing a new Working Grooup](https://github.com/knative/community/blob/master/mechanics/WORKING-GROUP-PROCESSES.md#proposing-a-new-working-group)

The [New UX WG Proposal](https://github.com/knative/community/issues/420) got accepted by TOC

This issue tracks [Setting up a working group](https://git

[2021-02-18 18:26] csantanapr commented on #420
Setting up the UX WG tasks are being tracked in this issue https://github.com/knative/community/issues/466

[2021-02-18 18:27] csantanapr commented on #466
/assign @csantanapr
/assign @omerbensaadon

[2021-02-18 18:30] csantanapr commented on #466
documents within this parent
folder.
Call your folder "User Experience".

New folder [User Experience](https://drive.google.com/drive/folders/1XzZGqV7yHo38d_l7rH1uSIrbQp3JlbBP?usp=sharing) created

[2021-02-18 18:50] csantanapr commented on #466
folder and call it "User Experience Group Meeting Notes [shared externally]".

The document is now created and shared externally [User Experience Group Meeting Notes [shared externally]](https://docs.google.com/document/d/1NSlGHen5Dh6c2A0LGavGWibddWrlSLV_PbEbMpNjSTU/edit?usp=sharing)

[2021-02-18 19:06] csantanapr commented on #89
From the last SC meeting, we understood from @thisisnotapril  that google will not be able to transfer the account, that we should go ahead and move forward and create a new account and start from zero collecting metrics in the new account

[2021-02-18 19:19] csantanapr opened #467 "update the WORKING-GROUP-PROCESSES.md with new google drive links"
This is the doc to update with new links to the new drive https://github.com/knative/community/blob/master/mechanics/WORKING-GROUP-PROCESSES.md#proposing-a-new-working-group

[2021-02-18 19:19] csantanapr commented on #467
/assign

[2021-02-18 19:21] csantanapr opened #468 "Update WORKING-GROUP-PROCESSES.md when setting up a new WG to announce to SC also"
Doc section to update https://github.com/knative/community/blob/master/mechanics/WORKING-GROUP-PROCESSES.md#proposing-a-new-working-group

Currently only has emai addresses for knative-dev@ and technical-oversigh@

I think we should add steering@knative.team

[2021-02-18 19:21] csantanapr commented on #468
/assign

[2021-02-18 19:44] pmorie opened #469 "Idea: contributor of the month!"
We should have a contributor of the month program:

Capturing suggestions from our discussion in steering; none of these are finalized, just meant to see convo

- Eligible voters vote
- Results announced in community meeting
- Start with one and see if we should do multiples every month or by area
- Swag and recognition (@vaikas and I will seed the pot to cover swag while we work out funding)
- 3

[2021-02-18 19:44] pmorie commented on #469
PS this idea shamelessly stolen from [falco](https://falco.org) community

[2021-02-18 20:12] csantanapr opened #470 "Update WORKING-GROUP-PROCESSES.md setup process to include update peribolos for github teams"
Update doc section here https://github.com/knative/community/blob/master/mechanics/WORKING-GROUP-PROCESSES.md#setting-up-a-working-group